[2019-01-24 01:55] mhvk commented on #7630
closing since most of the work was done

[2019-01-24 01:55] #7630 closed

[2019-01-24 01:59] mhvk commented on #6106
closing since we now can do in-place change of units via `q <<= <new_unit>`

[2019-01-24 01:59] #6106 closed

[2019-01-24 02:51] bsipocz commented on #8320
Yes, you possibly need to also modify the theme, to add this top bar as an option, and then in this repo add the content.

[2019-01-24 08:31] tjgalvin commented on #7634
Just wondering what the status of this is. I have used this to add delta angles to a `SkyCoord`, which then needs to be used with the `spherical_offsets_to` method of another `SkyCoord` position. This is something that was flagged as 'will raise an error' in the original post in the mailing list. Any suggestions to get around this?

[2019-01-24 12:33] kakirastern commented on #7287
Hi, is it okay for me to work on this issue in preparation for my GSoC 2019 application?

[2019-01-24 13:25] adrn opened #8373 "Add shortcut to get all component names from a coordinate object"
Lately, I've had a few use cases where I need to grab all (6 in my case) of the position and velocity components off of a frame or SkyCoord instance. The code to do this is only a few lines, but many characters! So I'm wondering what you think about adding a convenience property that does something like:

[code]

cc @mhvk @eteq

[2019-01-24 13:38] saimn commented on #7810
@devonhollowood - I'm not working on it, so it's great if you want to give it a try!

[2019-01-24 13:47] saimn commented on #8366
These options are used in the cfitsio extension:
https://github.com/astropy/astropy/blob/51c619e5ffe7aaf748e7c34d08c6336762decc74/astropy/io/fits/setup_package.py#L40-L47
but only when using the bundled cfitsio.
Linux distribution packages are usually using their own cfitsio, you would probably want to do the same for FreeBSD ? http://docs.astropy.org/en/latest/install.html#external-c-libraries

[2019-01-24 14:05] mhvk commented on #8373
@adrn - yes, useful. Though for the implementation it may be easiest to extend `get_representation_component_names` to allow `which` also to be `'all'`? With that, if we still want the property, it could just return `self.get_representation_component_names(which='all').keys()`.

But also a question: are the names in fact how you use it? Or do you immediately get the components and units as well? M

[2019-01-24 14:57] mhvk commented on #7287
@kakirastern - yes, definitely OK. But please read the discussion in a previous attempt (#7295) and check for yourself what actually works (ideally on different machines). Specifically, there were suggestions to change the shebang on `setup.py` to `python3` and use `./setup.py` or to use `pip install -e .`

Note that the main way this PR allows you to show skills for GSoC is by exploring the above

[2019-01-24 15:12] kakirastern commented on #3840
Hi @pllim, can I work on this issue?

[2019-01-24 15:20] nmearl commented on #7277
That's right. My use case is probably extreme particular. In general, I have a complex compound model that represents a spectrum. The input to this spectrum can be given in either velocity or wavelength (hence I can't set a single `input_units` value). This is necessary because if the spectrum represents a set of single ions distributed in velocity space, then converting everything to `Angstrom` w

[2019-01-24 15:40] mcara commented on #8362
What does this mean? On http://docs.astropy.org/en/stable/api/astropy.wcs.WCS.html#astropy.wcs.WCS the only thing that I see is:

If header is not provided or None, the object will be initialized to default values.

The documentation does not say anything about the behavior when header **is provided** but is invalid or does not exist. When I attempt to create a WCS from a non-existent file, I get:

[2019-01-24 15:43] mhvk commented on #7287
OK, great!  But at least on my machine I'd need to do `pip3 ...` - a shebang would be `#! /usr/bin/python3`. Anyway, trials are the way forward.

[2019-01-24 16:53] pllim commented on #8362
@mcara, perhaps your encounter is similar to #8362 . If the problem is outdated doc, we welcome PR to fix it. Thank you!

[2019-01-24 16:59] pllim commented on #3840
@kakirastern , if you wish.

[2019-01-24 17:08] pllim commented on #7287
Wait... Is this still an issue after @astrofrog 's rewrite in #8198 ? @astrofrog , that said, does `python setup.py develop -u` at the end still applies?

[2019-01-24 17:25] nden commented on #8362
IMHO there should be a limit to fool proofing the input. But I don't mind if you submit a PR to improve documentation or input checking in some sensible way. Note that the type of input you give above is valid as strings are a valid input. If you feel we need to validate the strings and you know what makes sense  please submit a PR.

If you pass a path to a file which exists but is not a FITS file

[2019-01-24 17:32] mhvk commented on #7287
@pllim - Looking at the current documentation at http://docs.astropy.org/en/latest/development/workflow/get_devel_version.html#get-devel I see it indeed has changed. But it still has a warning about things not being possible in python3. If this is true, then the whole section should be removed. But I think it is not true, and that it is possible to pip-install under ones own user directory (with `

[2019-01-24 17:40] kakirastern commented on #3840
Thanks @pllim, PR #8375 has been added to follow up on the issue.

[2019-01-24 18:12] kakirastern commented on #3840
Sorry @pllim, I thought both examples regarding WCS needed to be changed. So I have just opened another PR (#8376) to follow up on the other example. It was really my bad.

[2019-01-24 18:30] yurivict commented on #8366
[code]

[2019-01-24 18:30] pllim commented on #3840
@kakirastern , I would prefer for all your changes that address this same issue to be in the same pull request. Is that possible? Thanks!

[2019-01-24 18:31] pllim commented on #3840
I am sorry that I did not provide this link earlier, but here is the development workflow for this project: http://docs.astropy.org/en/latest/development/workflow/development_workflow.html

[2019-01-24 18:53] kakirastern commented on #3840
@pllim Thanks so much for the development workflow for the project. I appreciate it. Also, I have updated PR #8375 to address both issues discussed in this conversation previously. Please let me now what you think.

[2019-01-24 20:09] bsipocz commented on #7287
Hmm, I supposed we've addressed this issue with https://github.com/astropy/astropy/pull/8289. If there is still some python3 incompatibility mentioned that most probably should be just simply removed.

@kakirastern - If you are willing to open a PR for that removal that would be great. The assumptions are that everything should work for you locally with Python 3 (aka `python` :) ), so the only stu

[2019-01-24 20:10] bsipocz commented on #7287
Well, `pip` can be aliased/linked to `pip3` this point, and leave `pip2` as the exception :)

[2019-01-24 21:36] yurivict commented on #8366
Sorry, it was for a wrong project.

[2019-01-24 21:39] mhvk commented on #8350
Note that numpy has installed something that ensures that this template is what you get to see if you click their "new issue" button or create a PR.  I'm not quite sure how they did this, but it might at least send you in the right direction.

[2019-01-24 21:40] mhvk commented on #8350
p.s. I should perhaps add that the first thing I do when I do anything with numpy is to delete the template...  Still, I do think it is useful to give a sense of what makes a useful issue/PR - just don't go overboard.

[2019-01-24 21:49] pllim commented on #8350
@agarwalrounak , thank you for your interest, but only admins can make those templates. Perhaps you could provide the text to go into the template if you want, but an admin would have to go into the repo settings and click Community to add the templates.

[2019-01-24 22:14] bsipocz commented on #8350
sunpy also have templates, but I agree with @pllim, that this may not be the ideal first issue to work on (we usually label them as `good first issue` or `package-novice`.

[2019-01-25 05:00] MSeifert04 commented on #8350
I think what @mhvk means is what we also have in ccdproc as file Templates (https://github.com/astropy/ccdproc/tree/master/.github).

[2019-01-25 05:04] bsipocz commented on #8350
I vaguely remembered I saw this one in astropy land, too 😊

[2019-01-25 06:21] kakirastern commented on #7287
@bsipocz Sure, I am willing to open a PR for the removal of outdated contents, i.e. "those notes about incompatibility". Do you think I should also add some comments about aliasing `python3` to `python` and `pip3` to `pip`, respectively? (Sort of like a reminder for people to check their computing setup. Maybe not everyone is aware of it.)

[2019-01-25 06:44] bsipocz commented on #7287
Yes, mentioning the aliasing sounds like a good compromise. Thank you.

[2019-01-25 07:03] agarwalrounak commented on #8350
@pllim I don't think that only admins can make those templates. All we have to do is create files named `ISSUE_TEMPLATE.md` and `PULL_REQUEST_TEMPLATE.md`, and store them in `.github` folder but as @bsipocz mentioned, I should perhaps solve a `good first issue` and then move to this one.

[2019-01-25 10:06] agarwalrounak opened #8378 "Make the License name in README.rst URL to the License"
[README.rst](https://github.com/astropy/astropy/blob/master/README.rst) mentions that `Astropy is licensed under a 3-clause BSD style license - see the LICENSE.rst file.`
`3-clause BSD style license` could be linked to https://opensource.org/licenses/BSD-3-Clause and `LICENSE.rst` could link to https://github.com/astropy/astropy/blob/master/LICENSE.rst

Additionally, we could also link `docs/insta

[2019-01-25 10:08] agarwalrounak commented on #8378
I think this should be a `good first issue` and I would like to work on it.

[2019-01-25 18:31] pllim commented on #8378
I think the README is meant for people who downloaded the tarball and reading it in unrendered format. At least the way those files are presented in the text made me think so. If that is the case, adding extra markups for linking is just going to make the unrendered version harder to read. 🤷‍♀️

[2019-01-25 18:33] pllim commented on #8350
@agarwalrounak , ah, I was thinking about the web interface.

[2019-01-25 19:40] bsipocz commented on #8378
I don't think we want to do any linking to an outside BDS-3 template, after all we have our own licence file. Whether to link that from the README or not I don't have strong opinions about, but slide to agree with @pllim. Whoever looks at the rendered README on github can just scroll up for the licence file, and others looking into it from the tarball can gain nothing with it being marked up.

[2019-01-25 19:41] bsipocz commented on #8378
For good first issues I would suggest to look at the currently labeled ones. Relevant links:

https://github.com/astropy/astropy/labels/good%20first%20issue
https://github.com/astropy/astropy/labels/Package-novice

[2019-01-25 20:58] Gabriel-p opened #8379 "Can't open large csv file, error in "astropy/io/ascii/cparser.pyx" file"
Can not read a semi-large (200 Mb) .csv file (the `survey_results_public.csv` file from the [2018 SO survey](https://www.kaggle.com/stackoverflow/stack-overflow-2018-developer-survey))

[code]

Traceback:

[code]

Packages in `conda`:

[code]

[2019-01-25 21:03] pllim commented on #8379
Your example is missing an opening quote. FYI.

[2019-01-25 21:04] pllim commented on #8379
Does it work when you do *not* use the fast reader?

[2019-01-25 21:06] Gabriel-p commented on #8379
@pllim sorry, fixed the opening quote.

Same thing happens with `format='csv'`.

[2019-01-25 21:17] pllim commented on #8379
What about with `fast_reader=False`?

[2019-01-25 21:19] Gabriel-p commented on #8379
With `fast_reader=False` it immediately eats up all the available RAM (~6 Gb) and hangs the entire system.

[2019-01-25 21:36] saimn commented on #8379
This is probably an encoding issue, and the fast reader works only for ascii data ... what is the encoding of this file ?

[2019-01-25 22:11] Gabriel-p commented on #8379
`file` reports:

[code]

but it is known to not be 100% accurate. I tried `chardet` (https://github.com/chardet/chardet) but it just sits there apparently frozen and does not report a result.

[2019-01-25 22:22] saimn commented on #8379
Okay, probably utf8. If you really want to read it with the fast reader and don't care about loosing non-ascii characters you could convert it, with e.g. iconv or Python's error handler for `open`/`encode`.

[2019-01-25 22:37] pllim commented on #8379
Just curious... Can `pandas` read it?

[2019-01-25 22:43] saimn commented on #8379
The pure python reader handles this, but not the fast reader which is coded in C, and it's quite difficult to convert the C code to manage non-ascii files.
Good question about pandas!

[2019-01-25 22:43] Gabriel-p commented on #8379
`pandas` opens the file just fine, almost instantaneously.

[2019-01-25 22:50] taldcroft commented on #8379
Then `Table.from_pandas(df)` and you're done.  As @saimn said the ASCII fast reader is not likely to get unicode support (ever).  The pure Python reader does work, but as noted it is a memory hog.

We've been talking about making a "pandas" format for `Table.read()` that would just use pandas as a backend.  For non-specialized formats this may really be the best answer.  Back in the day it was mor

[2019-01-25 23:06] Gabriel-p commented on #8379
Ok, just wanted to know if `astropy` was expected to handle this. Thank everyone.

[2019-01-25 23:06] #8379 closed

[2019-01-26 00:02] stargaser commented on #8354
This sounds good to me. I have updated #8358 with this fix. I think I need some advice on how to write a test case that doesn't use astroquery.

[2019-01-26 17:15] PaulKuin opened #8382 "IO support for reading/writing QDP files"
One thing that has been bugging me for quite a long time is that astropy does not support qdp files which are quite common in the X-ray community.  It is not difficult to write a small procedure to read them in, but it is just one of those things that keep coming back and while I can read nearly all files using astropy, I can't read the qdp files. For that I need to import a different routine. And

[2019-01-26 17:19] taldcroft commented on #8382
Can you point to a spec of the file format?

[2019-01-26 17:32] PaulKuin commented on #8382
no, not really, since I would have to learn about astropy internals. Its also a time issue. It should be rather straightforward though, especially for someone who knows astropy.io.

[2019-01-26 17:48] PaulKuin commented on #8382
Here is an example program I use to rebin the data in a qdp file.

def qdp_bin(qdpfile,weights='yes',rate='yes',maxtimebin=0.3,
   minsigma=2.5,maxrate=50.0,multiply=None,chatter=0):
   ''' read qdp file bin up the values using (weighted RMS values)

       Parameters
       ==========
       qdpfile : path
          qdp input file with !FILTER records in each section
          where the format is

[2019-01-27 01:46] dasdachs commented on #7794
Sorry for the long wait. A added `robots.txt` and removed the `<meta>` tags workaround.

Pull request #8383

[2019-01-27 20:03] kakirastern commented on #8124
Hi @pllim, I am having some problems with the same test as well. Upon running `python setup.py test` in the "astropy" directory on my own machine, I obtain the following output results from the test:

============================= test session starts ==============================
platform darwin -- Python 3.7.1, pytest-4.0.2, py-1.7.0, pluggy-0.8.0

Running tests with Astropy version 3.2.dev23780

[2019-01-27 20:31] bsipocz commented on #8124
@kakirastern - While your version number looks right, somehow your dev environment has files that had been removed a while ago.  Does 'astropy/vo' come up as untracked files?

To clean your repo checkout you can use `git clean -dfx`. Be careful though and save the extra files you want to keep somewhere else as it removes all untracked files.

[2019-01-27 20:55] kakirastern commented on #8124
Thanks, @bsipocz. I have run `git clean -dfx` and it did indeed get rid of all the errors. So now I have only `1 failed, 11748 passed, 474 skipped, 65 xfailed in 264.12 seconds` instead, with no errors, and the following partial output at the top:

[code]

So the test was not able to be brought to fruition (100%) due to "astropy/vo" coming up as "untracked files" indeed.

[2019-01-28 14:47] andreatramacere commented on #7562
having the same issue with a gzipped file

[2019-01-28 16:32] pllim commented on #8124
When things look messed up like this, I usually recommend installing `miniconda`, create a fresh new environment, and test your Astropy installation over there.

[2019-01-28 16:34] pllim commented on #211
Isn't this basically GWCS now, @nden ?

[2019-01-28 17:32] kakirastern commented on #8124
@pllim Thanks for the feedback! I have been using `anaconda` though, so maybe it is worth a try to use `miniconda` instead? Let me look into it.

[2019-01-28 17:36] pllim commented on #8124
@kakirastern , ah, if you are already using Anaconda, then you don't have to install miniconda, but instead create new env using `conda` command. Your executable `/usr/local/opt/python/bin/python3.7` does not indicate that you are using it though.

[2019-01-28 17:36] MSeifert04 commented on #8124
You can also create environments with the conda from anaconda. No need to install miniconda and anaconda.

[2019-01-28 17:57] kakirastern commented on #8124
Thanks, noted. So now let me find out why the executable is the wrong path... Could be something about the ".bash_profile" file on my Mac. Will get back soon.

[2019-01-28 18:13] kakirastern commented on #8124
Think I have fixed the problem, as the "test session starts" output is now as follows:

[code]

[2019-01-28 19:34] pllim commented on #8124
@kakirastern , can you please clarify a bit more -- Are you still seeing the same error with a fresh conda environment?

[2019-01-28 20:02] saimn commented on #7562
@andreatramacere - Please open a new issue with more details, astropy version, traceback, and if possible a file to reproduce the issue.

[2019-01-28 20:48] mhvk commented on #7760
@mcbeth, @Juanlu001 - would either of you be willing to update the documentation to help prevent get others confused? If not, no big deal, but probably good to just close the issue then.

[2019-01-28 22:14] Juanlu001 commented on #7760
@mhvk I revisited `get_body_barycentric` documentation and I can't think of a way to improve it. _Problem in chair, not in computer_? :)

I agree with closing this issue.

[2019-01-28 22:58] mhvk commented on #7760
OK, thanks! Closing.

[2019-01-28 22:58] #7760 closed

[2019-01-29 10:04] bmatthieu3 commented on #7679
@eteq - I worked on a healpix package that uses rust extensions. Please see https://github.com/cds-astro/cds-healpix-python and its readme for more details.
The idea was to see how the deployment pipeline could work with these extensions. As @astrofrog pointed out, there is a [setuptools_rust](https://github.com/PyO3/setuptools-rust) pip package that offers a way to build the rust wrapping code an

[2019-01-29 16:47] wafels opened #8387 "TimeDelta and quantity input checking"
A TypeError is raised when passing in a TimeDelta to a function decorated with the quantity input decorator and a time-like type annotation for the input.

The code below illustrates the issue.  To me it seems natural to pass in a TimeDelta object as a way of expressing a duration.

[code]

[2019-01-29 17:57] mhvk commented on #8387
@wafels - we've tried to make `TimeDelta` interact with `Quantity` properly, but mostly in direct operations between the two, not quite with the purpose of `TimeDelta` acting quite directly as a higher precision `Quantity`. But maybe we can move this closer...

Looking at the actual code in `units/decorators.py`, the [validation](https://github.com/astropy/astropy/blob/master/astropy/units/decorat

[2019-01-30 18:55] montanari opened #8388 "Ode0 check in LambdaCDM._elliptic_comoving_distance_z1z2"
Hi,

I think that the [following line](https://github.com/astropy/astropy/blob/62c73d847f98c87319b98260053711165ae6982a/astropy/cosmology/core.py#L1794):
[code]
should be replaced by
[code]
( `self.Ol0` is not defined).

Best,
Francesco

[2019-01-30 20:50] matteobachetti opened #8389 "Intuitively manage column-wise WCS coordinates"
In the X-ray data I'm analyzing I have single photons and their X and Y coordinates. The WCS information that allows the conversion to sky coordinates is contained in the header in the form of `TXXXXNN` keywords, where `NN` indicates the column and `XXXX` the wcs parameter (`CDLT` for `cdelta`, `CRVL` for `cval` etc.). If I read the FITS data structure, I see that this information is assigned to t

[2019-01-30 21:37] bsipocz commented on #8388
@montanari - would you be interested in opening a PR for it? It will also need a regression test, an example where the current code is failing but that works as expected with the fix. Thank you.

[2019-01-30 21:40] saimn commented on #8389
To answer question 1., you can access these attributes with the `io.fits.Column` object, e.g. `data.columns['X']` (not `data['X']` which is a column of the `.data` recarray). The list of keywords mapped to attributes is here:
[code]

[2019-01-30 21:44] eteq commented on #8389
Aha!  I figured out a way to do this in a way that uses the `wcs` directly (but admittedly lets to an awkward result):

[code]
so this creates a *6D* WCS where the last two dimensions are the actual desired dimensions.  That's pretty user hostile in that you then can't e.g. get a `SkyCoord` by using `SkyCoord.from_pixel` because it's not a normal celestial coordinate.  So maybe this means the work

[2019-01-30 22:17] mhvk commented on #8389
We already have a `SkyCoord.from_table` method - it would seem to me that either that method or a similar one could look through the table and see if it could find columns with the relevant WCS information, and then use those (i.e., trigger not (just) on column names but rather/also on column attributes)

[2019-01-30 23:25] niess opened #8390 "AltAz.transform_to(ITRS) not working?"
This might be a miss-usage on my side, but I am puzzled by the following results.

When transforming directly from AltAz to ITRS, the resulting coordinates seem to be wrong. Despite, using SkyCoordinates(frame="altaz", ...) leads to a correct result. See for example:

[code]
This leads to:
[code]
The 2nd result (`From AltAz`) is clearly wrong since it has 799 times the Earth radius. The other ones

[2019-01-31 11:02] montanari commented on #8388
Sure, done.

Francesco

[2019-01-31 11:11] Cadair commented on #8387
Just to jump in here, I am strongly against having `u.quantity_input` run `u.Quantity` on input, the original idea of the implementation was for it to duck type the input as much as possible (@adrn broke this with his physical types support) and I would like to hang on to it if possible. I would prefer the decorator to pass through a `TimeDelta` object directly if it were to have a `.unit`.

[2019-01-31 17:18] mhvk commented on #8387
@Cadair - I agree very much with the sentiment of duck-typing, but just to be sure, let me a bit more concrete about problems resulting from passing objects that have a `unit` attribute but do not behave like a `Quantity`: if you pass in a `Column` with, e.g., units of degree (e.g., do `table['ra']`, where `table` is a `Table` instance, not a `QTable`), then those will be checked by `quantity_inpu

[2019-02-01 09:15] kakirastern commented on #7287
Yup, proposed adding implicit aliasing reference in PR #8385...

[2019-02-01 09:42] harshmathur1990 opened #8392 "Unable to save CompressedHDU when data has nan"
Hi,
Please find the steps to recreate this issue.

[code]

The output is :

[code]

As shown above, when the data is partial values and nan's, it only saves nan's and data is lost.

The Environment used is:
OS: macOS Mojave 10.14
Numpy Version: 1.16.0
Astropy Version: 3.1.1
Python Version: 3.7.0

Regards
Harsh Mathur

[2019-02-01 12:09] kakirastern commented on #8124
Was able to get rid of the remaining failure on my machine by applying the tip found at [https://coderwall.com/p/-k_93g/mac-os-x-valueerror-unknown-locale-utf-8-in-python](https://coderwall.com/p/-k_93g/mac-os-x-valueerror-unknown-locale-utf-8-in-python), which is specific to macOS... So everything is okay now. And now the final output of `python3 setup.py test` is now as follows:

`=========== 12

[2019-02-01 13:33] kakirastern commented on #5840
@bsipocz Is anyone working on this? If not, can I have a try?

[2019-02-01 17:35] saimn commented on #8392
I thought it was a bug but actually this is because of the way the compression works for floating point values, (and in this particular example probably because it has too few valid values). For instance with fewer NaNs it works:
[code]

I'm not expert in the way compression algorithm works, but `CompImageHDU`'s docstring gives some information, in particular for `quantize_level`: http://docs.astr

[2019-02-01 17:35] #8392 closed

[2019-02-01 20:07] yannick1974 commented on #8392
The compression is destructive on float values  as [explained there](https://heasarc.gsfc.nasa.gov/docs/software/fitsio/compression.html) (I was thinking that only the RICE compression method was but apparently all are). A solution is to convert the data to integer with a scaling parameter.

[2019-02-01 20:57] bsipocz commented on #5840
@kakirastern  - I'm not sure this is still an issue. If you check the latest logs and everything looks fine please let us know to close this issue. (Actually this is the perfect case for issue triaging, finding the ones like this that (most probably) should be closed).

[2019-02-01 21:23] bsipocz commented on #8124
@kakirastern - Glad to hear.

I'm going ahead of closing this issue as there isn't much todo items here.

[2019-02-01 21:23] #8124 closed

[2019-02-01 22:23] adrn commented on #8390
@eteq - any ideas?

[2019-02-02 14:10] kakirastern commented on #5840
Yup, will investigate further and make sure it is no longer an issue for us. But it is highly likely to have already been resolved... Will report back soon.

[2019-02-03 12:10] KING-SID commented on #8244
Hey, I wanted to know if this issue had been solved? Let me know as I'd like to take it on!

[2019-02-03 12:18] KING-SID commented on #4244
Hey! I want to work on this issue, is it still an active one? How can I work on it if it is?

[2019-02-03 14:15] mhvk commented on #8244
@KING-SID - this issue was indeed solved by #8287 - we just forgot to close it!

[2019-02-03 14:15] #8244 closed

[2019-02-04 12:15] kakirastern commented on #5840
I checked the log file, the following is an example output from a CIRCLE CI check:

[code]

[2019-02-04 12:33] kakirastern commented on #5840
So you can see that the version numbers of some dependencies are still not showing on CIRCLE CI checks and is listed as `not available`.

And, I don't seem to be able to find the SHA of the master head listed anywhere in the same check output.

So this issue might still need some attention and work.

[2019-02-04 20:05] bsipocz commented on #5840
@kakirastern - thank you. This all looks good to me, the astropy version is showing as expected. The rest of the test header depends on what individual CI builds install as dependencies.

[2019-02-04 20:05] #5840 closed

[2019-02-04 20:05] bsipocz commented on #5840
(The interest here is only on the 2nd line of the report).

[2019-02-05 13:10] kakirastern commented on #5840
Thanks, @bsipocz !

[2019-02-05 22:02] #3840 closed

[2019-02-05 22:45] kakirastern commented on #6154
Hi @KING-SID, I have opened a PR #8385 to address this issue regarding the development workflow parts... Maybe this issue is overlapping with Issue #7287 as well as Issue #8289, as the installation with Python 2.x is being phased out and Python 3.x is now the default version?

[2019-02-05 22:59] kakirastern commented on #6154
@KING-SID So a PR can be opened that deals with installation issues in other areas of the [AstroPy website](http://www.astropy.org/), as long as it is not part of development workflow... at least for now, as I am working on it.

[2019-02-06 10:28] KING-SID commented on #6154
Hey @kakirastern , thanks for letting me know. I just wanted to clarify that I am focusing on this page: [http://docs.astropy.org/en/stable/install.html] and not the development work flow, so don't worry about that. I believe we are working on two different things as you are working on the development workflow documentation and I am working solely on the installation of the astropy package for fir

[2019-02-06 10:34] ysBach opened #8398 "astropy units for blackbody_lambda does not do proper si conversion"
If I run the following code, it correctly converts the unit "bar" to SI:
[code]

But for ``blackbody_lambda``, it fails to convert the result to correct si unit:
[code]
That is, astropy does not convert ``bar`` to ``N/m^2`` (which gives factor of 10^5 difference).

I tested with some other complicated combinations, e.g., ``test = 1 * u.cm * u.bar / u.sr * u.erg``, but the SI conversion worked just

[2019-02-06 10:37] MSeifert04 commented on #8398
Thank you for the report @ysBach , just a quick question: what astropy version are you using?

[2019-02-06 10:38] ysBach commented on #8398
@MSeifert04 Oh, sorry. I am using version 3.1.1:
[code]

[2019-02-06 10:57] markneeser opened #8399 "use of with_calib in EsoClass retrieve_data"
Hi All,

I am interested in using the calSelector functionality in EsoClass retrieve_data.

According to the documentation,

retrieve_data(datasets, continuation=False, destination=None, with_calib='none', request_all_objects=False)

with “with_calib” being either none, raw, or processed for the calibration data associated
with the requested dataset.

However, when using retrieve_data I get an "un

[2019-02-06 10:58] kakirastern commented on #6154
Hi @KING-SID, sure... but I am not sure if the installation details only shows up on the "installation" page at [https://astropy.readthedocs.io/en/latest/install.html](https://astropy.readthedocs.io/en/latest/install.html) and the "development workflow" pages (there are at least three actually: [How to make a code contribution](https://astropy.readthedocs.io/en/latest/development/workflow/developm

[2019-02-06 15:18] KING-SID commented on #6154
Hey @kakirastern I'm a bit lost here. The "installation" page and "development workflow" pages that you referenced are of the latest version (v3.2dev1968), and I was simply looking to improve the Installation page for the stable v3.1 , I don't suppose that this is of much help given that v3.2 is being worked on and a lot of the issues are solved in that, but I think it would be a helpful update fo

[2019-02-06 16:21] pllim commented on #8399
I think this should be posted over at https://github.com/astropy/astroquery/issues

[2019-02-06 16:21] #8399 closed

[2019-02-06 16:35] pllim commented on #8398
I don't think this is a bug in blackbody per se. The SI conversion maps `J / m3` to `Pa` (and `bar` is `1e5 * Pa`). When we're talking about flux, it makes more sense to have `testB.si` return something like `J / (m3 rad2 s)`, no? For now, you can force this manually:

[code]

p.s.Astronomy calculating flux in SI units? That's crazy talk!

[2019-02-06 20:11] bsipocz commented on #6154
@KING-SID - If you are preparing for GSoC, I suggest to look for another issue to fix, there are plenty to choose from.

Also as minor background info: for any dev docs please refer to [http://docs.astropy.org/en/latest/install.html](url). Docs updates typically end up in the next bugfix release (e.g. 3.1.2), thus there is no point "fixing" stable.

[2019-02-06 20:47] KING-SID commented on #6154
@bsipocz  Thanks for the heads up!

[2019-02-07 03:06] crawfordsm commented on #4244
This is still open -- we would like an RST page that lists all the FLRW methods and provides a brief description of what they do.

[2019-02-07 15:24] KING-SID commented on #4244
On it!

[2019-02-07 17:04] blatted commented on #8320
Thanks @bsipocz , I made changes and am currently trying to preview them before submitting a PR. Having trouble getting it to work, do you know of a good way to quickly preview the webpage?

[2019-02-07 22:25] bsipocz commented on #8320
(Oh for the astropy docs, it's detailed in the developer documentation how to do it locally:
`python setup.py build_docs` at the bottom of this page: http://docs.astropy.org/en/latest/development/docguide.html)

[2019-02-08 09:19] #8388 closed

[2019-02-08 12:17] algerdnazgul commented on #4244
I have no plans now

[2019-02-08 13:46] KING-SID commented on #4244
Hey @algerdnazgul ! Can you please let me know specifically what is needed as I intend to work on it. I see that the page (in the link added below) seems to already have a methods list with a summary for each method. Can you help me understand what is missing?

Are there any missing methods? Can you please guide me on what needs to be solved exactly? Given what is already on the I am unable to und

[2019-02-08 15:54] taldcroft opened #8405 "Input meta ignored when creating a Table from a Table"
The case of creating a new Table based on an existing Table raises the problem of a conflict in `meta`.  It is not clear whether `meta` should come from the input table `meta` or from the `meta` kwarg.  The current implementation always chooses `meta` from the input table (even if empty) and ignores the user-input value.
[code]
In this case it makes sense to me to use the user-supplied kwarg `meta

[2019-02-08 18:43] SaOgaz opened #8406 "Moving CCDProc ImageFileCollections into Astropy"
Apologies if this issue has already been opened, search didn't come up with anything.  There has been discussion on potentially moving ImageFileCollections from CCDProc over to Astropy.

@crawfordsm, @mwcraig, @MSeifert04

[2019-02-08 19:16] pllim commented on #2205
xref astropy/astropy-APEs#12

[2019-02-08 19:35] pllim commented on #8210
cc @adrn

[2019-02-08 19:38] pllim opened #8407 "DOC: Coordinates “performance vs correctness” tradeoff option"
This is one of the 3.2 features mentioned in Astropy Coordination Meeting 2018.

p.s. I am guessing it is a documentation issue, but if I misunderstood, feel free to edit.

[2019-02-08 19:41] bsipocz commented on #8407
Some of it may very well be code related, e.g. https://github.com/astropy/astropy/pull/6068

[2019-02-08 20:41] pllim commented on #7246
Isn't this done already?

[2019-02-08 20:41] pllim commented on #7245
Isn't this done already?

[2019-02-08 20:42] pllim opened #8409 "Support for APE 14 in WCSAxes"
This is one of the features listed for 3.2 from Astropy Coordination Meeting 2018.

[2019-02-08 20:46] pllim commented on #7653
Just to follow-up with @parejkoj and @stargaser , is this still a problem at all for your use cases? If so, please state what else is missing so we can slate the work for 3.2. Otherwise, I guess we can close. Thanks.

[2019-02-08 20:48] pllim commented on #2205
I *think* this is about the new `astropy.timeseries` module, yes?

[2019-02-08 20:53] pllim opened #8410 "Move periodogram modules stats to timeseries"
1. Create `astropy.timeseries`
2. Move periodogram modules over from `astropy.stats` (with backward compatibility for a time), which includes `bls` and `LombScargle`
3. ???
4. Profit!

[2019-02-08 21:00] pllim opened #8411 "New SpectralQuantity class"
Someone wrote down "SpectralQuantity?" in the notes for features to aim for in 3.2 at Astropy Coordination Meeting 2018. I am not very sure what this means. Please elaborate.

[2019-02-08 21:21] parejkoj commented on #7653
I'm going to see if we can investigate whether the new changes work for our cases in LSST. Hopefully we can report back sometime next week.

[2019-02-08 22:22] stargaser commented on #7653
With version `3.2.dev23801`, I can turn off my laptop's Internet connection and the lookup of `EarthLocation.of_site('palomar')` picks up the cached version fine. This addresses the issue as far as I'm concerned.

[2019-02-08 22:52] mwcraig commented on #8406
There are a few wrinkles we should iron out/features we should add, but agree this could be useful.

[2019-02-08 23:03] astrofrog commented on #2205
Yep!

[2019-02-08 23:04] astrofrog commented on #7245
It is - good catch!

[2019-02-08 23:04] #7245 closed

[2019-02-08 23:04] astrofrog commented on #7246
Indeed!

[2019-02-08 23:04] #7246 closed

[2019-02-09 16:04] SG004 commented on #8342
I would like to try and fix this issue. I just have a few questions.
Where would I find the place where the doctest is run for all of the files? I'd like to confirm that it isn't being run. I see in circleCI setup.cfg file under `[tool:pytest]` that `doctest_plus = enabled`.
Is the doctest run on circleCI?

[2019-02-09 17:30] astrofrog commented on #8411
This is discussed in https://github.com/astropy/specutils/issues/422

[2019-02-09 17:30] #8411 closed

[2019-02-10 00:56] bsipocz commented on #8342
Doctest is running on all CI-s (and also when you run `python setup.py test` locally)

Here the issue is that some code are skipped being tested using the `doctest: +SKIP` directive in the documentation file referred in description above.

[2019-02-10 18:25] Juanlu001 commented on #7793
This was closed in https://github.com/astropy/astropy/pull/8218.

[2019-02-10 18:25] #7793 closed

[2019-02-10 18:30] Juanlu001 commented on #3182
To update my previous comment, this still stands but #7793 was fixed.

[2019-02-11 09:32] bmatthieu3 commented on #7679
I deleted the version 0.1.2 -> 0.1.4 on PyPI because I realized some files were missing in the wheel (especially the .h file where I define the C function prototypes that does the wrapping between python CFFI code and the Rust code). Therefore there was a problem when importing cdshealpix in a python interpreter because this file could not be found.

Since v0.1.5 (the current version is v0.1.6) th

[2019-02-11 12:05] astrofrog opened #8414 "Performance issue with WCS units"
I'm running into a performance issue where accessing ``WCS.wcs.cunit`` is the bottleneck. For example:

[code]

Accessing the second unit takes over 100 times longer than the first one. If I initialize the same unit directly I get better performance:

[code]

so I'm not sure what's going on here. In addition, I think it would be nice to have a way to optionally access the units simply as strings r

[2019-02-11 12:10] astrofrog opened #8415 "Issue with WCS.wcs.cunit equality"
The ``WCS.wcs.cunit`` attribute uses a class called ``UnitListProxy`` - and it seems that class doesn't correctly define ``__eq__``:

[code]

I think this should be treated as a bug.

[2019-02-11 13:46] astrofrog opened #8416 "Issue with WCS.has_celestial when celestial coordinates are non-separable"
Currently ``has_celestial`` relies on ``WCS.sub`` which doesn't work if the celestial coordinates are non-separable:

[code]

It might make more sense to rely on checking that ``WCS.wcs.lng`` and ``WCS.wcs.lat`` are non-zero? Just to be clear, I'm ok with ``WCS.celestial`` failing in this case, but ``has_celestial`` should return ``True``.

Side note: if I don't include ``set()`` then I have the i

[2019-02-11 13:50] nden commented on #8414
I think it's only slow for composite units. Not sure why.

[2019-02-11 15:15] astrofrog commented on #8414
@nden - yeah it's slower than when initializing Unit directly. In the mean time is there any way to access the unit strings without using the proxy list?

[2019-02-11 15:50] nden commented on #8414
Not that I know of. You can play with `repr(wcs.wcs.cunit)`, :smirk:

[2019-02-11 16:33] pllim commented on #7653
Great to hear, @stargaser ! Just waiting for @parejkoj in case there is something else.

[2019-02-11 16:51] astrofrog commented on #8414
😮

[2019-02-11 16:53] pllim commented on #8411
@astrofrog , okay thanks... but how is that issue in `specutils` related to Astropy 3.2 release?

[2019-02-11 17:02] astrofrog commented on #8411
I think the plan was to implement it in specutils first then transfer it over to the core package whenever it's functional.

[2019-02-11 17:49] pllim commented on #8411
Is all this gonna happen by April? If not, then we shouldn't aim for 3.2 for this one.

[2019-02-11 20:02] bsipocz commented on #8410
@jakevdp, as well as others - Do you have any thoughts on the namespace `LombScargle` should be available from one this refactoring is done?

1) - ``from astropy.timeseries import LombScarge``
2) - ``from astropy.timeseries.periodograms import LombScargle``?

[2019-02-11 20:21] larrybradley commented on #8410
@bsipocz  How about both (using `__init__`)?   BTW, `lombscarge` and `bts` are both currently subpackages (not modules) under `stats`.

[2019-02-11 20:29] bsipocz commented on #8410
Honestly either way is fine by me, and only pushing to get a decision as then I can update the imports in the astroML textbook (so users don't get deprecation warnings for the new edition).

[2019-02-11 20:31] larrybradley commented on #8410
@jakevdp should chime in.  I don't have a strong opinion.

[2019-02-11 22:37] #7700 closed

[2019-02-12 06:16] njmessina opened #8419 "Install not compatible with netcdf4?"
Hi there...
I recently updated Astropy via Anaconda so I can use the convolution routines.  The update did something to libssh2 such that netcdf4 no longer works.  When importing netcdf4, I get the following error:
[code]
I did not get this error before updating Astropy.  This happened today (Feb 11, 2019).  Netcdf4 is critical for my work so this is very disappointing.   I'm using a Macbook Air w

[2019-02-12 06:24] bsipocz commented on #8419
Please report this to `Netcdf4`, we can't do much about their broken installation neither their relationship to libssh.

As a workaround try to downgrade your libssh (to reiterate astropy is not sensitive to which version of that is installed, your conda must have independently updated it during the astropy update).
If nothing else work, I would suggest to uninstall astropy from your conda, downgr

[2019-02-12 09:38] astrofrog commented on #8419
Just to add to what @bsipocz said, you mentioned that the issue is when importing ``netcdf4`` - conda has a habit of updating a whole bunch of packages when updating another, and in this case since the issue you are having is with netcdf4 rather than astropy, I would recommend opening an issue at https://github.com/ContinuumIO/anaconda-issues/issues instead.

Are you having any issues importing as

[2019-02-12 14:37] njmessina commented on #8419
No, astropy seems to work fine.  Ok, thank you!
Joe

On Feb 12, 2019, at 2:38 AM, Thomas Robitaille <notifications@github.com<mailto:notifications@github.com>> wrote:

Just to add to what @bsipocz<https://github.com/bsipocz> said, you mentioned that the issue is when importing netcdf4 - conda has a habit of updating a whole bunch of packages when updating another, and in this case since the issue

[2019-02-12 16:59] astrofrog commented on #8419
Ok - in that case I'll close this issue since you opened one for anaconda. Thanks!

[2019-02-12 16:59] #8419 closed

[2019-02-13 00:24] stscicrawford commented on #4244
To clarify, we would like a page as part of the documents with a table listing all the methods available for an FLRW cosmology.  The table should be two columns.  The first column should be the name of the method where the name would be a link to the method on the [FLRW doc page](http://docs.astropy.org/en/latest/api/astropy.cosmology.FLRW.html#astropy.cosmology.FLRW.lookback_distance).  The secon

[2019-02-13 00:26] crawfordsm commented on #4244
To clarify, we would like a page as part of the documents with a table listing all the methods available for an FLRW cosmology. The table should be two columns. The first column should be the name of the method where the name would be a link to the method on the [FLRW doc page](http://docs.astropy.org/en/latest/api/astropy.cosmology.FLRW.html#astropy.cosmology.FLRW.lookback_distance). The second c

[2019-02-13 04:15] jakevdp commented on #8410
Sounds fine either way. Are there plans to add more timeseries functionality? Would Bayesian Blocks go in the timeseries module as well?

[2019-02-13 04:32] bsipocz commented on #8410
The main part will be the TimeSeries class, and we plan to move the two periodograms. Not sure moving the bayesian blocks would make much sense, they are more generic stats tools then these.

[2019-02-13 06:49] aburgasser commented on #6910
@adrn sorry for not responding earlier, but yes clearing cache fixed the issue, thank you!

[2019-02-13 17:44] KING-SID commented on #4244
Makes sense, I'll get to the cheat sheet then!

[2019-02-13 23:28] zkbt opened #8423 "rotate imshow pixels so that north is up in WCSAxes?"
`WCSAxes` does a fantastic job displaying images with their WCS coordinates attached. However, as far as I can tell from the [documentation](http://docs.astropy.org/en/stable/visualization/wcsaxes/index.html) and digging through the API, it doesn't have a simple way to rotate an imshow image so that North is Up and East is Left. Such a capability would be extremely helpful, for example to make a f

[2019-02-14 08:10] bwinkel opened #8424 "Can set func-units (e.g., dex) in Table/Column but not retrieve them"
First of all, thanks for the awesome `units` sub-package. I use it a lot.

Unfortunately, I keep running into trouble when using logarithmic units (i.e., function units). For example, I would like to use logarithmic units in a `astropy.table.Table`. I can set them without problems, but not retrieve them with the `.quantity` property:

[code]

I guess, this has to do with the fact that logarithmic

[2019-02-14 18:50] bsipocz commented on #8424
@bwinkel - Have you considered using `QTable` rather than `Table`?

That way both your columns would be `Quantities` natively:

[code]

[2019-02-14 22:05] bwinkel commented on #8424
Hi @bsipocz, that's a good point. For my use case, I could also work with `QTable`, indeed. (The reason why I chose `Table` in the first place was, that I couldn't figure out how to set the format for `QTable` columns.)

Nevertheless, I would still consider it a (minor!) bug that it doesn't work with `Table`, because one can assign function units, they are correctly shown in the `repr` string, and

[2019-02-15 04:50] sunn-e commented on #8320
Hey Hi @bsipocz . Is this issue resolved, if not, then I think I can do this. Can you help me with what should I put in menu bar. I want to get started with astropy. But I am not much familiar with it. Till I get some documentation, I could help with the website problem.

[2019-02-15 04:59] bsipocz commented on #8320
Hey @sunn-e! This hasn't been solved, and the whole idea is detailed out above in https://github.com/astropy/astropy/issues/8320#issuecomment-456924488

[2019-02-15 10:09] #8416 closed

[2019-02-15 10:40] astromark opened #8426 "convolve_fft defaults and documentation"
I've just been trying to run some code that I haven't used for a year or two, when I had an older version of astropy installed (I'm now running 2.0.10). It was giving very strange results and I eventually managed to track this done to convolve_fft. I found that if I change my `convolve_fft(image,psf)` to `convolve_fft(image,psf,nan_treatment='fill',normalize_kernel=False)` I could then reproduce t

[2019-02-15 14:00] StuartLittlefair commented on #8390
I think this is expected, but admittedly confusing behaviour.

```coord.transform_to(ITRS)``` is not respecting the ```obstime``` attribute of the AltAz frame. The AltAz coordinate points to the position of the given location on the Earth's surface *at the time specified*.  At the J2000 default obstime used by ```coord.transform_to(ITRS)```, this position in space is not on the surface of the Eart

[2019-02-15 14:04] StuartLittlefair commented on #8310
I believe this is correct. Your coordinates are in the ICRS frame, whose origin is at the solar system barycentre. If there is no proper motion, this star's position will remain fixed *in this frame*.

[2019-02-15 19:11] bsipocz commented on #8426
Were do you find that example that is giving a different result than listed for the example? We normally test those automatically, so if they are wrong then something must have got broken along the way.

[2019-02-15 20:11] astromark commented on #8426
Here for example:
http://docs.astropy.org/en/stable/api/astropy.convolution.convolve_fft.html

[2019-02-15 20:24] bsipocz commented on #8426
You're right. We somehow have a `__doctest_skip__ = ['*']` in that file, and that shouldn't be the case. Thanks for reporting.

[2019-02-15 20:49] tiagopereira opened #8427 "Functions to convert from air to vacuum wavelengths"
I could find no function in astropy to convert wavelengths from vacuum to air, or vice-versa. #2768 discusses an equivalency/conversion within units, but has seen no progress in almost 5 years.

Converting wavelengths from air to vacuum is something astronomers do all the time, and it seems silly that everyone has to write their own functions (I have had my own for many years). I think one of the

[2019-02-15 20:56] pllim commented on #8427
Am I correct that this is a duplicate of the #2768 you mentioned? If so, please continue the discussion over there. Thanks.

[2019-02-15 21:02] tiagopereira commented on #8427
@pllim It seems to me that #2768 is about how to deal in general with unit equivalencies (which I guess is a more generic problem, and probably the cause of no solution for 4+ years), not on having a function for converting wavelengths.

[2019-02-15 21:24] pllim commented on #8427
@mhvk , what do you think?

[2019-02-15 21:56] keflavich commented on #8426
Right, we had major backward compatibility breaking changes in the v2.0 release, I believe.  Those were (should have been?) documented in the changelog, but not directly in the docs.

[2019-02-15 22:05] astromark commented on #8426
Another place that I've noticed an issue is the 'What's new in Astropy 2.0?' document, which specifically states "convolve_fft’s behavior remains unchanged".
http://docs.astropy.org/en/stable/whatsnew/2.0.html#improvements-to-astropy-convolution

[2019-02-15 22:09] bsipocz commented on #8426
There were significant convolution changes in 3.1, too, they might have been internal only though.

[2019-02-16 16:48] sunn-e commented on #8320
Hey @bsipocz , I tried a lot and nav bar still breaks. Also, I have a doubt, do I need to modify the main webpage's menubar or the documentation page's menubar? Because in the later scenario, I can't find the html file related to the documentations pages in github repo. Can you please confirm whether they are in the main website's repo or somewhere else. Thanks a lot.

[2019-02-16 20:04] kakirastern commented on #3710
Just want to confirm that this is still an issue? Has the issue been adequately addressed in the latest stable documentation, say at [http://docs.astropy.org/en/stable/modeling/#models-and-fitting-astropy-modeling](http://docs.astropy.org/en/stable/modeling/#models-and-fitting-astropy-modeling) if not [http://docs.astropy.org/en/stable/stats/#astrostatistics-tools-astropy-stats](http://docs.astrop

[2019-02-17 03:26] mhvk commented on #8427
@tiagopereira - I agree this would be good to have, and that having the functions is somewhat separate from #2768, which has turned into being more about how a `Quantity` could carry this type of meta information around. One question is where this should live, and how we would ensure it could be found. Indeed, might it be more logical in `specutils`? Or does that indeed have it already? Let me als

[2019-02-17 05:47] mhvk commented on #8424
Agreed both that `QTable` is the way to go and that, nevertheless, this is a bug.

[2019-02-17 06:01] mhvk opened #8430 "Quantity(column_with_log_unit, subok=True) should work"
As found in #8424, the following does not currently work:
[code]
There doesn't seem to be a reason for this to happen. Likely all that is needed is to move the `subok` test from early on to a little later, after getting a possible unit from `value` (might also be possible to do this more automatically by using `cls.new_view` instead of taking `.view(cls)`)

[2019-02-17 16:28] keflavich commented on #8427
`specutils` is a fine home, but for a basic unit conversion, including it in astropy-core probably makes as much sense.

also, the code exists here:
https://github.com/radio-astro-tools/spectral-cube/blob/master/spectral_cube/spectral_axis.py#L403
but I'm happy to see it moved out

[2019-02-17 19:49] saimn commented on #8427
It is already in specutils :
https://github.com/astropy/specutils/blob/0933a8e271ab1e333337087433cb683da8ab5a54/specutils/utils/wcs_utils.py#L366
I remember some discussions about this at PyAstro last year, with some notes  by @weaverba137 if I remember correctly ?
The PyAstronomy package has code for other methods:
https://www.hs.uni-hamburg.de/DE/Ins/Per/Czesla/PyA/PyA/pyaslDoc/aslDoc/pyasl_wvlc

[2019-02-18 09:48] tiagopereira commented on #8427
Thanks @saimn, I didn't realise it was in `specutils`. I knew about the versions in PyAstronomy, but that package has other issues and is not installed as widely as Astropy.

I agree with @keflavich that this would be a good candidate for astropy-core. I can imagine scenarios where people get wavelengths from FITS files (where keywords allow air and vacuum wavelengths, e.g. `WAVE` vs `AWAV`), and

[2019-02-18 11:50] kakirastern commented on #5407
Hi @brgillis, I tried the following instead and it seems okay...
[code]
This should produce an `im` as `<astropy.io.fits.hdu.image.PrimaryHDU at 0x1149dc390>`.

But if I use your code with the last line un-modified with Astropy v3.1.1, then I would get an error thrown as `TypeError: can't pickle mmap.mmap objects`. I think there has been some idiosyncrasy with the syntax you have used.

[2019-02-18 11:57] kakirastern commented on #3028
Hi, would like to confirm that this Issue is still open?

[2019-02-18 13:42] nden commented on #3028
Yes, this issue is still open. The core of modeling is being refactored. I don't think implementing this will be in conflict with the new code but I need to confirm this with @perrygreenfield.

[2019-02-18 13:52] kakirastern commented on #3028
@nden Thanks for the reply! Will await confirmation.

[2019-02-18 16:20] perrygreenfield commented on #3028
I don't see any reason that the tuple form couldn't be supported in either version of modeling, though there are some differences in how the constraints are managed between the two, the differences are not great.

[2019-02-18 17:32] weaverba137 commented on #8427
Hello y'all,

The notes that Simon mentioned are here:
https://github.com/weaverba137/pydl/blob/master/docs/notebooks/Vacuum%20Wavelength%20Conversions.ipynb

Note that SDSS does *not* use the IAU standard conversion, at least since
about 2011.  The notebook has a brief historical discussion and references.

Kia ora koutou,
Benjamin Alan Weaver

On Mon, Feb 18, 2019 at 2:49 AM Tiago M. D. Pereira

[2019-02-18 17:35] kakirastern commented on #3028
@perrygreenfield Thank you for replying! I will investigate this further and follow up soon.

[2019-02-18 17:57] bsipocz commented on #8427
Given the above consensus that this belongs to `spectutils` for now, I'm closing the issue here. Feel free to reopen if you think this interpretation of the conversation is incorrect.

[2019-02-18 17:57] #8427 closed

[2019-02-18 20:30] kakirastern commented on #7882
Hi, I am triaging and am checking to see if indeed this is still an ongoing issue, and found that if I run
[code]
and then open with the following
[code]
I would get the error `OSError: Empty or corrupt FITS file`.

Next, I try to run the following on an existing non-empty 2D FITS file:
[code]
Then no error is thrown.

[2019-02-19 01:53] #8424 closed

[2019-02-19 09:30] astrofrog opened #8431 "Deprecation warning due to pytest 4.3"
The 32-bit CircleCI build is failing due to a deprecation warning/error from pytest 4.3:

https://circleci.com/gh/astropy/astropy/22883

[2019-02-19 10:30] astrofrog opened #8432 "Add log_a as an argument to simple_norm"
Currently ``simple_norm`` exposes an ``asinh_a`` argument for the arcsinh stretch - it would be nice to similarly expose a ``log_a`` argument for ``LogStretch``

[2019-02-19 15:13] pllim commented on #8431
[code]

What the what? How we supposed to catch warning now?

[2019-02-19 15:18] pllim commented on #5407
This issue is pretty old and was using Python 2 that is no longer supported. Nor was it using context manager. I am going to close this. If you still run into problem with Python 3, using context manager, and using Astropy dev, then please open a new issue. Thanks!

[2019-02-19 15:18] #5407 closed

[2019-02-19 15:22] astrofrog commented on #8431
It might be ``match``?

[2019-02-19 15:41] pllim commented on #3710
At this point, as the Astropy Project has branched out over the years, this either is more for tutorials *or* specreduce... @eblur and @crawfordsm , what do you think?

[2019-02-19 17:04] #8431 closed

[2019-02-19 18:36] bsipocz commented on #3710
@kakirastern - thanks for catching this.

You are all right, and I feel this has been already covered in http://www.astropy.org/astropy-tutorials/rst-tutorials/Models-Quick-Fit.html?highlight=filtertutorials and maybe also in http://www.astropy.org/astropy-tutorials/rst-tutorials/User-Defined-Model.html?highlight=filtertutorials
Given the original vagueness I close this issue now. If there is any

[2019-02-19 18:36] #3710 closed

[2019-02-19 18:40] kakirastern commented on #3710
You are welcome @bsipocz! I will double check and see if any follow-up tutorial in the Learn Astropy repo is necessary.

[2019-02-19 18:42] bsipocz commented on #3710
Given the original issue here was very vague I suppose we are all covered for now 😄

[2019-02-19 18:42] kakirastern commented on #3710
Thanks!

[2019-02-20 03:08] #8254 closed

[2019-02-20 03:29] SG004 commented on #8432
I'd like to give this a try if I am permitted.
If I am allowed, I will have  a few questions.

[2019-02-20 03:37] bsipocz commented on #8432
@SG004 - of course, go for it!

[2019-02-20 18:25] jlvdb opened #8438 "astropy.table.Table.read() FITS extreme I/O load"
I am trying to read 4GB fits file from disk. After 19 minutes of CPU time my system monitor tells me that the python process has read **1.6 TB** of data from disk without ever finishing. No problems with astropy.io.fits however.

[2019-02-20 20:23] kakirastern commented on #3028
Hi, I have just checked with one simple example to test whether if I could use a tuple to pass the parameters while no optional ones are present, by the following:
[code]
(astropy: 3.1.1, numpy: 1.15.4, python: 3.6.8)

Documentation for `models.Gaussian1D` can be found [here](http://docs.astropy.org/en/stable/api/astropy.modeling.functional_models.Gaussian1D.html#gaussian1d).

So that has been tak

[2019-02-20 20:57] pllim commented on #6491
So, did #6821 fix this?

[2019-02-20 20:58] pllim commented on #8438
This looks like a duplicate of #6491 . What Astropy version are you using?

[2019-02-20 21:19] kakirastern commented on #8320
Hi @bsipocz, can I try this issue if no one has solved it? (I can wait until the time is right.) Actually I really wanted to try this since a couple weeks ago, but someone else was working on it previously so I hesitated. I feel I really would learn a lot from the experience, since I have not done so (professionally) before...

[2019-02-20 21:21] nden commented on #3028
This issue is strictly about passing the various constraints as tuples. I think the top comment describes it well. For example, I can fix `Gaussian1D.stddev` as this:

[code]
The desired interface is
[code]

[2019-02-20 21:21] bsipocz commented on #8320
@kakirastern - go for it, so far no one came up with a draft PR so it's more than fair game to give it a go.

[2019-02-20 21:22] kakirastern commented on #8320
Thanks @bsipocz! I will give it a try right away...

[2019-02-20 21:33] bsipocz commented on #4869
I think that using `options.extras_require` has solved this issue, no one can easily install everything with:
`pip install astropy[all,test,doc]`

[2019-02-20 21:34] #4869 closed

[2019-02-20 21:49] kakirastern commented on #3028
@nden Thanks for the correction... I guess I am still new to the wording used in the community and have misread. Will look into it a bit more. From the hints you gave me, I should be able to open a PR pretty soon.

[2019-02-20 21:50] saimn commented on #6491
Probably, since it is now possible to use memmap with `Table.read`.

[2019-02-20 21:57] saimn commented on #8438
Not sure if this is the same, it would be useful to have more details: @jlvdb , could you please provide some information about the Astropy version, FITS header, numbers about the memory usage with `Table.read` and `io.fits`, available RAM on your computer.
It is also possible to use memmap with Astropy 3.0 and later, with `Table.read(..., memmap=True)`, could you try this ?

[2019-02-20 22:10] #6491 closed

[2019-02-21 00:09] kakirastern commented on #8320
@bsipocz Regarding the "content" item referenced above in a previous comment, could you provide us with more hints on it?

[2019-02-21 00:12] kakirastern commented on #8320
Do you mean the html files needed?

[2019-02-21 00:27] jlvdb commented on #8438
Apparently, the problem was the swapping behaviour. I probably did not have enough free RAM when I was working earlier today which I did not realize. I am experiencing this often - probably not good for my SSD - so I did not consider this to be the problem.

In case people are still interested:

`astropy.__version__`
`'3.1'`
I was not aware that `Table.read` now supports memory mapping and it work

[2019-02-21 00:30] bsipocz commented on #8438
this case I'm closing this issue. Feel free to reopen if there is still something outstanding that we need to address on the astropy side.

[2019-02-21 00:30] #8438 closed

[2019-02-21 02:17] kakirastern commented on #8320
Hi @bsipocz! PR's opened in the astropy/astropy-sphinx-theme and astropy/astropy repos to attempt to address this Issue. But unless the PR astropy/astropy-sphinx-theme#4 is approved and merged GILES will not show the changes applied.

[2019-02-21 03:17] kakirastern commented on #7755
I have just taken over this issue from @SG004 with his permission following his attempts at Issue #7893 without attaining some resolution. Will open another PR to try to follow in his footsteps...

[2019-02-21 06:08] kakirastern commented on #7755
So I can reproduce similar results/effects in comparative performance after fixing some bugs using the following:
[code]
and with broadcasting
[code]

So on the surface everything seems to be in order. Using iteration definitely aversely affect the performance of the system when invoking `light_travel_time`. I reckon I should compare the three cases in the relevant documentation in terms of relati

[2019-02-21 06:25] kakirastern commented on #7755
Discovered @SG004's errors in PR #7893 has been due to some bugs corrected as the code blocks stated in the previous comment, which is a minor problem. Will consult SG004 again about whether he would like to continue with his previous work. So now all is good.

[2019-02-21 06:50] kakirastern commented on #3028
Think I will need some kind of modification, including but not limited to the looping, ordering, and passing of constraints to be added to the file [modeling/core.py](https://github.com/astropy/astropy/blob/master/astropy/modeling/core.py) in order to attain the goal set out previously in this Issue. Will get to work on this more soon.

[2019-02-21 15:34] astrofrog opened #15394 "Incorrect type for columns in GAIA results VOTable"
I tried downloading a table from GAIA:

[code]

and noticed that some of the columns are object type even though they just contain strings:

[code]

This causes all kinds of issues when trying to serialize the table to different file formats.

[2019-02-21 18:00] bsipocz commented on #7913
addressed by #8439

[2019-02-21 18:00] #7913 closed

[2019-02-21 18:09] KING-SID commented on #4244
@crawfordsm I have created the cheat sheet. How do I add it to the repository?

[2019-02-21 18:14] crawfordsm commented on #4244
Please follow the instructions on how to make a code contribution:
http://docs.astropy.org/en/stable/development/workflow/development_workflow.html

[2019-02-21 20:43] at88mph commented on #7882
Hello.  My test case above still fails with version 3.1 (hash: 743055cada122d6da8704ad28452806690679ef5).  This issue is not holding me up anymore as I've worked around it for now, but the bug persists.

Thanks!

[2019-02-21 21:35] eteq opened #8443 "Masked table writing to ecsv seems very slow"
I did some profiling of the ecsv writer in this notebook: https://gist.github.com/98f17dae0bb43f569a09f737a57f5bd7 / https://nbviewer.jupyter.org/gist/eteq/98f17dae0bb43f569a09f737a57f5bd7.

The gist of that (get it?) is that it appears that ECSV file-writing is at least an order-of-magnitude slower if there are masked columns.  This makes even medium-sized data sets like standard Gaia tables almo

[2019-02-21 22:23] taldcroft commented on #8443
Sigh.  Will investigate...

[2019-02-22 10:47] mhvk commented on #8443
I suspect it may have to do with `MaskedArray` itself - for its `__repr__`, it turns an array into an object array, so that it can replace individual elements with an instance that has a repr of "--". This definitely is not fast...

Independently, why use a text format in an analysis path? Wouldn't a loss-less binary format be more appropriate?

[2019-02-22 17:54] taldcroft commented on #8443
For reference here is a minimal demonstration of the issue:
[code]
Then:
[code]
The output files are identical (by diff).

[2019-02-22 17:57] taldcroft commented on #8443
Yes, appears to be the MaskedArray repr.  Even more minimally:
[code]
Zounds.

[2019-02-22 18:05] taldcroft commented on #8443
So you can recover the non-masked performance (mostly) by telling the writer to serialize masked data with two columns (the data and the mask).  Then it uses the non-masked version of data and it is fast(er).
[code]
The annoying caveat is that the code tries to be clear and not bother with the separate mask column if the mask is `False` everywhere.  So if the data column is masked but there are no

[2019-02-22 18:11] kakirastern commented on #3028
PR #8442 opened to address the Issue.

[2019-02-22 19:04] kakirastern commented on #733
Hi, am triaging and would like to check if this Issue should be kept open... Would opening a new issue and continue the discussion there in light of the developments leading up to late Feb 2019 be more favorable?

Please advise. Thanks!

[2019-02-22 19:14] kakirastern commented on #6764
Hi, am triaging and would like to check and see if the issues discussed above have been addressed adequately yet (perhaps via private correspondence)? Should this Issue be kept open if not?

Please advise. Thanks!

[2019-02-22 19:19] kakirastern commented on #7358
Hi, am triaging and would like to check to see if the Issue has been adequately addressed... @ellot, could you provide more details about the problem you had been experiencing so that some follow-up can be facilitated? Would appreciate any input such as more background information, ideas, suggestions, or even opinions you might have.

[2019-02-22 21:16] kakirastern commented on #8378
Hi, I am doing a bit of triaging and noticed that this Issue appears to have been settled, at least on the surface. Should this be closed for the time being?

[2019-02-22 21:18] kakirastern commented on #8366
Hi, I am doing a bit of triaging and noticed that this Issue appear to have been settled. Should this be closed?

[2019-02-22 22:00] #8366 closed

[2019-02-22 22:01] #8378 closed

[2019-02-22 22:02] bsipocz commented on #8378
Thank you @kakirastern, indeed this can be closed!

[2019-02-22 22:07] kakirastern commented on #8378
@bsipocz You are welcome. (Trying to help push down the total issues count, hopefully am not being too helpful.)

Cheers! 😃

[2019-02-22 22:07] kakirastern commented on #8366
Thanks @yurivict!

[2019-02-22 22:18] bsipocz commented on #8378
🎉  I can't applaud enough for that effort. Thanks!

[2019-02-22 22:19] yurivict commented on #8366
You're welcome!

[2019-02-22 22:43] kakirastern commented on #7882
I think @drdavella was right about the Issue previously. See https://github.com/astropy/astropy/issues/7882#issuecomment-429383739.

Yeah, seems like there is some bug when passing the `kwargs` (supposedly including the `scale_back` parameter) to the `fits.writeto()` method as documented [here](http://docs.astropy.org/en/latest/cosmology/index.html#functions) with the `**kwargs` argument as stated

[2019-02-22 22:55] kakirastern commented on #7882
@drdavella Should I include some clarification in the docs to clarify the issue in a new PR? (I will only do so if I have your blessing.)

[2019-02-22 22:59] bsipocz commented on #733
I'm going ahead and close this issue. As @kakirastern pointed out, not much happened in core about it but in the meantime other packages and affiliated packages have been created to cover the topic.

[2019-02-22 22:59] #733 closed

[2019-02-23 00:01] KING-SID commented on #7755
Hey is this issue still open? I tried to follow the comment thread but I couldnt really tell. Let me know if it open as I would like to work on this!

[2019-02-23 00:41] bsipocz commented on #7755
@KING-SID - I think @kakirastern and @SG004 are on top of this, see the conversation in their PR.

[2019-02-23 00:49] kakirastern commented on #7755
Hi @KING-SID, I am still awaiting @SG004's confirmation to see if he still wants to follow up on his previous work and continue until his PR (or a new one, depends) is merged/closed. If he decides he doesn't want to work on it anymore then I will take over with a new PR. So as @bsipocz has stated, we are on top of this. Thanks for your interest, however.

[2019-02-23 13:14] kakirastern commented on #7755
@SG004 will continue work on PR #7893 to update the relevant documentation.

[2019-02-23 14:08] kakirastern commented on #7882
Sorry @saimn, neglected to add your handle in the previous https://github.com/astropy/astropy/issues/7882#issuecomment-466577185. It was truly my bad. I tend to think it is some "docs bug" or missing documentation in this regard. Should I update the relevant info with a new PR? It makes sense that an empty or corrupt input FITS file should have no 'scale_back' attribute.

I can follow up with a PR

[2019-02-23 21:54] mhvk commented on #6764
@kakirastern - if you cannot find anything about this in the documentation, then I think it is not addressed. It would seem a useful entry for a "tips & tricks" section...

[2019-02-23 22:21] kakirastern commented on #6764
@mhvk Yup, that's a very good suggestion. Will see if I can follow this up further.

[2019-02-24 16:12] taldcroft opened #8452 "Table performance issues: more meta and sorting"
A simple `Table.sort` call results in **6** deep copies of the meta being made.  It stems a bit from the liberal use of code like `self[keys]`, which seems elegant and lightweight but in fact does a meta deep copy and a bunch more.  Even a simple `argsort` just blindly does `self[keys]` (triggering another deepcopy) even for the most common case when `keys` is just a single column.
[code]
Related

[2019-02-25 10:21] kakirastern commented on #5745
Hi, can I work on this Issue?

[2019-02-25 10:30] #8443 closed

[2019-02-25 10:35] taldcroft opened #8453 "Add note to Table performance section related to repr() of masked column"
Per the discussions in #8443 and #8447, add a note to the Table performance section pointing out this issue and the work-around.

[2019-02-25 10:55] kakirastern commented on #5745
I have checked that the same issue persists for astropy v3.2.dev23909. Maybe some documentation to clarify is necessary? Or, can an `insert` attribute be added to the `SkyCoord` object as a convenience?

So in my effort to reproduce the error, if I do the following:
[code]

I do indeed get the table:
[code]

And when I tried to use add the row as suggested by @dmopalmer as:
[code]

The following e

[2019-02-25 14:09] kelle commented on #7242
@jonathansick

[2019-02-25 14:51] warrickball opened #8454 "Negative powers in Lomb-Scargle periodogram"
I've been using Astropy's Lomb-Scargle periodogram for some time but just run into an unexpected scenario. I've attached a simple series of 19440 points of Gaussian noise ([WN_1000_timeseries.txt](https://github.com/astropy/astropy/files/2901007/WN_1000_timeseries.txt)), generated using `1000*numpy.random.randn(19440)`. When I compute the Lomb-Scargle periodogram, however, the second-last element

[2019-02-25 15:15] jonathansick commented on #7242
Got it! The GSoC description is pretty useful. Would you want the examples to be scoped within a reStructuredText directive? Or are you thinking more that it'd be a super reference target that marks the beginning of the example?

The first would look like:

[code]

versus

[code]

The nice thing about scoping content inside the directive is that we might be able to auto-select a figure that would

[2019-02-25 16:50] olebole opened #8455 "3.1.2 on pypi: signature missing"
Hi,

there is the new bugfix release available on PyPI, but the signature is missing. Could it be added? It would be nice to ensure the integrity of the package.

Best

Ole

[2019-02-25 17:54] pllim commented on #8455
AFAIK it is impossible to add a signature after the fact.

[2019-02-25 18:07] bsipocz commented on #8455
Hmm, this is weird.
Could you check again? I've redid the signing and upload, but don't see where the signatures are accessible on the new interface (https://pypi.org/project/astropy/3.1.2/#files)

[2019-02-25 18:18] kelle commented on #7242
Jonathan and I had a lovely meeting where we talked this out and I think he has a pretty good idea of the vision. Goal is to have a MVP (minimally viable product) by Thurs, Apr 11 where I could come down to STScI to hash out with him and @eteq. Mark your calendars! :)

[2019-02-25 18:20] bsipocz commented on #8454
cc @jakevdp

[2019-02-25 18:28] jakevdp commented on #8454
The default computational approach is an approximation that speeds the algorithm from ``O[N^2]`` to ``O[N log N]``, at the expense of not producing exact results. For values close to zero, this approximation can lead to negative powers.

If exact results are important to you, you can specify the ``method`` argument of the ``autopower`` function to something other than ``"fast"``.

[2019-02-25 18:31] bsipocz commented on #5745
Thanks @kakirastern for the follow-up. It indeed seems that for Time objects this issue has been solved, but not yet for SkyCoord.

[2019-02-25 18:46] mhvk commented on #8454
@warrickball - did this answer your question? If so, could you suggest a place where the documentation might be improved which you would have found?

[2019-02-25 19:06] olebole commented on #8455
@bsipocz I use a debian service for download, which takes the data from the Pypi JSON API. Looking into the [JSON](https://pypi.org/pypi/astropy/json), I still find `has_sig: false` (and an upload date 2019-02-24T01:15:57).
For simplicity, could you attach the signature to this issue? I could take it from here as well ;-)

[2019-02-25 19:13] bsipocz commented on #8455
I needed to zip it otherwise github complained the file type is not being supported.

[astropy-3.1.2.tar.gz.asc.gz](https://github.com/astropy/astropy/files/2902210/astropy-3.1.2.tar.gz.asc.gz)

[2019-02-25 19:42] olebole commented on #8455
@bsipocz Thank you! This helped me (and the version + signature is now uploaded to Debian).

[2019-02-25 19:46] bsipocz commented on #8455
I'm sorry about this, not exactly sure how/why I didn't sign it as I always do.

[2019-02-25 19:46] #8455 closed

[2019-02-25 19:48] bsipocz commented on #8455
(I'm also closing this as I don't think there is much we can do. I tried to upload the signature but as @pllim said it looks like it's not possible now after the fact).

[2019-02-25 21:48] astrofrog commented on #8454
Would it make sense to emit a warning if a negative power is returned, with a message to the effect that this can happen in the fast mode and to try another one?

[2019-02-25 22:39] saimn commented on #7882
Looking at this with fresh eyes, I think that there are several things to do, because the inner function that is used is not always the same:

- if the file does not exist, `writeto` is used, and kwargs are passed here. The only option that can be used here is `output_verify`. We can keep it like this and document this properly.

- if the file exists, and filename is a string, `fits.open` is used.

[2019-02-25 23:41] saimn commented on #6764
There is something similar in the FAQ (http://docs.astropy.org/en/latest/io/fits/appendix/faq.html#how-can-i-create-a-very-large-fits-file-from-scratch), but this is about creating a large file from scratch, and is already not completely obvious for a table. The issue here is more complex, as adding a column means resizing the file and reorganizing the data. So I doubt that we can find a generic s

[2019-02-26 00:09] kakirastern commented on #5745
Sure @bsipocz! I will open a PR and try and find a solution soon.

[2019-02-26 00:15] kakirastern commented on #7882
@saimn Sounds like a good plan! Will follow up with a PR soon.

[2019-02-26 00:30] kakirastern commented on #6764
Yes, in the [How can I create a very large FITS file from scratch?](http://docs.astropy.org/en/latest/io/fits/appendix/faq.html#how-can-i-create-a-very-large-fits-file-from-scratch) section, it is recommended to do the following:

And in the section just above in the FAQ, [How do I open a very large image that won’t fit in memory?, (http://docs.astropy.org/en/latest/io/fits/appendix/faq.html#how-c

[2019-02-26 02:51] jakevdp commented on #8454
I'm -1 on using a warning. The experience with the Bayesian Blicks warning has showed us that it confuses an order of magnitude more users than it helps.

[2019-02-26 07:01] moon05 commented on #8432
@bsipocz Hey! I have been meaning to look into Astropy for a while and just decided that I can try contributing. Since SG004 is giving it a try I will not attempt it, but after going through the code I just had a question. For exposing an argument like, `log_a` as an input for (where the `default=1000`) `LogStretch`, is it enough to just introduce an arg and that's it!? Or am I missing something?

[2019-02-26 07:14] moon05 commented on #7446
@Gabriel-p Hi! Are you taking care of this? I was just curious if pretty much having a function with what literally one of the SO answers are stating would work? Since functools and itertools are already imported in `ascii` that seems like the easiest way to go?

[2019-02-26 07:16] bsipocz commented on #5470
Oh, this would be such a nice feature :) (maybe mosty as I could just use it right now).

[2019-02-26 07:25] olebole opened #8458 "3.1.2: Test failure on big endian architectures in test_coldefs_init_from_array"
Running the tests during build time for version 3.1.2 shows the following failure in a newly added test:
[code]
This happens on all big endian architectures (32 and 64 bit): MIPS, IBM zSystems, PowerPC, HP-PA.
Full build log (for MIPS) [here](https://buildd.debian.org/status/fetch.php?pkg=astropy&arch=mips&ver=3.1.2-1&stamp=1551131794&raw=0).

[2019-02-26 08:33] warrickball commented on #8454
@jakevdp's explanation answers the question, so I don't mind if someone closes this.

I'd have appreciated a note on the precision of the `fast` method though. Personally, I might expect such a description at least in the [Periodogram algorithms](http://docs.astropy.org/en/stable/stats/lombscargle.html#periodogram-algorithms) section. If the `fast` method is commonly used (I haven't experimented w

[2019-02-26 08:37] saimn commented on #8458
Was added in #8353, cc @subagonsouth.
At first sight I think that the test is correct and it is the check in `_init_from_array` that does not correctly check for unsigned dtypes.

[2019-02-26 11:39] taldcroft commented on #5470
How about a context manager for temporarily renaming columns:
[code]
This could also be used for `vstack`, where you cannot use the `dict` construct above since there may be more than 2 tables.

One detail of implementation.  We *could* make the `rename_columns` method (#8070) return a context manager.  Here is the example for `rename_column` which does exist now.  The main downside is that doing

[2019-02-26 13:58] mhvk commented on #8454
Agreed with not having warnings.

@warrickball - I like your suggestions for places where the documentation could be improved, and also think it would be helpful to have a sense of what uncertainties one gets from the fast method (note that 1% in the power is amply good enough for most purposes - powers are chi2 distributed and their uncertainties generally will be substantially larger than 1%). W

[2019-02-26 14:50] warrickball commented on #8454
@mhvk I'm happy to try to make a PR to add the documentation. I'm familiar with GitHub and have made one or two PRs so I've hopefully already climbed some of the learning curve.

FWIW, I also found the "extirpolation" parameter that (partly) controls the approximate FFT mesh (keyword arg `M` in [extirpolate](https://github.com/astropy/astropy/blob/master/astropy/stats/lombscargle/implementations/u

[2019-02-26 16:06] jakevdp commented on #8454
For what it's worth, I don't think 1% inaccuracies at high frequencies are worth worrying about. In practice, the signal at such frequencies is so dominated by aliasing effects that a 1% inaccuracy is not going to make any substantive difference in the interpretation of periodograms.

[2019-02-26 16:31] subagonsouth commented on #8458
I don't have a ton of numpy experience, but it appears that the checking should be looking for `ftype.base.kind == 'u'` for all 3 cases in the `if` statement. The fix that I submitted failed to account for datatypes of a different endianess from the host machine.

[2019-02-26 17:30] #211 closed

[2019-02-26 18:02] mhvk commented on #8454
@warrickball - great! Looking forward to it!

[2019-02-26 18:15] mhvk commented on #8458
@subagonsouth - if you can find time to look into this, that would be most welcome!  I assigned this issue to you for now, please do let us know if you do not have time, as getting a fix is important.

Which does bring up a question for @astrofrog and @bsipocz - is there any CI where we run our tests on a big-endian machine?

Or, @olebole, is there a way we can test things on Debian machines right

[2019-02-26 18:16] mhvk commented on #8458
@subagonsouth - I don't seem to able to put you in the "assignees" section, but consider yourself assigned anyway!

[2019-02-26 18:18] mhvk commented on #8458
One possible option: http://osuosl.org/services/powerdev/ (see halfway down the short page)

[2019-02-26 19:31] bsipocz commented on #8458
I'm not aware of that any such architecture is available, but if anyone knows about a configuration on any of the standard CI services we surely can have one job of the matrix to run on that.

[2019-02-26 19:50] olebole commented on #8458
@mhvk I have access to such a machine and could test things if you give me a patch. For a certain issue, you can also [request own access](https://dsa.debian.org/doc/guest-account/) -- I would of course sponsor such a request. This however would always take a week or so.
Usually I try to upload prereleases (rc and such) to our "experimental" branch if my time permits to check for potential problem

[2019-02-26 20:21] bsipocz commented on #5470
good point. I have started implementing the dictionary solution yesterday evening, but abandoned it to go home, and haven't yet thinking about vstack and hstack (though currently neither of those accept `keys` as an arg)

[2019-02-26 20:30] subagonsouth commented on #8458
Pull request for fix has been submitted...
https://github.com/astropy/astropy/pull/8460

[2019-02-26 20:48] kakirastern commented on #6764
I don't have the data set of the size required to write up an example. So unless someone can supply me with such data, I will have to pass the Issue to someone who has them and is willing to add the example to the FAQ section...

[2019-02-26 20:59] taldcroft commented on #5470
But vstack does have the concept of trying to match up columns, and here you might also have the problem that you want column `'a'` to stack on top of column `'A'`.  Admittedly that case is probably less common.

Part of the issue here is that I'm scared to mess with this beast of a function that always confuses me each time I look at it:
https://github.com/astropy/astropy/blob/e112f5b1bc887eba46e

[2019-02-27 19:53] olebole opened #8464 "[3.1.2] Breaks asdf version 2.3.1"
After updating astropy to 3.1.2, asdf issues the following [test failure](https://ci.debian.net/data/autopkgtest/testing/amd64/p/python-asdf/2007387/log.gz):
[code]

I will report that as an asdf issue as well, however a bugfix release should not break other packages; therefore it is reported here as well. Feel free to close if appropriate.

[2019-02-27 20:16] bsipocz commented on #8464
This is rather unfortunate, and another reminder to ask as many packages as possible to run tests against the dev version of astropy and report back asap there are issues (that may not solved this one on the bugfix branch though).

@olebole - is you have ideas how to avoid this I'm all ears. We actually test with asdf installed on travis, and those tests were passing (though obviously not running

[2019-02-27 20:41] drdavella commented on #8464
This is a "bug" in ASDF and is not related to `astropy`. The relevant PR is https://github.com/spacetelescope/asdf/pull/649.

[2019-02-27 20:41] #8464 closed

[2019-02-27 21:10] olebole commented on #8464
@bsipocz Sorry, no good (cheap) idea. If I had enough time, I would setup a system that automatically pulls nightly packages from github, creates a Debian package and runs the tests or all reverse dependencies. That would also help me to see early when I have to change something in the packaging (which is more often the case).

[2019-02-27 21:26] MSeifert04 commented on #8464
@olebole It's really great that you do test the about-to-be-distributed combination of the packages and report your findings. It's unfortunate if we break stuff but it's really great that we can (mostly) fix them fast because of your reports. 👍

[2019-02-27 21:28] olebole commented on #8464
@MSeifert04 Thanks for your words; this keeps my motivation up ;-)

[2019-02-27 22:17] bsipocz commented on #7446
@moon05 - I'm sure @pllim is not working actively on this, you're most welcome to open a PR with a prototype solution and get the discussion going in there.

[2019-02-28 07:56] MSeifert04 commented on #8458
Closed in #8460

[2019-02-28 07:56] #8458 closed

[2019-02-28 10:12] kgabor commented on #7180
This issue happens when the wcs axis 0 practically varies along the image y axis (axis 1), so there is no label to print along the image bottom or top edge. I need to explicitly set ticklabel position to _left_ or _right_ to have labels displayed.

A related discrepancy is that `set_axislabel` still assumes that wcs axis 0 is the image x axis.

[Example fits image here.](https://raw.githubusercont

[2019-02-28 10:18] Juanlu001 opened #8465 "Consider making warnings PEP 565 compliant"
[PEP 565](https://www.python.org/dev/peps/pep-0565/), accepted in 3.7, redefined the semantics of several types of warnings. In particular:

Which means that `AstropyDeprecationWarning` is maybe not as visible as we think, and perhaps it should derive from `FutureWarning` in Python < 3.7.

[2019-02-28 16:03] pllim commented on #8465
Oh, looks like we were too ahead of our times?

Or... if we keep this open long enough such that our minversion of Python is 3.7, we can just close this without action. :trollface:

[2019-02-28 16:57] mhvk commented on #8465
My vote would be to let python catch up with us...

[2019-02-28 18:01] himanshupathak21061998 commented on #8415
@astrofrog I want to resolve this bug but I can't able to find definition of class UnitListProxy can you please give some elaboration about this class

[2019-02-28 18:41] astrofrog commented on #8415
@himanshupathak21061998 - the class is defined in https://github.com/astropy/astropy/blob/master/astropy/wcs/src/unit_list_proxy.c (it's written in C)

[2019-02-28 19:01] bsipocz commented on #8465
and it wouldn't be the first time :trollface:

[2019-02-28 19:09] bsipocz commented on #8465
I'm 👎 on hacking in anything for Python <3.7 now, much of our downstream ecosystem relies on `enable_deprecations_as_exceptions`, changing to subclass from `FutureWarning` rather than from DeprecationWarning may cause issues there.

[2019-02-28 20:43] bsipocz commented on #7355
This is still an issue, and came up again. Digging into the source code we quite a lot of classes in that module that are still not exposed to the API docs, and it's not trivial to see how to make RGB images with the other scaling (e.g. log) already available in astropy.

[2019-02-28 23:55] moon05 commented on #7446
@bsipocz thanks! I will open a PR tonight hopefully.

[2019-03-01 02:30] kgabor opened #8466 "WCSAxes get_coords_overlay does not accept 'pixel' as argument and has no docstring"
I'm trying to add both pixel and WCS coordinates to a plot with [this example file](https://raw.githubusercontent.com/lsst-dm/diffimTests/astropy_7180/astropy_7180/test.fits).
Following the examples in the WCSAxes documentation, I tried:

[code]
(Please note the 'RA" label misplacement relates to #7180 .)

It gives a ValueError:
[code]

Though WCSAxes.get_coords_overlay does not have any docstring

[2019-03-01 15:35] moon05 commented on #8220
Hi! By Cartesian Join are we thinking of something like this shown in the following link?
https://www.tutorialspoint.com/sql/sql-cartesian-joins.htm
I can give this a try. Would also appreciate any advice while implementing this or any kind of things I might have to be aware of.

[2019-03-01 15:56] taldcroft commented on #8220
Sure, that link is the right thing.  Here is a strawman code that can guide the implementation:
[code]
I would suggest to allow a new value of `'cartesian'` for the `join_type` keyword argument in the `join()` function.

[2019-03-01 16:00] pllim commented on #8466
Just for the record, what are your Python, astropy, numpy, matplotlib, etc versions?

[2019-03-01 16:02] moon05 commented on #8220
Alright sounds good. Thanks for the guidance! I will take a look and ask more questions.
Also in #8468, I think a doctsring wasn't passing the test cases because I called `ascii.read` in it, and `ascii` in turn calls `Table`. So any suggestion on how to bypass that kind of things, if it happens in this one?

[2019-03-01 20:12] kgabor commented on #8466
python: 3.6.6, numpy: 1.14.5, matplotlib: 2.2.2, astropy: 3.0.3

[2019-03-01 20:34] pllim commented on #8466
Gotta code dive a bit but it appears `'pixel'` is not one of the options.
[code]

@astrofrog ?

[2019-03-01 21:01] bsipocz commented on #8466
Without looking at the source code suggested it was based on this docstring: http://docs.astropy.org/en/stable/api/astropy.visualization.wcsaxes.WCSAxes.html#astropy.visualization.wcsaxes.WCSAxes.get_transform

[2019-03-01 21:07] pllim commented on #8466
Definitely can use more helpful doc here.

[2019-03-03 21:37] bsipocz opened #8470 "Tighten flake8 check"
I would like to get the flake8 test to be a bit more strict so we would avoid adding unused imports, etc.
There is less and less low hanging fruits in core, so asking to set up some good measures for a consistent code style shouldn't be as big an issue now as it was a couple of years ago.

https://github.com/astropy/astropy/pull/8469

[2019-03-04 07:41] bsipocz opened #8471 "Table read fails with duplicated column names (with CSV format)"
Trying to read in a CSV where there are multiple columns with the same name results in a rather cryptic ValueError:
``ValueError: Arguments "names" and "dtype" must match number of columns``

Opting out the fast reader it becomes a bit clear:
``ValueError: Duplicate column names``

In the zeroth order it would be great to receive the second message even in the first case. Then we may want to think

[2019-03-04 17:43] pllim commented on #8470
Unused imports should be removed rather carefully, though. I vaguely remember some were added on purpose for one reason or another.

[2019-03-04 18:53] bsipocz commented on #8470
Yes,  I don't mean to do this blindly, but once the current warnings are cleared with "noqa" statements, then adding the check would make sense.

[2019-03-05 18:28] mzechmeister opened #8476 "reference plane in heliocentrictrueecliptic"
When I calculate the heliocentric coordinates of Earth, I obtain non-zero latitudes:
[code]
returns
[code]

The center of the coordinate system is the Sun as given in doc (http://docs.astropy.org/en/stable/api/astropy.coordinates.HeliocentricTrueEcliptic.html#astropy.coordinates.HeliocentricTrueEcliptic).

But what is reference plane? I would expect that the Earth or the barycenter of Earth-Moon a

[2019-03-05 21:31] mhvk opened #8477 "Use scipy's refguide for docstring tests?"
Partially as a reminder for myself (have *not* looked into it in any detail): Numpy has adapted https://github.com/scipy/scipy/blob/master/tools/refguide_check.py for its docstring testing. It includes float comparisons and "numbers may vary". We may want to check whether we can also use this, to make the ecosystem a bit more uniform.

EDIT: see also https://github.com/numpy/numpy/issues/9415#issu

[2019-03-05 23:22] followthesheep opened #8479 "Astropy modeling memory leak -- problem with models with large arrays"
In astropy versions > 1, the modeling framework appears to deep copy models when they are concatenated. In version 1, I think it uses a reference. This makes a very big difference when the models contain very large arrays. I'm using a spectral fitting library which contains a large grid as part of the model (https://github.com/starkit/starkit). We use the astropy modeling framework to concatenate

[2019-03-06 01:13] pllim commented on #8476
@adrn ?

[2019-03-06 01:13] pllim commented on #8479
@nden or @perrygreenfield ?

[2019-03-06 07:15] lupitatovar commented on #8426
Hello, this is my first time contributing to Astropy and I would like to try and resolve this issue if that's alright?

[2019-03-06 12:45] embray commented on #3836
This still keeps coming up with users, e.g. in StackOverflow questions. PyFITS really deserves better documentation on how to use it in practical terms.

[2019-03-06 20:42] nden commented on #8479
- Regarding the deep copy of models in a compound model - this is a stop gap measure to address a flaw in the current design where updates to the parameters of the compound model did not propagate to the parameters of the constituent models causing a compound model to be evaluated with the wrong parameters in some cases. The `CompoundModel` was rewritten to avoid this problem though it was decided

[2019-03-07 01:32] #8317 closed

[2019-03-07 02:14] followthesheep commented on #8479
@nden The version we used with starkit that had this problem was astropy 3.1.2

Is there a beta version of astropy v4 we can try?

[2019-03-07 02:18] bsipocz commented on #8479
@followthesheep - The next release of astropy will be 3.2, that's what you get when trying the master branch. v4.0 is scheduled to come out ~half a year after that, next autumn.

It's also possible to install development versions from feature branches, but the one you are looking for is currently work in progress.

[2019-03-07 17:33] eblur opened #8482 "Comment out / replace any small http requests"
e.g., SkyCoords from_name calls Sasame. Frequently breaks our testing infrastructure.

@adrn

[2019-03-07 17:33] #8482 closed

[2019-03-07 17:34] eblur commented on #8482
oops! wrong repo

[2019-03-07 17:41] stargaser commented on #6948
I am going to try the suggestion from @mhvk to make a configuration item for the versions of constants that are loaded when `units` or `constants` are first imported. Shooting for 3.2 which means having a PR open by April 5th, 2019.

[2019-03-07 21:29] fardal opened #8485 "FixedWidthNoHeader table not splitting on first data line"
Is the following routine giving correct behavior?  Output:

[code]
I thought the `fixed_width_no_header` reader was supposed to split the first data line, but it appears to be splitting the first line instead.

I'm using python 3.6.5, numpy 1.14.5, astropy 3.1.1.

In case this is a bug, I wonder about io/ascii/core.py line 1163, `self.header.get_cols(self.lines)`

[code]

[2019-03-07 22:09] matteobachetti opened #8486 "Do not raise valueError when no path specified in hdf5 write"
On the same line as @bsipocz 's #7725: If I'm writing an HDF5 file without specifying a path, the exception currently thrown seems too much. I would vote for choosing a standard path name and transforming the exception into a warning.

[2019-03-07 22:25] fardal commented on #8476
This is no substitute for an authoritative answer, but I speculate that it's precession of the ecliptic plane.

[2019-03-07 22:36] bsipocz commented on #8485
ping @hamogu  @taldcroft

[2019-03-08 01:42] parejkoj opened #8487 "Adding/subtracting ABmag Quantities loses the "type" of magnitude"
The following code raises a `UnitConversionError`, because it appears the math operation lost track of the "type" of magnitude. `fluxMag` and `color` are both `ABmag`, so I would expect their difference to also be an ABmag.

[code]
prints the following, and then raises:
[code]

If the `-` is changed to `+`, the exception is different:

[code]

[2019-03-08 10:19] astrofrog opened #8488 "Make it so that running pytest directly doesn't require an install"
At the moment, the following doesn't work in the astropy repository:

[code]

unless ``pip install -e .`` has been run beforehand, because of an issue related to asdf. The error in the above case is:

[code]

@drdavella - could we make this a bit more robust so that e.g. we skip the ASDF tests if astropy is not installed?

[2019-03-08 10:27] Cadair commented on #8488
I mean as soon as you use things like entry points you really need to be installing the package. I am not sure this is really a usecase to be supported?

[2019-03-08 10:58] astrofrog commented on #8488
Looking at this closer, the issue is not about entry points per se, it's about the fact that currently the asdf pytest plugin is auto-registered if asdf is present but not necessarily if it is importable (it's only importable if astropy is installed).

@drdavella - is there any reason for using ``find_spec`` instead of just doing a ``try...except`` of importing asdf in ``conftest.py``?

[2019-03-08 11:08] astrofrog commented on #8488
A related issue is that ``find_spec`` sometimes gives weird results, for example I uninstalled asdf but ``find_spec`` is still returning not ``None`` so that I get the following error when running the tests:

[code]

I do think that for fast development of packages unrelated to entry points it would be good to avoid having to install the package, even in develop mode.

Related to this, I wonder wh

[2019-03-08 14:50] drdavella commented on #8488
The ASDF schema tester is a `pytest` plugin. The reason for the logic here is we can't make reference to the plugin if `asdf` is not installed (I believe this will cause a `pytest` error).

It's possible that using `try/except` is better in this case. I have seen weird issues with `find_spec` as well but assumed it was due to a degenerate state in my environment (e.g. installing a package with `co

[2019-03-08 14:54] drdavella commented on #8488
My comment above only addressed one aspect of this issue. My opinion is that we do not want to support this. Packages should be installed before being tested. This is a big part of the motivation behind the `src`/`test` directory discussion that came up on Slack recently. I'm not necessarily advocating for that particular change, but I would draw a hard line about requiring the package to be insta

[2019-03-08 16:33] pllim commented on #8487
For the record, what are the Python, Astropy, and Numpy versions used?

[2019-03-08 16:40] astrofrog commented on #8488
Ok I think I'm convinced an install is necessary, but I would still advocate that the asdf schema tester be declared as a proper pytest plugin via entry points and enabled with a command-line flag rather than being auto-included based on whether it's installed or not.

[2019-03-08 17:57] drdavella commented on #8488
I've opened an issue to track this in `asdf`: https://github.com/spacetelescope/asdf/issues/657

Should this issue be closed now?

[2019-03-08 18:28] #8488 closed

[2019-03-08 18:28] astrofrog commented on #8488
Yep, I'm happy with that option.

[2019-03-08 20:26] parejkoj commented on #8487
Sorry about that!

python 3.3.6
numpy 1.14.5
astropy 3.0.3

[2019-03-08 21:03] pllim commented on #8354
Fixed in #8358

[2019-03-08 21:03] #8354 closed

[2019-03-08 21:04] pllim commented on #8487
@mhvk ?

[2019-03-08 21:46] mhvk commented on #8487
@parejkoj - this behaviour is as expected: if you add two magnitudes with a unit, you are effectively multiplying the physical quantities and thus their units, while if you substract, you are dividing them. So, for the subtraction, the result is dimensionless and hence you get a regular `mag` output; similarly, if you look carefully at the addition, you'll see that the result has units of `mag(AB2

[2019-03-08 22:22] parejkoj commented on #8487
Yes, I'm an idiot. Classic PEBCAK. In my case, `color` is a dimension less magnitude (duh!), so the code should have read:

[code]

I don't normally think of magnitudes as having units, but AB magnitudes absolutely do. I wonder if the resulting error message could make this more obvious for the slower among us (like me)?

[2019-03-08 22:49] mhvk commented on #8487
OK, no worries - I've certainly done similarly...

On the error message: I guess you are right, within the `Magnitude` (or perhaps `LogQuantity` class) error path we could special-case the dimensionless magnitude to a regular unit case, and add something like "Did you perhaps subtract magnitudes so the unit got lost?". But I'm not quite sure what exactly it would be - PR very welcome!!

[2019-03-09 12:09] kakirastern commented on #5745
I found this in the latest docs today: [http://docs.astropy.org/en/latest/table/mixin_columns.html#details-and-caveats](http://docs.astropy.org/en/latest/table/mixin_columns.html#details-and-caveats), which says something like "Adding or inserting a row works as expected only for mixin classes that are mutable (data can changed internally) and that have an `insert()` method.  Quantity and Time sup

[2019-03-09 12:34] kakirastern commented on #5745
Or, should I look into adding an `insert()` method for `SkyCoord`? Like using something similar to the following for `Quantity`?:
[code]
Would that work? (I reckon it is more complex than that, but would like to confirm... )

[2019-03-09 13:52] kadrlica opened #8490 "Typo in catalog matching documentation"
The catalog matching documentation [here](http://docs.astropy.org/en/stable/coordinates/matchsep.html#matching-catalogs) and [here](https://github.com/astropy/astropy/blob/master/docs/coordinates/matchsep.rst#matching-catalogs) has the following block:
[code]
I'm pretty sure the third line should be something like:
[code]
and the fifth line should be:
[code]
It looks like this example is a fairly

[2019-03-09 14:13] johnnygreco commented on #8490
Oops, yes `d2d < max_sep` is correct. Thanks!

[2019-03-09 14:16] kadrlica commented on #8490
Thanks @johnnygreco. I think there is also a typo in the fifth line (I've edited my earlier post).

[2019-03-09 14:23] johnnygreco commented on #8490
Indeed, that's an important one. Nice catch!

[2019-03-09 17:59] kakirastern commented on #8320
Think the menubar is ready at PR #8440 now...

[2019-03-09 18:07] kakirastern commented on #6154
Hi, can I help by updating the installation docs as suggested in [https://github.com/astropy/astropy/pull/6051#issuecomment-301335291](https://github.com/astropy/astropy/pull/6051#issuecomment-301335291)?

[2019-03-09 18:08] kakirastern commented on #6456
Hi, is this issue still open? If so, can I work on it?

[2019-03-09 18:27] kakirastern commented on #6456
I can certainly add a docstring or two to give the normalization
[code]
as an extra step, so that the `blackbody` model would produce the same result as the `blackbody_nu` function upon evaluation. So I would add the following lines as well to fill in the gaps (which are from your link in [https://github.com/astropy/astropy/issues/6456#issue-251354540](https://github.com/astropy/astropy/issues/645

[2019-03-09 18:52] kakirastern commented on #6456
So if I do the following:
[code]

It mirrors what you do without invoking `blackbody_nu` as:
[code]

[2019-03-09 22:46] kakirastern commented on #4859
Hi, am triaging and wondering if this is still an issue?

* position_angle doc at [http://docs.astropy.org/en/stable/api/astropy.coordinates.SkyCoord.html#astropy.coordinates.SkyCoord.position_angle](http://docs.astropy.org/en/stable/api/astropy.coordinates.SkyCoord.html#astropy.coordinates.SkyCoord.position_angle) with examples
[code]

* rotation_matrix doc at
[http://docs.astropy.org/en/stable/a

[2019-03-09 22:54] kakirastern commented on #4739
Hi, am triaging and wondering if this is still an on-going issue... looks like the last post was made in October 2017, which is more than one year ago. Personally, I haven't encountered the same issue since
I started contributing a few months ago. Should we close this for now and re-open another issue a similar problem re-surfaces in the future?

[2019-03-09 23:04] MSeifert04 commented on #4739
Maybe. Since this is a segfault this is quite a serious bug (with the potential to compromise systems) so it would be best if this is not forgotten - at least if it's not fixed yet.

[2019-03-09 23:06] kakirastern commented on #8398
Hi, I am triaging and noticed that some level of closure might have been reached... Should this issue be closed for now and a new issue be opened should a similar problem arise?

I second @pllim's observation: This does not look like a bug to me, but rather some kind of rigidity in the default units adopted in the `.si` units conversion mechanism. Maybe in the future some sort of flexibility could

[2019-03-09 23:11] kakirastern commented on #4739
I see. Then let's keep this issue stay open for now... Meanwhile, I will help keep an eye on the bug should it crop up during CI tests again in the near future. I understand the gravitas of a segfault. And the bug appears to affect the `io/votable/tests/vo_test.py` only.

[2019-03-09 23:51] bsipocz commented on #5745
I would naively say yes, but let's ping the coordinates maintainers @eteq @adrn to comment on it.

[2019-03-10 01:15] msyriac commented on #8177
Since pytest is now on 4.3.0 and according to @astrofrog , this issue doesn't appear for >4.0, could I request the maintainers to consider requiring versions >4.0 rather than <3.7?

[2019-03-10 05:13] mrtommyb opened #8492 "discretize_model gives an error for some range values using oversample mode"
I'm using discretize_model to convolve a Gaussian2d model with a pixel image. I'm using the oversample method. For some values of y_range and oversample factors the code gives me a value error. However, it's fine for most values. Below is an example of when the code fails.

[code]

[code]

[2019-03-10 09:09] olebole commented on #4739
Looking int our [Debian CI logs](https://ci.debian.net/packages/a/astropy/unstable/amd64/) (~300 tests), I couldn't find that segfault in the last year for the Python 3 package. So, I would guess this is somehow fixed and would propose to close it. If it comes back, we can still reopen.

[2019-03-10 15:51] mhvk commented on #4739
Thanks for the triage, @kakirastern, and thanks for checking those many logs, @olebole. I agree that if there was no issue for that many, we can just close this for now. Hopefully, we did really solve it!

[2019-03-10 15:51] #4739 closed

[2019-03-10 15:57] mhvk commented on #4859
`astropy.coordinates.matrix_utilities.rotation_matrix` still uses a default unit of degrees for non-quantity input. But if people follow the examples in the documentation, they would be putting in quantities, for which this doesn't matter.

So, to me it would still make sense to insist on quantity/angle input for `rotation_matrix`, possibly with a deprecation period.

[2019-03-10 16:06] kakirastern commented on #4859
Yeah, agree.

[2019-03-10 16:08] kakirastern commented on #5745
I have a feeling that the code involved to introduce an `insert` property to `SkyCoord` would be a lot more complicated for either `Time` or `Quantity`...

[2019-03-11 16:01] pllim commented on #8492
From `git blame`... @adonath , do you remember the implementation details?

[2019-03-11 16:03] pllim commented on #8398
@mhvk, what do you think?

[2019-03-11 16:04] pllim commented on #6456
Yes, you got it, @kakirastern !

[2019-03-11 16:19] pllim commented on #8177
@msyriac , unfortunately, we do not have grand plans for LTS (`astropy<3`), just critical bug fix at this point, and this is not considered a critical bug. However, if you find that `astropy>=3` is not compatible with latest `pytest`, then please open a new issue.

[2019-03-11 16:26] kakirastern commented on #6456
Sure, will get on with it...

[2019-03-11 16:34] bsipocz commented on #8177
There are other issues with pytest 4.0+ that would require API change for the LTS which by definition can't be done.

[2019-03-11 16:52] kakirastern commented on #6456
PR #8495 opened to address this Issue.

[2019-03-11 17:53] mhvk commented on #8398
I do think this `.si` decomposition is not particularly helpful, even if it is not strictly a bug.  @kakirastern is correct that it arises from the `unit` system: basically it picks whatever equivalent unit combination has the fewest number of bases. Though it could have been `W / (m3 rad2)`, which would be better (but apparently comes by later).

Possible ways to resolve: might help to just shift

[2019-03-11 18:14] pllim commented on #8398
@mhvk , but adding a preference system is like naming a favorite child. It is tough to make everyone happy.

[2019-03-11 18:59] msyriac commented on #8177
Got it. Requiring astropy>=3 is an option, but this means dropping Python 2 support in our project right? (I am all for removing Python 2 support, but just wanted to make sure this is a necessary consequence).

[2019-03-11 19:00] pllim commented on #8177
Yes, basically.

[2019-03-11 21:03] mhvk commented on #8398
Very much so. Though `bar/rad2` just doesn't make sense! If someone has the time, I'd do the swap of power and pressure in `si.py` and see if that helps...

[2019-03-12 17:55] mrtommyb commented on #8492
Here's my version:
astropy: 3.1.2
python: 3.6.7
numpy: 1.16.0

[2019-03-12 21:39] adonath commented on #8492
I've looked a bit into this and it seems to be a numerical issue. Internally the `discretize_oversample_2D` uses `np.arange()` to set up the grids for the model evaluation. The upper bound for `np.arange(start, stop, step)` (or the `stop` argument...) is computed as `y_range[1] + 0.5 * (1 + 1 / factor)`. Normally the stop value is excluded when using `np.arange()`, but in your specific case it's i

[2019-03-13 20:20] saimn commented on #4853
@nrgolovich - Would it be possible for you to test this with a recent astropy version, or to provide the file to reproduce ?

[2019-03-13 20:35] saimn commented on #7986
I'm closing since I think that the reason for the warnings was identified, please reopen if I'm wrong here.

[2019-03-13 20:35] #7986 closed

[2019-03-13 20:41] saimn commented on #7717
Closing since I think that my explanation above makes sense, and there is nothing to change on Astropy side. Please reopen if this is still an issue.

[2019-03-13 20:41] #7717 closed

[2019-03-13 20:43] saimn commented on #8066
So, is there something to fix here ? To fix or not fix, that's the question ;).

[2019-03-13 20:51] saimn commented on #7794
Closed by #8383.

[2019-03-13 20:51] #7794 closed

[2019-03-14 11:28] CTugTEZ opened #8497 "Test issue"
I have problem with testing astropy. I try,

`import  astropy
astropy.test()`

It quits python without any error or warning. I tried in spyder too with conda kernel died and it doesn't restart.

[2019-03-14 17:02] parejkoj commented on #8487
I looked into this a little bit during the coworking hour this morning, but I can't figure out where such a customized exception would live. I would suggest appending your text above to the end of the regular exception message.

[2019-03-14 17:09] mhvk commented on #8487
Possibly would make most sense as a `try/except` around the trial to convert to a regular unit: https://github.com/astropy/astropy/blob/master/astropy/units/function/core.py#L256

[2019-03-14 17:13] pllim opened #8498 "TST: pyyaml 5.1 broke several tests"
`pyyaml` 5.1 was released yesterday (Mar 13, 2019) -- https://pypi.org/project/PyYAML/#history

Since then, some tests are broken. They affect tests in both PR and cron levels, wherever we pull in `pyyaml` from PyPI via `pip`. Example log: https://travis-ci.org/astropy/astropy/jobs/506241000

[code]

@drdavella and @Cadair pointed to spacetelescope/asdf#659 and yaml/pyyaml#256

[2019-03-14 17:24] pllim commented on #8066
*"I really should not touch FITS" -- Wise person*

[2019-03-14 18:38] namurphy commented on #4403
I just happened across this old issue.  We now have an [`atomic`](http://docs.plasmapy.org/en/latest/atomic/) subpackage in PlasmaPy that pretty much addresses this issue.  We should be interoperable with Astropy since we pretty heavily use `astropy.units`.  The most important feature is the [`Particle`](http://docs.plasmapy.org/en/latest/atomic/particle_class.html) class.  We can create a `Partic

[2019-03-14 18:45] zingale commented on #4403
we've moved on, and developed our own package for managing nuclear astrophysics quantities:
https://github.com/pynucastro/pynucastro

[2019-03-14 19:19] bsipocz commented on #8498
Shall we just then pin to the old version as a workaround to at least keep the CI passing for PRs?

[2019-03-14 19:36] pllim commented on #8498
Re: pinning -- See #8499

[2019-03-14 20:00] drdavella commented on #8498
We had the same problem in ASDF (see https://github.com/spacetelescope/asdf/issues/659). This appears to be due to a backwards-incompatible change in the default setting for flow style in 5.1: https://github.com/yaml/pyyaml/pull/256.

[2019-03-14 20:25] pllim commented on #8498
cross-post: https://github.com/astropy/astropy/pull/8499#issuecomment-473046515

tl;dr -- Need advice from @taldcroft on the best way forward.

[2019-03-14 21:13] taldcroft commented on #8498
:cry:  Booh on PyYAML.  I'll put this on the list of things to look at before the next release.

The important question is about the round-tripping tests still passing.  I.e. we have tests like this one that are testing the literal serialization output, and it's (more-or-less) OK if those are failing with PyYAML 5.1.  What's not OK is if the functional round-trip tests are failing.  But from what

[2019-03-15 13:49] #7681 closed

[2019-03-15 16:06] taldcroft opened #8501 "Code overriding _copy_indices when table gets sliced"
In Table._new_from_slice() there is code that might be a bug, or just orphaned code.  But I don't understand the subtleties of the Table index implementation.  This is a reminder to look into this some day.
[code]

[2019-03-15 18:35] #8498 closed

[2019-03-16 15:21] CyberDrudge opened #8504 "Temperature Conversion"
How to convert between temperatures? It seems to do something with `units.temperature()` but i cant find any example of it, can someone please guide me how can i convert from Kelvin to Celsius or vice-versa.

[2019-03-16 16:37] kadrlica opened #8505 "(Another) GCRS angular separation behavior"
This issue is to report another counter-intuitive behavior of angular separations in the GCRS frame. It follows on similar reports in #5185 and #6633 (and may be of interest to @StuartLittlefair and @adrn).

The basic issue is that an object at fixed ICRS position observed at two different times will have different GCRS coordinates. However, the separation between these GCRS coordinates is calcula

[2019-03-16 20:02] hamogu commented on #8485
I agree, that looks like a bug. With `data_start=1`, it should not matter at all what's in line 0. Do you want to try a pull request to fix it? If you try and need help along the way, let me know.

[2019-03-16 20:19] damian-anslik commented on #8504
`
from astropy import units as u
`
`
x = 0*u.Celsius
`
`
x_Kelvin = x.to(u.K, equivalencies = u.temperature())
`

[2019-03-16 21:39] CyberDrudge commented on #8504
@damian-anslik Thanks for the quick reply. Wont it be better if we add an example like this in the docs?

[2019-03-17 12:20] himanshupathak21061998 commented on #8414
@nden Can you please explain what could be done in repr to sovle this issue

[2019-03-17 12:20] himanshupathak21061998 commented on #8414
I want to work on it

[2019-03-17 13:48] astrofrog commented on #8414
@himanshupathak21061998 - the underlying issue is not in ``repr``, that is just a way to reproduce the performance problem. This issue is not ideal for first-time contributors as it requires understanding the WCS and units packages in detail, but if you really want to work on it, I would suggest looking into tools like pyinstrument and line_profiler to profile the relevant code to see how we might

[2019-03-18 00:55] bsipocz commented on #7653
This seems to be resolved so I'm adding the label, @parejkoj please confirm.

[2019-03-18 01:04] bsipocz commented on #6588
These tests got the remote_data mark in https://github.com/astropy/astropy/pull/8033.

Please reopen/open a new issue if you run into this again with the latest astropy.

[2019-03-18 01:04] #6588 closed

[2019-03-18 01:13] bsipocz commented on #2662
This has been added as a feature request for `pytest-doctestplus` in https://github.com/astropy/pytest-doctestplus/issues/3, along with a similar directive for `REMOTE_DATA` in https://github.com/astropy/pytest-doctestplus/issues/2.

[2019-03-18 01:13] #2662 closed

[2019-03-18 02:29] bsipocz commented on #700
Yes, I think it would be great to move it there.

[2019-03-18 03:03] bsipocz commented on #812
I very much still feel that `wcs.utils.skycoord_to_pixel(coord, wcs)` and `wcs.utils.pixel_to_skycoord(x, y, wcs)` do implement this feature, so suggest to close the issue.

[2019-03-18 03:06] bsipocz commented on #2021
Given the ambiguity  pointed out above I suggest to close this issue. I suspect whenever the behaviour of `np.isscalar(np.array(1))` changes, the behaviour of scalar Quantities will change, too.

[2019-03-18 03:26] bsipocz commented on #3030
An `astropy.datasets` subpackage deemed to be controversial/unneccessary in #3150. The datasets are nevertheless are currently available for the tests, and tutorials has since moved on to their own world.
I'm closing this now, but feel free to reopen if you think we in fact need this subpackage.

[2019-03-18 03:26] #3030 closed

[2019-03-18 03:39] bsipocz commented on #3214
From time to time I run into this that it would be so convenient to be able to write a column without putting in into a Table.
But @mhvk has a good point above, so I'm changing this issue from a feature request to a docs question. However not sure what the best place for the example above would be in the documentation.

[2019-03-18 03:59] bsipocz commented on #3986
`Unit('1/m', format='fits')` raises a sensible exception for a while now (`ValueError: '1/m' did not parse as fits unit: Numeric factor not supported by FITS`) and based on the comments above it is the right behaviour so I'm closing this issue.
Please reopen if you disagree and think there is something to be changed in astropy.

[2019-03-18 03:59] #3986 closed

[2019-03-18 04:00] bsipocz commented on #6017
Is this an issue for the astropy core, or more like to the main webpage? I feel the latter and thus suggest to move the issue to that repo.

[2019-03-18 04:21] bsipocz commented on #1032
I'm closing this issue as resolved.

`t._data` has been removed in https://github.com/astropy/astropy/pull/2790, and none of the above examples work with `t.as_array()`.

[2019-03-18 04:21] #1032 closed

[2019-03-18 04:28] bsipocz commented on #3228
`pytest` can now directly be run, and the `pytestdebug.log` file is then put in the main source directory.

I think this is a clear "won't fix" given the current direction of moving away from the custom `setup.py test`.

[2019-03-18 04:32] gauravkoradiya commented on #8157
same error:
MatplotlibDeprecationWarning:
examples.directory is deprecated; in the future, examples will be found relative to the 'datapath' directory.
  "found relative to the 'datapath' directory.".format(key))

[2019-03-18 04:52] bsipocz commented on #4267
All examples from the original post work, but I'm confused of what the desired test results should be for https://github.com/astropy/astropy/issues/4267#issuecomment-185351283
@saimn or @MSeifert04 - could you have a quick look of this and possible close it?

[2019-03-18 05:06] bsipocz commented on #5693
@olebole - could you please check whether you still see this on any of the platforms and close if it's gone?

[2019-03-18 05:10] bsipocz commented on #3611
@astrofrog @taldcroft  or anyone else: do you have a good idea what to do with these old issues? They may have been gone as there was no new comments in the last 4 years on this, it's difficult to reproduce though so they still may be there.

[2019-03-18 05:15] bsipocz commented on #3691
I suspect/hope this has gone away in the past years, too? @taldcroft @eteq  what do you think, can we close?

[2019-03-18 05:23] bsipocz commented on #7899
I think this may have been solved in the meantime:

[code]

[2019-03-18 05:28] bsipocz commented on #7899
It's weird though as the other "precision" issues, https://github.com/astropy/astropy/issues/6970 and  https://github.com/astropy/astropy/issues/7898, are still around.

[2019-03-18 07:24] bsipocz commented on #981
Are there models still missing? If yes, do they have a specific issue for them?
As the comment above says the most useful way forward is to open issues for each and every model.

With that in mind I suggest to close this very generic issue.

[2019-03-18 07:27] bsipocz commented on #1695
What about closing this one? Afaik this normalization didn't happen, but the library became now so established that something like this probably wouldn't be worth to break the API for.
Either way, it would be good to decide either to do it for 4.0 or close it with won't fix.

[2019-03-18 07:31] olebole commented on #5693
This is probably fixed, at least for Linux. For GNU Hurd, we don't build it in the moment, since some of the dependencies are not there yet.
I would propose to close it, I will re-open when it seems to re-appear.

[2019-03-18 07:40] bsipocz commented on #2780
Astropy coordinated packages follow the astropy core development guides, the affiliated packages however can set their own workflow, so closing this issue.

[2019-03-18 07:40] #2780 closed

[2019-03-18 07:45] bsipocz commented on #2770
Quite a lot happened since, and even gammapy seems to stopped using landscape.io, so I suggest to close this issue. There are a few other QA apps on github marketplace, we may consider to opt in one of those (and/or make our flake8 testing more strict as the first step...).

Feel free to reopen if you disagree.

[2019-03-18 07:45] #2770 closed

[2019-03-18 07:46] #5693 closed

[2019-03-18 07:46] bsipocz commented on #5693
Thank you for the feedback @olebole!

[2019-03-18 07:50] bsipocz commented on #3221
This is a very old issue and quite a lot has been fixed with the ascii reader since. I suggest to close it. If anyone run into anything similar again, please open a new issue, sharing their astropy, numpy, and python version, along with the file that causes troubles.

[2019-03-18 07:50] #3221 closed

[2019-03-18 07:53] bsipocz commented on #3463
🎉  https://github.com/astropy/astropy/pull/5173#issuecomment-239229275 has fixed this.

[2019-03-18 07:53] #3463 closed

[2019-03-18 07:57] bsipocz commented on #3638
With adding robots.txt to RTD and removing the old versions, I feel it's safe to close this issue as "worked around" if not fixed.

Feel free to reopen if you think otherwise.

[2019-03-18 07:57] #3638 closed

[2019-03-18 08:00] bsipocz commented on #3625
This feels like affiliated package content to me (not sure which one though).

I'm adding the "close?" label.

[2019-03-18 08:04] bsipocz commented on #3830
Assigning myself and will try to look into how we can improve this. Even my dummy gastropy spaceholder comes up sooner than astropy 😞

[2019-03-18 08:06] bsipocz commented on #3732
Do we still plan to do this, or rather close as "won't fix"? There are zillion github tutorials out there, so while rolling our own diagram would be nice, it's not really necessary.

[2019-03-18 08:14] bsipocz commented on #3948
The directive still doesn't seem to work in docstrings, but this is now an issue for `pytest-doctestplus`. Could you @astrofrog or @eteq please move the issue to that repo?

[2019-03-18 09:10] niess commented on #8390
Thank you for the explanation, Indeed it makes sense as so :) I didn't thought about in that way. Thanks again, and sorry for the disturbance.

[2019-03-18 09:10] #8390 closed

[2019-03-18 10:23] taldcroft commented on #3691
This was done, and I think it would prevent this issue.  In any case we have not gotten new reports in the mean time.

[2019-03-18 10:23] #3691 closed

[2019-03-18 10:28] taldcroft commented on #3611
I think we can close those, the code has changed a lot and there are new options like using chunked reading or the pandas backends.

[2019-03-18 10:28] #3611 closed

[2019-03-18 10:33] taldcroft commented on #3214
Yeah, it's always tough to figure out where to put a little thing like that in the docs so it is discoverable.  We could make a Tips and Tricks section, but I suspect it will end up having one entry for a long time...  I almost think the best solution is for you to post the question on SO and I'll answer it.  Then a user googling will find it.

[2019-03-18 11:55] saimn commented on #4267
The original issue with uint8 data in BinTableHDU seems to be solved.
The only issue that remains I think, is with int8 data. Related to the post above, fitsio can write a file with int8 data, with the file is bad (BITPIX=64, BZERO=9223372036854775808). But int8 is another issue, probably not easy to support and not too common, I think we can close this one.

[2019-03-18 11:55] #4267 closed

[2019-03-18 12:01] saimn commented on #1901
It seems that something changed since that, the latest example is not broken anymore:
[code]

[2019-03-18 12:29] mwcraig commented on #3732
Closing...most of those zillion tutorials have better graphic designers anyway.

[2019-03-18 12:29] #3732 closed

[2019-03-18 14:01] pllim commented on #700
I can't see the magic "move issue" button and I don't have patience to wait for someone to do it, so here it is: astropy/package-template#398

[2019-03-18 14:01] #700 closed

[2019-03-18 14:58] mhvk commented on #3214
There certainly is room for elaboration in the table I/O section: http://docs.astropy.org/en/latest/table/io.html

On the main docs page, the current "Files, I/O, and Communication" only discusses tables. It might make sense to have a "Getting started" section that discusses for all the various astropy classes how to save them (certainly should include `NDData`!).

[2019-03-18 15:04] mhvk commented on #1695
Agreed that the normalization of `fits` and `Table` are very unlikely to happen, so it seems what would be left is to ensure we don't do it for new classes. But I think we've been pretty good at not allowing merged-word methods, so it makes sense to close this.

[2019-03-18 15:04] #1695 closed

[2019-03-18 15:06] mhvk commented on #3732
Can we refer to one of those tutorials in our documentation?

[2019-03-18 15:44] keflavich commented on #3625
Do we have a good place for this sort of issue, then?  e.g., an astropy-ecosystem issue tracker?  I keep forgetting where our 'ideas tracker' lives...

[2019-03-18 16:19] pllim commented on #3625
Errr, like the UserEcho thingy that we want to replace?

[2019-03-18 16:22] pllim commented on #8504
Feel free to add a new section to http://docs.astropy.org/en/latest/units/equivalencies.html .

[2019-03-18 16:25] keflavich commented on #3625
Yeah, that!  Let's replace that and then move this issue to the replacement.

...can we just have an astropy-ecosystem package and use its issuetracker/project tracker?
(where should we have this conversation?  slack?)

[2019-03-18 16:30] pllim commented on #3625
We never quite reached a consensus on *how* to replace UserEcho. I feel like that will likely involve a decision by @astropy/coordinators ? :grimacing:

[2019-03-18 16:33] keflavich commented on #3625
Ahhh, right, this was tabled in the parking lot.

[2019-03-18 16:39] pllim commented on #3948
Manually moved to astropy/pytest-doctestplus#52

[2019-03-18 16:39] #3948 closed

[2019-03-18 16:44] pllim commented on #3830
This is what we are getting in 2019:
[code]

[2019-03-18 16:50] yashkmr99 commented on #8504
Hi! I'd like to take this for my first issue if it's not taken.

[2019-03-18 17:03] pllim commented on #6017
Manually moved to astropy/astropy.github.com#311

[2019-03-18 17:03] #6017 closed

[2019-03-18 17:05] CyberDrudge commented on #8504
@yashkmr99 I was thinking to add this, but you can take it. Go ahead.

[2019-03-18 17:45] jluastro commented on #3625
We will be working to get PopStar into an accepted affiliated package in the next few months. Let met know what the conclusion is for how best to track issues in the architecture across affiliated packages and main.

[2019-03-18 18:05] himanshupathak21061998 commented on #8414
@astrofrog Thanks for suggestion I started learning line_profiler, pyinstrument and It is quite interesting. It will take time by that time I will work on any other issue

[2019-03-18 18:10] bsipocz commented on #3732
Both http://try.github.io/ and https://git-scm.com/book/en/v1/Getting-Started-Git-Basics is linked here: http://docs.astropy.org/en/stable/development/workflow/development_workflow.html#new-to-git, and there are tons of links from those pages, too.

[2019-03-18 18:11] himanshupathak21061998 commented on #8426
I want to work on this issue `__doctest_skip__ = ['*']` needed to be removed or not

As, mentioned here they should be in changelog

[2019-03-18 18:15] bsipocz commented on #8426
yes, the doctests shouldn't be skipped, but in order to remove `__doctest_skip__` they need to be fixed, too.

[2019-03-18 19:41] mhvk commented on #3732
OK, thanks, I should have looked what we have...

[2019-03-18 20:45] Himanshu-Garg commented on #8504
Is anyone doing this

[2019-03-18 21:00] bsipocz commented on #8504
@Himanshu-Garg - There are already 2 other people interested in this very recently, please give them a chance in the next couple of days to open a PR. In the meantime I suggest you look at the other `package-novice` issues.

[2019-03-19 00:10] bsipocz commented on #8067
#8069 has indeed fixed it, so I'm closing.

[2019-03-19 00:10] #8067 closed

[2019-03-19 00:12] bsipocz commented on #6473
@hamogu - without the file in question it's impossible to test whether this is still an issue. Could you please upload an example file somewhere?

[2019-03-19 00:21] bsipocz commented on #6616
I think now we're much better to pick up the 32bit failures, at least there wasn't any that came up during the last two RC testing but not during CI.

Feel free to open if you think otherwise.

[2019-03-19 00:21] #6616 closed

[2019-03-19 00:37] taldcroft commented on #6473
@bsipocz - here is a minimal example to reproduce:
[code]

[2019-03-19 00:39] bsipocz commented on #6473
Thanks. Well, it's then not one of those self resolving ones 😄

[2019-03-19 00:43] taldcroft commented on #6473
Upstream https://github.com/h5py/h5py/issues/641

[2019-03-19 00:44] taldcroft commented on #6473
Of course we *could* still add in the PyTables backend.

[2019-03-19 00:45] drdavella commented on #3228
Agreed. I'll hit the close button.

[2019-03-19 00:45] #3228 closed

[2019-03-19 01:34] bsipocz commented on #4685
#7009 addressed the documentation need here, I don't think we can do much more.

Reopen in the helpers repo if you think otherwise.

[2019-03-19 01:34] #4685 closed

[2019-03-19 01:35] bsipocz commented on #1295
@astrofrog - close or move to the helpers?

[2019-03-19 01:38] bsipocz commented on #6874
This is normal conda behaviour that does affect all conda packages not at all astropy specific. I suggest to close this issue.

If you disagree please open a PR instead with the proposed piece of documentation.

[2019-03-19 01:38] #6874 closed

[2019-03-19 01:42] bsipocz commented on #8364
What the status here? Is there any TODO on the astropy side? If not I suggest to close the issue.

[2019-03-19 02:01] bsipocz commented on #1840
@saimn - do you think this is still an issue, or over the years adding memmap support and others have solved it?

[2019-03-19 02:05] bsipocz commented on #3439
0c235002b17242096be93a618d1be618b794cb72 has removed these xfails, so closing.

[2019-03-19 02:05] #3439 closed

[2019-03-19 02:14] bsipocz commented on #8145
scikit-image 0.14.2 is available now both on conda and pip, so I'm closing this issue.

[2019-03-19 02:14] #8145 closed

[2019-03-19 02:17] bsipocz commented on #7713
@sudz123 - do you still see this error? I recall that some similar ones are coming up occasionally on CI, but they are of transient nature and go away.

[2019-03-19 02:22] bsipocz commented on #6353
We currently hide the warnings and have open PRs (#7928) to show them (to be merged once most of them got fixed/worked around.
So I think there is no need to keep this issue open, but feel free to reopen if you think otherwise.

[2019-03-19 02:22] #6353 closed

[2019-03-19 02:37] bsipocz commented on #4193
The remote-data plugin has been moved out of core, so this issue should be either closed or moved to https://github.com/astropy/pytest-remotedata/.
@astrofrog or @eteq - could you please move it?

[2019-03-19 02:39] bsipocz commented on #3664
This is now working for a while in the whole ecosystem via the display plugin, so I'm closing this issue.

[2019-03-19 02:39] #3664 closed

[2019-03-19 02:42] bsipocz commented on #1414
I agree with the https://github.com/astropy/astropy/issues/1414#issuecomment-48329625 above that keeping a generic issue like this around isn't that much helpful.
Reopen if you feel otherwise.

[2019-03-19 02:42] #1414 closed

[2019-03-19 02:47] bsipocz commented on #2364
I'm closing this as the suggestion above in the last two commits should cover the use cases.

[2019-03-19 02:47] #2364 closed

[2019-03-19 02:50] bsipocz commented on #6554
Now that  the plugin has been moved out to`pytest-doctestplus` I suggest to close this issue here. Any issues/suggestions/improvement can be contributed to https://github.com/astropy/pytest-doctestplus/

[2019-03-19 02:50] #6554 closed

[2019-03-19 02:58] bsipocz commented on #6392
I suppose this is a "won't fix".
Please reopen if we change direction and come back to enhance our own test  runner instead of moving away from it.

[2019-03-19 02:58] #6392 closed

[2019-03-19 03:27] bsipocz commented on #8153
I have much bigger differences locally, than your numbers (~1000). Of those are ~390 are doctests.
Yet a fraction of those doctests should be tested as they are docstrings in the source code that is also available in an install.

I'm not yet sure what the other ~600 tests are.

Todo item here: make it possible for astropy.test() to pick up docstrings for testing.

[2019-03-19 03:36] yurivict commented on #8364
The problem is gone in ```3.1.2```, thanks for fixing!

[2019-03-19 03:36] #8364 closed

[2019-03-19 03:37] bsipocz commented on #8153
I suspect some of the pytest parametrization messes up `astropy.test()`. E.g. running all tests but then focusing only on the constants one:

- with `python setup.py test -V --remote-data`
[code]

in ipython with `astropy.test(remote_data='all', verbose=True) `
[code]

[2019-03-19 03:38] bsipocz commented on #8153
However, starting a new ipython, and running just the constants tests, twice, I don't get the same number. And this is the point where I give up...:
[code]

[2019-03-19 05:15] Himanshu-Garg commented on #8501
So, what should be the approach that we hve to follow here

[2019-03-19 05:44] bsipocz commented on #8501
@Himanshu-Garg - Please have a look around in the issues labeled as `package-novice`, those are the most new comer friendly ones while this one requires familiarity with the table indexing machinery as it was mentioned by the package maintainer above.

[2019-03-19 07:34] olebole commented on #4193
I'd propose to just close it. The tests work fine now; if it really re-appears (I doubt that), then I could make a new issue in pytest-remotedata.
@bsipocz It is great that you go through the issues! Thanks! Obviously, I sometimes lose track on the issues I opened, sorry for that.

[2019-03-19 07:34] #4193 closed

[2019-03-19 10:59] kyleaoman opened #8507 "Quantity causing memory leak"
Ran into a memory leak that seems to be related to applying a boolean mask to a astropy.units.Quantity array. Here's a minimal example:

[code]

Note that running this directly won't leak because it will stay in the first infinite loop, which doesn't leak.

[code]
Also tried using the current dev branch, the leak persists there as well.

[2019-03-19 11:19] yashkmr99 commented on #8504
I've edited the respective .rst file and have got `sphinx-astropy` already installed. When I try `python setup.py build_docs`, it says:

Could not import extension sphinx_gallery.gen_gallery (exception: No module named 'matplotlib')
Sphinx Documentation subprocess failed with return code 2

[2019-03-19 12:55] mhvk commented on #8477
This now is a question for `pytest-doctestplus`, so moved discussion to https://github.com/astropy/pytest-doctestplus/issues/55

[2019-03-19 12:55] #8477 closed

[2019-03-19 12:55] mhvk commented on #6554
OK, opened a new issue there: https://github.com/astropy/pytest-doctestplus/issues/55

[2019-03-19 12:56] mhvk commented on #6554
p.s. Problem of course is that while I file issues there, the chance that I am reminded of an issue there is near zero...

[2019-03-19 13:36] bsipocz commented on #6554
Sometimes I have a browse through the issues I have opened all around, the github menubar is a big help with that. But otherwise agree it's quite out of the way.

Looking at the numpy issues it's not clear to me what their preferred way, provide the standalone tool or work their/scipy's approach into a pytest plugin. Maybe it's time to advertise our standalone plugins more widely so others will mo

[2019-03-19 15:31] mhvk commented on #8507
Hmm, I cannot reproduce this on my Debian machine (with astropy 3.1.1 and something close to current master).

What numpy version are you using? (mine is 1.16.1, python 3.7.2; GCC 8.2.0)

[2019-03-19 15:50] pllim commented on #8153
There was a separate conversation on Slack (@Cadair and @astrofrog ) saying something about moving tests outside of distributed package. If that is going to happen, then `astropy.test()` would disappear and this would become a non-issue...

[2019-03-19 15:54] pllim commented on #8507
Can you please try profiling the memory and see?

https://pypi.org/project/memory-profiler/

[2019-03-19 16:01] kyleaoman commented on #8507
Bug occurs on numpy 1.15.1. It goes away if I upgrade to 1.16.2.

Back on numpy 1.15.1, I tried profiling two variations, changing the number of loop iterations by a factor of 100. Here are the two outputs:
[code]

[code]

[2019-03-19 16:05] pllim commented on #8507
Hmm if it no longer leaks in newer Numpy, then it is probably some Numpy bug upstream?

[2019-03-19 16:06] kyleaoman commented on #8507
Seems likely, yes.

[2019-03-19 16:13] mhvk commented on #8507
OK, found it: https://github.com/numpy/numpy/issues/12037 and fix in https://github.com/numpy/numpy/pull/12127. Tricky because it turned up in derived classes only (which of course includes `Quantity`).

So, I'll close this.

Thanks for reporting!!

[2019-03-19 16:13] #8507 closed

[2019-03-19 16:21] noahhdf opened #8509 "Can't import Representation class twice (from different packages/telescopes)"
I try to import two functions from two packages of two telescopes ([CTA](https://github.com/cta-observatory/ctapipe) / [FACT](https://github.com/fact-project/pyfact)).
Both define a `PlanarRepresentation` class internally.

Error:
[code]

MWE without the packages, but same Error, basically just redefining the Representation class:
[code]

[2019-03-19 16:47] bsipocz commented on #8153
yes, I know @drdavella and @Cadair would like that happen, but the rest of us keep saying that `astropy.test()` is way to valuable to see user issues that it would be a waste to get rid of it.

[2019-03-19 17:55] Himanshu-Garg commented on #1012
is this still open?

[2019-03-19 19:13] fardal commented on #8505
This is the best version of this general issue yet.  "All parallaxes are zero!"

This is an uninformed suggestion, but I wonder if `separation` should really be a method on a Representation, rather than (or in addition to) a Frame.  And if there should be an option to calculate it that way when using higher-level objects like Frame or SkyCoord.

[2019-03-19 20:52] StuartLittlefair commented on #8505
Thanks @kadrlica

Your diagnosis is spot on in terms of what is happening, that it is correct behaviour, and that it confounds expectation. When using `transform_to` on a ```SkyCoord``` you are getting a pointer to the *same position in spacetime* but in a different reference frame. ```SkyCoord.separation``` is doing the correct thing and returning a separation of zero because all three objects do

[2019-03-19 21:24] saimn commented on #1840
Probably still an issue since `elsize` is still an `int` (https://github.com/numpy/numpy/blob/dea85807c258ded3f75528cce2a444468de93bc1/numpy/core/include/numpy/ndarraytypes.h#L623). There is some related discussion in https://github.com/numpy/numpy/issues/11869#issuecomment-418189640 (if I understand well) but not sure what is the status.

[2019-03-19 21:24] kadrlica commented on #8505
Thanks, glad to hear that this is on the radar. Improving the documentation may be a challenging solution. This operation seems intuitive, and I don't think that users are generally going to look for documentation before they try something like the example above. One idea could be to print a warning if `a` and `b` are the same, or if they are in different reference frames. However, I don't know th

[2019-03-20 11:55] Himanshu-Garg commented on #8471
I am interested in changing the error message here,
What about rename_duplicate()

[2019-03-20 12:31] taldcroft commented on #8471
@Himanshu-Garg - if you are interested then you should stick with a small fix to improve the exception message for this particular case.  That should be straightforward.

The larger issue of column renaming is a bit tricky because of possible interactions with format guessing and existing args `names`, `include_names`, `exclude_names`.  But agreed one should be able to read in a table that has non

[2019-03-20 16:11] fardal commented on #8505
@StuartLittlefair your code snippet might be a useful temporary workaround, but I hope it's not intended as the permanent standard method to compute the desired quantity here.  I would much prefer to use `repr_t0.separation(repr_t1)`.  Or, something like`obj_t0.separation(obj_t1, representation=True)`.

[2019-03-20 17:48] Himanshu-Garg commented on #8212
Can i work on this?

[2019-03-20 18:08] Himanshu-Garg commented on #7458
Anyone doing this?
Or should i start with it, as there is no PR mentioning this issue and last comment is 3 months old.

[2019-03-20 19:21] Onoddil opened #8513 "astropy.nddata.utils.add_array fails when small_array has shape with length equal to large_array"
Before passing to ``astropy.nddata.utils.overlap_slices``, ``astropy.nddata.utils.add_array`` checks for the larger array being larger than the smaller array by ``if all(large_shape > small_shape for (large_shape, small_shape) in zip(array_large.shape, array_small.shape)):``. However, I think this should likely be ``large_shape >= small_shape`` to allow for equal size array adding.

``overlap_slic

[2019-03-20 19:23] mhvk commented on #8505
It may be good to separate needs & wishes a bit. In the above I see three (all useful!):
1. `SkyCoord.separation` probably needs better documentation, to point the reader the fact that `SkyCoord` are treated as given points in space time, and *in that context* separation is meaningful only at a given time.
2. Something like a tutorial perhaps on how to deal with multiple measurements at different

[2019-03-21 10:19] Sup3rGeo opened #8515 "Using io.ascii in other projects"
Hi,

I would like to use astropy's `io.ascii` module in a testing tool to read tables with the bdd format:

![](https://i.stack.imgur.com/ap99V.png)

However I would not like to make the whole astropy as a dependency for this tool.

I am not very familiar with licenses, can I just copy the `ascii` module into my project? In that case what should I do concerning licenses?

Also, it seems that this

[2019-03-21 10:38] taldcroft commented on #8515
@Sup3rGeo - `io.ascii` is deeply integrated with the rest of the `astropy` core package.  You are free by license to just copy the code into your module (keeping the license intact), but it won't work without the rest of `astropy`.  In particular the output of `io.ascii` is an astropy `Table`.  The ability to take full advantage of the core `astropy` was the original driver for integration.

With

[2019-03-21 13:08] astrofrog commented on #8515
Just to echo what @taldcroft said, installing astropy is very fast and we've deliberately made it so that it has very few required dependencies (basically only Numpy), so I would highly recommend just adding astropy as a dependency. If you have concerns about doing that, I'd be very interested to hear them to see if there is anything we can do alleviate them.

[2019-03-21 14:00] pllim opened #8516 "MNT: Get rid of FutureWarning from Numpy"
As mentioned in https://github.com/astropy/astropy/pull/8503#issuecomment-473950913

[2019-03-21 14:40] pllim commented on #8398
@mhvk , I did the swap locally, installed my patch, but it made no difference.

[2019-03-21 15:02] astrofrog commented on #6616
Yeah we now use the same container as for wheels, so it's been a lot better!

[2019-03-21 16:13] astrofrog commented on #496
We now have the astropy.uncertainties package which deals properly with correlated errors (https://github.com/astropy/astropy/pull/6945)

[2019-03-21 16:13] #496 closed

[2019-03-21 16:22] astrofrog commented on #812
Yes but more importantly it's now implemented in the APE 14 WCS API!

http://docs.astropy.org/en/stable/wcs/wcsapi.html

[2019-03-21 16:22] #812 closed

[2019-03-21 16:23] astrofrog commented on #953
I'm going to close this - as @taldcroft mentioned this is now possible with the mix-in columns!

[2019-03-21 16:23] #953 closed

[2019-03-21 16:27] astrofrog commented on #1119
I'm going to close this - it still doesn't work out of the box, but ``fits.getheader`` is the proper way to get a header from a FITS file.

[2019-03-21 16:27] #1119 closed

[2019-03-21 16:30] astrofrog commented on #1295
We no longer have AstropyBuildPy in astropy-helpers so this should hopefully work as expected now.

[2019-03-21 16:30] #1295 closed

[2019-03-21 16:31] astrofrog commented on #1330
Let's close this - we have way too many issues of 'let's keep open just in case' these days, and I agree with @eteq that we've settled on an accepted way to use the fitters.

[2019-03-21 16:31] #1330 closed

[2019-03-21 16:32] parejkoj commented on #7653
Please give me until the end of March. If you haven't heard back from me by then, close it.

[2019-03-21 16:36] saimn commented on #883
Should we close this one @astrofrog ? The difference between `__str__` and `__repr__` doesn't seem to be an issue for users.

[2019-03-21 16:37] bsipocz commented on #7653
Hopefully the bot will be resurrected soon, so it will close it in about a month unless we remove the label.

[2019-03-21 16:45] astrofrog commented on #1921
I'm going to close this, as it's not important, and doesn't actually need to be done, ever...

[2019-03-21 16:45] #1921 closed

[2019-03-21 16:53] astrofrog commented on #2903
I'm going to close this as we already provide guidelines for emacs and I don't think we want to get in the business of keeping up with all the latest and greatest editors... We now have some basic PEP8 checks in CI.

[2019-03-21 16:53] #2903 closed

[2019-03-21 16:59] astrofrog commented on #3301
I'm going to mark this as 'Close?' - I don't think we'll realistically ever get to this given how low this is on the priority list....

[2019-03-21 17:32] pllim commented on #8516
FWIW, here are all the ones that got smoked out by #8506 (https://travis-ci.org/astropy/astropy/jobs/507881204)

[code]

[2019-03-21 17:47] taldcroft commented on #3301
:+1: to close.

[2019-03-21 17:52] mhvk commented on #8398
Hmm, puzzling. I guess I misunderstood how ordering works for equal number of units.

[2019-03-21 17:57] mhvk commented on #2903
Agreed with closing this question about editor settings. But should there be a type of "autopep" cleaning done (the whitespace related ones should be quite amenable to automation).

[2019-03-21 19:25] saimn commented on #5559
It looks like this case was excluded on purpose in #5053, in particular https://github.com/astropy/astropy/pull/5053#discussion_r66660346: do you remember why @mwcraig ?
From what I can understand it seems that the goal is to be able to know that the original data was unsigned, once it has been scaled.

If I modify the code to handle the case above, allowing the removal of BSCALE/BZERO when the ne

[2019-03-21 19:38] astrofrog commented on #883
Yeah, let's close :)

[2019-03-21 19:38] #883 closed

[2019-03-21 23:37] saimn opened #8520 "Missing values with WCS.pixel_to_world"
It looks like a bug in `WCS.pixel_to_world`, though it works with `WCS.pixel_to_world_values`:
[code]

[2019-03-22 02:33] REMeyer opened #8521 "WCS tick labels not appearing"
I am trying to plot a fits image with equitorial coordinates. The header contains enough information to produce a WCS solution and correctly displays the correct coordinates when moving the cursor over the interactively plotted image. The tick labels however do not appear. I have tried setting many different options to make the labels appear to no avail. Attached is a sample image for testing purp

[2019-03-22 13:19] pllim commented on #8521
Hello. Could you please provide snippet to reproduce your problem and the versions used? Also please check the other issues to make sure it is not already reported, as this sounds familiar.

[2019-03-22 13:23] pllim commented on #8520
cc @nden and @astrofrog

[2019-03-22 14:08] b1quint commented on #7458
Yeah, I was trying to help on that but I could not understand what the code was doing. I should have reported on that. If you believe you can do it, go for it!

[2019-03-22 14:45] saimn opened #8522 "Reverse Table sort"
It would often be practical to be able to reverse the sort of Table. It is doable with `.argsort` but having a shortcut parameter would be handy. Something like `Table.sort(..., reverse=True)`? In pandas the option is `ascending`, which is True by default.

cc @taldcroft

[2019-03-22 16:01] Himanshu-Garg commented on #7458
Sure, will try

[2019-03-22 16:41] hectorcanovas opened #8523 "Python 3.7 / SkyView: error: db type is dbm.gnu, but the module is not available"
In Python 3.7 (OSX):
img = SkyView.get_images("XX YY", survey=survey, radius=1*u.degree, cache=False)

Gives me the following error, no matter if cache = False or cache = True.
** Any help/advice with this would be greatly appreciated!:

---------------------------------------------------------------------------
error                                     Traceback (most recent call last)
<ipython-i

[2019-03-22 16:43] pllim commented on #8523
Looks like you meant to open this at `astroquery`, not `astropy`.

[2019-03-22 16:43] #8523 closed

[2019-03-22 17:05] astrofrog commented on #8521
The issue is that the WCS is rotated by almost exactly 90 degrees, so that RA varies on the y axis and Dec on the x axis. Try using the methods described here to show RA/Dec on all axes:

http://docs.astropy.org/en/stable/visualization/wcsaxes/ticks_labels_grid.html#tick-tick-label-and-axis-label-position

for instance:

[code]

[2019-03-22 17:06] astrofrog commented on #8521
This is a reasonably common issue that comes up from time to time, so I think we should add a section to mention this solution.

[2019-03-22 17:36] REMeyer commented on #8521
This solved the issue. The axis labels now appear.

[2019-03-22 17:41] astrofrog commented on #8521
@REMeyer - great! Ok, so we should keep this issue open as a documentation task. I can try and write this shortly.

[2019-03-22 18:21] #6456 closed

[2019-03-22 18:37] yashkmr99 commented on #6107
I'd like to work on this if its not taken.

[2019-03-22 18:41] yashkmr99 commented on #6107
Hi, I'd like to work on this if its not taken. I might need help though.

[2019-03-22 19:32] taldcroft commented on #6107
@yashkmr99 - I actually agree with @mhvk that this was probably mislabeled.  I suspect the final code change won't be that big, but I wrote most of the code and I'm not immediately sure what has to be done.  Can I suggest you head on over to #8522?  That will be relatively straightforward!

[2019-03-22 19:35] taldcroft commented on #8522
Plan:
- [ ] Add  a `reverse` keyword arg to `argsort` and `sort`.
- [ ] Write tests for both, using existing tests of these methods as starting points.
- [ ] Verify in particular that the behavior for a [table that has been indexed](https://astropy.readthedocs.io/en/latest/table/indexing.html) is correct.

[2019-03-22 20:53] pllim commented on #3985
*STScI folks* have not spoken for 4 years now, so I am just closing this one...

[2019-03-22 20:53] #3985 closed

[2019-03-22 20:56] pllim opened #8524 "Feature Request: Allow discovery of available config items"
For my own package that uses the Astropy configuration machinery, I find myself needing to programmatically (re)discover all the config items in my `package.conf` without having to hardcode them one by one. Currently it is only possible as such, with is rather ugly:

[code]

What would be nice (API negotiable):

[code]

[2019-03-22 21:21] saimn commented on #8522
sort is already broken for tables with indices (#6545), but it can probably be tested with other engines.

[2019-03-23 11:20] yashkmr99 commented on #8522
Hi, I'd like to try my hands on this but I'm not sure if I'd be able to write tests without some help. Also, the plan should consist of adding this to documentation too, right?

[2019-03-23 12:27] pllim commented on #7966
I am closing this now due to lack of response. Feel free to re-open if you wish to revisit.

[2019-03-23 12:27] #7966 closed

[2019-03-23 20:44] kakirastern commented on #4241
Hi, I am doing a bit of triaging... Is this still an issue regarding `fitsrec`? I have been looking at some documentation at [http://docs.astropy.org/en/stable/_modules/astropy/io/fits/fitsrec.html](http://docs.astropy.org/en/stable/_modules/astropy/io/fits/fitsrec.html), and think that that part of the documentation is quite well done regarding the associated methods.

Should this issue be closed

[2019-03-24 07:57] topologyYDM opened #8525 "Issue with SkyCoord.match_to_catalog_sky"
I use the `SkyCoord.match_to_catalog_sky` method to match two lists of coordinates.
But it seems that the results of `cat1.match_to_catalog_sky(cat2)` and `cat2.match_to_catalog_sky(cat1)` have non-negligible(?) differences. To be detailed, the size of cat1 in my case is 4265802, and cat2 is 67507. By using the first command, 36593 sources are matched. By using the latter one, 35120 are matched. I

[2019-03-24 10:48] electricSamarth commented on #8522
v,opsd c dm./

[2019-03-24 18:23] rainwoodman commented on #4241
Sorry I haven't used the fits module of astropy for quit a while, and have forgotten the context.

There has been some development in numpy since 2015 regarding defining array-like objects. I have the impression that there is now a consensus subclassing is less favoured than the operator mixin because it is hard (and unnecessary) to preserve the correct semantics of proper subclassing.

But the mi

[2019-03-25 12:37] astrofrog commented on #7929
@nden - will you have any time to try and work on upgrading WCSLIB to 6.1 in time for the feature freeze? I'm working on adding time series functionality to the core package for the 3.2 release, and it would be really helpful to have the new WCS support for time axes.

[2019-03-25 13:36] StuartLittlefair commented on #8476
@fardal is along the correct lines.

The plane of the ecliptic, and the equinox (where the equator and ecliptic meet) both move with time to due to precession and nutation of the Earth, and motion of the ecliptic plane. The ```HeliocentricTrueEcliptic``` has an ```equinox``` parameter, which is used to calculate the position of the ecliptic and the equinox. It defaults to J2000.0 if not specified.

[2019-03-25 14:41] mhvk commented on #7898
Looking at this after being alerted via #7899: this is much more simply a rounding issue (get the same answer also when giving `scale='tai'`), resulting from the fact that times are stored internally as integer and fractional day (relative to nearest noon), so effectively what happens is:
[code]

I'll close as this is not fixable. (Might be good to document, but if so best to just open a new issue

[2019-03-25 14:41] #7898 closed

[2019-03-25 14:44] mhvk commented on #6970
Looking at older issues, I think the summary here is whether it is worth trying to improve round-tripping for ERFA/SOFA, and push that upstream.

[2019-03-25 14:46] mhvk commented on #7899
Looking back through the text here, the bug was for a specific 32-bit version, but more generally represented UTC and TAI not perfectly round-tripping.  I'll close this in favour of #6970, which deals with that as well (and a bit more generally).

[2019-03-25 14:46] #7899 closed

[2019-03-25 16:23] bsipocz commented on #3625
maybe we can keep these in cards in an astropy project board, something like "future wishes"? Surely that would only be good for keeping track, but not suitable for discussions, etc.

[2019-03-26 15:35] smitj23 commented on #8522
I want to try this out. Anyone else attempting this?

[2019-03-26 15:42] smitj23 commented on #8522
Is this till open? Anyone else working on it?

[2019-03-26 16:00] yashkmr99 commented on #8522
Hi @smitj23
I was working on it and I have only got the 'writing tests' part remaining. I suggest you to kindly look for some other issue. Thanks.

[2019-03-27 06:32] adrn opened #8527 "numpy.int64 doesn't decompose input"
I didn't see this in the known issues, but @abonaca and I noticed that with numpy 1.15.4 + astropy 3.1.2:

[code]

Any thoughts @mhvk?

[2019-03-27 06:43] MSeifert04 commented on #8527
Was `np.int` intentional? Because `np.int` is just Pythons normal `int` type.

[2019-03-27 12:47] mhvk commented on #8527
@MSeifert04 is right: the difference is that `np.int` just equals python's `int`, which goes through `__index__`, while `np.int64`, `np.int_`, etc., do not go through `__index__` - this also means there sadly is little we can do (except suggest people use `int(...)` if they need an integer).

[2019-03-27 12:47] mhvk commented on #8527
This requires an upstream fix, though that is tricky enough that we better just document it for now...

[2019-03-27 18:45] taldcroft opened #8529 "Unnecessary copy in sort, idea about column slicing"
Performance note, code here uses `self[keys]`, which makes a copy of the data in keys.

https://github.com/astropy/astropy/pull/8528/files#diff-ac0b34aa951558de733e86f5156c4102L2416

It is more cumbersome, but can be written:
[code]

In general `self[keys]` should probably have started life off as a no-copy column "slice".  It could be worth adding a keyword to `Table.as_array` to allow selecting

[2019-03-27 18:52] himanshupathak21061998 commented on #8529
I want to work on this issue

[2019-03-27 19:41] bsipocz commented on #3093
@eteq @adrn - isn't this one being addressed over the years by e.g. http://docs.astropy.org/en/stable/coordinates/matchsep.html#offsets ?

[2019-03-27 22:14] saimn commented on #1901
In m previous message I only checked the last case reported by embray, but I just tested the examples from the original issue and it also seems to be fixed. So closing!

[2019-03-27 22:14] #1901 closed

[2019-03-27 22:21] saimn commented on #4166
I cannot reproduce the failure with the above examples, hopefully something changed and the bug is fixed :)
@sbailey - could you check on your side if you manage to reproduce, and reopen if this is the case ?

[2019-03-27 22:21] #4166 closed

[2019-03-28 01:34] bramblescramble commented on #8525
I believe the two commands are different indeed... `cat1.match_to_catalog_sky(cat2)` uses cat2 (smaller set) as the search space and finds a match for each point in cat1 (larger set); likewise, `cat2.match_to_catalog_sky(cat1)` uses cat1 as the search space and finds a match for each point in cat2. If you make your distance constraint arbitrarily large, you can verify that the first command approa

[2019-03-28 04:21] adrn commented on #8527
Whoops, yes, I meant `np.int_` but it was late :) - makes more sense now, but yes, we should at least document this. Thanks @MSeifert04 and @mhvk!

[2019-03-28 09:30] pranavastro commented on #8529
Can I work on this ?

[2019-03-28 14:04] astrofrog commented on #8529
@himanshupathak21061998 - please feel free to give it a go!

@pranavastro - maybe let's wait to see if @himanshupathak21061998 can work on it first.

[2019-03-28 16:34] parejkoj commented on #7653
I have not gotten anyone else from LSST to help me explore this, and I don't know exactly what our use case is. #8163 fixed the specific issue I described above, so you might as well close this and we'll open a new issue once LSST has a better description of their needs.

[2019-03-28 16:35] #7653 closed

[2019-03-28 20:27] himanshupathak21061998 commented on #8529
I think

It should lead to this `data = self[keys].as_array()`
I am working on as_array() and adding keyword

[2019-03-29 01:00] taldcroft opened #8533 "Data corruption using FITS variable record-length column"
I'm not sure if this is the minimal example, but basically there are two ways that one might add a column to a table from existing FITS file.  The example below demonstrates that if the original column is a variable record-length column, then it can get corrupted when another column gets added.

**[EDIT: I originally posted this thinking that the `right.fits` output was correct, but in fact that m

[2019-03-29 01:21] kakirastern commented on #5368
Is it okay for me to work on this issue if possible?

[2019-03-29 01:26] kakirastern commented on #1865
Hi, I am doing a bit of triaging and noticed this issue from more than 5 years ago... Is this still an active Issue to be dealt with?

[2019-03-29 01:46] bsipocz commented on #1865
@kakirastern - yes, copy pasting the example shows it's still an issue.

[2019-03-29 01:53] kakirastern commented on #1865
@bsipocz Yeah, I can reproduce the error too. As follows:
[code]

[2019-03-29 01:58] kakirastern commented on #1865
So the default is indeed still `''`. Should this issue remain opened though? Seems like there is no urgency to change the code to accommodate non-string type 'name' attribute like `None`. Or should a PR be opened to fix this?

[2019-03-29 04:48] #8490 closed

[2019-03-29 05:19] #8342 closed

[2019-03-29 12:34] #3301 closed

[2019-03-29 13:09] Sup3rGeo commented on #8515
Hi guys, thanks for the answer! In the end I decided to read the table using `pandas` (which as already a dependency) to a DataFrame and using `tabulate` to write back to text.

I will close this ticket.

[2019-03-29 13:09] #8515 closed

[2019-03-29 13:47] pllim commented on #5368
Caching is not for the faint-hearted, but yes, you can give it a try.

[2019-03-29 14:03] pllim commented on #8533
`add_col` calls
 https://github.com/astropy/astropy/blob/1b8981d55906798e3d2b7736dc424e655f05e8f9/astropy/io/fits/column.py#L1712

but it is not obvious to me how FITS is "listening" to this particular event.

Also I see a some comments like "hack for this" or "hack for that" in

https://github.com/astropy/astropy/blob/13e3af0ca28ec88deba15bd3e22cc6484b352986/astropy/io/fits/fitsrec.py#L270

which

[2019-03-29 14:13] kakirastern commented on #5368
@pllim Sounds like troubles ahead for me, but anyway, I dare to give it a go...

[2019-03-29 16:45] saimn commented on #8533
The issue with `add_col` is known: #3647
About VLA, last time I looked (#7810) it went nowhere, so good luck ;)

[2019-03-29 17:03] taldcroft commented on #8533
@saimn - thanks for the update.  FYI this issue was on behalf of a collaborator.  Workaround is to use `fitsio`, which is able to handle this case.  Hrrmph.

Is this an exact repeat of #3647?  If so feel free to mark as duplicate and close.

[2019-03-29 17:10] saimn commented on #8533
There are two issues here:
-  one with `add_col` which explains why your `right.fits` file does not contain the additional column, this is #3647
- the other one is specific to the use of VLA, and corresponds to the data corruption in `wrong.fits`. I think that this is a new issue, slightly different from #7810 which was using a multi-dimensional column, but maybe the root of the issue is the same.

[2019-03-31 15:32] disha012 commented on #8527
I would like to take up this issue, but, I can't figure out where exactly in docs should this be mentioned. Someone please help.

[2019-03-31 15:37] pllim commented on #8527
@disha012 , known issues are documented at https://github.com/astropy/astropy/blob/master/docs/known_issues.rst . You need to know RST formatting to tackle this issue.

[2019-03-31 20:06] rasputin1917 opened #8536 "raise ValueError('One of the inputs to search_around_sky is a scalar. )"
Hi, I am using `search_around_sky` almost like that:

`_center = SkyCoord(3*u.deg, 4*u.deg, frame=FK5)`
`full_cat=SkyCoord(full_cat["RA(core)"], full_cat["DEC(core)"],  unit="deg")`

`print(_center.isscalar)      ##--> it is returning True`
`print(full_cat.isscalar)      ##-->it is returning False`

[2019-04-01 02:43] dyq0811 commented on #5283
Hi, just an idea related to the missing data/np.nan. It might be useful to have a function that can filter out missing data/np.nan with respect to multiple columns/rows, or a function that can output a subtable without missing data/np.nan in specified columns/rows.

When I tried to plot data from a gigantic Astropy table, I have to do a plenty of procedures to clean the np.nan/missing data entries

[2019-04-01 09:28] taldcroft commented on #5283
@dyq0811 - good idea, and it is just recently (mostly) done in #8468!

[2019-04-01 09:41] taldcroft commented on #6713
This is duplicate of #5283.

[2019-04-01 09:41] #6713 closed

[2019-04-01 09:45] taldcroft opened #8538 "Remove restriction of not copying for init Table from dict"
Currently there is a restriction against initializing a Table from dict with copy=False.

https://github.com/astropy/astropy/blob/5c799ebc1e23131f08d36499c276e07cfc7d483e/astropy/table/table.py#L749

This is a relic of when Table was represented by a numpy structured array underneath and can be removed now.

[2019-04-01 14:19] broulston commented on #8538
Hi, I'd like to take do this as my first contribution. Am I understanding correctly that since now you can use copy=False, that the check just needs to be removed?

[2019-04-01 20:39] timj opened #8544 "Thoughts on FITS Undefined card"
Astropy understands FITS header cards with undefined values.  It assigns a card with a special value of `astropy.io.fits.card.Undefined`.   This is perfectly fine until you try to use the dict interface to an `astropy.io.fits.header` and don't know where the dict comes from.  The astro_metadata_translator interface is designed to work for any "header" that looks like a dict. This can mean Astropy

[2019-04-02 08:11] dyq0811 commented on #5283
Hello, I would like to work on this issue and am trying to start from detecting where the values are missing. Any suggestion is most welcomed. One thing I am unsure is that should I assume we have a complete list of keys of the dictionary?

[code]

[code]

[2019-04-02 09:03] mzechmeister commented on #8476
Thanks. It seems to be the explanation.

[2019-04-02 09:03] #8476 closed

[2019-04-02 10:53] dstansby opened #8545 "Panning/zooming a wcs plot broken with (unreleased) Matplotlib 3.1.0"
### Description
Zooming or panning a plot with a wcs projection is broken with the current master branch of Maptlotlib, that should shortly be released as version `3.1.0`. I am aware that this is not the best bug report, but I thought I'd leave it anyway as a placeholder for fixing at some point.

**This might  be an upstream Maptlotlib issue.**

### Steps to Reproduce

1. Install Matplotlib maste

[2019-04-02 11:30] MSeifert04 commented on #8545
There is no astropy in the traceback. Is this an astropy issue?

[2019-04-02 11:52] astrofrog commented on #8545
I guess the question is whether this works correctly without ``projection=wcs``?

[2019-04-02 13:13] taldcroft commented on #5283
@dyq0811 - you can assume that `names_from_data` is complete and then work within the existing implementation (`_init_from_list_of_dict`) more closely.  Most of what you need is already being done, so it's almost just one different line for the detection:
[code]

[2019-04-02 14:32] dstansby commented on #8545
Creating a figure without `projection=wcs` works fine.

[2019-04-02 15:09] pllim commented on #8545
But we test against matplotlib dev, how did we not catch this earlier? :scream:

https://travis-ci.org/astropy/astropy/builds/514641901

[2019-04-02 15:41] dstansby commented on #8545
I don't think Matplotlib `3.1` has any pip installable release candidates yet so that might be why (unless the tests install the bleeding edge `master` branch)?

[2019-04-02 15:49] pllim commented on #8545
Theoretically, we should be testing against the `master` branch:

https://github.com/astropy/ci-helpers/blob/3761efd421c6de850dfb56b714bc93b0ac2df8e4/travis/setup_dependencies_common.sh#L611-L613

[2019-04-02 15:59] dstansby commented on #8545
Maybe it's because the bug depends on user interaction (ie. panning/zooming) with a plot?

[2019-04-02 16:04] pllim commented on #8545
Might very well be. In that case, not sure how to add that to the CI. Also, what Matplotlib backend are you using?

[2019-04-02 16:28] dstansby commented on #8545
I'm using the `QT5Agg` backend.

[2019-04-02 17:56] dyq0811 commented on #5283
@taldcroft Should I fill the missing entries directly to `cols` according to the dtype or make use of `self.MaskedColumn` and `self.masked`?
[code]

[2019-04-02 19:19] himanshupathak21061998 commented on #7629
@taldcroft Can you please explain some strategies how can I Improve add_row()

[2019-04-02 20:24] taldcroft commented on #7629
@himanshupathak21061998 - leaving this open right now for the Astropy Table performance GSoC project, if a student gets selected for that.  This is not an easy issue.

[2019-04-02 20:26] himanshupathak21061998 commented on #7629
@taldcroft I am preparing proposal for It that's why I am asking

[2019-04-02 20:33] himanshupathak21061998 commented on #7629
@taldcroft I am preparing proposal for it. So, little bit information can help we will use cython for it or do changes in table.py only

[2019-04-02 20:50] taldcroft commented on #5283
Here are some more hints and untested code that might or might not work.  :smile:

[code]

[2019-04-03 00:46] parejkoj commented on #8487
PR #8519 is an attempt at making the message better. I will try to clean it up to merge at the next coworking morning telecon.

[2019-04-03 03:01] bsipocz commented on #5457
#8258 was supposed to make those links go away, yet someone still run into the issue today:
[code]

If the latter is followed up, then this issue can be closed, too.

[2019-04-03 03:16] dyq0811 commented on #5283
@taldcroft Thank you! I modified the code as the following (add one indentation and several lines of code). Sorry I don't understand why we want to fill the missing entries with first values?
[code]

[2019-04-03 03:50] bsipocz commented on #5457
OK, so the complaint is not for `edit-on-github` but for the github links from RTD that is different. So I'm going ahead and close this issue, and open a new for the new problem.

[2019-04-03 03:50] #5457 closed

[2019-04-03 03:52] bsipocz opened #8547 "Github redirect on RTD is not always working, remove it"
In #8258 we've removed the direct link to github from the RTD pages. However there are still two links hidden in the menu and that is giving difficulties to users (as not all our docs page has their equivalent in the repo).

E.g. the example https://github.com/astropy/astropy/blob/master/examples/coordinates/rv-to-gsr.py is rendered as http://docs.astropy.org/en/stable/generated/examples/coordinat

[2019-04-03 03:53] bsipocz commented on #8547
<img width="354" alt="Screen Shot 2019-04-02 at 20 47 18" src="https://user-images.githubusercontent.com/6788290/55451777-4cddde00-5589-11e9-8f54-50a2ce7615ff.png">

[2019-04-03 04:03] bsipocz commented on #8547
cc @astrofrog as you're the most familiar with the theme. We've already removed the edit-on-github option, but SO/sphinx github doesn't provide a workaround for these remaining links.

[2019-04-03 09:11] taldcroft commented on #5283
@dyq0811 - I think it's time for a PR!  You should put in the new code and add tests.

About the `first_vals`, I would suggest trying to use your original plan of `b''` and see what happens.

[2019-04-03 09:15] taldcroft commented on #7629
@himanshupathak21061998 - thanks for the interest!  Unfortunately I don't actually know how to improve table `add_row()` right now... That is the goal of the project to do profiling, understand what is making it slow, and then devise solutions.

[2019-04-03 14:57] pllim commented on #8547
@bsipocz , maybe this is moot if #7242 goes forward?

[2019-04-03 15:40] mtlam opened #8550 "Typo in rv-to-gsr documentation"
Apologies from before, I went down the wrong github rabbit hole.

On line 95 of examples/coordinates/rv-to-gsr.py:

    gal = icrs.transform_to(coord.Galactic)

should be

    gal = c.transform_to(coord.Galactic)

[2019-04-03 18:05] bsipocz commented on #8547
but it will be still there for the generated API pages, there is no use for pointing the user e.g. from http://docs.astropy.org/en/stable/io/fits/api/hdulists.html#astropy.io.fits.HDUList.info to  https://github.com/astropy/astropy/blob/stable/docs/io/fits/api/hdulists.rst, and the "view source". The sphinx generated "source" link at least works unlike these github redirects.

[2019-04-03 20:33] jotaylor opened #8551 "Tabular models cannot be pickled"
Tabular models cannot be pickled, see example below.
[code]

[2019-04-04 14:02] astrofrog opened #8552 "Consider providing template config file in docs instead of writing to disk"
If no config file exists in the user's home directory, we currently create one. We also have logic to check if the config file is still the default one and update it if astropy is updated. However, having a config file, even set to defaults, can cause issues with concurrency, e.g. https://github.com/astropy/astropy/issues/7290

One solution would be to never write a default config file to the user

[2019-04-04 14:03] Cadair commented on #8552
+1 on this from me, we don't write SunPy's config out by default either.

[2019-04-04 14:04] duncanmmacleod commented on #8552
+1 from me, I've been struggling with the same failures as demonstrated in #7290 when using a shared (NFS) file system across multiple hosts, and multiple astropy versions.

[2019-04-04 15:15] pllim commented on #8551
cc @nden

[2019-04-04 15:22] pllim commented on #8552
There was an attempt by @Cadair to address the underlying problem at #8237 .

[2019-04-04 15:23] pllim commented on #8552
Previous attempts include #5907 by @funbaker and #5828 by @adrn .

[2019-04-04 15:24] pllim commented on #8552
p.s. Probably too late for 3.2 but would be a good one for 4.0 if we can get to it.

[2019-04-04 15:24] astrofrog commented on #8552
I still think we should consider the approach I'm mentioning here of not even writing the config file in the first place. That would be easy to do for 3.2.

[2019-04-04 15:27] pllim commented on #8552
But not writing it _now_ will not solve the problem of people running different versions of Astropy in a shared directory? One of the version is going to be incompatible with whatever config that was last written there and crash anyway. What problem are we trying to solve here?

[2019-04-04 15:35] astrofrog commented on #8552
It will solve the case of one user running many jobs with concurrent processes trying to create/read their config file.

[2019-04-04 15:47] Cadair commented on #8552
#8237 is rather orthogonal to this, it's more for affiliated package maintainers rather than users.

The approach we are taking in SunPy to this is to not write a file by default but to provide a helper which writes the default file to the correct location for the user to customize.

[2019-04-04 17:47] taldcroft commented on #8538
Closed by #8541

[2019-04-04 17:47] #8538 closed

[2019-04-04 18:46] algo-circle commented on #8550
Hello there!
I am working on this issue. It will be resolved soon and I will make a PR for it.

[2019-04-04 19:59] pllim commented on #8547
I played around with some options in `conf.py` but nothing worked. I asked about it over at rtfd/readthedocs.org#5570 . Feel free to correct me there if I misunderstood your request.

[2019-04-04 20:15] adrn commented on #8550
Thanks @mtlam and @algo-circle - this is indeed a typo.

[2019-04-04 20:16] #8550 closed

[2019-04-04 20:18] pllim opened #8555 "TST: Plugin 'xdist' could not be loaded"
This failure started to happen today for multiple PRs. Example: https://travis-ci.org/astropy/astropy/jobs/515865515

[code]

[2019-04-04 20:23] adrn commented on #8536
Hi @rasputin1917: The "scalar" here just means that your object `_center` contains a single coordinate, even though it is indeed a `SkyCoord` instance. As the error message says, in this case when you are searching for catalog neighbors to a single coordinate (i.e. a scalar coordinate), you can use `.separation()` instead of `search_around_sky()`, which is mainly useful for cross-matching or searc

[2019-04-04 20:23] #8536 closed

[2019-04-04 20:42] pllim opened #8556 "CCDData cannot read remote file on Windows"
I was trying to run https://github.com/spacetelescope/dat_pyinthesky/blob/master/jupyter_platform/html_view_into_leaflet.ipynb that @eteq wrote (on Chrome on Windows 10) but ran into this error:

[code]

Theoretically I can get around this problem by passing in `cache=True` to `get_readable_fileobj` because of

https://github.com/astropy/astropy/blob/7d3520c79df25efd553631413259d4d01344b7a4/astrop

[2019-04-04 21:17] saimn commented on #8555
I had the same issue today, it seems that the latest version of pytest-xdist requires pytest>=4.4.0.
I fixed the issue by removing pytest-xdist ;)

[2019-04-04 21:17] saimn commented on #8555
https://github.com/pytest-dev/pytest-xdist/blob/9fcf8fa636bc69ee6cac9348a6ec20c87f2bb5e4/setup.py#L3

[2019-04-04 21:51] adrn commented on #8509
Hi @noahhdf: First off, the reason this happens is because all representation classes (i.e. anything that subclasses `BaseRepresentation`) gets registered by name in a dictionary within astropy, and as you've encountered, if two subclasses have the same name, the registration process throws an error. I don't have much advice at this point, but maybe @eteq or @mhvk can chime in?

[2019-04-05 06:55] algo-circle commented on #8547
@pllim @bsipocz I tried to understand the issue here, but for now couldn't help in it. I am new to Astropy so could you specify if this is a difficult place to start my contributions or should i give this isssue a try?

Also, while I'm still hovering on the subject, how often are the RTD pages updates in accordance to the changes made in the docs. As in the example @bsipocz gave for [this](http://

[2019-04-05 16:12] pllim commented on #8509
Theoretically, you can let the latter silently (or with warning) overwrite the former. But I am not sure if that is more dangerous than it's worth.

[2019-04-05 16:14] pllim commented on #8547
@algo-circle , I am not sure if there is anything we can do without changing the code upstream in RTD itself. If you are new to the project, I recommend you try those labeled `Good First Issue` first.

[2019-04-05 16:38] mhvk commented on #8509
@noahhdf - yikes. Are the two classes identical? And do you actually need those representations? If not, then as a work-around, you can import one package, delete the entry in `astropy.coordinates.representation.REPRESENTATION_CLASSES`, and import the next package.

As a work-around in astropy proper: we could also decide that if names are duplicated, we *remove* the entry from the classes altoget

[2019-04-05 16:39] mhvk commented on #8509
p.s.  We'd remove while warning, obviously!

[2019-04-05 20:10] #8555 closed

[2019-04-06 08:53] noahhdf commented on #8509
thanks @mhvk, this did the trick for me

[code]

[2019-04-06 14:59] mhvk commented on #8509
This issue may pop up again. I think we should at least document it!  Also, @noahhdf, do you actually use planar? I.e., could we go for my astropy fix of "in the face of ambiguity, refuse the temptation to guess"? One worry would be that `fact` uses it internally and now will get an inconsistent class...

Actually, perhaps better longer term, if both use essentially the *same* class, is to move it

[2019-04-06 20:37] zkurtz opened #8558 "Bayesian blocks returns a single edge"
I stumbled on an edge case which is causing problems in my app. First, here's an example of expected behavior:

[code]
These assertions pass successfully. However, they fail for this edge case:
[code]
The "edge" in this case turns out to be the difference between 7 and 8 ones. Deleting just one 1 gives
[code]

EDIT: Snippet formatting

[2019-04-08 07:31] noahhdf commented on #8509
the two classes are **exactly** the same.
This is what the fact version says in its docstring:
[code]

[2019-04-08 13:50] mhvk commented on #8509
@noahhdf - thanks for looking that up! If you have time, could you do us a favour and for both packages raise an issue, pointing to this astropy one, and asking whether they can coordinate? Since it is used in two packages, I think it would also be reasonable to push it up to astropy itself, though I am still not completely sure what it is good for.

Anyway, at least for your case, it means there

[2019-04-08 14:05] pllim commented on #8558
Just for the record, what Python, Numpy, and Astropy versions are you using? Thanks for reporting this. If you have a patch, PR is welcome.

[2019-04-08 15:11] nmearl opened #8559 "1D wcs transformations not returning single array"
The [documentation for wcs transformations](http://docs.astropy.org/en/stable/api/astropy.wcs.WCS.html#astropy.wcs.WCS.all_world2pix) state that the `all_world2pix`, etc, operations return a single array if the input is a single array. However, currently, they return a list of length 1 with the single array of pixel coordinates (in the case of `all_world2pix`/`world_to_pixel`):

[code]

This is al

[2019-04-08 16:44] pllim commented on #8559
cc @nden and @astrofrog

[2019-04-08 21:10] saimn commented on #8544
Hmm I don't know, on one hand I understand how it can be annoying to have to do a specific case for this, but on the other hand it seems that this has been there forever (I had a look at the pyfits repository), and I'm not sure that using `None` is enough to carry the meaning of an undefined card. Also currently setting a value to None is converted to an empty string.
Thoughts @MSeifert04 @drdavel

[2019-04-08 21:14] timj commented on #8544
from a "looks like a dict" point of view I can't really see why `None` doesn't fit for undefined value. It seems really close to the same meaning in Python and FITS.  Setting a value in a dict to None and having that turn up as an undefined FITS header card seems exactly what you want doesn't it?

There are very few tests relating to `Undefined` so I do agree that it's not entirely clear how many

[2019-04-08 21:32] timj commented on #8544
fitsverify warning about an undefined value is a bit odd given that undefined values are part of the FITS standard. Why would it warn about something that is giving you the information? LSST and all my previous telescopes wrote in undefined values when the value was undefined (eg doing a dark so the airmass header is set to undefined). cfitsio and Starlink AST all understand how to parse these hea

[2019-04-08 21:49] saimn commented on #8544
Reading again the standard, the `if any` could indeed suggest that this is valid, so you might well be right here. I'm almost convinced :), though still wondering why this was coded like this.

![Capture d’écran de 2019-04-08 23-36-09](https://user-images.githubusercontent.com/311639/55758449-23c0c000-5a57-11e9-8fbf-a0372cf81fa3.png)

[2019-04-08 23:46] timj commented on #8544
I think you need to read the paragraph that follows the one you pasted:

[2019-04-09 02:24] zkurtz commented on #8558
Also replicated the issue with

[2019-04-09 08:35] noahhdf commented on #8509
[pyfact issue](https://github.com/fact-project/pyfact/issues/121)
[ctapipe issue](https://github.com/cta-observatory/ctapipe/issues/1043)

[2019-04-09 09:07] MaxNoe commented on #8509
We use these 2d Representation to implement detector coordinates that together with a pointing coordinate if the telescope represent a valid sky coordinate.

See https://github.com/fact-project/pyfact/tree/pyfact/coordinates/camera.py

Maybe we could use something like `__qualname__` in case a name collision occurs?

[2019-04-09 09:16] MaxNoe commented on #8509
[code]

[2019-04-09 10:14] MaxNoe commented on #8509
I opened a PR adressing this here #8561

[2019-04-09 11:08] hameerabbasi opened #8562 "Wrong SSL certificate on astropy.org"
`https://astropy.org` linked from quite a few places has a bad SSL cert because the certificate has not been uploaded to GitHub pages (I'm assuming).

![Screenshot 2019-04-09 at 13 07 31](https://user-images.githubusercontent.com/2190658/55795589-77b7bd00-5ac8-11e9-8a3d-f5180bc66f29.png)

![Screenshot 2019-04-09 at 13 07 08](https://user-images.githubusercontent.com/2190658/55795628-9027d780-5ac8-

[2019-04-09 14:00] MaxNoe commented on #8509
`representation='planar'`

I never so code giving representations as strings. We certainly not use it. I thought representations were internal attributes of coordinae frames, nothing a user of the coordinate system directly interfaces with.

What use cases do people have for specifying representations?

[2019-04-09 15:48] mhvk commented on #8509
@MaxNoe - you can specify the representation using a string when initializing a `SkyCoord(x=..., y=..., z=..., representation_type='cartesian')`, and if you do `coord.cartesian`, internally, 'cartesian' is looked up in the representation classes to find out what you want. Similarly, you can do `coord.planar` once your representation class is registered.

Overall, `SkyOffsetFrame` would still seem

[2019-04-09 15:56] mhvk commented on #8509
p.s. @noahhdf - thanks for raising the issues!

[2019-04-09 16:11] MaxNoe commented on #8509
Could you explain why or when this would be useful?

[2019-04-09 16:48] mhvk commented on #8509
Well, it certainly is not something we can change any more; it is even in the Getting Started section on coordinates; http://docs.astropy.org/en/latest/coordinates/index.html#representation

[2019-04-09 17:51] mhvk commented on #8544
It does seems logical to have "no value" be represented by `None`, so that one can be even shorter and do things like
[code]

[2019-04-09 18:41] timj commented on #8544
@mhvk that is exactly my use case.

[2019-04-09 19:26] mhvk commented on #8544
@timj - Yes, I didn't mean to do anything but show that in the even shorter form it really helped.

@saimn - to me, it would seem to make sense to proceed with this. Indeed, it might be good to have it in 3.2 so that if we run into big problems it is easier to revert before the next LTS (4.0). I.e., I'd vote for taking @timj up on his offer!

[2019-04-09 20:50] saimn commented on #8544
Yes, I agree that the change seems reasonable. Let's go for it.

[2019-04-09 20:51] timj commented on #8544
Ok. I'll work on a patch.

[2019-04-10 09:38] MaxNoe opened #8565 "Angle parsing: allow NESW"
To specify latitudes and longitudes, it would be really helpful if the angle parsing would
accept specifying N/S, E/W directions. (e.g. as used by wikipedia)

At the moment, this raises an error:

[code]

[2019-04-10 13:54] mhvk commented on #8565
:+1: - it needs adapting of the `_AngleParser` class in `angle_utilities.py` - which is not terribly easy but doable and quite stand-alone. I think it would also make sense to ensure that in `Latitude` and `Longitude` only the relevant characters are recognized - which may be a bit trickier. Possibly best might be for the angle parser to return Latitude and Longitude if those letters are present.

[2019-04-10 13:57] mhvk commented on #8565
I labeled this as a good first issue and package novice, since one doesn't have to know much about astropy itself. But those and "effort low" are true only if one is not a novice to python and understands how parser/lexer systems work.

[2019-04-10 17:49] MaxNoe commented on #8565
I started looking into this

[2019-04-10 19:14] himanshupathak21061998 commented on #8452
@taldcroft To solve this I need to replace `self[keys]` in `argsort()` and `sort()`

[2019-04-10 20:46] jdavies-st commented on #7404
Coming to this very late.

I don't understand why `fits.open()` can't properly respect the `with` context manager with `memmap=True`.  If I've written some code using that context manager, I've explicitly done so to make sure that the file is closed at `__exit__`.  If I try to use any arrays that are `memmap`ed outside the context manager, I should expect some sort of error.  The fact that this do

[2019-04-10 21:23] taldcroft commented on #8452
@himanshupathak21061998 - I haven't looked into `argsort()` and `sort()` in detail nor done profiling. Getting rid of some `self[keys]` is low-hanging fruit that might help, particularly with a large meta dict.  But of course profiling is key to make sure that the added code complexity is worth it.

[2019-04-11 08:55] himanshupathak21061998 commented on #8452
@taldcroft Ok so after replacing I will do some profiling can I do this before GSOC announcement. Sorry for late reply

[2019-04-11 11:00] taldcroft opened #8567 "Remove deprecated io.ascii Reader/Writer and unified I/O interfaces"
The `Reader` / `Writer` keywords for `io.ascii.read/write` have been deprecated for quite a while.

Likewise Unified I/O formats like `aastex` (instead of `ascii.aastex`) have been deprecated for quite a while.

The 4.0 release would be a good time to clean this up!

[2019-04-11 13:49] pllim commented on #7404
@jdavies-st , great idea. If you want to put in a PR for it, it is too late for 3.2 but maybe 4.0 if it happens in the next 2-3 months. This is essentially an API change, so I propose we not backport the behavior.

[2019-04-11 14:52] perrygreenfield opened #8568 "Clarifying how broadcasting should work for modeling"
Currently the handling of broadcasting appears to be inconsistent. To take a single example:

[code]

Naively one might expect the result to be an array of shape (10, 10) since x and y broadcast to effectively an outer product. Instead one gets an exception.

If instead one applies the Gaussian2D bounding box, i.e.,

[code]

one gets a different exception.

If one looks at the code, the current lo

[2019-04-11 15:19] perrygreenfield commented on #8568
@pllim If you mean how would broadcasting inputs with each other work with parameters, I think in a similar way except that the resultant input broadcast shape (i.e., implying all inputs have a common broadcast shape) would then be broadcast with the parameter as they are now. But I would like to hear of existing usages that would be broken by doing this, if there are any.

[2019-04-11 15:37] pllim commented on #8568
In `synphot`, it only uses 1D models, so I don't think it would be affected by this particular change.

[2019-04-11 16:01] saimn commented on #7404
I don't think that this is a bug. The context manager is closing the file, the one that is passed to him. And the fact that another handle stays open is inherent to the use of memmap, and should be transparent for the users, which should then be able to use the numpy array like any array, without knowing that there is a memmap behind.

And forcing a copy is not an option for me, this means losing

[2019-04-11 16:21] saimn opened #8569 "SSL certificate on docs.astropy.org"
Following #8562, I noticed that there is no ssl certificate for docs.astropy.org (this is the only http url in my intersphinx settings) :  https://docs.astropy.org/en/stable/
And actually readthedocs supports this, I just did the change for another custom domain:  https://docs.readthedocs.io/en/stable/custom_domains.html#custom-domain-ssl

What is needed is to change the CNAME DNS record to `readt

[2019-04-11 16:34] bsipocz commented on #8569
I'm not exactly sure where to changed that record, the following is what I see on the admin page:

<img width="575" alt="Screen Shot 2019-04-11 at 09 32 26" src="https://user-images.githubusercontent.com/6788290/55974587-d605ac80-5c3c-11e9-8e9b-ae6acd3e3155.png">

Note the "Always use HTTPS for this domain" at the bottom, that was unclicked. Let's see whether it has any effect on the issue.

[2019-04-11 16:34] jdavies-st commented on #7404
I think the fact that `memmap=True` is the default means that it is not transparent to users.  And most users don't understand how `memmap` works under the hood.  With context managers, if I open a file with the context manager, and then close it, the assumption is that the file object with its attributes is closed.

The simple solution to being able to continue using a memory-mapped array in an H

[2019-04-11 16:37] saimn commented on #8569
I would not check this currently, first someone needs to modify the DNS records, otherwise readthedocs will not build the certificate.

[code]
The CNAME must be changed to `readthedocs.io.`, by someone who has access to the domain registar.

[2019-04-11 16:44] bsipocz commented on #8569
Oh, ok, fair enough, this case I got the wrong end of the stick (and I don't think I have access to the DNS records).

[2019-04-11 17:33] pllim commented on #8569
I bet it is @astrofrog or @perrygreenfield .

[2019-04-11 17:42] perrygreenfield commented on #8569
I don't think I do.

[2019-04-11 18:12] bsipocz commented on #8529
Has been added in #8532

[2019-04-11 18:12] #8529 closed

[2019-04-11 18:35] saimn commented on #7404
Breaking a lot of code in the wild, including astropy's Table, and probably CCDData, is not a "simple solution".
And proposing to leak a second file handler does not help much.
The current situation is not so bad, and does not justify such big changes imo. The use case of opening a lot of files can already be managed with `memmap=False`, or by carefully removing references and calling `gc.collect`

[2019-04-11 18:47] drdavella commented on #7404
In my opinion, the truly correct thing would require the following steps:

1. Close both the underlying file handle and any memory maps when the context manager goes out of scope
2. Disallow all access to the `HDUList` instance after it has been closed

This is the only way to handle the resources in a consistent and secure way.

As an instructive example, consider what happens when you attempt to

[2019-04-11 18:50] pllim commented on #7404
This is not a trivial behavior change and should be discussed over at astropy dev mailing list.

[2019-04-11 20:41] bsipocz commented on #8210
I'm removing this from the 3.2 milestone as we discussed it during the latest dev-telecon.

[2019-04-11 20:42] bsipocz commented on #8155
ping @stargaser - could you please give an update about the status of `CODATA2018`? With the new framework can the new set added to constants?

[2019-04-11 20:45] bsipocz commented on #8006
@eteq @aconley - do you know whether the paper is accepted yet? If not I suggest to move the issue to the next milestone (with the note that we may need to change it become default in the next release, it being an LTS one).

[2019-04-11 20:49] bsipocz commented on #7080
I'm removing the milestone here as we're currently not running into issue. However coming up clever ways to cut back docs build time is not off the table.

[2019-04-11 21:11] aconley commented on #8006
Doesn't look like it, unfortunately.  So, yes, we should probably move
milestones.

On Thu, Apr 11, 2019 at 2:45 PM Brigitta Sipocz <notifications@github.com>
wrote:

[2019-04-11 21:21] nden commented on #8568
At first look I am in favor of keeping the shapes of the inputs he same, though a scalar may be an exception. Are there strong use cases when broadcastable inputs are desirable (other than the scalar case)?

[2019-04-11 21:26] perrygreenfield commented on #8568
@nden Is there a use case for that last example I showed? Two different shapes for two different coordinate inputs that result in two different output shapes as well?

[2019-04-11 21:31] nden commented on #8568
Can't think of a use case. Though if the models are separable the restriction may be relaxed, i.e. check for consistent shape only in single models?

[2019-04-11 21:35] perrygreenfield commented on #8568
Imposing that analysis on evaluation (separability) seems a bit heavy duty. I can see enforcing common shapes (aside from a scalar perhaps). The only reason would be to save memory, but that seems like a minor thing given all the temporary arrays that are likely to be created. If that really was a concern, we could create a view into the input array that coerced a common shape using 0 stride trick