[2019-07-24 10:43] astrofrog commented on #9036
I don't think we should rename ours - I think we should just keep and then eventually deprecate/remove it once ``cached_property`` can be used instead. If we rename, we have to deprecate the old name, then deprecate the removal separately.

[2019-07-24 14:04] #8990 closed

[2019-07-24 14:06] pllim commented on #8990
#9032 is in but given that this bug only surfaces when you call it with default parameters in a released version, I guess we'll find out if the patch really works after 4.0 is released. Feel free to re-open if you encounter this still after 4.0 release. :grimacing:

[2019-07-24 14:10] mhvk commented on #8990
We'll presumably know for 3.2.2, no?

[2019-07-24 14:14] mhvk commented on #8569
As noted in https://github.com/astropy/astropy/pull/9032#issuecomment-514645872, the same SSL certificate stuff may be needed for `devdocs`

[2019-07-24 14:32] pllim commented on #8990
Ah, yes. Sorry, should be 3.2.2 indeed. I'll correct my comment above.

[2019-07-24 15:15] pllim commented on #8569
Okay, I re-opened this issue until we can sort out the `devdocs`.

[2019-07-24 15:42] adrn opened #9040 "Sphinx warnings on local build and not on CI"
I did a fresh install of Anaconda with Python 3.7.3, Sphinx 2.1.2, and ran the docs build with current astropy master. I get a number of warnings that don't seem to appear on circleCI:
[code]
cc @pllim

[2019-07-24 18:43] pllim commented on #9040
@adrn , on Slack, did you mean you fixed these as well in #9035 ?

[2019-07-24 18:44] adrn commented on #9040
Nope. But it sounds like the ones about `m_bol` are a case-insensitivity issue. The two `astropy.visualization` ones look like the only remaining problems

[2019-07-24 18:47] bsipocz commented on #9040
The visualization ones are upstream, and will be fixed with the next mpl bugfix release (thus we pin the version in our CI).

[2019-07-24 18:50] bsipocz commented on #9040
Not sure whether we can do anything with the case sensitivity, it very much looks like an addition to the "known problems" page, users are not normally building the docs themselves anyway, and us devs can live with the warning and messed up links locally.

[2019-07-24 18:51] bsipocz commented on #9040
Closing this now as upstream https://github.com/matplotlib/matplotlib/issues/14551 was fixed (and will be available in mpl 3.1.2)

[2019-07-24 18:51] #9040 closed

[2019-07-24 19:28] mhvk commented on #9040
Strange about `m_bol` - that unit does exist and seems linked fine on `readthdocs`: http://docs.astropy.org/en/latest/units/index.html#variables

[2019-07-24 19:35] bsipocz commented on #9040
@mhvk - RTD is linux based, so the case insensitive confusion doesn't come up between `M_bol` and `m_bol`

[2019-07-25 13:30] astrofrog opened #9042 "NDData does not give any indication of mask in __str__ or __repr__"
I was surprised today to see that there is no indication in ``NDData.__repr__`` or ``__str__`` that an ``NDData`` object has a mask:

[code]

I think we should either convert to a no-copy masked array for the purposes of printing, or at least show the mask somehow. I consider this to be a bug, bug feel free to relabel.

[2019-07-25 13:48] mwcraig opened #9043 "Add example of reading a FITS image using `CCDData` to the FITS documentation"
I do not think we currently mention `CCDData.read` in the documentation for `io.fits` even though there several advantages to opening images that way.

At a minimum inserting an example at https://astropy.readthedocs.io/en/stable/io/fits/index.html#working-with-image-data would be helpful, along with a brief explanation of when to use the lower-level `fits.io` and when to use `CCDData`.

[2019-07-25 15:46] tomdonaldson commented on #8995
The issue appears to be with the handling of null string values.  In the example given in the original report (trimmed to only get a couple rows):
[code]
the _epoch_photometry_url_ column, which should contain strings, has values that are numpy.ma.core.MaskedConstant with dtype = float64 and shape = ().  Those values trip up the writer logic which assumes that string values will have a length.

Th

[2019-07-25 16:55] Cadair commented on #9042
While we are on the topic of `__str__` and `__repr__` for `NDData` they really shouldn't print the array values, as it completely messes with delayed IO libraries like Dask...

[2019-07-25 19:33] pllim commented on #8898
FWIW, a quick search on GitHub does not show that `timer` is used outside of `conesearch`.

[2019-07-25 19:39] eteq commented on #9020
@mhvk @crawfordsm @mwcraig and I chatted about this today.  We agreed there's several uncertainties in the process here (see what I did there?) but here's a rough summary of a path to take forward:

1. Re-work the core idea from @mhvk in #3715 to be compatible with the existing `Distribution` API.  Conceptually this should basically replicate a distribution that's gaussian, but using the exact nor

[2019-07-25 19:57] eteq opened #9044 "Better integration between astropy.uncertainty and modeling/fitting"
This was prompted by some of the discussion in #9020 (and note that some of it requires at least part of the work that is discussed there, hence the lack of a milestone...).  Now that  #8769 is in, we can consider better integration strategies for how `modeling` fitters might represent uncertainties in their fitted parameters. There's actual two different cases that initially strike me, that I thi

[2019-07-25 20:04] pllim commented on #8935
Fixed, thanks to @mhvk !

[2019-07-25 20:04] #8935 closed

[2019-07-25 20:08] pllim opened #9045 "TST: Calling nonzero on 0d arrays is deprecated"
This failure started appearing in the `numpy-dev` job. Example log: https://travis-ci.org/astropy/astropy/jobs/563545076

[code]

cc @perrygreenfield , @nden , and @mhvk

[2019-07-25 20:13] mhvk commented on #9045
See https://github.com/numpy/numpy/pull/13708 for why this was changed.

[2019-07-25 20:13] eteq opened #9046 "Have model-fitting support distribution data"
The background/larger-scale topic for this is discussed more in #9044.  This issue is about a more concrete task: making fitters support `uncertainty.Distribution` classes as input data objects and doing the natural Monte Carlo uncertainty propogation to determine parameter uncertainties.

The goal is for something like the following to work:

[code]

The "guts" of the fitter implementation in the

[2019-07-25 20:53] mhvk commented on #9046
A general thought: if modeling were to follow broadcasting rules between inputs and outputs, the above would be nearly trivial. I think the model sets largely fulfill this requirement.

[2019-07-25 21:49] mhvk commented on #8930
Reminder partially to me: `coordinates/builtin_frames.py` is a good example of a submodule with a `__doc__` aimed at developers (though currently it is no longer exposed in sphinx, as `__doc__`  is overwritten by the transform graph; see  https://github.com/astropy/astropy/pull/9035#discussion_r307508221 for @eteq's neat solution).

[2019-07-26 00:12] mhvk commented on #8976
Numpy has reverted the change so things should work again (for 1.17 at least). If someone is willing to make a test case out of this, that would be great!

[2019-07-26 01:24] taldcroft commented on #8977
@lpsinger - can you try #9048?

[2019-07-26 03:31] #8898 closed

[2019-07-26 14:47] pllim commented on #9045
So, is changing `valid_ind = np.logical_not(nan_ind).nonzero()` to `valid_ind = np.logical_not(nan_ind)` sufficient in this case?

[2019-07-26 14:50] pllim opened #9050 "MNT: Remove deprecated utils.timer module"
This is a follow up of #8898. `astropy.utils.timer` was deprecated in `astropy` 4.0 release (#9038) and moved to `astroquery` 0.4.0 (astropy/astroquery#1508). After a reasonable deprecation period (`astropy` 4.2?), `astropy.utils.timer` can be removed completely.

Also un-ignore the deprecation warning added to `setup.cfg` in #7928.

p.s. Don't forget to also remove the static image in `docs/_stat

[2019-07-26 15:07] pllim commented on #8976
Since the test case is already presented in the original post, it is just a matter of copy-paste? I'll take a stab at this while I procrastinate from working on my talk.

[2019-07-26 16:04] smoh commented on #8995
Thanks for looking into it.

It didn't occur to me because I registered in my mind that released data = frozen data but I think that must be it!

So the suggestion is to do away with MaskedColumn entirely for string columns (or for all columns?), am I understanding it right? I think that is very reasonable since after all if someone wants any benefit of MaskedColumn for some purpose, they can crea

[2019-07-26 17:38] mhvk commented on #8976
Reopening since while things will now work in numpy 1.17, the revert was not done on `numpy-dev`; my sense is that we may just want to avoid the problem altogether by fixing `recarray_fromrecords`.

[2019-07-26 18:00] eteq commented on #8930
A bit late to the party, but I also agree this is a good idea.  I also fully agree with @hamogu and @mhvk that it's good for users to see this, with one caveat: we want to make sure they know that implementation notes are *not* necessarily guarantees. That is, implementation notes are good places to say things like "internally this is stored as an X" but we don't want the users to take that to mea

[2019-07-26 18:10] pllim commented on #8976
I am afraid I don't have enough expertise on how to special-casing `Row` properly here. 😢

https://github.com/astropy/astropy/blob/0c4ea46e5bda8405f4a6ed8da9bdd2738a18385b/astropy/table/np_utils.py#L176-L196

[2019-07-26 18:42] privong opened #9055 "Unit conversion failure for uncertainty/distribution objects"
The `.to()` method for the Distribution class seem to be non-working in astropy v3.2.1 (and also in v3.1.2, which I had been using earlier), with python v3.6.8. Attempting to use `to()` results in a ValueError. To reproduce:

[code]

However `.to_value()` works fine:
[code]

Otherwise I haven't noticed any units issues with the `uncertainty` class. Please let me know if there's additional informat

[2019-07-26 18:47] pllim commented on #9055
I think this is the same issue as #8863

[2019-07-26 18:54] privong commented on #9055
@pllim Indeed it is. I missed that during my search of open issues. I'll close this.

[2019-07-26 18:54] #9055 closed

[2019-07-26 18:55] privong commented on #8863
For what it's worth, in my informal checking of this it does seem that `to_value()` works for the cases I've tried. There's an example in #9055.

[2019-07-26 19:55] #8409 closed

[2019-07-26 20:53] #9045 closed

[2019-07-26 22:18] #8977 closed

[2019-07-27 00:19] HojinCho opened #9056 "Is there any way to control CCDData precision?"
I recently started using ccdproc, so I apology in advance if this question. So far I could not find any solution.

My raw ccd images are 2k by 2k with 16bit integer, taking up approximately 8.4 MB of space each. But if I add Uncertainty frame, do some cosmic ray rejection, and the size expands to ridiculously large amount as 69 MB per file, without any warning. I discovered this behaviour by accid

[2019-07-27 14:30] privong commented on #9018
A note on the new wcslib, my distro (Arch Linux) has upgraded to version 6.3. I think that's caused `astropy.coordinates.SkyCoord` to no longer import successfully, throwing the following error:

[code]

If needed I can file a separate bug report.

[2019-07-27 16:28] tomdonaldson commented on #8995
I was uncomfortable going as far as doing away with the MaskedColumn entirely.  They are used pervasively regardless of what serialization format was used, and I haven't fully learned why yet.  Instead of risking wider consequences for now, I'll just prevent those string MaskedColumns from having masked values.

[2019-07-28 19:10] himanshupathak21061998 commented on #8656
@taldcroft Can I work on this issue?:relaxed:

[2019-07-28 21:09] taldcroft commented on #8656
On vacation, back next week.  This takes a little thinking to get right..

[2019-07-29 08:30] #5067 closed

[2019-07-29 08:30] #962 closed

[2019-07-29 16:57] pllim opened #9059 "TST: CircleCI 32-bit tests broken with Numpy 1.17.0"
**UPDATE:** Remember to undo #9076 when fixing this.

CircleCI 32-bit tests broken on `master` when it started picking up Numpy 1.17 instead of 1.16.

Used to pass: https://circleci.com/gh/astropy/astropy/38530

Started failing (and still failing): https://circleci.com/gh/astropy/astropy/38549

[code]

cc @mhvk (in case you know what in Numpy might have caused regression in 32-bit)

[2019-07-29 17:14] pllim opened #9060 "TST: CircleCI HTML job cannot find numpy.random.multivariate_normal"
Numpy intersphinx inventory must have changed, probably also related to 1.17?
[code]

[2019-07-29 17:26] tomdonaldson opened #9061 "TST: Appveyor build failing on master"
The Appveyor build failed on my PR (https://github.com/astropy/astropy/pull/9057) after rebasing.

The Appveyor build showed successful after the last commit on master 3 days ago.  When I triggered a new build Appveyor build on master, and it failed in the same way as on my PR. The failure comes quite early in the environment setup process.

The build log is here:  https://ci.appveyor.com/project/

[2019-07-29 17:33] pllim commented on #9061
The timing is suspicious as it coincide with #9059 and #9060 . @bsipocz , is there something that needs to be done on `ci-helpers` side?

[2019-07-29 18:17] #9060 closed

[2019-07-30 11:48] StuartLittlefair commented on #9014
This exists in astroplan's [Observer.sun_rise_time](https://astroplan.readthedocs.io/en/latest/api/astroplan.Observer.html#astroplan.Observer.sun_rise_time)

[code]

It will be a few minutes out close to sunrise or sunset, since the correction used in astropy for the refraction of the atmosphere is not great near the horizon.

[2019-07-30 21:41] nden commented on #8800
@Cadair I think this was fixed by #8769.
[code]

I am going to close it but please reopen if you think there's still something wrong.

[2019-07-30 21:41] #8800 closed

[2019-07-30 21:44] nden commented on #8798
Fixed by #8799 and #8769

[2019-07-30 21:44] #8798 closed

[2019-07-30 21:47] nden commented on #8345
I think this was fixed by #8769 but feel free to reopen if there's still an issue.

[2019-07-30 21:47] #8345 closed

[2019-07-30 21:50] nden commented on #8012
Fixed by #8769. `prior` and `posterior` were removed from `Model.constraints` and can be added as parameter attributes now.

[2019-07-30 21:50] #8012 closed

[2019-07-30 21:52] nden commented on #7220
Resolved in #8769

[2019-07-30 21:52] #7220 closed

[2019-07-30 23:34] nden commented on #4438
I think this is fixed now:
[code]

Closing the issue. Feel free to reopen if other problems exist.

[2019-07-30 23:34] #4438 closed

[2019-07-30 23:44] nden commented on #7314
Fixed in #8369

[2019-07-30 23:44] #7314 closed

[2019-07-30 23:58] nden commented on #8479
@LucIJspeert @followthesheep It would be great if you can run your tests with the current astropy master and report if the memory issues are fixed. #8769 included a substantial refactoring of modeling. One of the changes is that `CompoundModel` initialization does not make copies of constituent models and memory usage should be highly reduced.

[2019-07-31 17:53] #9061 closed

[2019-07-31 18:09] karllark opened #9066 "Rationalize blackbody models/functions"
There are three ways to calculate the emission from a blackbody in astropy.modeling - BlackBody1D, blackbody_lambda, and blackbody_nu.  The first is a full fittable 1D model and the latter two are functions.  The same answer is obtained with BlackBody1D and blackbody_nu (as stated in the docs).  Having 3 ways seems at least 1 too many.

It would be more consistent if any and all blackbody models i

[2019-07-31 19:02] karllark commented on #8551
If a model can't be pickled, then multi-threading with the emcee fitter is not possible.

[2019-07-31 19:10] karllark commented on #8181
This could be done automatically by numerically differentiating and checking versus the supplied analytic solution.

[2019-07-31 19:21] karllark commented on #7807
It would be great if there were possible multiple names for the same parameter.  Then one could specify the center of the Gauss1D  model as 'mean' or 'center'.

[2019-07-31 19:31] bsipocz commented on #9059
Some of the diff are quite puzzling, maybe @mhvk can comment?

[2019-07-31 19:45] karllark opened #9069 "Modeling documentation enhancement"
The idea is to add more examples and made them easier to find/navigate.

Main page:
One, very simple example

Short(!) paragraph of the goal of modeling package

link to page with concise listing of options for models (explain terminology)
  compound models, model sets, bounding boxes

Then, a list of examples illustrating all the great capabilities (separate page each)

- [ ] fitting with masks
-

[2019-07-31 19:48] karllark commented on #3445
I have a strong use case for a jointfitter.  JWST+Spitzer spectroscopy fitting.  Same wavelengths, different instrumental resolutions.

[2019-07-31 19:51] nden opened #9070 "Add inverse to Tabular1D model"

[2019-07-31 19:52] karllark opened #9071 "Add a Drude1D model"
A drude model is often used in dust grain extinction (2175 A) and emission (aromatic/PAH features).  Would be very useful to have.

https://en.wikipedia.org/wiki/Drude_model

[2019-07-31 20:14] pllim commented on #9070
What does this mean? If I have `points=[1, 2, 3]` and `lookup_table=[4, 5, 6]`, will this do one of the following? Which one?

(a) `points=[1, 2, 3]; lookup_table=[6, 5, 4]`

(b) `points=[1, 2, 3]; lookup_table=[1/4, 1/5, 1/6]`

[2019-07-31 20:16] pllim commented on #9069
Not so sure about the gallery, decision pending at #7242.

[2019-08-01 00:24] cmccully opened #9072 "Compressed Fits Files Padding"
This is partially trying to understand how astropy works with fpacked files So it can include the label of question. I think I mostly understand how to read the fits files, but it would be nice to have the convenience functions I have below somewhere in astropy. On the other hand, the file padding is quite baffling to me. Any clarity on this issue would be appreciated.

Throughout this we will use

[2019-08-01 00:56] pllim opened #9073 "APE 14: pixel_to_world to accept with_bounding_box"
Please see comment from @nden at https://github.com/spacetelescope/gwcs/issues/240#issuecomment-516829043 .

*APE 14 specifies that the low-level pixel_to_world_values method may return NaN where the WCS is not defined. This is not mentioned for the high-level methods which is probably an omission. In any case there's no way to pass flags to the high- or low- level methods in APE 14.*

[2019-08-01 01:04] cmccully commented on #9072
Oddly, if you give the file instead, it appears to write the correct file size:
[code]

[2019-08-01 01:51] nluetzge commented on #8208
Trying to work on this for tomorrow's PyAstro hack day.

[2019-08-01 02:44] pllim commented on #9066
To add to the fun, `synphot` has its own [BlackBody1D](https://github.com/spacetelescope/synphot_refactor/blob/6b09100d2fa855db831ca81e7692d71e5550e833/synphot/models.py#L39) and [BlackBodyNorm1D](https://github.com/spacetelescope/synphot_refactor/blob/6b09100d2fa855db831ca81e7692d71e5550e833/synphot/models.py#L139) classes. 😬

[2019-08-01 05:24] #8959 closed

[2019-08-01 06:09] bsipocz commented on #6166
Hmm, this is now definitely works as I'm in fact unable to ignore these  warnings.

[2019-08-01 06:09] #6166 closed

[2019-08-01 08:30] #7901 closed

[2019-08-01 10:57] LucIJspeert commented on #8479
@nden A problem occurred when trying to install astropy master: I downloaded the master branch and did `pip install astropy-master.zip`. This seemed to work until it ended with the message `error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": https://visualstudio.microsoft.com/downloads/` and reverted back to my previous astropy install. I am quite certain

[2019-08-01 11:22] nden commented on #8479
@bsipocz Any idea how to solve the above problem ⬆️?

[2019-08-01 12:04] mhvk commented on #9059
I'm pretty sure numpy tests with 32 bit, so it would be good to get to the bottom of this (at least find a more minimal example). I'm on vacation so won't get to this until end of August....

[2019-08-01 13:28] karllark commented on #9066
@pllim : would it be worth a discussion to see if there is a path forward to getting the capabilities that are in synphot into the astropy.modeling BlackBody1D model?

[2019-08-01 13:31] karllark commented on #9069
Maybe a gallery is not the right word.  Just a matrix of figures with labels that are links.  Maybe easier for users to see what is possible.

[2019-08-01 13:59] jdavies-st commented on #9070
It is roughly
[code]

[2019-08-01 14:26] teuben commented on #8208
I'm looking at quite a few "king" references in NEMO (some old ones in fortran), but I think the more novel approach to the slow integrator problem you mentioned is to do this computation once, and store the table to be re-used for later re-use if you need to generate the actual "random" points. An example of this is in mkommod , using the OsipkovMerrittModel approach. I found an example of creati

[2019-08-01 15:38] Juanlu001 commented on #7042
@shreyasbapat ping, in case you want to tackle this!

[2019-08-01 16:07] nluetzge commented on #8208
In order for me to learn how to construct `astropy.models` I'm implementing a very simple version of the King model at the moment. I take the analytical solution from here: https://pythonhosted.org/Astropysics/coremods/models.html altho we still have to verify where this equation comes from. And I'm calling it `KingProjectedAnalytic1D` for now.

[2019-08-01 16:53] astrofrog opened #9080 "Provide a way to retrieve a conversion function for units without ever initializing Quantity"
*This came out of a discussion with @yalsayyad at #pyastro19*

As demonstrated in https://github.com/astropy/astropy/issues/8273, unit conversion with small arrays/scalars can be slow. One solution for most unit conversions is to compute a scale and then apply the scale to values:

[code]

instead of:

[code]

However, this doesn't work for more complex unit conversions such as magnitudes to fluxe

[2019-08-01 16:55] astrofrog opened #9081 "u.ABmag.to(u.Jy) should not work"
Update: Desired outcome is for `u.ABmag.to(u.Jy)` to throw exception.

---

At the moment, the following returns a scalar value:

[code]

However, this is not a linear conversion, so I think it's misleading for this to work?

[2019-08-01 17:11] pllim commented on #9070
Well, for 2D, you need to know which axis, right? It gets complicated.

[2019-08-01 17:13] pllim commented on #9066
Yes, we should discuss it. I did not move it up because the models in `synphot` are "historical"; that is, I cannot change the API, and hence lack flexibility.

[2019-08-01 17:17] pllim commented on #8479
@LucIJspeert , unfortunately, it is not `astropy` problem, but rather your Python cannot "see" your MSVC compiler. Depending on how your Python is set up (conda or something else), the solution may vary. You might want to search the internet for the solution that works for you. For example: https://stackoverflow.com/questions/29846087/microsoft-visual-c-14-0-is-required-unable-to-find-vcvarsall-ba

[2019-08-01 17:37] teuben commented on #8208
Ah yes, I came from a different angle, irrelevant for now. I was thinking via AMUSE.

[2019-08-01 17:48] jehturner commented on #7522
FYI, @chris-simpson has used the spline fitting from `scipy.interpolate` in our code at https://github.com/GeminiDRSoftware/DRAGONS/blob/master/geminidr/core/primitives_ccd.py, if that's in any way useful. He was also working on adjusting the knots to deal with rejected points. But indeed it looks like the spline case is not using the `modeling` machinery, which would make it more awkward for us t

[2019-08-01 17:53] bsipocz commented on #8479
@nden - I'm clueless, and suppose the best way forward is what @pllim suggested above.

[2019-08-01 18:23] karllark commented on #7202
For uncertainties, the following are desired.  Depending if the fitter can provide the information.

uncertainty on each fit parameter (1 sigma, assuming Gaussian)
plus/minus uncertainty on each fit parameter (+ 1 sigma, -1 sigma assuming Gaussian)
covariance matrix (assumes a multivariate Gaussian)
samples of nD probability (MCMC samples, bootstrap/jackknife samples)
1D probabilities (marginalize

[2019-08-01 18:42] tepickering commented on #7202
the method to get parameter uncertainties in the original comment currently works only with ```LevMarLSQFitter```. parameter covariance matrices are not returned by the other fitters.

[2019-08-01 18:48] nden commented on #979
This issue refers to the old implementation of models. After some discussion at PIA hack day, I am going to close it. If someone feels strongly about this please open a new issue.

[2019-08-01 18:48] #979 closed

[2019-08-01 18:52] karllark commented on #7202
A proposed implementation would be:

where uncertainty is an object that contains the above info as
g = model
param = specific parameter

g.param.unc
g.param.plus_unc
g.param.minus_unc
g.param.1d_probability

g.covariance_matrix
g.probability_samples

Any of the above uncertainties that are not supplied or cannot be computed from the fitter results should be set to None.

The fitter/optimizer that

[2019-08-01 19:05] Juanlu001 commented on #7042
Don't have @StuartLittlefair's code, but I made this script to get an idea of the differences:

[code]

And the results are

[code]

[2019-08-01 19:14] tepickering commented on #7202
i do think uncertainties here should use ```astropy.uncertainty``` as much as possible to avoid wheel reinvention. see also discussion in #9020 and #9044.

[2019-08-01 19:24] karllark commented on #7202
I'm not sure that the uncertainty on a parameter from a fitter should be *only* a distribution.  This makes is harder for the usual and likely very dominate case where the user just wants to know the 1-sigma uncertainty assuming a Gaussian model on a parameter.  Maybe having a separate bit of info that is unc_function would allow for the distribution info as well as the "standard" uncertainty.

[2019-08-01 19:28] tepickering commented on #7202
yes, the ```Distribution``` classes that are developed should have handy convenience methods for things like ```.value```, ```.sigma```, ```.covariance```, and so on.

[2019-08-01 19:40] shreyasbapat commented on #7028
Hi @eteq ,

I was trying to work on this issue. But in the example case,

[code]

The example has no `distance` in it, but rather has a `radial_velocity`. I didn't understand what exactly it means. Also, If I put some distance in the frame, it works perfectly!

Can you please make me understand the issue, I am getting confused.

[2019-08-01 20:21] mhvk commented on #9080
@astrofrog - we can make public (again) `UnitBase._get_converter`, which would give you the desired conversion function. Note, though, that your example is rather unfair: you are not just converting a quantity, but also initializing them.

It would also be good to consider more realistic use cases; my own sense is that something like #7368 may be a more useful tool.

[2019-08-01 20:30] astrofrog commented on #9080
It is a fair comparison for cases where people just want to go from scalars to scalars - the point here is that in some cases, we should allow users to bypass any quantity initialization since the quantity initialization otherwise dominates the time.

[2019-08-01 20:31] mboquien opened #9085 "astropy.wcs incompatible with wcslib 6.3"
As mentioned by @privong in issue #9018, there is an error on import with astropy.wcs with wcslib version 6.3 and astropy 3.2.1. The backtrace is the following:

[code]

Thanks!

[2019-08-01 20:53] astrofrog commented on #9080
@mhvk - regarding the use case, this request comes from LSST, and is described here: https://github.com/astropy/astropy/issues/8273 - basically I think they want to replace some code that converts arrays to arrays but don't need the quantity class, but still want to benefit from the conversion.

[2019-08-01 20:55] astrofrog commented on #9080
As a side note, my understanding of https://github.com/astropy/astropy/issues/7368 is that it still requires initialization of Quantity.

[2019-08-01 22:30] parejkoj commented on #9080
@astrofrog : your understanding of LSST's use case is exactly correct. Convert values to values, without needing a Quantity at all.

That said, it would be nice to speed up Quantity initialization per #8273, but I didn't get very far when I tried to profile/line_profile things in there.

[2019-08-01 22:53] ceb8 commented on #8813
The changes to WCSAxes due to the APE 14 updates have solved this problem in the next release.

[2019-08-01 22:53] #8813 closed

[2019-08-01 23:25] nluetzge commented on #8208
So I put in the PR but I'm still not 100% where this analytic equation comes from. I will know more when @eteq is back and can look up where it comes from. In the meantime I was comparing this analytic solution to my code that produces the full King model. I'm attaching some plots. It looks like as long as W0 (the central potential) is smaller than 8, they kind of agree. For models beyond this thi

[2019-08-01 23:55] Juanlu001 commented on #7028
@shreyasbapat Could you please try to see if https://github.com/astropy/astropy/pull/9064 fixes this issue?

[2019-08-02 00:53] Juanlu001 commented on #4873
Going back to this question, which I think is somewhat related to https://github.com/astropy/astropy/issues/4268 as well.

As a general course of action, should we

1. use ERFA *as much as possible* in frame transformations,
2. avoid ERFA *where possible* in frame transformations, or
3. study case by case?

I guess there are reasons for both 1 and 2, and 3 is in a way equivalent of not making any

[2019-08-02 00:58] Juanlu001 commented on #3344
![Resurrecting](https://media.giphy.com/media/EF7SPrk8gRtjq/giphy.gif)

This conversation is very similar to what we faced when adding new ecliptic frames:

https://github.com/astropy/astropy/pull/8394

We ended up adding one different class per type of frame, which was a bit controversial because increased the overall number of frames quite a bit, and possibly introduced a bit of confusion. I lik

[2019-08-02 01:39] bsipocz opened #9088 "LTS and v3.2.x is incompatible with np 1.17 docs"
`MaskedColumn.data` docstring, that is inherited from upstream numpy has been changes and now includes a reference to

This is not an issue in master, but then most of the Masked column handling has changed for 4.0.

So I suggest we just simply limit the numpy version for the docs build for those CIs as a broken API link doesn't pose a threat to the functionality.

[2019-08-02 01:43] bsipocz commented on #9088
If you're happy with the version limiting workaround, done in the linked PRs, please close this.

[2019-08-02 08:48] LucIJspeert commented on #8479
After a few hours of looking around and trying fixes, I finally just reinstalled MSVC with a load of extra modules, and it worked... like magic. Problem is, now it seems to have broken my Photutils. Upon import I get:

[code]

I'm running version 0.6, should I also try installing the master branch of that one?

[2019-08-02 10:56] mhvk commented on #9080
For just converting, `unit.to(new_unit, value)` does always work.  This does not assume it is just a scaling (if you don't use `value`, you get 1, so get the scale factor out - *if* it is a scaling).

On #7368, the case there is for wanting fast functions that work in known units but take quantity input that has compatible units. This would seem typical for wrapping old code.

[2019-08-02 11:04] mhvk commented on #8273
As I mentioned in #9080, if you really never want a `Quantity` fastest should be
[code]
Checking:
[code]
As I wrote above, the conversion could be sped up in `.physical`, but that needs a bit of diving into the code.

[2019-08-02 11:16] mhvk commented on #4873
My sense is to use `erfa` wherever possible. It is meant to be (from) "Standards of Astronomy" after all! And anything else we do should at least match `erfa` - if not, it is a bug either in our code or in theirs, and should be resolved.

[2019-08-02 11:25] nden commented on #8479
@LucIJspeert I'm glad it worked eventually. One of the changes in the new modeling is that you can't combine classes any more, only instances of models (which is what triggers the above error). It was fixed in photutils master but nit released yet. You need to reinstall it from master.

[2019-08-02 14:18] pllim commented on #9088
Yup, I am happy with the PRs.

[2019-08-02 14:18] #9088 closed

[2019-08-02 14:41] karllark commented on #9066
The equivalent of `blackbody_lambda` and `blackbody_nu` can be obtained from `BlackBody1D` using the appropriate unit conversion.

![bb_check](https://user-images.githubusercontent.com/1554536/62377592-100efd00-b511-11e9-9cb5-ce846fbff221.png)

Code showing the conversions (and plot).
[code]

[2019-08-02 14:54] karllark commented on #9066
@pllim : it looks like the synphot BlackBody1D is mainly a wrapper around BlackBody1D.  But maybe with an extra property or two.  So the astropy.modeling BlackBody1D is very close to what synphot uses, but returns in different units.

[2019-08-02 15:33] karllark commented on #9066
I would recommend two changes and one optional change.

1) deprecate `blackbody_lam` and `blackbody_nu`.  These two functions are the *only* two in astropy.modeling that do not use the model classes.  In addition, they can be calculated from each other or BlackBody1D using the wonder of astropy.units.
Fine with keeping them around, but they should no longer be recommended/advertised.

2) Update th

[2019-08-02 15:44] pllim commented on #9066
@karllark , Option 2 is possible but we need to be careful about backward compatibility. 4.0 is LTS, so we'll be stuck with the consequences for 2 years after release. Option 3 sounds non-backward compatible because it sounds like you plan to change default behavior of `BlackBody1D` after renaming it?

[2019-08-02 15:48] nden commented on #9066
Ping - ing @eteq @astrofrog

[2019-08-02 16:00] karllark commented on #9066
It might be possible to pick option 2 and if the units of the amplitude are input as a luminosity to have the  results in bolometric flux.  Maybe be able to set the scaling with `amplitude` or `bolometric_flux` making it possible to have the current behavior and while supporting a more general behavior.

[2019-08-02 19:40] bsipocz commented on #4873
And I think we can more prominently make it clear that we use SOFA/ERFA, as it regularly comes up (last time at scipy, but I can't recall any more who asked it, they wasn't an astronomer) whether we compare our solutions to theirs and people are surprised that under the hood we actually use it.

[2019-08-02 21:58] astrofrog opened #9092 "Pixel shape incorrect when dropping dimensions in WCS"
The following example shows that when dropping a dimension, the pixel shape might be incorrect (that is, the dimension that is dropped for the shape is for a different dimension to that dropped for the world coordinates)

[code]

@Cadair and I can look into it, this is just a reminder. But if anyone wants to look into it I can provide the data.

[2019-08-02 22:42] abhijeetmanhas commented on #9081
@astrofrog do you mean that there should be spectral density as a second parameter for above conversion? If yes, I will like to work on this issue.

[2019-08-02 23:10] abhijeetmanhas commented on #9081
@astrofrog output be like this?
`<Quantity 1445.4397707459234. Jy>`

[2019-08-03 00:45] astrofrog commented on #9081
No, the issue is that to me this is confusing because the conversion from ABmag to Jy is not a simple scaling, so it doesn't make sense to return a scalar value. But @mhvk will need to confirm whether this is intentional.

[2019-08-03 12:54] mhvk commented on #9081
Currently, `MagUnit.to` behaves exactly the same as `UnitBase.to`, i.e., it takes a `value` argument with a default of `1`. This is not a very useful default if one is converting to a physical value, and I agree that for that case we should raise an error instead (but perhaps leaving log-unit to log-unit intact? Also fine to just insist on an actual value).

[2019-08-03 15:48] astrofrog commented on #9081
Yes I think the cleanest would be to require a value when doing a log to physical conversion or vice-versa and leave it unchanged otherwise.

[2019-08-03 15:49] astrofrog commented on #9092
Investigating now...

[2019-08-03 16:07] saimn commented on #9092
Probably related: #8075

[2019-08-03 16:52] richardgmcmahon opened #9093 "astropy.io.fits; ValueError: The header keyword 'description' with its value is too long"
I am using astropy with anaconda on a Mac with Python 3.6.

astroquery.__version__: 0.3.9
astropy.__version__: 3.2.1

I have used astroquery to download a table from Vizier but when I try to write out the table I get the error:
[code]
This looks like a problem with the description of one of the columns. I have investigated the description lengths and trimmed the longest one. This did not help.

I

[2019-08-03 17:26] astrofrog opened #9094 "WCS test fails if sunpy is installed"
It looks like simply having SunPy installed is causing the following test to fail:

[code]

[2019-08-03 20:39] saimn commented on #9093
The issue comes from a meta keyword with is also a bit too long:
[code]

[2019-08-03 20:43] saimn commented on #9093
This should be better managed, but I'm not sure where. It could be with an helper function in astroquery, for FITS writing, or maybe in the Table FITS writer but it should not truncate values by default so maybe with a new parameter. Other ideas ?

[2019-08-04 02:32] Cadair commented on #9094
:scream: What the...

[2019-08-04 07:08] ysBach opened #9096 "astropy.io.fits not returning memory"
First, I'm sorry I know nothing about memory...
I am using macOS 10.14.5 on MacBook Pro 15" 2018.

While I was reducing 150 FITS files (each ~ 70MB), I realized the pipeline I used got ~2-3 times slower as time goes. I've been experiencing tens of such cases, but couldn't find any possiblities... Then 2 weeks ago, just by chance, I was looking at the memory usage, and found that the memory was goi

[2019-08-04 09:20] MSeifert04 commented on #9096
Maybe this is related to `memmap`. Could you use: `hdul = fits.open(fpath, memmap=False)`, maybe that fixes the problem.

[2019-08-04 10:08] ysBach commented on #9096
@MSeifert04 Thanks for the comment.
I have already tried that (sorry I didn't say that in the original issue), and I re-tried it: Unfortunately, the problem persists.

[2019-08-04 10:21] MSeifert04 commented on #9096
Okay, just to make sure - we're talking about the sample code from your original post, not your pipeline, right?

[2019-08-04 10:36] ysBach commented on #9096
@MSeifert04

Yes. I tested many combinations, but for example like this:

[code]

[2019-08-04 10:48] MSeifert04 commented on #9096
@ysBach The parameter is called `memmap` not `mmap`, see the [`astropy.io.fits.open` docs](https://docs.astropy.org/en/stable/io/fits/api/files.html#astropy.io.fits.open)

[2019-08-04 10:56] ysBach commented on #9096
@MSeifert04 Oops sorry, I did it correctly on my computer but made a typo while updating the code from the original posting... but yeah using ``memmap`` (either ``True`` or ``False``) doesn't help solve the problem for me.

[2019-08-04 11:05] MSeifert04 commented on #9096
Okay, thanks for the clarification.

One question I forgot was: Could you share your versions of python, numpy, astropy?

[2019-08-04 11:18] ysBach commented on #9096
@MSeifert04 Ahh sorry I missed such an important info.
I used Python 3.7.0 (also tested on 3.7.3), astropy 3.1.2, and numpy 1.16.2

[2019-08-04 11:36] MSeifert04 commented on #9096
Can you share one of the files that you process this way? Or if you cannot or don't want to share that - can you provide code to create a fits-file that produces such a "memory-leak" on your computer?

I've tested with a three fits files of mine but couldn't reproduce the memory problems.

[2019-08-04 19:39] keflavich commented on #8227
I've done some alternative experimentation in spectral-cube (https://github.com/radio-astro-tools/spectral-cube/pull/567), but it's unclear that any of my approaches "work".  When I've tested them on other machines (i.e., not my laptop), I've gotten peculiar and unreproducible errors.

I'd like to try to understand what it would take to have spectral-cube built on a dask array object from the bott

[2019-08-04 19:40] keflavich commented on #7748
A possibly low-hanging piece that I suggest prioritizing is reading data with `io.fits` into delayed-read dask arrays.

[2019-08-04 19:40] keflavich commented on #7748
Also, this issue should be linked to https://github.com/astropy/astropy/issues/8227, so now it is.

[2019-08-04 19:47] keflavich commented on #9096
You might try testing this with `tracemalloc`, e.g.:
[code]
just to verify that there really is some sort of memory leak.  I'm not sure of the right tool to check for number of open files, but such a test would also be worth running (& adding to the astropy test suite...).

[2019-08-04 22:17] mwcraig commented on #9096
We have some [tests of memory use in ccdproc](https://github.com/astropy/ccdproc/blob/master/ccdproc/tests/test_memory_use.py) and other [tests of the number of open files](https://github.com/astropy/ccdproc/blob/master/ccdproc/tests/test_combine_open_files.py).

It is not hard to hit the limit on the number of open files while using `memmap=True` because there are at least two file handles opened

[2019-08-05 15:17] jdavies-st commented on #9096
In your example code:
[code]
The line `hdul.close()` in the code above is doing nothing, because you have open references to a memapped array, i.e. `data`.  This is a bug in `io.fits` in my view, and it is discussed elsewhere.

Does something like
[code]
give the same problem with increasing memory?

[2019-08-05 16:46] MSeifert04 commented on #9096
But it also happens when `memmap=False` is used. As far as I know no memmapped array is created then.

[2019-08-05 17:18] pllim commented on #8227
![Just because you can](https://media.makeameme.org/created/Just-because-you-jsskkh.jpg)

[2019-08-05 18:01] keflavich commented on #8227
Life... finds a way.  When frog DNA are involved.  We have an astrofrog on the team.  See?  All good!

[2019-08-05 18:05] pllim commented on #9096
I tried profiling using https://pypi.org/project/memory-profiler/ and here is my results: https://github.com/pllim/playpen/blob/master/measure_fits_memory.py

Memory gets freed at some point, but exactly where depends on `memmap`. Try also add `del hdu` and `del hdul` to your code and see. And feel free to run that script locally to see if there is variation across hardware architecture, etc. I ra

[2019-08-05 18:14] pllim commented on #9094
You mean, SunPy does not have any `obstime`? Is SunPy injecting stuff into `astropy`? What is going on?

[2019-08-05 18:18] pllim commented on #9093
Idea: Delete "description" from `result.meta` before writing it out. If you really want to keep it, try to insert it as a COMMENT instead of the header keyword?

[2019-08-05 18:20] pllim commented on #9093
AFAIK, a table returned by VO service is never guaranteed to adhere to FITS standard. You can also open a PR over at `astroquery` to patch the returned table in `vizier.query_region()`.

[2019-08-05 18:24] MSeifert04 commented on #9096
@pllim Ah great for the example profiling. There seems to be indeed some leakage in your first two examples (15 MB first example and 30 in the second). However maybe that's because not all variables are dropped at that point.

[2019-08-05 18:27] pllim commented on #9096
@MSeifert04 , I can't say I understand the results completely. I simply can say a bulk of the memory is freed eventually. So, I disagree that FITS does not release *any* memory, but I cannot say for sure that FITS does not *leak* memory. :wink:

[2019-08-05 18:33] MSeifert04 commented on #9096
Okay, I just ran it over a few dozen files and the excess memory doesn't accumulate (at least for my files). I'm still at a loss what happens.

[2019-08-05 18:36] MSeifert04 commented on #9096
@ysBach You're really sure that the code you provided here is **exactly** the code that you use?

Not that you collect the data in some list or whatever or keep direct or indirect references to the hdu, hdu-data or hdu-list somewhere?

[2019-08-05 18:55] likewei92 commented on #7661
@mhvk @Cadair @adrn could you help to take a look at the PR now? :)

[2019-08-05 19:15] bsipocz commented on #9093
This has bitten me in the past, too, but I don't think the way forward is to  patch `astroquery`. It returns a perfectly valid `Table`, and after that it's the  users decision of what they do with it, what format they write it out, etc. Thus we shouldn't make assumptions it would be `fits` rather than some other format that would happily round trip with the description in meta.
@keflavich - what i

[2019-08-05 19:23] keflavich commented on #9093
Yeah, this seems to be simply a writer issue.  Not all tables can be written by all writers; for example, most votables can't be written as ascii.ipac files because of forbidden characters in the column names.  It would be nice if we had some "automatic fixing" options (e.g., allowing description truncation in this case), but that's low on the wishlist.  I'm in favor of improving the error message

[2019-08-05 22:02] saimn commented on #9096
The fact that the issue persists with `memmap=False` seems to indicate that there another issue, that could be the code keeping some references, or maybe some platform specific issue, or file-specific: @ysBach , could you please share one file, in private if needed, or with fake data in it ?

[2019-08-05 22:04] saimn commented on #9096
[code]
It would be better to delete the references before closing the file, as then `hdul.close()` would be able to close the memmap as well. Otherwise it relies on the garbage collector to close the memmap when there are no references.

[2019-08-05 22:07] saimn commented on #9096
It is not doing nothing. The "main" file handle is closed, but not the memmap one.
If the references are deleted before `.close` then the memmap is closed as well.

[2019-08-05 23:29] Juanlu001 commented on #4873
By the way, for what it's worth, to close this issue all it's needed is to replace

https://github.com/astropy/astropy/blob/a68bee57a9ab2b37ab8caf75c8954f7f23ab3618/astropy/coordinates/builtin_frames/ecliptic_transforms.py#L34-L36

with

[code]

The other family of ecliptic frames `*TrueEcliptic` uses a different nutation model and there's no such function in ERFA.

[2019-08-06 02:55] ysBach commented on #9096
@MSeifert04 @saimn
Sorry for this late reply and thank you very much for your prompt and continued helps :)

PS first:
I was almost about to finish the comment, and I realized that if I do ``memmap=False``, the loading speed does not decrease. However, as I described below, if I don't touch ``memmap`` option, the loading speed is decreased exactly when the "cached files" category hits its maximum.

[2019-08-06 15:34] Cadair commented on #9094
All the SunPy frames have `obstime` but not all the astropy ones. The issue here is that astropy frames are being passed to the sunpy function, which is maybe erroneously assuming it's only getting passed SunPy frames.

I think this is actually a sunpy issue.

[2019-08-06 15:42] jdavies-st commented on #9096
Using the code above in https://github.com/astropy/astropy/issues/9096#issuecomment-518477072 I cannot reproduce the behavior on my laptop (MacOS 10.13.6 on Macbook Pro with 16GB memory).

With `memmap=True`
![Figure_1](https://user-images.githubusercontent.com/17088869/62554287-dc98df00-b83e-11e9-943f-91ccc70546cd.png)

With `memmap=False`
![Figure_2](https://user-images.githubusercontent.com/170

[2019-08-06 15:48] pllim commented on #9096
@ysBach , any chance you can test that on a Linux and see what happens?

[2019-08-06 15:58] Cadair commented on #9094
@ayshih points out that I am not sure how come `sunpy.coordinates` is getting imported to register itself with astropy to make this test fail. So it might actually be two bugs one on each side.

[2019-08-06 21:02] jdavies-st opened #9099 "Remove runtime dependency on pytest"
The import here

https://github.com/astropy/astropy/blob/81804cf0d30c37c117081b4826d938ba84bfdada/astropy/io/misc/asdf/tags/coordinates/skycoord.py#L9

Gives a runtime dependency of astropy's `asdf` extension on `pytest`, which is not desired.

To reproduce, and a traceback:
[code]

[2019-08-06 21:21] pllim commented on #9099
What....? Why is it calling into `from astropy.table.tests.test_operations import skycoord_equal`? @jdavies-st , are you or your officemate going to fix this?

[2019-08-06 22:27] bsipocz commented on #9099
oh, wow, that should never be imported from there...

[2019-08-07 12:14] Juanlu001 commented on #9099
Speaking of which, I learned about the existence of this package recently, just FYI https://pypi.org/project/import-linter/

[2019-08-07 13:14] #9070 closed

[2019-08-07 14:29] dhomeier commented on #9066
From a naïve theorist's POV I find the current behaviour rather confusing. Blackbody flux in the strict sense only depends on a single parameter, temperature, so it should return a unique value of F_lambda/F_nu as the default. A scale could enter in various forms like a generic factor for optically thin emission. With the current `bolometric_flux` parameter the user needs to first manually calcula

[2019-08-07 15:48] jdavies-st commented on #9099
It looks like `assert_equal` is a classmethod implemented for a number of astropy AsdfTypes, though it is not required by the standard.  `skycoord_equal` seems to be used this way and also as a testing helper.
[code]
It should probably be in its own module or in some non-testing area and then used by the tests via import or `conftest.py`.

[2019-08-07 16:54] jdavies-st commented on #9099
A similar issue with the `TimeDelta` tag

https://github.com/astropy/astropy/blob/a8f496b2677686f240ceef76e6aa2280561b1f0e/astropy/io/misc/asdf/tags/time/timedelta.py#L8-L9

And it seems that `allclose_jd`, `allclose_jd2`, `allclose_sec` are defined in multiple places:
[code]

[2019-08-07 17:48] dhomeier commented on #9099
That would perhaps not even be critical, since they are not full function definitions, but rather convenience aliases. Still not pretty, as even slightly different definitions are in use.
And it begs the question of course if `timedelta` needs that convenience or should not rather simply use the full calls to `np.allclose` in the code.

[2019-08-07 17:59] dhomeier commented on #9099
[code]
I don't find this in the version on master. Declaring them locally would of course at least allow you to get rid of the import.

[2019-08-07 19:59] saimn commented on #9096
@ysBach - The cached memory is not a good indicator. I don't know how it works for Mac OS, on Linux the memory is used by the kernel to cache files as long as there is memory available (https://linux-mm.org/Low_On_Memory), but if you need this memory the cached one will be freed or put to swap (which will add some overhead, which may correspond to what you are seeing in your plot).

So the memory

[2019-08-08 11:47] ysBach commented on #9096
@saimn Thanks!
Still there are some parts I am very confused when I compare my knowledge about the memory and the results I am getting... ^^;;

@pllim
I quickly made an Ubuntu (18.04.2) environment using Parallels on my mac and installed python 3.7.3 and numpy 1.17 with astropy 3.2.1.

I used the following code for the plots (except I changed the titles and filenames for each case):
[code]
The "fr

[2019-08-08 12:58] nluetzge opened #9103 "TableReplaceWarning better message or addition to docs"
I have a suggestion to the TableReplaceWarning that was implemented in 1.3. It took me a while to figure out how to change my code to make this warning go away. I did find it in the docs eventually but I don't think its clearly marked. I would recommend to either state this in the warning itself (Seomthing like "Try using `t[colname][:] = value` instead") or write the warning in the docs so that i

[2019-08-08 13:47] pllim commented on #9103
Hard to control what pops up in Google Search, but adding the suggestion to warning message seems reasonable. @nluetzge , are you interested to submit a PR? :smile:

[2019-08-08 13:51] nluetzge commented on #9103
Sure. We could do both. I don't think it hurts to actually but the name "TableReplaceWarning" into the docs.

[2019-08-08 15:24] pllim commented on #9096
Is it safe to conclude that your pipeline would be okay if you run it on Ubuntu and not Mac? :sweat_smile:

[2019-08-08 15:39] pllim opened #9106 "TST: np.alen is deprecated, use len instead"
How to best fix this one? Is deleting the test sufficient, @mhvk ?

[code]

[2019-08-08 15:53] lpsinger commented on #8981
@pllim, no, it's still really flaky. Our project ([growth-astro/growth-too-marshal](https://github.com/growth-astro/growth-too-marshal)) has to download the IERS files in its CI tests, and even with the https URL, it's failing more often than it is succeeding. I think that we really do need a list of fallback URLs. Also, astroplan needs to be able to use the fallbacks.

[2019-08-08 21:33] saimn commented on #9096
@ysBach - You should use `psutil.virtual_memory().available` instead of `psutil.virtual_memory().free` I think, having `free` going to 0 does not necessarily mean that you have no free memory since this doesn't include the cached one.

I'm not sure to understand all your plots: the one using the fewer memory is memmap=None on macOS but it also the one with the slowdown?

[code]

[2019-08-09 14:27] Onoddil opened #9108 "astropy.modeling returns too many Parameters when defining a new Model as a subclass of another Model"
When creating an `astropy.modeling.Model` that is a subclass of another `astropy.modeling.Model` (instead of just being a subclass of a `Fittable1DModel` or `Fittable2DModel`, e.g.) the `Parameters` of both the new Model and the super Model are returned, resulting in `TypeError: evaluate() takes X positional arguments but Y were given`.

MWE to reproduce the error:
[code]

which gives:

[code]
and

[2019-08-09 14:33] #7661 closed

[2019-08-09 14:34] perrygreenfield commented on #9108
Thanks for the report. Yes, there were substantial changes in how parameters were changed and that is almost certainly the cause of the problem. I'll look into it, probably next week.

[2019-08-09 19:00] sansagara2 commented on #8555
I had this issue when running a pytest setup. Solved it by upgrading to the latest `pytest-xdist`. `pip install pytest-xdist`.

[2019-08-09 19:01] sansagara commented on #8555
I had this issue when running a pytest setup. Solved it by upgrading to the latest `pytest-xdist`. `pip install pytest-xdist`.

[2019-08-09 21:40] b1quint commented on #7180
Dear all,

I am having the same issue and I am really glad I found this thread.

From the example/solution above, I see that setting `ax.coords['ra'].set_ticklabel_position('l')` puts the ticks labels in the Y axis but the axis label is in the X axis. I found it strange and I gave a try myself so I wrote:
[code]
Here is the output image:
![using_wcs](https://user-images.githubusercontent.com/43680

[2019-08-09 22:18] astrofrog commented on #7180
@b1quint - that is indeed unusual but also possible, I've seen a number of images in the past that have rotation close to 90º. Can you check if the FITS header has ``CROTA2`` set, or has a ``CD`` matrix set?

[2019-08-09 22:50] b1quint commented on #7180
Yes, it has a `CD` matrix. It took me a while to understand the cause of this unexpected behavior but your last comment helped to make it clearer. Would it be possible to "rotate" the WCS to see if this gets fixed?

[2019-08-10 21:09] dhomeier opened #9112 "Section/headers level hierarchy mixup (?) in docs (main index in particular)"
I noted some oddities in appearance of `index.rst` - the `Developer Documentation` "section" looks somewhat stitched to the end of the `User Documentation` chapter and has no TOC entry. Although it _appears_ to be marked as section according to the Python [devguide](https://devguide.python.org/documenting/#sections) recommendations

[code]
it looks like here the markers are indeed assigned in the

[2019-08-11 15:14] mhvk commented on #9106
Yes, delete the test and add `np.alen` to `IGNORED_FUNCTIONS` in `quantity_helpers/functions.py`

[2019-08-12 00:58] pllim commented on #9112
Just to be clear. Are you talking about http://docs.astropy.org/en/latest/development/workflow/development_workflow.html ?

[2019-08-12 11:58] dhomeier commented on #9081
Intuitively it would make more sense to me to have `0` as default `value` argument for `MagUnit` (and log-units in general), although their `__mul__` method looks perhaps non-intuitive at first.
So silently adopting a default might be a bit dangerous either way.
[code]

[2019-08-12 12:14] dhomeier commented on #9112
No, here it's actually about the [main index](http://docs.astropy.org/en/latest/index.html). `index.rst` has header entries like
[code]
and then
[code]
so from the devguide examples I would expect the `Developer Documentation` to have a TOC entry at the `section` level, above the `Data structures` one. But Sphinx, I think, classifies the latter as `section` since it encounters it first, and then t

[2019-08-12 12:56] virtualmarioe commented on #6032
Hey @namurphy, this conversion is exactly what I was looking for in the context of neural population simulations. Thanks for raising the issue.

[2019-08-12 14:27] pllim opened #9113 "TST: cannot import name _compiler from astropy.utils"
Travis CI is broken on `master` and all the PRs. Example log: https://travis-ci.org/astropy/astropy/jobs/569993909

[code]

[2019-08-12 14:36] pllim commented on #9113
Looks like this affects other packages downstream too.

[2019-08-12 16:12] eteq opened #9115 "Add a more helpful error message when pytest-astropy is not installed"
If I create an environment that has all the normal dev reqs for astropy but does *not* have `pytest-astropy` (or at least its deps), the resulting error message is a rather ambiguous traceback that not very understandable where the problem lies.  (If #9111 is merged it changes that, but to a *different* ambiguous error.)  It would be useful if this was not the case, and running `py.test` instead y

[2019-08-12 16:48] pllim commented on #9113
Fixed upstream at astropy/ci-helpers#411. Restart your jobs and they shall pass again (try read this in Gandalf's voice).

[2019-08-12 16:48] #9113 closed

[2019-08-12 17:00] pllim commented on #9112
Ah, good catch, @dhomeier ! I agree that "Developer Documentation" should be at the same level as "User Documentation". I think this might be a case of #6057 and #6051 interfering with each other. Do you want to file a PR to fix it? :smile:

[2019-08-12 17:07] bchakalis9 opened #9117 "Matplotlib subplot projection routine does not display FITS file correctly when WCS was added through astrometry.net"
Hi, my name is William Chakalis.

A project I'm doing with @astrophysically and @mwcraig involves placing WCS coordinates into FITS files that don't contain them. I've used astrometry.net to acquire them from their internet based version. However, upon trying to plot them as some astropy tutorials have shown, I'm running into errors.

Here is the [file](https://github.com/astropy/astropy/files/349

[2019-08-12 17:16] pllim commented on #9117
Are you doing something funky with the distortion? See http://docs.astropy.org/en/latest/wcs/note_sip.html

Is your custom WCS "clean" when verified through `wcslint`?

[2019-08-12 17:51] nden commented on #9085
@mboquien What os are you running this on? Did you build wcslib 6.3 or does it come with the system?

[2019-08-12 17:53] bchakalis9 commented on #9117
Not doing anything funky.

Just tested `wcslist` on the command line and it came back saying there were no issues.

[2019-08-12 17:56] bsipocz commented on #6660
https://github.com/astropy/astropy/pull/8939 has addressed this.

[2019-08-12 17:56] #6660 closed

[2019-08-12 18:22] dhomeier commented on #9112
Looks like after #6057 almost everything was marked at the `section` (`===`) instead of `chapter` (`***`) level - so possibly "Developer Documentation" was just left behind at a later point when the rest was promoted to `chapter`.
In that case the fix is trivial.

[2019-08-12 19:10] bchakalis9 commented on #9117
That worked perfectly. There was no specification within the file that it was rotated. Thanks a lot.

[2019-08-12 19:10] #9117 closed

[2019-08-12 19:55] jhunkeler commented on #9085
(If this is Arch Linux) I think this might be a bug in the `wcslib` package. There should not be defining a `fits_read_wcstab` symbol in `libwcs.so` at all when `libcfitsio` is detected by the `configure` script

https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/wcslib

I can't reproduce the missing symbol behavior when I build `cfitsio` and `wcslib` from source. Howe

[2019-08-12 20:39] jhunkeler commented on #9085
https://github.com/astropy/astropy/blob/0e4db51fc8165147249daabf4513d0471d0249a2/cextern/wcslib/CHANGES#L50-L54

^ This probably has something to do with it too.

[2019-08-12 21:18] eteq commented on #9115
Oh, and as an example of the precedent I'm thinking about: if you try to build the docs without sphinx-astropy, you get an `ImportError("sphinx-astropy needs to be installed to build the documentation.")`

[2019-08-12 22:19] privong commented on #9085
@jhunkeler I'm the one who originally mentioned it, and yes it was on Arch Linux.

[2019-08-12 22:44] jhunkeler commented on #9085
@privong Ah ok, good.

Another odd thing... the `python-astropy` AUR package does not pass `--use-system-wcslib` yet somehow it ends up linking to it anyway, instead of doing the inline build.

For that to happen I assume the wcs extension must be passing `-lwcs` to the linker when it shouldn't be. As in, the linker sees it in `/usr/lib` first and uses it because its available.

I might have time

[2019-08-12 23:18] bsipocz opened #9121 "eigvals is not know to astropy Quantity"
I'm just following orders.

This came out during building photutil's  docs (with numpy-dev and astropy-dev). Haven't yet follow-ed up what triggered it exactly:
[code]

[2019-08-13 00:29] #9112 closed

[2019-08-13 00:57] #9106 closed

[2019-08-13 01:21] bsipocz commented on #9108
@perrygreenfield - photutils has been fixed by removing defaulting the same parameters in the nested subclassing case (https://github.com/astropy/photutils/pull/931). Not sure whether that case is suppose to be supported, I would say it was rather confusing and shouldn't be used like that.

[2019-08-13 04:10] jhunkeler commented on #9085
If you compile `wcslib` with FORTRAN support enabled the dangling symbol appears in `libwcs.so`. Their README isn't correct though -- `./configure --disable-fortran --with-cfitsiolib=/usr/lib --with-cfitsioinc=/usr/include --without-pgplot` produces a library without the undefined symbol. `--without-cfitsio` is was not enough to get rid of it as it suggest.

Anyway, Arch Linux's PKGBUILD does the

[2019-08-13 04:46] mboquien commented on #9085
A few clarifications. The linked PKGBUILD corresponds to a revision I made to use the internal wcslib library rather than the system one in order to work around this issue. The PKGBUILD corresponding to this issue is https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-astropy&id=758a7265573c8ae83d05e6416cb87d56a99726a3 .

I looked at what links to what with the latest PKGBUILD,there is n

[2019-08-13 04:59] jhunkeler commented on #9085
Thanks! I was completely baffled... I'm not sure if the wcslib maintainer needs a ping.

* `--use-system-cfitsio` links the FITS module against `libcfitsio`
* `--use-system-wcslib` links the WCS module against `libwcs`, and not `libcfitsio`.

In this case it feels like `astropy/wcs/setup_package.py` needs to be updated to link to `cfitsio`.

[code]

[2019-08-13 09:19] mroldrobot opened #9122 "Couldn't import convolution after python update to 3.7.4"
After last conda revision:
[code]

Couldn't import convolution anymore:

[code]

Probably related to https://github.com/astropy/astropy/issues/8032

[2019-08-13 13:41] nden commented on #9085
@jhunkeler Won't this work only if the system `wcslib` was linked with `cfitsio` (which happens automatically if `cfitsio` is present but it may not be)? Is there a way to find out if this was the case?

[2019-08-13 14:44] privong commented on #9085
@nden The Arch package manager indicates that `wcslib` depends on `cfitsio`, so that dependency should be satisfied.

[code]

[2019-08-13 15:18] mhvk commented on #9121
Thanks! Numpy modules like `linalg` are not yet covered (I ran out of steam...). Fixing this is part of #8825.

[2019-08-13 16:19] pllim commented on #9122
You might just have to downgrade to Python 3.7.3. We're not the only package affected by this `conda` + Python 3.7.4 combo behavior. Example: https://askubuntu.com/questions/1164703/installing-openexr-for-python-causes-setuptools-to-fail-with-an-assertion-error

xref #9114

[2019-08-13 16:26] keflavich commented on #9122
I know nothing about the C extensions; this might be related to @jamienoss's additions.  But... if this is an upstream issue, I don't think we should do anything about it?

[2019-08-13 16:32] astrofrog commented on #9122
Worst case I do have a branch that transitions this code from using ``load_library`` and ctypes to being a regular C extension, so that's a plan B. But I think we might want to check what happened in CPython.

[2019-08-13 16:41] jamienoss commented on #9122
I'll have a quick look...

[2019-08-13 17:16] pllim commented on #9122
FWIW, I am getting similar reports of installation problems in other unrelated packages using C extensions. Might be worth the wait to see if this is something `conda` has to fix after all. :crossed_fingers:

[2019-08-13 17:50] jamienoss commented on #9122
@mroldrobot Thanks for reporting this. Would it be possible to get a little more info, please? How have you installed astropy?

Installing astropy by the following two methods works for me (I can import astropy.convolution):
 * ``conda create -n astropy-py3.7.4 python=3.7.4 astropy``
 * ``conda create -n astropy-9122 python=3.6.3 astropy;conda activate astropy-9122;conda install python=3.7.4``

[2019-08-13 18:32] bsipocz commented on #9121
oh, fair enough, in that case this is a clear duplicate. Sorry for the noise, should have looked around more carefully 😅

[2019-08-13 18:32] #9121 closed

[2019-08-13 19:29] bsipocz commented on #9122
A fix for this is expected to be out later today:
https://github.com/ContinuumIO/anaconda-issues/issues/11195

[2019-08-13 19:29] jamienoss commented on #9122
@mroldrobot My apologies, in https://github.com/astropy/astropy/issues/9122#issuecomment-520937808 I wrote ``python=3.6.3`` when I meant ``python=3.7.3`` (now edited).

I just did as you did on both conda 4.7.10 and 4.7.11 and get the same behavior as I did before in that it works, I can import ``astropy.convolution``. I get the same as you when going from python=3.6.3 -> 3.7.4, in that astropy is

[2019-08-13 19:39] pllim commented on #9113
Caused by ContinuumIO/anaconda-issues#11195

[2019-08-13 20:57] pllim commented on #8946
Finally got around to downloading this file. I just fired up `volint` and immediately I see one of the CPU at 100% capacity (probably expected, though the CPU switches from one to the other once in a while) and memory use quickly ramped up to about over 20 GB and one point (whaaaat?) and then ramp down a bit and is staying much or less around 16-17 GB. :scream: Given how long you reported that it

[2019-08-13 21:03] perrygreenfield commented on #9108
@Onoddil Can you give me the example that causes the evaluate error?

[2019-08-13 22:43] Onoddil commented on #9108
Hi @perrygreenfield the actual run in Photutils which causes the error is in [this Travis CI job](https://travis-ci.org/astropy/photutils/jobs/569054120), and the error is `TypeError: evaluate() takes 6 positional arguments but 9 were given`. The photutils code for the two `model`s that breaks in 4.0 modeling, before the fix currently in place in photutils/master, can be seen [here](https://github

[2019-08-14 01:13] bsipocz commented on #9122
Fix has beed deployed on the conda side, and version pinning removed from ci-helpers.

[2019-08-14 01:13] #9122 closed

[2019-08-14 12:21] perrygreenfield commented on #9108
That should be sufficient. Although it seems that in this case the definition of the parameters in the subclass is unnecessary since nothing is different in their definition in the subclass. Still, it's a bug that needs to be fixed.

[2019-08-15 13:58] nden commented on #9085
In an attempt to reproduce the problem on my RHEL, I built cfitsio. Then built wcslib with
[code]
Then built astropy with system libraries.
This was the only way to resolve the issue with undefined variables in astropy.wcs.

Would something like this work for the ARCH build? Note that I need to pass `-lcfitsio` to `LDFLAGS` when wcslib is built.
This is only necessary if cfitsio is available on th

[2019-08-15 15:44] nden commented on #9085
FYI: I reported the problem to Mark Calabreta and he has just released wcslib v6.4 backing out the change that caused this issue.

[2019-08-15 15:49] mboquien commented on #9085
@nden Thanks. I have flagged the wcslib pacakge as out-of-date for Arch. As soon as it is updated, I will give it another try.

[2019-08-15 16:43] nden commented on #9085
@mboquien I'll keep the issue open. Please feel free to close if this is resolved.

[2019-08-15 17:45] karllark commented on #9069
See #PR 9078 and the comment by @perrygreenfield about a possible improvement to the organization on the main page.

[2019-08-15 17:46] karllark commented on #9069
Not sure having a large issue like this makes the most sense.  Might be better to generate a series of issues that break the work into small pieces.

[2019-08-15 19:54] nden opened #9127 "provide better navigation tools in astropy.modeling documentation"
For example, a way to go back to the `Getting Started` or `Concepts` page from a page a few levels down in the docs.

[2019-08-15 19:57] nden opened #9128 "Improve the documentation on astropy.models"
[ ] expand the basic concepts
[ ] better description of `model_sets`
[ ] examples of `model_sets`

[2019-08-15 20:00] nden opened #9129 "Improve documentaiton on astropy.modeling.Parameter"
A description of the attributes of a `Parameter`, including constraints.

[2019-08-15 20:01] nden opened #9130 "Improve documentation on compound models"
[ ] Advanced usage
[ ] Explain inverse

[2019-08-15 20:04] nden opened #9131 "Improve documentation of fitting in modeling"
[ ] Advanced fitting
[ ] Using a custom statistic function
[ ] Fitting with units

[2019-08-15 20:05] karllark commented on #9066
In person discussion with @nden @jdavies-st @perrygreenfield summary of a proposed solution for the BlackBody1D parameter issues.

Create BlackBody model with temperature and scale as parameters (put in new file called 'physical_models.py').  Avoids breaking functionality provided by BlackBody1D where the parameters are temperature and bolometric_flux.

Deprecate BlackBody1D, blackbody_lam, and bl

[2019-08-15 20:06] nden opened #9132 "Write a better starting example in the modeling documentation"
The example should show model evaluation and fitting.

[2019-08-15 20:17] karllark commented on #9128
Possible sections of such docs:

Basic Concepts
Using Arrays as parameters and model variables
Inverses
Bounding Boxes
Model Sets
Input/Output dependencies

[2019-08-15 20:18] karllark commented on #9129
Possible sections of such docs (from PR comment by @perrygreenfield):

Basics
Constraints

[2019-08-15 20:18] karllark commented on #9130
Possible sections of such docs (from PR comment by @perrygreenfield):

Basics
Advanced usage

[2019-08-15 20:19] karllark commented on #9131
Possible sections of such docs (from PR comment by @perrygreenfield):

Basic Fitting
Advanced Fitting
Obtaining Fitting Errors (TBD)
Using a Custom Statistic Function
Using models with Bayesian tools (TBD)

[2019-08-15 20:21] perrygreenfield opened #9133 "create realistic astronomical fitting examples for modeling"
The intent with this issue is to provide examples are very specific to realistic astronomical fitting and modeling examples. For example:

- Fitting absorption lines and computing equivalent widths

- Fitting binned 1D and 2D data (spectral and image)

- (add other examples...)

[2019-08-15 20:28] #9108 closed

[2019-08-15 21:02] nden opened #9134 "Write examples for the modeling package"
[ ] blackbody
[ ] projections
[ ] model_sets
[ ] fitting with weights
[ ] ...

[2019-08-16 11:43] mirca commented on #8326
The "_KnuthF" function seems to be highly non-convex:

[code]

![Figure_1](https://user-images.githubusercontent.com/13077051/63165438-d4d8f780-c001-11e9-86f0-d5565ce38dc4.png)

[2019-08-16 11:50] mirca commented on #8326
And for whatever choice of data, the global minimum seems to be happening at M = 1.

[2019-08-16 14:28] larrybradley commented on #8326
CC @jakevdp

[2019-08-16 14:36] pllim commented on #9066
Why a new module? Why not put your `BlackBody` in the same module as the deprecated `BlackBody1D`?

[2019-08-16 14:52] karllark commented on #9066
The basic idea is that this provides a module for other physical models.  There likely will be others (e.g, the Drude model is an electron in a solid).  Other physical (versus mathematical) models can then go in this module.  Just seems better setup for the future.

[2019-08-16 16:52] mirca commented on #8326
In addition, the objective function seems to have this staircase-like looking (because `M` is integer), so I'm not sure whether gradient descent-type optimization algorithms are adequate.

[2019-08-16 20:40] pllim opened #9136 "TST: CircleCI 32-bit failing due to pytest 5.1"
See https://github.com/pytest-dev/pytest/releases/tag/5.1.0 . This is to fix:
[code]

Example log: https://circleci.com/gh/astropy/astropy/40431

See astropy/pytest-doctestplus#63 for a proposed fix.

[2019-08-17 03:36] altairgomes opened #9138 "Wrong transfrom SkyCoord to AltAz"
[code]

Coordinate without distance:
[code]

Coordinate with distance:
[code]

The difference is too large to be explained by parallax.

[2019-08-17 13:42] karllark commented on #9071
Physical model - electron in a solid (usually a metal).  Should go into the new physical_models.py module.

[2019-08-17 13:49] karllark commented on #9069
Work separated into multiple issues to make it easier to track and different people to work on.  See #9127, #9128, #9129, #9130, #9131, #9132, #9133, and #9134.

Closing this issue as a result.

[2019-08-17 13:49] #9069 closed

[2019-08-18 08:52] Juanlu001 opened #9139 "Constants cannot be pickled"
[code]

[2019-08-18 09:11] Juanlu001 commented on #9139
It's interesting though that, if the constant is part of another object, everything works fine...

[code]

(perhaps it's only "interesting" to me because I don't know enough about how pickle works)

[2019-08-18 15:04] pllim commented on #9139
Can you please try the dev version? `constants` was refactored for 4.0 to better support the different versions of constants (irony?).

[2019-08-18 15:05] pllim commented on #9138
Why does this sound familiar? Maybe @eteq or @adrn can follow up.

[2019-08-18 18:20] jluastro opened #9140 "Too big parallax from apply_space_motion"
I have been trying to plot the path of a star on the plane of the sky as seen from Earth. I have the following example for a source located toward the Galactic bulge and at 8 kpc. However, the parallax I get after calling apply_space_motion and converting from ICRS to GCRS is far too large. Am I doing something wrong or is there an issue in the conversion?

[code]

<img width="658" alt="image" src

[2019-08-18 18:27] Juanlu001 commented on #9139
Sorry, should have tried this before. Same result:

[code]

[2019-08-18 18:41] pllim commented on #9139
@stargaser , any idea?

[2019-08-18 19:00] jluastro commented on #9140
I got the following to work as expected (subtracting off the position of a source at very very large distances). But I don't understand why the approach above doesn't work.

Add the following code
[code]

[2019-08-18 23:03] wtgee commented on #8981
Chiming in here as well (in addition to https://github.com/astropy/astroplan/issues/356#issuecomment-522362449). We have no problem providing our own mirror, mitigating the flakiness issue, but there still seem to be some consistency issues with how it is detected by the library. This might be specific to astroplan itself rather than astropy, but wanted to at least link the issues.

[2019-08-19 13:44] lpsinger commented on #8981
I don't think that you should provide your own mirror unless you can guarantee that you can update it whenever a new copy is issued.

[2019-08-19 14:23] mhvk commented on #8981
Agreed with @lpsinger. I am also not sure whether it is so necessary to download IERS-A in every CI run - it is a hefty file and why test someone else's server? (Or add unnecessary pressure to it) It seems to me for testing one's own code, it is much more important to check that a given state leads to the right outcome.

Anyway, I'm still in favour of the simple solution proposed on top, of just m

[2019-08-19 14:25] lpsinger commented on #8981
The issue with Astroplan is that it directly checks for the existence of the file in the cache, and the filename in the cache would depend on which URL is successfully downloaded.

Can Astropy instead manage this?

[2019-08-19 15:47] stargaser commented on #9139
All I can say for right now is that #5719 notes that all the pickle tests on constants are set to xfail and that this is something we should investigate. At least that tells us that the inability to pickle constants is not a new thing. I am unsure whether this should be considered a bug or a feature.

[2019-08-19 18:03] stargaser commented on #9139
Somehow `Quantity.__setstate__` is failing when trying to unpickle the constant. The `.name` property is None when trying to wrap `Quantity.__setstate__`.

Interestingly, making a Quantity out of the unit works:

[code]

[2019-08-19 18:34] bsipocz commented on #9139
I would suggest to label either this one or the other issue as a duplicate and close. Afaik that investigation hasn't been done yet, and naively it's difficult to see how could the the non-pickeable nature of constants be a feature rather than a bug/missing feature.

[2019-08-19 19:40] pllim opened #9141 "np.insert gives UnitConversionError with Numpy 1.17.0 (used to work)"
Here is a minimal reproducible code snippet:
[code]

With `astropy 4.0.dev25566` and `numpy 1.17.0`, I get this traceback:
[code]

With `astropy 4.0.dev25566` and `numpy 1.16.4`, I get this:
[code]

If I downgrade to `astropy 3.2.1`, it works with both versions of Numpy. I suspect this is a side effect of #8808 . Any advice, @mhvk ?

**UPDATE:** Workaround is to call `np.insert(flux, 0, 0 * flux.u

[2019-08-19 19:46] wtgee commented on #8981
The issue for us is described in https://github.com/astropy/astroplan/issues/410, namely that the military domains are banned from certain countries and the ftp download doesn't work with the astropy setup (because it is redirecting to ftps). The https://datacenter.iers.org/data/9/finals2000A.all should work but this limits us to only one server and as far as I can tell all of the URLs listed abov

[2019-08-19 20:07] pllim commented on #9141
If this is a feature and not a bug, feel free to close. I found a workaround and updated the issue above with it. FYI.

[2019-08-19 20:07] mhvk commented on #9141
Hmm, the error you get is because the unit is not consistent.  In principle, like for equality tests or setting of an array item, in your specific example of setting to `0` should be allowed, I think, which means this is indeed a bug (though your PR to synphot seems a good idea - explicit is better).

[2019-08-19 20:08] mhvk commented on #9141
Changed it back to "bug", though arguably of low priority.

[2019-08-19 21:21] stargaser commented on #5719
Reported in #9139. I tried un-xfailing the second test and I confirmed that the problem is the same as in that issue. I am inclined to treat this as a missing feature, and milestone it for v4.0.

[2019-08-19 21:21] stargaser commented on #9139
I think this is more of a missing feature than a bug. afaik we have not been advertising that constants can be pickled. That is an important distinction, because if we treat this as a missing feature, I would milestone it for v4.0, while as a bug it would be something to try to backport.

Before doing anything -- is everyone okay with closing this one, and milestoning #5719 for v4.0?

[2019-08-19 21:24] stargaser commented on #5719
cc @Juanlu001 who filed #9139

[2019-08-19 21:39] bsipocz commented on #9139
please only milestone issue if that indeed has a reasonable priority and chance to get done by the release

[2019-08-20 00:33] eteq commented on #8981
I'm also :+1: to the list of URLs solution as in the OP and @mhvk's comment.

@wtgee

In principle I agree but logistically there's a lot more to it if it's supposed to be permanent. "Easy right now" is not the same thing as "easy to keep running for the next 10 years". After all, that explicitly is the purpose of the IERS itself (the service, not the file)!

That said, combined with the list of U

[2019-08-20 00:40] wtgee commented on #8981
@eteq agreed about the long-term viability. The real hope would be to host this as a public google dataset. However, I'm not sure that's in keeping with the nature of google public datasets as the data doesn't seem entirely useful by itself. Tagging @mimming for input in that regard.

[2019-08-20 15:09] pllim commented on #5719
Thanks for looking into this, @stargaser !

[2019-08-20 16:39] Juanlu001 commented on #9139
Sure, I agree with going on with the conversation on the original one

[2019-08-20 18:03] #9139 closed

[2019-08-20 19:33] pllim opened #9147 "TST: Revert pinning sphinx <2.2 in CircleCI"
Revert #9146 when we know how to fix the Sphinx warning in `visualization.wcsaxes`.

[2019-08-20 20:54] eteq commented on #9093
Just hit this problem in a different context.  I wonder if this is a case where we should let the FITS writer be a bit more loose?  I.e., it could cut off the description, or possibly fall back on a heirarch or something?

I think it's fair to then *not* guarantee round-tripping back to the same table, but it would be good if the fits table at least didn't die?

[2019-08-20 21:33] saimn commented on #9093
It already uses a HIERARCH keyword when the keyword name is too long, but the issue happens when both the keyword and value are too long. In this case, as HIERARCH and CONTINUE are incompatible (#3746), there is no lossless solution.

[2019-08-20 22:20] bsipocz commented on #9093
out of curiosity, which module? I run into the issue with Vizier before, but haven't seen it elsewhere (probably as I haven't used the other modules as often).

[2019-08-21 07:17] wtgee commented on #8981
While I think this PR is good, it doesn't help my problem as the last two urls are invalid and the top two urls are still military domains.

How do I actually change the value of `astropy.utils.iers.conf.iers_auto_url`?

I've tried to follow the guides in the page on the [config system](http://docs.astropy.org/en/stable/config/) but there is nothing about IERS in there and I can't seem to enter a

[2019-08-21 14:12] pllim commented on #8981
@wtgee , before I propose a solution for you, how do you envision you want to customize your URL? Is it per session? Are you okay with modifying `~/.astropy/config.astropy.cfg` manually? I can think of at least two different ways.

[2019-08-21 16:29] Cadair commented on #9094
This is now fixed in SunPy master.

[2019-08-21 16:35] astrofrog commented on #9094
Thanks! What remains here is to make sure that our tests aren't sensitive to externally defined converters, so this shouldn't be closed yet.

[2019-08-21 23:31] wtgee commented on #8981
This is to be used on some telescopes that run in a mostly automated fashion (https://projectpanoptes.org). We control the full install of the machine and the software itself is running on some docker images, so I have no problems modifying any of the set config files. We do mostly have a single session (i.e. control daemon) that is running the main telescope, but various other scripts also need t

[2019-08-22 15:48] pllim commented on #8981
@wtgee , what version of `astropy` are you locked into? Can you deploy with dev version, or does it have to be some released version? You are using Python 3, right? What version are you running right now?

[2019-08-22 16:43] pllim commented on #8981
**Custom IERS A URLs per-session example**

Disclaimer: The "mirror" URLs here are not real mirrors. Do not use them for production.

[code]

[2019-08-22 16:44] nden opened #9157 "Change in astropy.__str__ output"
#8546 changed the output of `WCS.__str__()` from

[code]

to

[code]

AFAIK this change was not discussed or even mentioned in the change log.

We have code which aligns images by adjusting the WCS and it prints the WCS at each step.
This kind of output is not useful at all in this case. Before changing our code I'd like to ask for the motivation for this change. Why is this more useful from a use

[2019-08-22 16:45] nden commented on #9157
@astrofrog @Cadair @eteq @mcara

[2019-08-22 16:54] pllim commented on #8981
**Custom IERS A URLs from config file example**

Disclaimer: The "mirror" URLs here are not real mirrors. Do not use them for production.

And to test this properly, clear your cache if you want. Cache is in `~/.astropy/cache` by default.

In your `~/.astropy/config/astropy.cfg` (or wherever you have configured `astropy` to store it), add this:
[code]

Then, start a fresh session *after* you modif

[2019-08-22 16:55] mcara commented on #9157
Hm, also `__repr__ = __str__`:

https://github.com/astropy/astropy/pull/8546/files#diff-e211a7e9c4ef634e461ae7d212da3eebR337

[2019-08-22 16:58] pllim commented on #8981
@lpsinger et al. , as a stop-gap solution that can be backported, how about changing the primary `IERS_A_URL` to point to https://datacenter.iers.org/data/9/finals2000A.all ? That one is a civilian domain accessible by the affected countries?

[2019-08-22 17:01] pllim commented on #9157
xref #8609

[2019-08-22 19:41] shbhuk opened #9158 "JPL Ephemeris query for Vesta, Ceres, etc."
Hi,
I want to use get_body_barycentric_posvel() for querying the ephemeris for Vesta, Ceres, and some other asteroids.
Do I understand correct, that right now it can only be used for bodies listed by
`solar_system_ephemeris.bodies`?

[2019-08-22 22:51] wtgee commented on #8981
While I'm all about this in theory, that particular domain isn't working because of the https redirect. Following your example and setting both domains to ensure usage:

[code]

The NASA ftp site used to have the same issues with an ftps redirect but that does appear to be working for me now.

[2019-08-22 22:59] wtgee commented on #8981
This works great, thanks for both examples. FWIW, I just had `[utils.iers]` in the config file. In hindsight the solution seems obvious but good to have it spelled out.

The remaining issues are astroplan specific and should be solved by @lpsinger's https://github.com/astropy/astroplan/pull/418

[2019-08-23 13:09] bsipocz commented on #9158
To query ephemeris for arbitrary solar system objects I would suggest to use the `jplhorizons` module in astroquery. There are several examples in the following doc page:

https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html

[2019-08-23 13:09] #9158 closed

[2019-08-23 15:42] pllim commented on #8981
Great! Until someone has a time to work on refactoring for List O' Mirrors support, at least this is not blocking your work anymore. 🤞

[2019-08-23 15:46] nden commented on #7424
This issue was discussed at PyAstro2019 and the consensus was that both ways of fitting are needed. Adding a flag controlling the behavior may be one way to do it.

[2019-08-23 19:49] pllim opened #9161 "TST: mpldev job is failing"
Example log: https://circleci.com/gh/astropy/astropy/40859

[code]

[2019-08-23 22:28] astrofrog commented on #9161
I’ll take a look shortly - just In case anyone is interested, the baseline and generated plots are uploaded as artifacts in CircleCI

[2019-08-24 01:15] shbhuk commented on #9158
Which ephemerides file does this default to?

[2019-08-24 01:18] shbhuk opened #9164 "AttributeError: 'HorizonsClass' object has no attribute 'uri'"
This error displays when I run the `Horizons` class within the  `jplhorizons` submodule.

[code]

OUTPUT:
`AttributeError: 'HorizonsClass' object has no attribute 'uri' `

Astropy Version Number 3.2.1

[2019-08-24 01:24] shbhuk commented on #9164
Based on - https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html

[2019-08-24 01:32] pllim commented on #9164
Please open this issue over at https://github.com/astropy/astroquery/issues . This repository is only for the `astropy` package. Thank you.

[2019-08-24 01:32] #9164 closed

[2019-08-24 01:35] pllim commented on #9164
p.s. Looks like what you need was added in `astroquery` 0.3.9. Check your `astroquery` version. xref astropy/astroquery#1207

[2019-08-24 01:37] pllim commented on #9158
Does this answer your question?

https://astropy.readthedocs.io/en/stable/api/astropy.coordinates.solar_system_ephemeris.html#astropy.coordinates.solar_system_ephemeris

[2019-08-25 11:33] astrofrog commented on #9161
This is due to https://github.com/matplotlib/matplotlib/pull/14940 - I'll just regenerate the baseline images.

[2019-08-26 14:59] saimn opened #9168 "Crash with convolution and Astropy 3.2"
From the mailing list: https://mail.python.org/pipermail/astropy/2019-August/004557.html

And the code to reproduce and traceback:
[code]

[code]

[2019-08-26 15:02] saimn commented on #9168
With the code above, `kernel_sigma` is a Quantity and ``kernel.array`` is a Quantity too, which at least explains why it crashes in a quantity method (``_result_as_quantity``):
[code]

[2019-08-27 00:18] mdhoney opened #9172 "ImageNormalize() crashing (divide by zero)"
When I try to apply `visualization.ImageNormalize()` on an image containing some NaN pixel values, it crashes (**invalid value encountered in true_divide**).  Other than `MinMaxInterval`, all intervals produce this issue.  is this a bug or am I missing something really obvious here?  The file checks out with fitsverify.

[2019-08-27 00:34] #9172 closed, assigned to nobody

[2019-08-27 08:40] eteq opened #9173 "When an NDData is passed to Cutout2D, it should use the wcs"
The `Cutout2D` class requires the following odd invokation if you want to use sky coordinates for anything with an nddata: ``Cutout2D(image, wcs=image.wcs, ...)``.  That seems like unnecessary repetition. Can't we get away with ``Cutout2D(image, ...)`` if wcs is None, and have it automatically use `wcs` if one is present on the input image?

(I can make a PR for this if it's agreed that it's reaso

[2019-08-27 15:50] pllim opened #9174 "DOC: doctest-requires ignored in plot directive"
In this documentation snippet, it seems to me that the following plot directive should be skipped too if `skimage` is not present, but that is currently not the case.
[code]
Ref: https://github.com/astropy/astropy/blame/master/docs/nddata/index.rst#L337-L351

As a result, I see this traceback in the doc build when I build it without `skimage` installed:
[code]

[2019-08-28 15:55] mattip commented on #5797
A possible fix to this would be to recreate `hdu.data`, so change
[code]
to `s/hdu.data/hdu/`
[code]
then the lines that are emitting the warning become
[code]

[2019-08-28 22:35] dhomeier commented on #9140
Is this the annual aberration? Would have a semiamplitude of order _v__Orb/_c_ ~ 1/10000 = 20.5"...

[2019-08-29 00:03] aarchiba commented on #8676
If I understand the code correctly, the failure of the alias lookup doesn't cause a problem, it just gets the URL listed as not having an alias and the function proceeds fine (possibly after a timeout, which you could set small if the Internet is never accessible on the machine). So this one call poses no particular problem to offline use of astropy.

[2019-08-29 00:48] dstndstn commented on #8676
I'm sorry, but I have to object to this line of reasoning.  *We have the data in the cache*!!  But the code *still* insists on, *just in case*, hitting the URL to check whether it is an alias!  Setting a timeout to be small is a work-around that should not be necessary.

[2019-08-29 00:55] dstndstn commented on #8676
PS, to answer a previous question, this came up in some code where we need to compute the airmass of an observation, and that required looking up the site coordinates.  This is in a Docker container, so we want to pre-populate the container with cached files as much as possible, because we're going to run this on millions of observations on a cluster.  On this particular cluster, the compute nodes

[2019-08-29 07:58] datainvestor commented on #7052
@ocroquette I have same problem. I tried putting those into the main.spec file however running the exe again yielded same error. Did you change anything again or did you added some flags when building the exe file?

[2019-08-29 08:47] astrofrog commented on #7052
Just for the record, I recently added a hook for astropy to pyinstaller:

https://github.com/pyinstaller/pyinstaller/pull/4274

so be sure to try with the latest version of pyinstaller.

[2019-08-29 09:13] datainvestor commented on #7052
I'm using version pyinstaller ver. 3.5, i think thats the newest?

[2019-08-29 09:51] aarchiba opened #9178 "pytest-astropy requirement: recommended development workflow does not work"
If a user attempts to follow the "How to make a code contribution" at http://docs.astropy.org/en/stable/development/workflow/development_workflow.html#install-your-branch they run into trouble because they haven't installed pytest-astropy. Can it be made a dependency for development? Or installation even?

If I try `python setup.py test` it runs but I get failures in all doctests in rst files. If

[2019-08-29 10:08] aarchiba opened #9179 "python setup.py test produces failures on all rst files"
If I simply follow the "How to make a code contribution" and do:
[code]
I get a very large number of failures, one for every rst file (that contains a doctest?). They look like:
[code]
I note that this happens whether or not I have installed `pytest-astropy`. By contrast, `astropy.test()` does appear to work (once I have installed the additional package):
[code]

[code]

[2019-08-29 10:12] aarchiba commented on #9178
Correction: `python setup.py test` failures are actually #9179 . It still doesn't raise an exception or tell me to install `pytest-astropy`, and in fact appears to work (that is, run and produce roughly the same set of failures) without the additional package. Sorry for mixing two orthogonal issues. This issue is summarized as:

- `astropy.test()` needs `pytest-astropy` but this is not documented

[2019-08-29 10:27] aarchiba opened #9180 "Test failure in astropy/utils/test_data.py with remote_data=True: test_download_parallel"
In an install in a clean virtualenv, `astropy.test(test_path="astropy/utils/tests/test_data.py", remote_data=True)` fails. Short version of failure message:
[code]

Running `astropy.test()` completes fine. This is in a minimal `python setup.py develop` context. Longer details follow.

[code]
The full error message is:
[code]

[2019-08-29 13:09] nden commented on #9127
We are convinced now there's everything that's needed. Closing this issue.

[2019-08-29 13:09] #9127 closed

[2019-08-29 13:48] dhomeier commented on #9179
This is a known issue with pytest 5.1 - see e.g. #9136. Not sure what the status of the proposed fixes is; for the time being can you try downgrading your pytest installation to < 5.1 (5.0.x)?

[2019-08-29 13:59] dhomeier commented on #9178
Are you sure it is running without `pytest-astropy` and not simply installing it automatically (reporting something like `installing in .eggs/pytest_astropy-0.5.0-py3.7.egg` before the actual test session starts)?
I agree this could be better documented.

[2019-08-29 17:58] pllim opened #9186 "TST: Tests broken with semantic versioning"
Example log: https://travis-ci.org/astropy/astropy/jobs/578463263

[code]

[2019-08-29 18:00] nden commented on #9186
I'm working on a fix.

[2019-08-29 18:12] ocroquette commented on #7052
@datainvestor Are you calling pyinstaller on the spec file, or the py file? It should be the former. See https://pyinstaller.readthedocs.io/en/stable/spec-files.html

[2019-08-29 18:15] pllim commented on #9178
Instructions on `stable` are outdated. You still have problem with
http://docs.astropy.org/en/latest/development/workflow/development_workflow.html#install-your-branch ?

[2019-08-29 18:18] pllim commented on #9179
This will be resolved when new version of `pytest-doctestplus` is released.

[2019-08-29 18:21] pllim commented on #9180
The test might need updating due to how we reconfigured the data server recently. Thanks for reporting this.

[2019-08-29 20:22] nden commented on #9186
Fixed by asdf 2.4.2 release.

[2019-08-29 20:22] #9186 closed

[2019-08-29 20:34] aarchiba commented on #9178
Yes. I make an empty virtualenv and run `pip install -e .` and all that gets installed is numpy and astropy:
[code]
And then:
[code]

[2019-08-29 20:36] aarchiba commented on #9180
Perhaps? But it's a gdbm error that's arising, nothing external. If the server changed, that should just affect the timing of the gdbm interactions, revealing a latent bug.

[2019-08-29 23:36] pllim commented on #9180
It'll be great if you could track it down. I see that `gdbm` thingy once in a while but it never happens enough for me to make it a priority to fix. 😬

[2019-08-29 23:39] pllim commented on #9178
Hmm, perhaps in the dev instructions, we should just ask people to install all the optional dependencies? 🤔

[2019-08-29 23:41] pllim commented on #8676
@aarchiba , is your PR #9182 an attempt to address this issue?

[2019-08-29 23:46] pllim commented on #8676
@dstndstn , I understand the frustration, but one of the downside of open source relying on volunteer time is that things might not get done in time or to everyone's satisfaction. If you do not want your code to access the internet, here are a couple of quick hacks that I can think of:

1. Use the config context manager to *temporarily* change timeout values, then catch the exceptions and handle t

[2019-08-30 00:17] dstndstn commented on #8676
I just sent PR #9187 with my one-line fix

[2019-08-30 14:00] #9132 closed

[2019-08-30 14:43] jbcurtin opened #9189 "AWS Lambda configuration error"
When running `astroquery.mast import Observations` in AWSLambda, the following stack-trace appears
[code]

[2019-08-30 14:59] pllim commented on #9189
Yes, @mustaric and I came across that as well. We managed to get around it by setting `HOME = /tmp` in the environment variables section.

[2019-08-30 15:02] pllim commented on #9189
Might be related #6620 and #5899 .

[2019-08-30 23:56] burhankhanlodhy commented on #7052
I am unsure how to use frozen_astropy with my own file. Can someone please elaborate?

[2019-08-31 00:33] burhankhanlodhy commented on #7052
`import numpy as np
import pandas as pd
from astropy.io import fits
from photutils import DAOStarFinder
from astropy.stats import mad_std
import matplotlib.pyplot as plt
from photutils import aperture_photometry, CircularAperture
def photometry(filepath):
 hdulist  = fits.open(filepath, ignore_missing_end=True)
 hdu = hdulist[0]
 hdu.data.shape
 image = hdu.data.astype(float)
 image -= np.median(i

[2019-08-31 10:57] burhankhanlodhy commented on #7052
Ok so i found the solution here [https://stackoverflow.com/a/35605281]

[2019-09-01 18:09] karllark opened #9191 "Summary table of models fitter capabilities"
Different fitters support different options (constraints, weights, etc.).  It would be useful to have a table in the documentation that gives the options in an easy to read format.

[2019-09-02 01:05] kazuakiyama opened #9193 "An issue in the HDU header information created by astropy.io.fits.GroupsHDU seen at least after v3.2.1"
It seems that the recent updates in astropy.io.fits cause some bugs in the generation of the GroupHDU's header at astropy.io.fits.GroupsHDU.

Here, I would show what I got if I typed the example commands in [the documentation](https://docs.astropy.org/en/stable/io/fits/usage/unfamiliar.html#creating-a-random-access-group-hdu). For this particular run, I'm using Python 3.7.3 in Anaconda 2019-7 inst

[2019-09-02 09:37] justandrey opened #9194 "FITS_rec memory leak"
I've found a memory leak when using a HDUBinTable fits_record data.
The recipe to get the memory leak:
[code]
Since I found this error, when handled several relatively big fits files, my notebook overfilled its memory pretty fast

[2019-09-02 09:38] justandrey commented on #9194
In order to bypass the memory leak I simply copy FITS_rec into numpy.recarray

[2019-09-02 11:24] MSeifert04 commented on #9193
@kazuakiyama Thank you for the report. I quickly checked and can reproduce the issue.

[2019-09-02 11:29] MSeifert04 commented on #9193
The header is however correct if you write the file:

[code]

which is also why the documentation did not fail.

It's a regression...

[2019-09-02 11:49] MSeifert04 opened #9196 "set_locale contextmanager"
The [`locale` module documentation](https://docs.python.org/3.7/library/locale.html#background-details-hints-tips-and-caveats) mentions that setting and restoring the locale is generally a "bad idea":

My question is: Should we really provide it in our **public API** if the Python docs discourage it?

[2019-09-02 12:18] MSeifert04 commented on #9193
There's another issue with FITS Groups that haven't been written to a file: #6688

[2019-09-02 12:29] kazuakiyama commented on #9193
@MSeifert04

Thanks for prompt checking! Yes, I also saw that PCOUNT, GCOUNT and PTYPEs were indeed corrected when hdu was written to a file.

However, in actual usage, I think people won't generally write a single hdu file in this stage. If one edits the header after this command by assuming that the correct information already inputted as in previous versions, there will be a still risk to cause

[2019-09-02 12:45] astrofrog opened #9197 "Writing Quantity to FITS file"
I often encounter the following issue:

[code]

and I was wondering whether it might make sense to actually allow this to work, and automatically set ``BUNIT`` in the FITS header based on the quantity's unit? (emitting a warning if ``header`` already defines a unit that gets overwritten).

[2019-09-02 12:53] MSeifert04 commented on #9197
I'm not certain if `io.fits` directly should support this.

Both `Table` and `NDData` do support Quantity arrays + FITS and are probably better "high-level interfaces" for the "whole astropy integration".

[2019-09-02 13:37] mhvk commented on #9197
Trying to trace this a bit, I see that `hdu.data` becomes a `Quantity`, and that cannot be written directly.

I think it would not be too difficult to solve: just adjust `data.setter` in `hdu.image._ImageBaseHDU` to check for a unit on the input and adjust the header accordingly. One might do this very bluntly, by passing all possible input through `u.Quantity` and appropriately deal with dimensio

[2019-09-02 13:44] mhvk commented on #9196
It does seem a bad idea. Looking into it, `setlocale` is used in `io.ascii` and `wcs` tests. For the former, it seems part of the code, which uses `utils.misc.set_locale` in `io.ascii.fastbasic`. Possibly, this should just be kept locally? Cc @taldcroft.

[2019-09-02 13:55] MSeifert04 commented on #9197
Is there any reason that you don't use `NDData` or one derivative that supports writing/reading FITS files with units?

I'm not exactly sure if we should support quantities (or units) in `io.fits`. I mostly understood `io.fits` as low-level wrapper for the fits format, not as the high-level "astropy interface", which would be `astropy.nddata` or `astropy.table`. That has the advantage that these c

[2019-09-02 14:03] MSeifert04 commented on #9196
Note: I made a PR that also changes the wcs test to use the `set_locale` context manager (#9195). That was also what triggered my investigations on the subject 😅

[2019-09-02 15:42] pllim commented on #9191
💯  I would read it!

[2019-09-02 15:49] pllim commented on #9193
@kazuakiyama , would you be interested to investigate the fix?

[2019-09-02 15:50] pllim commented on #9194
What does this feel familiar? Is this the same as #9096 ?

[2019-09-02 15:52] pllim commented on #9194
Do you also see this when you interface with the table using `Table` I/O instead of the lower-level FITS API?

[2019-09-02 15:52] astrofrog commented on #9197
@MSeifert04 - nothing beats ``fits.writeto`` when trying to write an array quickly to disk 😆 - I was just thinking that since ``fits.writeto`` is a convenience anyway, it could silently do the right thing. No strong opinion, but if we decide to not support it it might be good to have a clearer error message.

[2019-09-02 15:53] kazuakiyama commented on #9193
@pllim Sure. Although I'm not sure if I can find the solution easily, I can take a look at source codes.

[2019-09-02 15:55] pllim commented on #9196
`set_locale` was added back in #4363 . If you decide to remove it, it should first be deprecated in v4.0.

[2019-09-02 15:58] pllim commented on #9197
FITS is already complicated enough as is. If a higher level API (like `Table` or `NDData`) can do this, I would vote that we should not touch FITS.

[2019-09-02 16:23] MSeifert04 commented on #9196
The question would rather be: Should we keep it, remove it from the public API, or completely remove it. In case we decide to remove it completely we would need to figure out how we can avoid relying on the C locale in any way.

[2019-09-02 16:24] astrofrog commented on #9197
Unfortunately we don't actually have FITS readers/writers for plain NDData objects (yet), but we really should add some!

Another thing we could do here that would work in general would be in ``fits.writeto`` to check for ``__array__`` on objects that are passed in, since using that for a quantity would automatically drop the unit, and it would be good to support objects that implement ``__array__

[2019-09-02 16:29] MSeifert04 commented on #9197
Ah yeah, they are only implemented on `CCDData`... right.

I think that we duck-type on the `tofile` method of the object passed in. Not sure what would regress if we changed that to the `__array__` interface.

[2019-09-02 16:31] MSeifert04 commented on #9197
Hm, I had a PR (#4799) trying to add some reader/writer for FITS.

However it probably should work if we associate the CCDData reader/writer with the NDIOMixin. 😄

[2019-09-02 16:50] astrofrog commented on #8867
I think the best course of action would be to close this and focus first on splitting out the plugin into a separate package, and make it easier to configure without requiring ``conftest.py``, then once that's done we could consider whether it makes sense to generalize in the way that I was suggesting here or something similar (but we don't have to).

[2019-09-02 16:50] #8867 closed

[2019-09-02 16:52] mhvk commented on #9197
I agree with `fits` being for low-level stuff (so perhaps scrap my suggestion to change the `data` setter), but also that `fits.writeto` is a convenience method which might as well support this. It would seem to make sense to use `NDData` internally to make that work.

[2019-09-02 21:08] taldcroft commented on #9196
Removing it from the public API seems fine to me with deprecation (assuming someone else wants to do the PR  :smile:).  Removing it completely seems to me like more work than it's worth unless we have a real-world bug that shows up.  Though I am not sure anyone has seriously looked at doing that removal so level of effort is unclear.

[2019-09-03 13:48] #9189 closed

[2019-09-04 01:39] adrn opened #9199 "Update Galactocentric default parameters?"
Thanks to [GRAVITY](https://ui.adsabs.harvard.edu/abs/2018A%26A...615L..15G/abstract), [Gaia](https://ui.adsabs.harvard.edu/abs/2019MNRAS.482.1417B/abstract), and [a combination of GRAVITY+VLBA](https://ui.adsabs.harvard.edu/abs/2018RNAAS...2d.210D/abstract), we now have new standard measurements of the solar motion, sun-galactic center distance, and solar height above the midplane. Given this, it

[2019-09-04 09:19] paulmueller commented on #7052
with PyInstaller 3.5 and astropy 3.2.1 I get a ``RuntimeError: Cannot automatically determine get_config module`` when I try to start the application:
![image](https://user-images.githubusercontent.com/2853022/64242336-a1ed9980-cf05-11e9-92ef-60fa43abc36c.png)

This is the appveyor build job: https://ci.appveyor.com/project/paulmueller/pyscanfcs/builds/27079725

[2019-09-04 11:21] burhankhanlodhy commented on #7052
@paulmueller  That is because of astropy. You should consider using the spec file to build the exe instead of the .py file. You can try this workaround I found and it works for me. If you have your .cpec file created just try to follow the workaround i have posted and it might work for you as well.

import astropy
astropy_path, = astropy.__path__
a = Analysis(['CLI.py'],
             pathex=['C:\\

[2019-09-04 12:30] mhvk commented on #9199
Looking at the current frame, I see it is a collection of references; I guess there is not an IAU working group or so responsible for defining this, unlike for `Galactic`? It might not be a bad idea to contact whatever is the most relevant group and ask if they are planning to have a recommendation.

Barring that, we could perhaps repurpose [machinery in `constants`](http://docs.astropy.org/en/lat

[2019-09-04 15:38] chris-revell opened #9200 "ModuleNotFoundError: No module named 'astropy.extern'"
My code has suddenly stopped working. The above error is produced in response to `import astropy`. Could this be due to an update or something?

[2019-09-04 15:57] pllim commented on #9200
`extern` is still there. How did you install `astropy`? What is your OS? Numpy version?

[2019-09-04 16:04] chris-revell commented on #9200
macOS 10.14.6, Numpy 1.16.2, astropy installed with conda. It's very odd because it was working before today and I'm not sure what changed.

[2019-09-04 16:10] MSeifert04 commented on #9200
Do you have an `astropy.py` file or `astropy` folder inside the current working directory?

[2019-09-04 16:14] MSeifert04 commented on #9200
The full traceback, the astropy version, and the conda channel you used for installing astropy might be important as well (at least if it's not the problem I mentioned in the post above).

[2019-09-04 17:10] pllim opened #9201 "TST: Add cron to test against Python dev"
I wonder if there is value in adding a cron job to test against Python dev. Stemmed from #9198 . cc @astrofrog and @bsipocz

[2019-09-04 18:06] chris-revell commented on #9200
[code]

[2019-09-04 18:07] chris-revell commented on #9200
[code]

[2019-09-04 18:15] MSeifert04 commented on #9200
Hm, `usr/local/lib` doesn't look like a conda-installation, are you sure you installed astropy via conda?

But the version and/or channel (pip or conda) could be helpful.

[2019-09-04 18:17] pllim commented on #9200
Try also:
[code]

[2019-09-04 20:02] chris-revell commented on #9200
Good point. I may also have a version from pip, but I thought I was using the conda version.
`conda list astropy` returns the following:
[code]

[2019-09-04 20:11] saimn commented on #9197
I think it would make sense to be able to write directly a quantity object with `fits.writeto`, and to read it maybe with a new keyword in `fits.open`. But if there is a way to achieve this with NDData or CCDData that probably better.

[2019-09-04 20:20] pllim commented on #9200
So you installed `astropy` from `conda` into `/Users/christopher/anaconda3/envs/shape-env` but somehow using some other "astropy" from `/usr/local/lib/python3.7/site-packages/`? Something is not right. If you have modified your `PYTHONPATH`, you need to revisit it.

[2019-09-04 20:42] saimn commented on #9194
Hmm, not the same as #9096 (which is for `ImageHDU`), but there is a complex reference cycle in `BinTableHDU` (between `.data`, `.columns` and `.data.columns`), which is one of the most complicated thing  in `io.fits` ...
However it is not obvious to me that there is a leak:
[code]
There is some memory that remains allocated because of the memmap, which needs to be garbage collected or handled man

[2019-09-05 10:30] chris-revell commented on #9200
I certainly have not changed the `PYTHONPATH` since the code was working.

[2019-09-05 11:52] chris-revell commented on #9200
For what it's worth, I seem to have fixed this now by uninstalling and reinstalling astropy through pip. Somehow the extern directory within that installation had disappeared. However, this was not the installation I thought I was calling, which suggests I need to be more careful with my environment.

[2019-09-05 14:28] paulmueller commented on #7052
@burhankhanlodhy thanks this worked for me.

@astrofrog Shouldn't it be possible to add this to the PyInstaller hook? Otherwise this hook would somehow miss its intended purpose.

[2019-09-05 14:29] pllim commented on #9200
Great it is working for you now. `conda` keeps changing its behavior on us, it is hard to keep track what is what anymore. :grimacing:

[2019-09-05 14:29] #9200 closed

[2019-09-06 01:05] aarchiba opened #9205 "IERS B not always loaded into IERS_Auto"
The IERS B data is not loaded into the IERS_Auto object if new IERS A data is not available, even though the IERS B file is present.

This is demonstrated in PR #9204 .

[2019-09-06 01:06] aarchiba opened #9206 "Incomplete loading of IERS B data into IERS_Auto"
When new IERS A data is available, the columns dX_2000A_B and dY_2000A_B are not loaded in from the (potentially new) IERS B data that is available, unlike UT1_UTC_B, PM_X_B, and PM_Y_B.

This is demonstrated in PR #9204 .

[2019-09-06 01:49] aarchiba commented on #9205
In fact what happens is that the IERS_Auto just serves up an unmodified IERS B file as if it were an IERS A file. This means all the _A columns are missing (naturally enough), all the _B columns are missing (which is awkward and unnecessary), and all the unmarked columns are taken straight from the IERS B table. The units of dX_... and dY_... are different in IERS B than IERS A (arcseconds versus

[2019-09-06 10:59] astrofrog opened #9208 "Consider adding UCD1+ physical types to coordinate frames"
In the APE 14 WCS, we have a [wcs.world_axis_physical_types](https://docs.astropy.org/en/stable/api/astropy.wcs.wcsapi.BaseLowLevelWCS.html#astropy.wcs.wcsapi.BaseLowLevelWCS.world_axis_physical_types) property which lists, if available, the UCD1+ types that correspond to each world axis.

In the context of WCSAxes, it would be really useful if astropy.coordinates frames could also have a way of d

[2019-09-06 14:49] pllim commented on #9205
cc @taldcroft and @mhvk

[2019-09-06 14:50] pllim commented on #9206
cc @taldcroft and @mhvk

[2019-09-06 15:48] Zac-HD commented on #9017
Ping @Juanlu001 from EuroScipy :smile:

[2019-09-06 20:32] eteq commented on #9199
Hmm. I tend to think there is indeed no formal definition to worry about here - in the past the IAU has generally been mostly concerned with frames as abstract coordinate constructs, rather than physically interpretable things.  And indeed that's how I think we originally cast `Galactic` vs `Galactocentric` - the former is the conventional construct, whereas the later has all the extra parameters

[2019-09-06 20:50] mhvk commented on #9199
Thanks, I think it would be good to ask about IAU defaults (if only as a way to let people know that, if this doesn't happen, `astropy` will start to *define* standards by default...)

But also agreed that we should just move on. My sense would be to just update `Galactocentric` - i.e., the default is the latest and greatest is. The main question is then in what form to provide information about p

[2019-09-07 11:34] mboquien commented on #9085
I tested with wcslib 6.4 and it appears to be working fine. Thanks!

[2019-09-07 11:34] #9085 closed

[2019-09-07 23:57] adrn commented on #9199
Thanks for the thoughts @eteq and @mhvk!

I think I lead towards option 1 of Marten's list as well. I think we can add a references to the previous values in the docstring, and we could even provide a function for retrieving the past values, but I would be in favor of adopting the convention that `Galactocentric` will stay "modern". I will also send an email to IAU folks to find out if there is an

[2019-09-08 15:41] aarchiba opened #9212 "No way to efficiently add many rows to astropy.table.Table"
If you want to modify a Table in-place, so that anyone who holds the Table object will see your changes, you can use add_row to add a single row. If you want to add multiple rows, for example in astropy.utils.iers.IERS_Auto when a new table is available, you have to call add_row multiple times, producing a reallocation every time. The same is true for insert_row, but there is remove_rows that can

[2019-09-08 21:55] taldcroft commented on #9212
If this is for use within the astropy `iers` module, one could use an internal API available now in master to do this efficiently and with minimal memory.  The `validated` flag lets you temporarily make a table with different length columns.  Obviously this needs to be used with care.
[code]
Thinking about the idea of `add_rows` and `insert_rows`, this seems reasonable.  The trick is the API and t

[2019-09-09 10:45] aarchiba commented on #9212
For astropy,utils.iers this isn't strictly necessary, or even (arguably) a good idea - we have a new table with the right coiumns already, so I just delete all the columns and add the new columns all at once. No need to have incompatible column lengths at any point. Plus it's not guaranteed that the old data won't change. (But it is what got me looking for insert_rows.)

But yes, providing the fle

[2019-09-09 10:47] olebole opened #9213 "Local test observatories database"
Hi,
(cc: @Vivicoder, Debian maintainer of astroplan)
since a long time, astropy contains only a rudimentary [builtin list of observatories](https://github.com/astropy/astropy/blob/13a24fe601949f86998d5ea492740f0b1a668211/astropy/coordinates/data/sites.json), while usually the [astropy-data](https://github.com/astropy/astropy-data/blob/gh-pages/coordinates/sites.json) file is downloaded on request.

[2019-09-09 15:43] pllim commented on #9213
Looks like a continuation of #7653. cc @eteq

[2019-09-09 16:15] bsipocz commented on #9201
Sounds like a good idea to me.

[2019-09-09 17:26] taldcroft commented on #9212
A table is essentially two-dimensional in the sense that the table "shape" must be M rows by N columns where M and N are scalar integers.  Columns can have any shape so long as col.shape[0] is M.  In addition there are mixin columns (e.g. Time) which are not numpy subclass arrays but do provide an `insert` method.

[2019-09-09 19:05] bsipocz opened #9215 "Move flake8 test to circleCI"
As they should never be skipped. Maybe add them as the first step in the docs testing job? I suppose that job will be the one run most frequently as the only way to skip it is with `[skip ci]`, while in the current setup the flake8 tests don't run with `[skip travis]` or with `[docs only]`.

(e.g. to avoid failures like the ones in https://github.com/astropy/astropy/pull/9177 that also sneaked int

[2019-09-09 19:44] pllim commented on #9215
Do you think... maybe this is our gateway to Azure Pipelines? :thinking:

[2019-09-09 20:12] mhvk commented on #9215
The advantage of the current setup is that if there are PEP 8 issues, travis doesn't run all the remaining tests. Could we keep that by changing how the `[skip ..]` items are interpreted?

More generally, it would be nice if those initial travis tests (or something else) served as a gatekeeper for all the other tests...

[2019-09-09 20:17] pllim commented on #9215
But... should PEP 8 violation really skip tests? Extra blank line doesn't mean the code won't run. And author can fix just PEP 8 with `[skip travis]` like this.

[2019-09-09 20:25] mhvk commented on #9215
Agreed, I'd like a situation where PEP8 always runs but possibly nothing else. My only issue with @bsipocz's suggestion is that if we move the PEP8 test out of travis, then all travis tests will run by default even for code where it is already clear another run will be necessary (I'm assuming most people do not remember the `[skip ...]` commands, so am trying to optimize for that case...).

[2019-09-09 20:47] bsipocz commented on #9215
Yes, but then someone needs to step in and clean up anyway, and promoting best practices for the community is not a bad thing to do.

Otherwise @mhvk you have a good point. Maybe keep it both in travis and in the docs building circleCI? The latter wouldn't take up much CPU time as we would just reuse the VM to run another  command.

[2019-09-09 20:58] mhvk commented on #9215
Indeed, if we run it together with the docs, it wouldn't be much time. Indeed, I wonder if we could do the same on travis (presumably, after running the tests themselves).

[2019-09-09 21:03] bsipocz commented on #9215
Yes, I suppose we can do that, too, but originally kept is separate so it's super clear why a CI is failing.
Also, once we have actions we can opt in an app to do the flake8, but then again we can't cancel CI based on the status of that action (as far as I understand actions atm). Actually it would be nice to be able to run actions conditionally.

[2019-09-09 21:05] bsipocz commented on #9215
(Oh, never mind me, it seems that while I was soaking in cold rain and wind away from the keyboard, we got actions enabled.)

[2019-09-09 21:09] pllim opened #9217 "Table unified I/O for FITS ignore PRIMARY header"
(Hmm, I thought surely there is an issue open about this by now, but I cannot find it. If there is one, please cross-link and close this one as duplicate. Thanks!)

From Table documentation:
[code]
When I write it out to FITS with `t.write('file.fits')`, `'name'` is written to EXT 1 header. But what I really want is insert some meta data in EXT 0 (the primary header). There seems to be no way to d

[2019-09-09 21:43] bsipocz commented on #9213
Could maybe this observatory list for testing live in astroplan itself rather than in astropy? E.g. providing a local file should work with the machinery and the testing there should really test astroplan and not astropy functionality.

[2019-09-10 06:29] olebole commented on #9213
@bsipocz - sure; this was my initial idea. The problem here is however that astropy does not provide a way to inject such a local file. Astroplan does (directly in the test code, but also in the tested documentation) f.e.
[code]
`Observer.at_site()` then resolves the name by calling `astropy.coordinates.EarthLocation.of_site(site_name)`, which would need to have a local database for the tests.

[2019-09-10 15:40] pllim commented on #9213
Did someone say astroplan? Let's loop in @bmorris3.

[2019-09-10 15:58] bsipocz commented on #9213
I suppose the infrastructure to support providing such a local file would be within the scope of astropy, but providing a "dummy" file for downstream testing, with a very limited number of entries, is not.

Either way, astroplan need to sort this out downstream, e.g. ideally those test should be marked as remote data rather than to assume that the site file is already been downloaded and can be re

[2019-09-10 20:57] #9193 closed

[2019-09-10 21:19] saimn commented on #9217
There are #6949 and #2632 on the same topic. The issue is that a Table translates only to a given FITS HDU, there is no equivalent to the HDUList in the Table interface.
So currently you have to manage by yourself the HDUList, e.g.:
[code]

[2019-09-10 22:34] aarchiba commented on #9212
Ah, that does complicate things - if a column is higher-dimensional we're going to have to be careful with broadcasting and input validation. If it's an arbitrary subtype, we might have to fall back on the present method (use insert() a lot), though duck typing might save the day.

[2019-09-11 07:28] aishrimc commented on #1559
Hello. I ran into a similar problem while trying to create a new fits file. I am getting the error when I tried to create a new fits file as follows :
`x = some_array of shape [384,384,1]
hdr = fits.Header()
hdr['BTYPE']   = 'some_type'
hdr['OBJECT']  = ' something'
hdr['BUNIT']   = 'some_unit'
hdu = fits.PrimaryHDU(data=x, header=hdr)`

This is giving the error:

`KeyError

[2019-09-11 14:27] pllim commented on #1559
@aishrimc , how exactly did you create that "some_array of shape [384,384,1]"?

[2019-09-11 14:29] pllim commented on #9217
Thanks for the clarification, @saimn!

[2019-09-11 19:45] stsci-hack opened #9221 "Request: enable random access to compressed FITS arrays"
STScI will, in the coming months, start generating new products to be stored in its archive which will be larger than most (all?) current products and, in most cases, will contain a significant fraction of blank pixels.  Storing, accessing, and working with these large (0.1 degrees on a side) products will benefit in many ways from compression.  However, the services for working with these new pro

[2019-09-11 20:33] timj commented on #8793
Just a footnote here but LSST are hitting this exact problem with IERS A. Our problem is exacerbated by our CI system not having `$HOME` defined so every time we run multi-process pytest within the build we download the file again. Sometimes they are truncated and we were getting the exact same problem from line 470 of iers.py.  @pllim thanks for pointing me at this issue. We were hoping not to ha

[2019-09-12 02:25] kazuakiyama commented on #9193
@saimn Thank you very much! I confirmed that this indeed solved the issue.

[2019-09-13 19:35] MSeifert04 opened #9224 "Tests: Make ImportWarnings a failure"
While running the tests I noticed an ImportWarning from NumPy (#9223). I think such a warning deserves being noticed by our CI.

Maybe we should promote it to an Exception like we do with deprecations?

[2019-09-13 21:21] pllim commented on #9224
Doesn't hurt. :+1: from me.

cc @bsipocz

[2019-09-13 21:24] bsipocz commented on #9224
Yes, this is very much a deprecation, not sure why a new warning was used instead of it, I assume it has a story upstream if anyone cares to dig it up.

[2019-09-13 21:27] MSeifert04 commented on #9224
The relevant commit was https://github.com/numpy/numpy/pull/10850 - however no mention why all `numpy.testing.utils` got a an importwarning and everything else a deprecation.

[2019-09-13 21:30] mhvk opened #9227 "Possible improvements to how IERS is handled"
In #9204, @aarchiba wrote [a comment](https://github.com/astropy/astropy/pull/9204#discussion_r324320165) that deserves to be its own issue:

Thinking about user desires:

- User wants a specific IERS A table, or IERS B table, or merged version, for reproducibility.
- User wants *some* kind of IERS data and has no connectivity.
- User wants an IERS A or B table that covers all the data in some par

[2019-09-13 21:38] MSeifert04 commented on #9221
Thanks for the issue @stsci-hack - is it possible to access such a file - it doesn't have to contain real data, just something that has the same structure header/extensions/compression-algorithm+parameter and size as the to-be-expected files?

Just to get a rough idea of the dimensions and to confirm that any potential solution would work.

[2019-09-13 23:31] bsipocz commented on #9224
Thanks @MSeifert04 for digging the issue up. Based on the discussion there, it's an oversight, so we might not need to address this issue (though I suppose it cannot hurt to have the infrastructure to extend our machinery to be able to raise more types of warnings).
(and while we're there, I already run into some issues with `enable_deprecations_as_exceptions`, will clean up the experience for an

[2019-09-14 14:45] aishrimc commented on #1559
`some_array of shape [384,384,1]` was created from a binary file of shape [384,384,384], by picking out a slice from the third axis, namely: `some_array=initial_array[:,:,192]`.
I will upgrade and try in Astropy latest release under 3.x. Thanks @pllim

[2019-09-14 15:04] MSeifert04 commented on #1559
@aishrimc This seems to be a different issue altogether. Could you [open a new issue](https://github.com/astropy/astropy/issues/new) with a **reproducible example**?

[2019-09-14 15:57] mhvk commented on #5797
@mattip - thanks very much for the suggestion! I tried looking into it in detail again, and think the worry is not about the user having a reference still to `hdu`, but rather that they have a reference to `hdu.data`, i.e., the actual array contained in the file. The latter can be a `mmap` and it is bad form to have that closed under one's feet. In the original code, therefore, the pointer of the

[2019-09-14 17:28] mhvk commented on #8976
Just noticed that this will get fixed by #9165.

[2019-09-14 17:41] mhvk commented on #5797
#9228 failed, i.e., we still need the work-around for windows: any memory maps need to be closed before resizing the file.

[2019-09-14 18:00] mattip commented on #5797
That was my intention

[2019-09-14 18:49] taldcroft opened #9230 "Allow initializing table Column from list of objects?"
As discussed in https://github.com/astropy/astropy/pull/9165#discussion_r317398737, one might consider raising an exception for an input list that ends up as an object array.

From @mhvk:
My sense would be to be a bit less forgiving in this case. E.g., the list may contain quantities with incompatible units or incompatible TimeDelta scales - both of which would be more likely mistakes. My sense wo

[2019-09-14 19:05] eawer opened #9231 "Error while parsing years earlier than 4799BC"
Hello! I'm trying to parse a bunch of different dates, and BC ones are among them. And what I've noticed, is that if the date is earlier than 4799BC, astropy refuses to parse it and throws this:
[code]
Here is the code and corresponding [repl.it](https://repl.it/repls/OriginalOnerlookedJavadocs)
[code]

[2019-09-14 19:19] mhvk commented on #9231
Hmm, the error here is rather misleading. If I instance more directly:
[code]
This comes from https://github.com/astropy/astropy/blob/master/cextern/erfa/cal2jd.c#L54 - essentially, I guess calendar dates are considered undefined before that time...

[2019-09-14 20:11] eawer commented on #9231
Hmm, so looks like I can't handle the dates, earlier than that, correct?

[2019-09-14 20:45] #8976 closed

[2019-09-14 21:45] mhvk commented on #9231
As is, not as a FITS or ISO string. Things like `Time(-10000., format='jyear')` work fine. Out of curiosity, what do you need the early dates for?

p.s. Note that our ERFA routines are just copies of the [Standards Of Fundamental Astronomy](http://www.iausofa.org/)...

[2019-09-14 21:56] mhvk opened #9232 "IERS TestIERS_A class is not automatically run"
The `astropy.utils.tests.test_iers.TestIERS_A` is run only if the directory holds an `finals2000A.all` file, which will never be the case in a CI run. The tests there should be merged with an `IERS_Auto` tests in which the file is actually downloaded.

[2019-09-15 09:03] eawer commented on #9231
I'm importing [freebase](https://developers.google.com/freebase/), which contains a bunch of dates in different formats (lot's of them are BC). To standardize it I've decided to convert everything to UNIX time.

[2019-09-15 13:18] MSeifert04 opened #9235 "CircleCI: HTML Documentation slow because it's uploading thousands of files sequentially"
Currently it takes *very long* to upload the artifacts mostly because there are thousands of files to store. CircleCI seems to allow uploading the artifacts as compressed file, that they recommend if one is uploading *hundreds* of files (https://circleci.com/docs/2.0/artifacts/#uploading-artifacts).

Would uploading a compressed file be an option?

[2019-09-15 15:07] naamach opened #9236 "LombScargle.false_alarm_probability fails for Quantities"
Trying to calculate the Lomb Scragle false alarm probability while using Quantities with units throws an error while executing `fap_baluev`, since the exponent argument has units.
(It works ok when using `method='naive'`)

Using Ubuntu 18.04.3, python 3.7.4, astropy 3.1.2, numpy 1.16.2.

Minimal working example:
[code]

EDIT: Syntax highlighting

[2019-09-15 20:14] aarchiba commented on #9232
Does it need a specific finals2000A.all file or will any old one do? If the latter just using download_file(IERS_A_URL, cache=True) as the filename will have the desired effect (download just once in the first test that needs it). (Leaving aside the tests that wipe the download cache.)

[2019-09-15 20:23] mhvk commented on #9232
Any one will do, really, so I think you're right that one might as well use the downloaded version (it gets downloaded in other tests anyway).

p.s.  And, yes, we definitely need to think more about the cache!

[2019-09-15 21:45] saimn commented on #9221
This probably requires a significant amount of work. It is mentioned in #3895, which also suggests that "Tile compression should be implemented natively in Python".

[2019-09-15 21:48] mhvk opened #9238 "Refactor FITS compressed image headers (CompImageHeader)"
The header for compressed images has a number of comments noting that its current design, as a subclass of `Header` does not work well at all, and that it would be good to refactor. This came up again while making `Header` more suitable for subclassing - it broke `CompImageHeader` (#9229).  This issue is a reminder to revisit `CompImageHeader`.

[2019-09-15 21:57] saimn commented on #9238
I think that the root of the issues mentioned in the comments is the need to change CompImageHDU to subclass ImageHDU (instead of BinTableHDU), and handle internally a BinTableHDU (or just its header?), while the opposite is done currently:

https://github.com/astropy/astropy/blob/fea594df9bf53c0c748b59bcae36b5a4c9240503/astropy/io/fits/hdu/compressed.py#L386-L388

https://github.com/astropy/astro

[2019-09-16 15:24] #9215 closed

[2019-09-16 16:18] npirzkal opened #9239 "wcs.WCS display a warning about SIP coefficients that is incorrect"
When one loads the WCS from a header that contains SIP coefficients (A_* etc), a message is shown that explains that -SIP is needed but that the coefficients will be used.
This is displayed while is ran and leads to come confusion as it gets displayed when a wcs is loaded but if one use wcs_world2pix() these SIP are NOT used (as far as I can tell). While this is the correct thing to do, the warnin

[2019-09-16 16:32] bsipocz commented on #9236
Here is the error in question:
[code]

[2019-09-16 16:33] bsipocz commented on #9235
This would be awesome to be fixed. Would you care to do a bit of experimenting with the compressed upload? I suppose the file can be uncompressed at the other end then?

cc @Cadair

[2019-09-16 16:39] Cadair commented on #9235
If we compress and upload them as one artifact then we wont be able to view the HTML docs in the same way we can at the moment, we could just download the whole tarball.

[2019-09-16 16:41] bsipocz commented on #9235
I'm super naive this morning: can't we upload as a tarball and untar on the other end?

[2019-09-16 16:41] Cadair commented on #9235
From a quick read of their docs, that does not seem to be something they suggest is possible.

[2019-09-16 16:45] pllim commented on #9236
`tau` that is being passed into `np.expm1` is:
[code]
where `d` is day.

[2019-09-16 16:52] pllim commented on #9239
@npirzkal , what version of Python, `astropy, and `numpy` are you using? Are you able to provide the WCS header and relevant code snippet to reproduce this warning that you see? Thanks.

I think @nden , @mcara , and a few others had a long discussion about this in the past.

[2019-09-16 16:59] pllim commented on #9235
This will be a non-issue once RTD approves the core for their new "PR build" feature. :smile:

[2019-09-16 17:18] pllim commented on #9231
@mhvk , is this essentially a "won't fix"?

[2019-09-16 17:32] mhvk commented on #9231
@pllim - I doubt we'd fix it inside astropy, but I'm wondering why the limitation is there in SOFA/ERFA, as there doesn't seem to be an intrinsic reason to prevent one from going further backwards. I.e., should we pass this on as an "upstream fix required"?

@eawer - what are those earlier dates?  Are they actually precise enough that one should be able to convert? Or more like "middle of stone ag

[2019-09-16 17:34] mcara commented on #9239
SIP polynomials (transformations) are used not only by `all_world2pix()` but also by many other functions such as `all_world2pix()`, `pix2foc()`, `sip_foc2pix()`, `sip_pix2foc()`, `world_to_pixel()`, `world_to_pixel_values()` (I do not know what is the difference between the two), `pixel_to_world()`, and `pixel_to_world_values`. It is impractical to keep track and list all functions that may or ma

[2019-09-16 17:39] npirzkal commented on #9239
Hi

Indeed, that is what I see. I have witnessed this warning confusing users quite a bit. I am advocating simply tweaking it so that it is clear that this only affects the working of all_*() and sip_*() functions.

I could be more pedantic and otherwise say that the code does not behave properly: if -SIP is missing, then the SIP coefficients should not be used and al_* and sip_* could then compla

[2019-09-16 17:42] pllim opened #9240 "TST: Tests failures in coordinates caused by IndexError in IERS with numpy-dev"
A blame on the LOC pointed to #9226 though the PR itself was green. :woman_shrugging:

@mhvk , any idea?

Example log: https://travis-ci.org/astropy/astropy/jobs/585668145

**UPDATE**

Looks like numpy-dev job did pass in https://travis-ci.org/astropy/astropy/builds/585637569 ("about 2 hours ago" at the time of writing this with `numpy 1.18.0.dev0+07a7eb5`) but failed in https://travis-ci.org/astr

[2019-09-16 17:53] mcara commented on #9239
@npirzkal This is what I was advocating in numerous previous issues but, unfortunately, it was not a prevailing view. For reference, I will list a few of the issues relevant to this discussion:

https://github.com/astropy/astropy/issues/4761#issuecomment-213467388, https://github.com/astropy/astropy/issues/4803, https://github.com/astropy/astropy/pull/4814, https://github.com/astropy/astropy/issue

[2019-09-16 17:54] pllim commented on #9240
I restarted https://travis-ci.org/astropy/astropy/jobs/585668145 to see if it was transient server problem. I cannot reproduce the failures locally.

[2019-09-16 17:58] npirzkal commented on #9239
Thanks for pointing me to the earlier thread. It is always disappointing to see things not being fixed because of legacy.
However, there is then the issue that the warning is not being displayed in the right place. It should be displayed when a user runs a function looking for the SIP coefficients and not when simply loading things…

N

[2019-09-16 18:03] bsipocz commented on #9236
note: this only affects the `baluev` and `davies` methods, both `bootstrap` and `naive` works, as well as the `single` (that is not documented).

[2019-09-16 18:08] mhvk commented on #9240
It repeated so does look like a real bug. Strange that it only turns up in doctests!

[2019-09-16 18:33] MSeifert04 opened #9241 "Test-class is defining unneeded properties"
As noted in the comments (https://github.com/astropy/astropy/pull/9225#discussion_r324370985) the test class doesn't need this property (otherwise the test would've failed earlier).

I'm not sure how this can be addressed but we probably don't need "dead code" floating around in our tests. Maybe we can get away by replacing the contents with `raise NotImplementedException` (or how it's called) to

[2019-09-16 18:39] MSeifert04 commented on #9241
cc @astrofrog

[2019-09-16 18:51] mhvk commented on #9240
I also cannot seem to reproduce either (tried both latest numpy-dev (1.18.0.dev0+6e75b9a) and the one used by travis (1.18.0.dev0+07a7eb5)...

[2019-09-16 18:58] pllim commented on #9240
Hang on... I am going to try clear Travis CI cache and rerun it again... :crossed_fingers:

[2019-09-16 19:21] pllim commented on #9240
Looks like some sort of corrupted cache. It is green now. Sorry for the noise!

[2019-09-16 19:21] #9240 closed

[2019-09-16 19:25] mhvk commented on #9240
Fortunately, I had started on something else... But while testing that, I found a similar issues, which resulted from the IERS-A table not downloading completely. I think we do need to circumvent that by having a cached version or so...

[2019-09-16 19:44] pllim commented on #9240
@mhvk , Travis CI is already doing some caching. But if you are talking about the other IERS issues, then I don't have anything useful to contribute. LoL...

[2019-09-16 19:49] mhvk commented on #9240
Ah, that means it might have been the same problem: for me, it seems the `finals2000A` file was downloaded only partially and it was quite hard to remove it and retry. Maybe something similar happened for travis. In any case, that would seem part of #9182 - so, for once no need to raise a new issue!

[2019-09-16 19:55] pllim commented on #9240
Yes, I do suspect that Travis CI cached a corrupted IERS table.

[2019-09-16 20:12] pllim opened #9243 "DOC: Remove convert issue to PR section"
As suggested by @bsipocz over at https://github.com/astropy/astropy/pull/9175#discussion_r324767546 .

*I think converting issues to PRs is not a thing we should encourage (and indeed we hardly ever do it), so I suppose this part can be removed altogether.*

[2019-09-16 20:30] eawer commented on #9231
Well, they are pretty precise - `-7051` - [Clinker Peak last eruption](https://www.google.com/search?q=Clinker+Peak+last+eruption&oq=Clinker+Peak+last+eruption&aqs=chrome..69i57.4309j0j4&sourceid=chrome&ie=UTF-8), `-6000` - [Gatecliff Rockshelter open date](https://www.google.com/search?ei=VfB_Xc3fO8SckgWE5YywBQ&q=Gatecliff+Rockshelter+open+date&oq=Gatecliff+Rockshelter+open+date&gs_l=psy-ab.3...6

[2019-09-16 21:21] mhvk commented on #9227
@aarchiba - see #9244 for the introduction of a new `iers.earth_reference_system` science state class that allows one to set the IERS table used for all calculations. Arguably, this is the most important improvement, since PINT can now prepare a table anyway it wants (though the other items are still worth fixing/considering)

[2019-09-16 21:24] mhvk commented on #9231
By precise, I meant that the actual day/month and likely time were known... Easiest may be for early ~year accurate times to use `byear` or so. Actually, one probably has to check what people actually mean; it may well be the unit of year, which by definition is 365.25 days (i.e., julian year).

My overall feeling is that is it best to special-case those early dates and make an approximation that

[2019-09-16 21:40] mhvk commented on #9243
I used to quite like it, but can definitely see the point that it is bad practice. Also, at least my version of the script has long stopped working. So, :+1: to removing it.

[2019-09-16 21:45] bsipocz commented on #9243
it can only be done by people with commit rights, so I don't think it's fair to promote something that then cannot be done by contributors (as well as github context (in cross references, etc) can be rather confusing when something was an issue and now suddenly it becomes a PR). So while I like the feature in smaller repos, would be in favour of not encouraging the practice in astropy core.

[2019-09-17 00:28] #7379 closed

[2019-09-17 02:06] bsipocz commented on #3378
The example  in the original description now works, so I'm closing this issue. Feel free to reopen, or rather open another for cases that are still not covered.

[code]

[2019-09-17 02:06] #3378 closed

[2019-09-17 02:17] bsipocz opened #9245 "Quantities to be initialized from iterators"
Today I spent some time in the astropy.timeseries.periodograms territory for hunting down the bug for #9236, and while now almost everything works I still have two failures that could easily be fixed if this line would work with Quantities (but of course np.fromiter doesn't work with object dtype):
https://github.com/astropy/astropy/blob/master/astropy/timeseries/periodograms/lombscargle/_statisti

[2019-09-17 03:57] bsipocz opened #9247 "Document or remove 'single' method for LS FAP"
It's not exactly clear whether the 'single' method is meant to be a public functionality, as it's not documented at all (https://github.com/astropy/astropy/blob/master/astropy/timeseries/periodograms/lombscargle/_statistics.py#L379)
I would suggest to either include it in the doc/docstrings or make it more internal, private helper functionality.

What do you think @jakevdp?

[2019-09-17 04:39] bsipocz commented on #9018
I'm sorry for the quasi hijack, but cfitsio is in the same boat as wcslib, and this issue can actually serve as a reminder to check for updated versions for both prior the release (atm cfitsio is up-to-date, while wcslib already has a 6.4 version released a few weeks ago).

[2019-09-17 05:10] jakevdp commented on #9247
I think it's useful to have available in the public API, because people might want to use it as part of their calculations. But I didn't document it because it's generally the wrong thing to use unless you know exactly what you're doing (in which case I hope the docstring is sufficient).

[2019-09-17 09:37] abeelen opened #9249 "SkyOffsetICRS (abc) can not be pickled"
Probably related to #8551 , `SkyoffsetICRS` objects can not be pickled

[code]
results in
[code]

[2019-09-17 13:54] mhvk commented on #9245
Your suspicion is justified to the extent that `Quantity` relies on `np.array` to do the coercion of lists, etc., to arrays, and `np.array` does not take iterators. The logic for `np.array` is that it is impossible to know the length of an iterator before iterating, so one is stuck anyway with first creating something like a list.

But perhaps we should deviate from that behaviour; it would mean c

[2019-09-17 15:57] pllim commented on #9243
@mhvk , the script not working should be an issue over at `astropy-procedures`. FYI.

[2019-09-17 16:02] bsipocz commented on #9206
#9237 has fixed this.

[2019-09-17 16:02] #9206 closed

[2019-09-17 16:58] pllim opened #9253 "TST: WCS doctest fails with remote data"
See https://travis-ci.org/astropy/astropy/jobs/586132282

[code]

cc @astrofrog , @nden , and @Cadair

[2019-09-17 17:13] #9243 closed

[2019-09-17 19:20] dstansby opened #9256 "Allow an array (instead of singular) of obstimes for a SkyCoord object"
Currently `SkyCoord` only allows a single `obstime` to be specified per object. Whilst I understand this from an observing point of view, I would like to represent the trajectory of a spacecraft as a function of time using the astropy coordinate framework. This requires that each individual coordinate within the object should have an individual `obstime` associated with it.

[2019-09-17 19:24] pllim commented on #9256
cc @Juanlu001

[2019-09-17 19:33] dstansby commented on #9256
Ach, seems like this is a `sunpy` issue that I thought was an astropy one - the following works fine:
[code]
I think at least the docs should be updated to imply that multiple obstimes are in theory possible: http://docs.astropy.org/en/stable/api/astropy.coordinates.SkyCoord.html I'm happy to give this a go.

[2019-09-17 19:35] pllim commented on #9256
@dstansby , if you have ideas on how to improve the docs, feel free to submit a PR. Thanks!

[2019-09-18 01:09] ayshih commented on #9256
@dstansby Can you create an issue for SunPy with the issue you're encountering?  I routinely check and test to make sure that array obstimes are supported, but I certainly could have missed something.

[2019-09-18 10:05] dstansby commented on #9256
It turns out there was never a problem, but pytest was erroring when a warning was thrown (so I should have done more checks before opening the issue!). I've made a small PR to improve the docs.

[2019-09-18 10:59] watsonjj opened #9258 "Inconsistent units when evaluating quantities with powers and then inverting"
macOS Mojave 10.14.5, python 3.7.2, astropy 3.2.1, numpy 1.16.3.

When applying a power to a quantity and then inverting that power, I get inconsistent results depending on the power index:

[code]

Is there some way to ensure a consistent unit without first changing the value to a scalar, and then reattaching the units afterwards? Or some way to evaluate the exponent`<Quantity 1. TeV(900719925474

[2019-09-18 12:08] adonath opened #9259 "WCS.dropaxis() does not update "NAXIS" keyword"
When working with `WCS.dropaxis()` I've encountered the following issue:
[code]
Returns:
[code]

If I now drop the third axis using `wcs.dropaxis()`:
[code]
The axis is dropped correctly, however it is still present in the `"NAXIS"` keyword of the `repr`:
[code]

[2019-09-18 14:04] mhvk commented on #9258
Thanks for reporting. In principle, we have a function [`is_effectively_unity`](https://github.com/astropy/astropy/blob/master/astropy/units/utils.py#L163), which should address this. Oddly,
[code]
so it seems the function did not get called or used. Seems like a bug!

[2019-09-18 16:01] #9256 closed

[2019-09-18 16:16] pllim commented on #9259
I see it in 4.0dev as well. Looks like a bug to me. cc @astrofrog , @Cadair , and @nden

[2019-09-18 22:21] #9136 closed

[2019-09-18 22:23] bsipocz commented on #9253
#9264 has fixed this.

[2019-09-19 00:53] pllim commented on #9224
Yeah, I think `enable_deprecations_as_exceptions` is due for some refactoring... 😬

[2019-09-19 00:56] #9253 closed

[2019-09-19 06:52] srinadh99 commented on #8766
I'm getting the same issue when using getdata, would someone suggest on how to fix this.
x= fits.getdata("jdba2sooq_flc.fits") i'm using and its showing
"TypeError: buffer is too small for requested array"

[2019-09-19 12:04] pllim commented on #8766
@srinadh99 , that is a HST/ACS image. First, make sure your file is not corrupted. Then, make sure you are using the latest version of Astropy. Maybe also make sure you are not still using Python 2. If you still have problem, please contact STScI Help Desk at https://stsci.service-now.com/hst

[2019-09-19 12:52] mhvk commented on #8766
@srinadh99 - just to be clear, for us the issue was a corrupted file.

[2019-09-19 16:15] #8897 closed

[2019-09-19 19:19] mhvk opened #9268 "Code warnings during docs build"
While building documentation, I get the warnings below, at least some of which suggest documentation is out of date. Generally, I don't think any code we include should generate warnings, so it would be good to fix this. More generally, perhaps we should start failing on any warning from the docs build?

[code]

[2019-09-19 19:20] mhvk commented on #9258
#9267 is an attempt to fix this.

[2019-09-19 19:46] pllim commented on #9268
If these are generated by the same examples that get doctest-ed, they would eventually be solved as part of efforts for #7928 . They annoy me too but never high priority enough for me to track down.

[2019-09-19 19:47] MSeifert04 commented on #9268
I think the deprecation warning from matplotlib should be taken seriously.

[2019-09-19 19:50] pllim commented on #9268
Re: matplotlib --- "Adding an axes using the same arguments as a previous axes currently reuses the earlier instance.  In a future version, a new instance will always be created and returned.  Meanwhile, this warning can be suppressed, and the future behavior ensured, by passing a unique label to each axes instance." -- Probably not that criticial? :woman_shrugging:  I think it is in `visualizatio

[2019-09-19 19:59] mhvk commented on #9268
The warnings about `LombScargle` suggests the examples import it from the old, deprecated location - that seems rather silly too, though probably just an oversight by @astrofrog (in #8591)

[2019-09-20 00:10] bsipocz commented on #9268
That periodogram warning might coming from a what's new site, I'll try to track it down.

[2019-09-20 00:20] bsipocz commented on #9268
A more serious comment: recently we started to include plots on the what's new side, but rather than as an image they are rendered during docs build. Now, if there is any API changes along the road they will stop working, e.g. as they do now. We can keep patching them, but then those won't work with the version the what's new page is about.

What shall we do? Render the plots, or update the source

[2019-09-20 05:53] VoronkovMA opened #9269 "Potential trap with the accuracy of velocity correction"
Hello!

I came across this issue in my science work where I tried to use the Doppler correction model implemented in astropy (radial_velocity_correction method of SkyCoord class) instead of a build-in model in an unrelated software for radio-interferometry data reduction in order to improve the accuracy of measured radial velocities. I believe the current description of the radial_velocity_correct

[2019-09-20 12:13] Raahul-Singh commented on #8565
Hi I would like to work on this. I am a new developer. Can this be assigned to me?

[2019-09-20 12:27] dhomeier commented on #9231
See also [this thread](https://mail.python.org/pipermail/astropy/2019-August/004553.html) - the underlying reason earlier dates are not supported is that the algorithm for converting from the Gregorian calendar to Julian date in [cal2jd.c](https://github.com/liberfa/erfa/blob/master/src/cal2jd.c#L27), which is in turn taken from the correponding SOFA routine, is not valid before 1 March 4801 BCE.

[2019-09-20 13:31] pllim commented on #9268
Hmm... I prefer updating a code with a note that says code has been updated or something like that. I don't see the point of showing dead code for historical reasons.

[2019-09-20 13:36] pllim commented on #9269
@VoronkovMA , we apologize for any inconvenience caused in the confusion. Would you be interested in submitting a pull request to adjust the documentation as you suggested above?

ref: https://docs.astropy.org/en/latest/development/workflow/development_workflow.html

[2019-09-20 16:29] mhvk commented on #9268
Agreed with @pllim: quite important that any code shown works.

[2019-09-20 16:42] mhvk commented on #8565
@Raahul-Singh - contributions are more than welcome!  But we generally do not assign issues to people until there is a concrete PR. (Please do note my comment above about needing to understand the parser/lexer system)

[2019-09-20 17:40] bsipocz commented on #9268
Well, we don't doctest any of the code examples in the what's news 🤷‍♀

[2019-09-20 18:44] bsipocz commented on #9268
(And indeed all but one what's new are failing. Should we fix all of them?)

[2019-09-20 19:14] mhvk commented on #9268
Ouch. Yes, I think we should fix them! How many are there? Perhaps best for now just make it a new issue?

[2019-09-20 19:19] bsipocz commented on #9268
8 files. It's a trivial job once there is a decision.

E.g. I'm still not sure it's the right thing to do. E.g, this is now, but the output was valid when it was released (e.g. these pages are pretty difficult to dig up from the current docs, while have been linked in announcements etc)

[code]

[2019-09-20 20:09] mhvk commented on #9269
cc also @StuartLittlefair, who added much of this code in #6861. One comment: I'm a bit confused about your third point, the idea of giving this extra equation was that it "undoes" the first-order approximation made.  As you write, we return `vcorr=c * zcorr`, and presuming that one similarly has `rv = c* zmeas`, then the equation given is consistent with eq. 10 of Wright & Eastman.

Of course, th

[2019-09-20 20:12] mhvk commented on #9268
Hmm, that example indeed shows the risk of just pasting in new text; in this particular case, a `# doctest: +SKIP` seems reasonable...

[2019-09-20 20:45] bsipocz commented on #9268
Yes, but most of them are in this category (or e.g. the usual numpy repr changes, but then, the latest numpy version when  those were released was older).

E.g. importing the periodograms from stats is totally legit imo in a docs that details that they have been just added to astropy.stats.

[2019-09-20 20:51] mhvk commented on #9268
Hmm, maybe the conclusion then is that we should continue not to doctest what's new, but also ensure we avoid/silence sphinx warnings? The problem with letting won't-fix warnings through is that they start to obscure the real warnings.

Alternatively, should we just *remove* what's new for older versions? They are, after all, inside the docs of those older versions...

[2019-09-20 20:54] bsipocz commented on #9268
My preference is still to leave them as is (with `doctest-skip-all`), and change the plots to be a png ones rather than generated on the fly.
But as I said before, if there is a clear preference I'm happy to follow-through with it and update the files accordingly.

[2019-09-20 21:13] mhvk commented on #9268
I think your examples suggest that it is better to leave things as they are - which means making `.png`s. Since we don't link to the old what's new pages (or at least not obviously so), the risk of outdated code being copy-pasted seems quite small.

[2019-09-21 18:41] pmaxted opened #9272 "Inaccurate coordinates from SkyCoord.from_name('HD....')"
Coordinates returned by SkyCoord.from_name for HD identifiers are almost  1 arcminute from the actual position, e.g., HD97658 = HIP 54906
[code]

EDIT: Code formatting

[2019-09-21 22:24] mhvk commented on #9272
Strange, it seems the coordinates are not gotten from the right database. Inside `name_resolve.py`, the URL requested is `http://cdsweb.u-strasbg.fr/cgi-bin/nph-sesame/A?HD97658`, which returns the response below. Possibly, we should not just ask for `all` databases?
[code]

[2019-09-21 22:25] mhvk commented on #9272
Indeed, if I set the database to simbad, it does work:
[code]

[2019-09-22 07:24] aarchiba commented on #8981
#9182 allows you to call download_file with remote_url set to the "authoritative" location of the data, and whatever is downloaded will be stored in the cache under this URL. But you can provide a list of URLs from which that data can actually be obtained, in order, and it need not include the "authoritative" location. Does this solve your problem?

It would be possible, in principle, to add a mec

[2019-09-22 20:14] aarchiba commented on #9179
I had to manually remove pytest-doctestplus 0.3.0 from the .eggs to stop it being picked up during setup.py test, but with 0.4.0 I think things are working. I thought about putting a !=0.3.0 in the dependency line on doctestplus but I couldn't find that.

[2019-09-23 00:21] VoronkovMA commented on #9269
I can give it a try updating the documentation myself (when this discussion is settled).

On my third point in the ticket description after some further thought. There is no problem with rv = rv + vcorr + rv * vcorr / consts.c equation as long as all velocities have the same z*c definition (which is also called the optical velocity approximation; it is also possible that this approximation was use

[2019-09-23 04:25] astroduff commented on #6537
Hey all, can I reopen this? It seems like this is a VERY significant bug that might cause some headaches when the solution (i.e. implementing the fraction package under the hood) could so easily fix this and avoid users having these issues?

[2019-09-23 11:10] eawer commented on #9231
Thanks, that makes sense

[2019-09-23 14:13] mhvk commented on #9231
I guess we now know what the problem is, but not yet what to do. Easiest probably is try to document this somewhere...

[2019-09-23 14:20] mhvk commented on #9269
@VoronkovMA - I think you are right, that use of the optical velocity approximation is implicit. It would be good to mention both this, and the fully relativistic way to handle this. The different frames are also in what probably is an unexpected place, http://docs.astropy.org/en/latest/units/equivalencies.html#spectral-doppler-equivalencies - for now, it might still make sense to refer to that.

[2019-09-23 15:34] mhvk opened #9276 "Regression for initiating table column from list of structured arrays"
This works on 3.2, but not on current master; the problem would seem that a structured data type is checked before any conversion from list to array is done. Likely introduced with #9048...
[code]

[2019-09-23 16:45] taldcroft commented on #9276
Whack a mole...

[2019-09-23 17:25] pllim commented on #9272
cc @eteq or @adrn

[2019-09-23 17:40] pllim commented on #6537
Hello, @astroduff . The original issue was for a specific use case with astropy 2.x. Feel free to open a new issue with your use case and its full description. You can always cross-reference back to this issue if necessary.

[2019-09-23 17:47] pllim commented on #9179
Pinning it seems like overkill. You could clean the old build files with `git clean -xdf` and then rebuild it with `python setup.py develop` or the `pip install . -e` thingy (I am not as familiar with the latter).

[2019-09-23 19:04] tboch commented on #9272
It seems the issue is due to very inaccurate positions of Draper catalogue, used by the VizieR resolver. I'll forward this to my CDS colleagues.

[2019-09-23 19:10] datapythonista opened #9277 "Common navigation in the website of scipy projects"
We're discussing in https://github.com/numpy/numpy.org/issues/43 about having common or similar navigation in different projects of the ecosystem, so for example users using numpy + astropy are not confused trying to find the same things with different names and different places in both projects.

I think Astropy navigation is not very far from what we've been discussing so far. May be you want to

[2019-09-23 20:01] pllim commented on #9277
Hello! :smile:

Are you referring to https://github.com/astropy/astropy.github.com or what Sphinx renders at https://astropy.readthedocs.io/en/latest/ ?

[2019-09-23 20:08] datapythonista commented on #9277
I refer to the https://www.astropy.org/, but probably even better if having it in both. Do you prefer me to open the issue in the other repo?

[2019-09-23 20:16] pllim commented on #9277
Thanks for the clarifications! I'll defer to the @astropy/coordinators . :smile_cat:

[2019-09-23 20:47] pllim commented on #9224
See #8506

[2019-09-23 21:08] pllim commented on #5120
Step 20 is not Step 20 anymore, so no idea what you talking about. Do you still remember?

[2019-09-23 21:13] bsipocz commented on #5120
Sure, I suppose it can all be digged up. Hopefully by the release. Or the coordination meeting.

[2019-09-23 21:22] pllim commented on #5120
I am working on addressing some of these, but...

I don't see any good place in release procedures to list out things that needs to be done right after feature freeze. By the time someone gets to "how to release" page, it is too late.

[2019-09-23 21:27] pllim commented on #5120
Also not clear what is "point 12&13 could be moved to the bottom," so I'll leave that one alone for now.

[2019-09-23 22:50] astroduff opened #9279 "Astropy units with fractional dimensions are buggy"
Hey all, as raised in issue https://github.com/astropy/astropy/issues/6537#issue-256938682 for astropy 2.x, the latest astropy 3.2.1 still has a bug with units where fractions are incorrectly simplified
[code]
This needs to raise an error as 7/11 is not 5/8 and the user should be alerted to this bug, or even better implement into units the previous 'fix' of using external package 'fractions' sugge

[2019-09-23 22:50] astroduff commented on #6537
Done.

[2019-09-23 23:02] bsipocz commented on #9179
`pytest-doctestplus` has had a new release since opening this issue, so this should not be an issue any more. (One might need a git clean as suggested above, but nevertheless the issue has been solved with 0.4.0)

[2019-09-23 23:02] #9179 closed

[2019-09-23 23:07] bsipocz commented on #9277
As I remember quite a lot of discussion and iterations has been put in the current top bar, so while it would be nice to have something more uniform along the wider ecosystem it would be rather nice to not divert too much from what we have now.

(To make docs.astropy.org and astropy.org share more of the top bar is in the works, the former will inherit them from the latter once the changes in the

[2019-09-23 23:56] 1313e commented on #6537
@pllim I am currently using AstroPy 3.1.2 and it still has the same problem.

[2019-09-24 00:23] mhvk commented on #9279
Yikes, that is awful!  I'm very sorry I missed your original report. I had some vague hope my recent effort to get powers be better behaved (#9267) would have helped, but no such luck.

One fortunate thing is that it actually does not affect the *actual* power:
[code]

[2019-09-24 00:24] mhvk commented on #9279
Investigating a bit more, it looks like there is a bug in how the powers are represented in `__repr__` and `__str__` (and, therefore, in `format.Generic.to_string()`, which goes on to the real culprit:
[code]
I'll try to create a fix...

[2019-09-24 01:21] pllim commented on #6537
Is the solution proposed at https://github.com/astropy/astropy/issues/6537#issuecomment-328858001 insufficient?

[2019-09-24 01:24] pllim commented on #6537
Anyway, looks like @mhvk is on it at #9279 . Thanks for re-raising the issue, everyone!

[2019-09-24 01:29] 1313e commented on #9279
When I raised this issue two years ago in #6537, I mentioned that whenever there is a fraction (in the power of a unit) whose denominator cannot be written as `10` or smaller, it is approximated to a fraction that can.
Maybe that will give an idea of why this behavior exists.

[2019-09-24 01:35] 1313e commented on #6537
It is theoretically speaking sufficient, but how many users of AstroPy will know about it?
When using units in AstroPy, it should be normal to expect that I can raise any unit to any power, and it will work properly.
I am actually quite surprised nobody ever raised this issue before I did 2 years ago, and nobody ever did since.

[2019-09-24 01:38] pllim commented on #6537
The fanciest unit I use is `erg / s / Angstrom / cm / cm`. Don't think I ever tried to do `kg^(11/14)`. 😅

[2019-09-24 01:40] 1313e commented on #6537
@pllim Well, as I mentioned in my original post above, I had to use some very weird units back then for a university exercise.

[2019-09-24 01:48] mhvk commented on #9279
@1313e - yes, indeed that is where the problem is. I now added a fix to #9267.

[2019-09-24 03:34] #9247 closed

[2019-09-24 08:23] mar-ses opened #9280 "Consider using IntegerArrays in to_pandas() for masked int columns"
Currently, to_pandas converts any masked columns automatically to float (even if they are integers). This is actually a pretty big problem for integer identifiers (for example, GAIA source ids). If the integer is too large, the double-precision float actually gets approximated in the last few digits, completely changing the identifier. As this can happen with something as common as GAIA data, it's

[2019-09-24 10:46] taldcroft commented on #9280
Indeed this has been a known limitation of pandas.  The issue you raised is explicitly documented and hence not "hidden", see the caveats here:
 https://docs.astropy.org/en/stable/table/pandas.html?highlight=pandas

That's great news about the new `IntegerArrays` class.  I'm editing the issue title to be a bit more concise and actionable.

[2019-09-24 10:53] Raahul-Singh commented on #8565
@mhvk  -
Thank you for replying. I've spent the last couple of days reading about regex and parser-lexer systems (just the basics for now, I'm afraid). The problem I'm facing is understanding the hierarchy of code in the coordinates module. Do you have any suggestions as to where I should start as a base and build my understanding? I do not want to simply write a new function or modify an existing

[2019-09-24 10:58] taldcroft commented on #9280
@mar-ses - in your work did you not see the warning that is emitted?
[code]

[2019-09-24 11:11] #8485 closed

[2019-09-24 13:42] mhvk commented on #8565
@Raahul-Singh - as @MaxNoe notes, the relevant part is in the `_AngleParse` - the letters would be equivalent to signs (and should probably exclude there being signs as well). I'd strongly recommend first writing some tests!

[2019-09-24 15:51] bsipocz commented on #9224
For the record adding ImportWarning to #8506 resulted an INTERNALERROR in `astropy/io/tests/test_registry.py`, but only for the tests that run parallel.

The full log is here:
[code]

[2019-09-24 15:53] bsipocz commented on #9224
@taldcroft - have you seen similar things regarding the registry?

[2019-09-24 17:57] mwcraig commented on #1046
I'm in favor of closing this...

[2019-09-24 19:34] taldcroft commented on #1046
:+1: on closing.  In the 6 years hence there hasn't been any real movement forward and the existing structure has not been terribly problematic.

[2019-09-25 00:45] #8764 closed

[2019-09-25 05:44] eteq opened #9284 ""per square arcsecond" units render wrong in latex/notebook"
This bug appears most clearly in the following clip from a Jupyter notebook:

![image](https://user-images.githubusercontent.com/346587/65572200-51ca8b80-df35-11e9-8e37-df8e60261fa6.png)

And the underlying cause is apparent from looking at what the latex being rendered is:
[code]
The problem is that arcseconds are rendered as nothing to a power, so when you put *that* to a power, things go wrong.

[2019-09-25 13:27] astrofrog commented on #1046
I agree, let’s close

[2019-09-25 13:27] #1046 closed

[2019-09-25 14:41] mhvk commented on #9284
@eteq - I *think* we fixed this in #9218 - could you try on current master? (it should just become "arcsec")

[2019-09-25 16:11] simpsonchristo opened #9286 "Include Rankine in imperial units and equivalencies"
This is a feature request for the addition of Rankine to temperature units. It is more useful than Fahrenheit in some cases because it is an absolute scale. The conversion between deg_F and degrees Rankine is adding 459.67.  See: [Rankine Scale](https://en.wikipedia.org/wiki/Rankine_scale)

Proposed change in equivalencies (assuming deg_R is Rankine):
[code]

[2019-09-25 17:48] mhvk commented on #9286
@simpsonchristo - I think it would indeed not be difficult to add, but will there really be anyone using it?

[2019-09-25 20:06] pllim commented on #9284
In 4.0.dev25735, I get this:
[code]

[2019-09-25 20:16] mhvk commented on #9284
I guess the question here is whether we should catch `1/"` as well - looking back at #9218, I see that we discussed it but decided to punt on it, for now only removing double superscripts.

[2019-09-26 01:16] bsipocz commented on #7728
This is needed to make #8586 possible. While looking into it, I think this might be a bit more complicated than #7712 as the join goes into the cython code in `_np_utils.join_inner()`

[2019-09-26 02:07] simpsonchristo commented on #9286
Rankine is still used in some atmospheric standards (see US MIL-STD-210A). I can't speak to others but in my use case, comparing atmospheric values, it would make life easier. I made a "work-around" of defining it as new unit from Kelvin. I just had to be careful about not using Celsius or Fahrenheit for anything.

[2019-09-26 02:33] mhvk commented on #9286
OK, if it is still used, I don't see a reason not to support it. Would you be willing to give it a try? It should be fairly straightforward - what you suggested on top should do most of the trick.

[2019-09-26 05:25] bsipocz commented on #8027
This behaviour has been fixed in the meantime, so I'm closing the issue.
[code]

[2019-09-26 05:25] #8027 closed

[2019-09-26 05:37] #8667 closed

[2019-09-26 05:54] bsipocz commented on #8024
This doesn't crash any more:
[code]

[2019-09-26 05:54] #8024 closed

[2019-09-26 12:17] dhomeier commented on #9231
Yes, I'd say the issue reported on the mailing list was also due to a lack of documentation. It follows the standards, but it's probably too much to expect every user to have the formatting rules and ranges covered by the ISO 8601 and FITS standards present. For the format, it might already help to add a 5-digit+prefix example to the initialisation examples. For the range, I think ideally we shoul

[2019-09-26 13:36] abeelen opened #9289 "MaskedTable, indices & join"
When working on MaskedTable, I have to remove indices before joining Tables if I want to be able to use indices on the join MaskedTable :

[code]
will produce a `TypeError: list indices must be integers or slices, not NoneType`. The error is not present if :
* the index is removed before the join `t.remove_indice('a')`
* the table is not masked

Could this related to the fact that the joined Maske

[2019-09-26 13:58] Cadair opened #9290 "Table returns inconsistent results when rows= argument is a generator"
I tried to construct a Table with rows which come out of a generator (originally a call to `filter`), and for some reason it skips one result when you do this.

[code]
[code]
[code]
[code]

[2019-09-26 14:04] mhvk commented on #9231
@dhomeier - I think it makes sense to accept the 5-digit years also in `iso[t]` - in fact, we already implicitly do this for output (just because the python formatter doesn't balk...):
[code]
Given that, we might as well accept it on input too. And, with that, as you say, it would be easier to add a note to the documentation about the supported range, since it is something that holds for all those

[2019-09-26 15:39] ajtribick opened #9291 "CDS reader ignores nullability for columns with a limits specifier"
The CDS reader fails to treat columns as nullable if the ReadMe file contains a limits specifier. Examples include the `Tc`, `Lc` and `phi` columns of the main.dat file in [XHIP (V/137D)](http://cdsarc.u-strasbg.fr/ftp/V/137D/ReadMe)

The issue appears to be the following regular expression: https://github.com/astropy/astropy/blob/af4708ec1aedccdd1fb304704a59fcb7f29ec567/astropy/io/ascii/cds.py#L1

[2019-09-26 16:50] bsipocz commented on #8674
This has been addressed in #8694

[2019-09-26 16:50] #8674 closed

[2019-09-26 16:51] bsipocz commented on #5160
The example above works with current master, please reopen if you still experience the issue.

[2019-09-26 16:51] #5160 closed

[2019-09-26 16:58] bsipocz commented on #4998
At least 3 of us couldn't reproduce this, and no follow-up was given, so I go ahead and close the issue.
(My guess would be that the local file was corrupt and thus wasn't recognized as a valid 'rdb' format, e.g. it didn't recognized the originally linked url (as it was pointing to a html page), but now works with the raw file link)

[2019-09-26 16:58] #4998 closed

[2019-09-26 17:34] bsipocz commented on #5950
Still see this on master post v3.2.1 pre 4.0

[2019-09-26 19:57] pllim commented on #9290
If you do this instead
[code]
you will notice that for the case of `it`, the first row is dropped. Maybe this will hint at where the bug is...

[2019-09-26 19:59] bsipocz commented on #9291
cc @cds-astro/cds

[2019-09-26 21:15] bsipocz opened #9294 "Allow astropy.table.hstack to be used with TimeSeries objects"
Currently `table.hstack()` doesn't work for `TimeSeries` instances as the expectation is that there is a `'time'` column. As there is one in both/all inputs those columns get renamed and thus won't be recognized for the output TimeSeries.

So the main questions is to how to handle time in hstacks. Shall we 1) keep all time columns, with all but the first renamed? 2) or shall we drop them, or 3) so

[2019-09-26 21:21] pllim commented on #9289
@abeelen , I cannot reproduce the error with `astropy` 4.0.dev25735. Can you please try with the latest `master` version and see? I get:
[code]

[2019-09-26 21:29] bsipocz commented on #9289
There has been big overhauls around masks for Tables, and this indeed has been fixed on dev (while I see the issue on 3.2.x).

[2019-09-26 21:29] #9289 closed

[2019-09-26 22:07] bsipocz commented on #6962
Now that we only support numpy versions that have this change (as well as we can change this now in the new LTS more easily than waiting longer along the road when downstream should support multiple things), it would be nice to come up with a solution for this.

[2019-09-26 22:16] bsipocz commented on #3752
See more discussion of the same in the duplicate issue https://github.com/astropy/astropy/issues/5470.

[2019-09-26 22:16] bsipocz commented on #5470
This is a duplicate of https://github.com/astropy/astropy/issues/3752, closing this to keep the older one.

[2019-09-26 22:16] #5470 closed

[2019-09-27 00:56] bsipocz opened #9295 "table stack operations with None input"
This would be basically a variation on the stacking of a single table that is already possible since v1.0. Just as for that case I could see this to be useful in a very generic code.

[code]

[code]

The fix is super simple by dropping the input that is None, and worst case falling back on single stacking

@taldcroft - what do you think?

xref: https://github.com/astropy/astropy/pull/3313

[2019-09-27 01:21] #8430 closed

[2019-09-27 09:46] taldcroft commented on #9231
See #9296.

[2019-09-27 09:56] taldcroft commented on #9295
The problem is that silently ignoring `None` in the input list of "table-like things" can be masking some other problem.  I can't think of much precedence for this, e.g.:
[code]

[2019-09-27 17:06] bsipocz commented on #9295
Good point, the exact reason that I expected something like this that I didn't jump into implementing it first instead of asking.

[2019-09-27 17:06] #9295 closed

[2019-09-27 18:53] bsipocz commented on #8350
Don't forget to link to the awesome but somehow hidden PR example @mwcraig has put together here: https://docs.astropy.org/en/latest/development/workflow/git_edit_workflow_examples.html#astropy-fix-example

[2019-09-28 01:16] #8350 closed

[2019-09-29 10:12] aarchiba commented on #8793
I don't know about Jenkins, but Travis CI supports caching certain files - that is, keeping the contents of certain directories stored between CI runs. We did this for PINT ( https://github.com/nanograv/PINT/blob/207275b4368df2a10703b99d596ed8d3c01f1faa/.travis.yml ) and our server problems have dropped to nearly zero, though we don't actually need continuously-updated files.

download_file alread

[2019-09-29 13:28] pdurbin opened #9299 "boards (GitHub Projects) from key stakeholders to help prioritize issues"
### Description

@astrofrog hi! You have way more context than most for the following thread I started on the Dataverse mailing list:

-  boards for prioritizing issues (for each installation of Dataverse): https://groups.google.com/d/msg/dataverse-community/z8ugn2KzNSc/zt7COeRYBQAJ

I'd love to hear what you (and others!) think about this and if you think Astropy would benefit from this approach.

[2019-09-29 21:45] keflavich commented on #9168
I can reproduce this.  Fix in #9300

[2019-09-30 07:48] abeelen commented on #9289
Thanks all for having a look at this. I will wait for the 4.x release then, in the meantime removing the indices or the masks and reapplying them would work

[2019-09-30 10:16] aarchiba opened #9303 "Cache uses insecure hash MD5"
The files in the download cache are de-duplicated using the cryptographic hash MD5. Unfortunately this hash function is so broken collisions can be constructed for less than a dollar of compute time ( https://natmchugh.blogspot.com/2015/02/create-your-own-md5-collisions.html ). Since many of astropy's downloaded files come from non-SSL connections, a malevolent entity could substitute a wrong obje

[2019-09-30 11:18] MSeifert04 commented on #9303
Interesting because lots of services where you can download executables still provide the md5 sum to checksum the file. (Even CPython does that https://www.python.org/downloads/release/python-374/ and also conda-forge: https://github.com/conda-forge/staged-recipes#2-how-do-i-populate-the-hash-field).

In our case we're not downloading executables (are we?) and we're not verifying the integrity usi

[2019-09-30 11:30] aarchiba commented on #9303
Yes, the risk for us is very slight. In the absence of malevolent file contents the chance of a collision remains minuscule. I mention this chiefly because the cost of changing is also very slight. I'd go with SHA256, but really, the hash function constructor in hashlib just takes a string name, so adding this name as a config option is very simple. (And hash functions seem to get broken at a dist

[2019-09-30 12:54] mar-ses commented on #9280
No I didn't see the warning as far as I can tell.

[2019-09-30 13:11] taldcroft commented on #9280
Maybe you are using an older version? This was put into astropy in Aug. 2018 in 032fba7b9dc54.

[2019-09-30 13:23] SiddharthaAnand commented on #9103
If no one is working on this, Can I take this up?

[2019-09-30 13:27] nluetzge commented on #9103
@SiddharthaAnand I put in a PR see above but it has not been merged because things changed in the mean time.

[2019-09-30 14:08] pllim commented on #9299
cc @astropy/coordinators and @bsipocz

[2019-09-30 14:13] pllim commented on #9303
Just curious, why not SHA512?

[2019-09-30 14:14] pllim commented on #9303
@aarchiba , making things more secure doesn't hurt! Do you plan to attach this to your existing PR over at #9182 or do you plan to do this as a standalone PR later?

[2019-09-30 14:18] aarchiba commented on #9303
It's a few-line change, I'm happy doing either, but as it's not urgent it's probably easiest to just put it into #9182 . I started with an issue because I wasn't sure how people would feel about such a low-grade security issue.

[2019-09-30 14:53] aarchiba commented on #9303
The length of the hash increases the length of the file names and the size of the cache index, but really, only very slightly. The time to compute any of these hashes shortly can't compare to the time to download the corresponding file, and that's basically the only time the hash is computed.

[2019-09-30 15:38] MSeifert04 commented on #9303
Again, this isn't about security at-all. If someone intercepts the traffic (which seems to be the threat) then it makes no difference which algorithm is used to calculate the checksum to determine if the file was already downloaded.

Using another checksum (or making it configurable) for the duplication-checking is simply a new feature.

However after thinking about it some more: I don't see much

[2019-09-30 16:32] pllim commented on #8793
@Warren-Porter , if what @aarchiba did over at #9302 satisfies your request of a better error message, please close this issue.

[2019-09-30 16:54] astrofrog commented on #9299
@pdurbin - thanks for pointing us to that discussion! I'm going to close this issue since we don't typically use issues for free-form discussions like this. I'll be in touch over Gitter and we can always decide to broaden the discussion to the astropy-dev mailing list.

[2019-09-30 16:54] #9299 closed

[2019-09-30 17:02] Warren-Porter commented on #8793
That sounds promising. I'm currently traveling at the moment and I won't be able to test the update until mid-October, but I will let you folks know once I do so.

[2019-09-30 17:23] #6285 closed

[2019-09-30 17:53] pdurbin commented on #9299
@astrofrog you're welcome! The reason I reached out is that Astropy is pretty high up on the list at https://www.codetriage.com . Here's a screenshot from page two:

![Screen Shot 2019-09-30 at 1 48 13 PM](https://user-images.githubusercontent.com/21006/65902705-01b25580-e389-11e9-885e-6b98ce9855ac.png)

The project I work on (Dataverse) has a similar number of open issues (and perhaps similar pai

[2019-09-30 18:10] bsipocz commented on #9168
#9300 has fixed this.

[2019-09-30 18:10] #9168 closed

[2019-09-30 18:22] pllim commented on #9224
Addressed in #8506.

[2019-09-30 18:22] #9224 closed

[2019-09-30 18:23] bsipocz commented on #8516
I suppose with #8506 we covered this wonderfully.

[2019-09-30 18:23] #8516 closed

[2019-09-30 18:25] bsipocz commented on #8465
I'm closing this now. Our machinery is now catching both type of warnings, and there is no inclination to change the behaviour of our deprecations based on the python version we're using.

[2019-09-30 18:25] #8465 closed

[2019-09-30 20:47] simpsonchristo commented on #9286
Yeah, I'd love to give it a try! It's on my to-do list for next week. @mhvk

[2019-09-30 22:22] sheydasalehirad opened #9305 "How to access to all the axes in a fits file"
Hi,

I'm working with a fits file that has 2 axes. When I try to get the data unit, hdu[0].data, I only get the data on the second axis. Any ideas on how I could get the data on axis 1?Thanks!

This is the header:
[code]

[2019-09-30 22:55] pllim commented on #9305
Looks like a spectrum. Maybe you want to use https://specutils.readthedocs.io ?

[2019-09-30 23:42] taldcroft commented on #9231
Agreed on making the input parsing for `iso[t]` more liberal to accept `[ ±C]CCYY-MM-DD`.  As noted if then try to get the string representation that will generate a warning, but it could be suppressed as needed.

[2019-10-01 14:01] paulray opened #9306 "Initializing an EarthLocation now causes a TypeError about casting"
### Description

After updating numpy and astropy, I get a TypeError when initializing an EarthLocation object.

### Expected behavior

This previously worked just fine.

### Actual behavior

TypeError raised.

### Steps to Reproduce

[code]

### System Details

Versions:

Darwin-15.6.0-x86_64-i386-64bit
Python 3.6.9 (default, Sep  7 2019, 20:24:16)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-80

[2019-10-01 14:41] pllim commented on #9268
@mhvk , with #9271 merged, is this now resolved?

[2019-10-01 14:45] pllim commented on #8479
@followthesheep , try using the dev version.

[2019-10-01 14:48] pllim commented on #9306
Pretty sure this was fixed. I cannot reproduce it with 4.0dev. Can you please try with the dev version?

[2019-10-01 15:34] mhvk commented on #9268
Definitely, some have disappeared, but:
[code]

[2019-10-01 15:35] pllim commented on #9268
Ugh... Maybe it is time to trim the change log too. It takes so much time to render as it is...

[2019-10-01 17:11] paulray commented on #9306
Indeed, I don't get the Exception under 4.0.dev25832

My software relies on this code, so what versions of astropy should I exclude from the requirements.txt to keep from hitting this?

[2019-10-01 17:14] paulray commented on #9306
Also, will the fix be backported to 3.1.x?

[2019-10-01 17:51] pllim commented on #9306
I don't remember, probably not 3.1.x(?), but you can try installing from the 3.2.x branch and see.

[2019-10-01 18:09] nden commented on #8479
@LucIJspeert Thanks for testing!

@followthesheep I'm going to close this. If you run into similar or other problems please open a new issue.

[2019-10-01 18:09] #8479 closed

[2019-10-01 19:53] aarchiba commented on #9306
Works for me on astropy 3.2.1.

[2019-10-01 21:13] mhvk commented on #9306
Sorry that this hit you, @paulray, but at least the later versions are OK. I'll close now...

[2019-10-01 21:13] #9306 closed

[2019-10-01 23:20] mhvk commented on #4983
I'm closing this issue, since we now have an appropriate error message. I looked into whether we now can use the `fold` attribute, and in principle it is possible, but `datetime` still very much does not support leap seconds (e.g., it ignores the fold attribute in comparisons), so I think it is better to just raise.

[2019-10-01 23:20] #4983 closed

[2019-10-02 11:05] Yoiro commented on #8565
Hi @Raahul-Singh , are you still working on this? I'd also like to give it a try

[2019-10-02 11:08] Raahul-Singh commented on #8565
Hi @Yoiro, I am on it, but I'm facing some difficulties with the parser. Please go ahead and try!

[2019-10-02 13:15] dagnic opened #9308 "z_at_value and luminosity_distance"
Hi, I have an error when I used `z_at_value` with a FlatLambdaCDM model. It works with another model such as Planck13. Is that a bug or not ?

[code]
Thanks

[2019-10-02 13:20] #9308 closed

[2019-10-02 16:53] #3527 closed

[2019-10-02 21:42] pllim opened #9310 "TST: test_noncelestial_scale emits RuntimeWarning for some cases"
### Description

Some test cases fed into `test_noncelestial_scale` in `astropy.wcs.test_utils` emit `RuntimeWarning`. Affected code:

https://github.com/astropy/astropy/blob/f7a98a056f1d35c6f0a5ece76d466d8de73d1292/astropy/wcs/tests/test_utils.py#L564-L570

xref https://github.com/astropy/astropy/pull/9010#pullrequestreview-279075472

### Expected behavior

Tests complete without `RuntimeWarning`

[2019-10-02 23:28] benw1 opened #9311 "wcs.to_header() function giving mixed up header keywords"
### Description

There are three ways to specify the rotation/scale information. The two can
be combined into one matrix (CD1_1 through CD2_2) or the rotation matrix
can be given as PC1_1 through PC2_2 and the pixel scale as CDELT1/CDELT2.
The third way is to give CDELT1/CDELT2 and a rotation angle as CROTA2.

What wcs.to_header() outputs looks like the second but the values of the PC matrix are
a

[2019-10-03 02:10] pllim commented on #9311
@benw1 , thanks for the report. Can you please share the `file` header that is relevant to the issue so the problem can be reproduced? Also, what `astropy`, Numpy, and Python versions are you using?

[2019-10-03 12:27] mhvk commented on #9284
@eteq - what do you think about it, `1/''` or `1/arcsec`?

[2019-10-03 17:48] benw1 commented on #9311
Thanks for the quick response!
The header is:
SIMPLE  =                    T / Standard FITS format
BITPIX  =                  -32 / Data type
NAXIS   =                    2 / Number of axes
NAXIS1  =                 4096 /
NAXIS2  =                 4096 /
EXTEND  =                    F / There are no standard extensions
BSCALE  =             1.000000 / Image scale
BZERO   =             0.000000 /

[2019-10-03 17:50] pllim commented on #9311
Can you please try with latest release of `astropy`? Or even better, the dev version?

[2019-10-03 18:29] nden commented on #9311
@benw1 Yes, that is correct. astropy.wcs (and actually wcslib) internally works with the PC matrix.
In this case it's, of course, equivalent to the CD matrix and the computation is correct. If you have to use a CD matrix in general code you may detect that a CD matrix was in the input using `wcs.wcs.has_cd()`  and rename the keywords. Currently there's no function in astropy that would do this, al

[2019-10-03 22:38] dhomeier commented on #9231
When trying all the formats, the `fits` case still has to fail in `formats.py`, probably with a
`astropy.utils.exceptions.ErfaError: ERFA function "d2dtf" yielded 1 of "unacceptable date (Note 6)"`
I could not figure out yet exactly where that exception is caught, but if it could instead be passed back up to `_get_time_fmt`, the caller might check for that specific error. Or at least let an ERFA w

[2019-10-04 00:34] saimn commented on #9311
The discussion in question is probably #1084.

[2019-10-04 00:37] saimn commented on #9305
Your header suggests a data array with 2 axes, 5x4954, so it is indeed weird that you get only one. Can you share the file ? If needed with a private link.

[2019-10-04 06:47] bsipocz commented on #7419
imcce miriade is now available in astroquery, so I'm closing this issue here.

https://astroquery.readthedocs.io/en/latest/imcce/imcce.html

[2019-10-04 06:54] bsipocz commented on #3599
There is some docs provided as part of the package template, and I suppose things got simplified over the years as I can't recall much complaints that said docs is not detailed enough.

[2019-10-04 06:54] #3599 closed

[2019-10-04 09:16] ycopin opened #9314 "Penalized likelihood in astropy.modeling"
I would like to use penalized likelihood in my fit, i.e. add Bayesian hyper-terms to my standard chi2, like "chi2 + (param - prior)²/sigma_prior²" (where prior and sig_prior come from an external analysis, e.g. on high SNR datasets). It's not clear to me how to do it using astropy.modeling framework (doing it "manually" is no pb): should I write a new fitter (which is supposedly model independent)

[2019-10-04 10:24] taldcroft commented on #9290
The problem is pretty evident below in the code that handles the `rows` argument.  In the `all(isinstance(...` line it starts going through the generator, and gets through the first one before failing out of `all()`, but then the first item in the generator is gone.
[code]
I think that inserting this (after the `if data is not None` block) would work:
[code]
Then you have to make a copy of the gen

[2019-10-04 10:40] taldcroft commented on #9290
Fix in #9315.

[2019-10-04 13:59] pllim commented on #9311
Ah, should I mark this as duplicate issue then?

[2019-10-04 14:01] #9290 closed

[2019-10-04 14:30] nden commented on #9311
@pllim I'm not sure we should do anything about it. IIRC CD matrix was invented by STScI. HST data use it. We deal with the conversion in our internal software instead of changing the library.

[2019-10-04 14:34] pllim commented on #1084
xref https://github.com/astropy/astropy/issues/9311#issuecomment-538421693

[2019-10-04 16:26] pllim opened #9318 "TST: Run test suite twice in a row without cleaning build in the same session"
### Description

Modify one of the existing CI jobs to run the whole test suite twice in a row in the same session without cleaning anything in between. Maybe it is even better if we can do this on the remote data job, but not sure about the network hit limits.

The motivation for this is to make sure that anyone who runs `astropy.test()` and then use `astropy` in the same Python session will not

[2019-10-04 17:09] benw1 commented on #9311
I have verified that this same CDELT issue occurs in astropy version 3.2.1.

[2019-10-04 17:36] bsipocz commented on #9318
Given that the tests run for a long time, I think this one should only run infrequently, e.g. only in weekly crons. Or if we get that azure pipeline with the release steps.
Or just see whether rerunning only parts of the tests would be sufficient enough.

[2019-10-04 18:01] pllim commented on #9318
👍 to cron

[2019-10-04 18:29] #9103 closed

[2019-10-04 18:39] #9236 closed

[2019-10-04 18:41] adrn opened #9319 "Use new ERFA FK4 <-> FK5 transformation support?"
The most [recent SOFA release](http://www.iausofa.org/current_changes.html) adds support for FK4 to/from FK5 transformations. From looking at the new functions, it looks like the functions (`fk425` and `fk524`) do support E-terms, if specified. However, it doesn't look like there is a way to easily extract the transformation matrix from these functions: Right now the `FK4NoETerms` to `FK5` transfo

[2019-10-04 19:03] mhvk commented on #5783
After discussion with @eteq: The plan now is to add the ability @jwoillez created to [load custom leap seconds into erfa's `dat.c`](https://github.com/liberfa/erfa/pull/49) into astropy's version, so that we can experiment with it - in particular update it as needed based on the IERS tables (from `IERS_Auto` by default). Then, with the interface worked out, we can push it back up to `liberfa` so t

[2019-10-04 19:09] adrn commented on #9140
@jluastro Really sorry for the long delay here!

I don't think you need to use `apply_space_motion()` here: `apply_space_motion()` is meant for evolving the position of a source taking its proper motion and/or radial velocity (as an aside: it sounds like we should fix the language in the docstring for that function to avoid confusion! do you have a suggestion for how to fix the documentation to re

[2019-10-04 20:25] eteq opened #9321 "Automate generation of the `SkyCoord` tab-completion documentation"
The documentation for `SkyCoord` has a section listing the attributes on a `SkyCoord` (http://docs.astropy.org/en/stable/coordinates/skycoord.html#attributes, which is in `docs/coordinates/skycoord.rst`).  This could/should be auto-generated instead of the current state of it having to be manually updated.

It looks to me like the tab-completion list is the same as you get from the following:
[cod

[2019-10-04 21:20] parejkoj commented on #7883
Joining onto this after trying `specutils` for this (see: https://github.com/astropy/specutils/issues/528 ): I too would like to be able to write a `-TAB` spectral WCS, per C&G 2006.

@nden says above that there is no support for the `-TAB` convention, but later says "astropy implements the Lookup table option from the distortion paper." I thought that's what the spectral `-TAB` format was?

This

[2019-10-04 21:24] parejkoj commented on #2362
This is likely related to #7883 and I think is still an open issue? @nden ?

[2019-10-04 21:26] parejkoj commented on #5462
Is there a gwcs issue tracking this one? It was not immediately obvious from the gwcs docs how to create a gwcs-based `-TAB` FITS WCS.

[2019-10-04 21:42] nden commented on #7883
@parejkoj The -TAB convention is described in WCS Paper III (the paper for spectral coordinates). The LookupTable extension is a simpler convention described in the unpublished Distortion WCS paper. The latter is implemented in astropy.wcs and wcslib, the former is being worked on now.

What you are attempting to do can be done using gwcs:
[code]
Of course, this only creates the WCS object.

[2019-10-04 22:06] parejkoj commented on #7883
No, if I pass the gwcs object to specutils, it writes it out in the same way: the examples given on the above specutils issue behave the same whether you pass in a gwcs object, or the table as the spectral axis directly.

Is there an Issue or PR for the `-TAB` that you say "is being worked on now"? Is there a way I could contribute to that?

[2019-10-04 22:21] nden commented on #7883
In the jwst pipeline we save this as pure asdf or as AsdfInFits (the asdf part is saved as a FITS extension). I don't know what specutils does but I doubt it can save to -TAB, that's just not implemented in astropy.

The -TAB in astropy.wcs involves wrapping parts of wcslib. We are only now starting to look at what needs to be done and how feasible it is.

[2019-10-04 22:32] parejkoj commented on #2605
@bsipocz : this might be a good one to close, unless someone can reproduce it on a modern version of macOS?

[2019-10-04 22:42] keflavich commented on #2605
Agreed.  I am no longer using the computer that suffered this sad, repeated fate.

[2019-10-04 22:42] #2605 closed

[2019-10-04 23:12] #8492 closed

[2019-10-04 23:29] #8886 closed

[2019-10-05 16:48] #9258 closed

[2019-10-05 16:48] #9279 closed

[2019-10-05 17:19] mhvk commented on #6240
Now regained relevance since the do-it-by-hand was just duplicated in #9323...

[2019-10-05 19:13] bsipocz commented on #5783
Is this now fixed with the ERFA update?

[2019-10-05 20:54] mhvk commented on #5783
@bsipocz - no, not yet, we now have in principle the ability to update the leap second table, but we still need to put in place the machinery to get that updated table.