[2014-09-05 19:26] taldcroft opened #2918 "Make sub-package links more useful, avoid links to API docs unless relevant"
Currently the astropy narrative docs have lots (hundreds?) of internal links to top-level packages, for instance:

"Currently [astropy.table](http://astropy.readthedocs.org/en/latest/table/index.html#module-astropy.table) is used when reading an ASCII table using [astropy.io.ascii](http://astropy.readthedocs.org/en/latest/io/ascii/index.html#module-astropy.io.ascii)."

Those links to top-level API

[2014-09-08 15:01] #1881 closed, assigned to nobody

[2014-09-09 15:35] taldcroft opened #2922 "Further optimize fast CParser class"
As noted in #2716, there appear to be opportunities to further optimize the io.ascii fast-reader Cython code in `cparser.pyx`.  This is a placeholder to remember comment.

[2014-09-09 15:39] taldcroft opened #2923 "Better handling of non-ASCII encoded data in io.ascii"
As noted in #2716 by @embray:

"Though I'm a little less concerned so much about actually reading those encodings than I am about crashes in odd places because decoding to ASCII failed. I wonder if it wouldn't be better to either a) catch/handle encoding errors early and often, or b) just use latin-1 instead and ignore bad characters (or c) use an appropriate error-mode (replace/ignore))."

[2014-09-09 22:00] #2897 closed, assigned to nobody

[2014-09-11 11:28] astrofrog opened #2926 "git-related error when pip installing astropy"
When doing `pip install astropy==0.4.1` I get the annoying (but harmless) error message:

[code]

The install proceeds, but this might confuse/worry users. Can we fix this?

[2014-09-11 16:14] astrofrog opened #2928 "Option to override physical type definition"
In a project I am doing I would like to do:

[code]

However, this isn't allowed because u.percent is already defined as 'dimensionless'. Could we maybe add a `force=False` argument that can be set to True to override?

cc @mdboom

[2014-09-12 07:01] #2928 closed, assigned to mdboom

[2014-09-12 07:30] astrofrog opened #2931 "Issue when trying to write table to a compressed FITS file"
In the following example, either the writing should fail more explicitly, or it should work and actually write to a compressed FITS file. At the moment, the file being produced is corrupt:

[code]

[2014-09-12 14:54] astrofrog opened #2933 "Angstrom and erg are allowed units in the FITS standard"
As per the FITS standard (http://www.aanda.org/articles/aa/pdf/2010/16/aa15362-10.pdf), Table 4, Angstrom and erg are explicitly listed as allowed units in the FITS standard. My interpretation of the footnote is that since the units are in the table, they are allowed, even though they deviate from McNally 1988. I came across this today when I got a warning about erg and thought that _can't_ be rig

[2014-09-12 15:48] #2931 closed, assigned to nobody

[2014-09-12 20:27] #2774 closed, assigned to nobody

[2014-09-12 20:27] #2756 closed, assigned to nobody

[2014-09-12 22:15] astrofrog opened #2935 "What's new for 1.0"
Just to remind ourselves of entries to add:

* [x] Fast ascii.io reader/writer [#2716] - @taldcroft
* [x] Summary of `modeling` package updates [#2580, #2835, ...] [owner: @embray]
* [x] Visualization sub-package @astrofrog
* [x] Analytic functions @pllim
* [x] AltAz conversions @eteq
* [x] Mixin columns [#3011] - @taldcroft
* [x] LTS release @astrofrog or @eteq
* [x] Major API changes?
* [x] Drop

[2014-09-13 13:41] juliantaylor opened #2936 "quantity test failures with numpy 1.9 and master"
with current astropy master there are a bunch of quantity tests are failing with deprecation warnings:
e.g.

[code]

additionally a failure due to a new ufunc in numpy master:

[code]

[2014-09-13 19:08] mwcraig opened #2938 "Import of astropy.table.Table on OSX fails after merge of C-based io.ascii"
When I do a clean install of astropy in a new, minimal anaconda environment on Mac 10.9.4 I get the traceback below when I try importing `astropy.table.Table` in `1.0.dev9892` aka SHA1 3a74ab9. The bash script below the traceback reproduces the error on my mac.

[code]

To reproduce on OSX 10.9.4/anaconda 2.0.1:

[code]

[2014-09-13 23:00] #2483 closed, assigned to mdboom

[2014-09-14 12:55] keflavich opened #2940 "ascii reader fails on one of the astroquery test files"
Reading this file:
https://github.com/astropy/astroquery/blob/master/astroquery/eso/tests/data/vvv_sgra_survey_response.tbl

has led to this error:
https://travis-ci.org/astropy/astroquery/jobs/35254713

This is probably because of the following characters:

[code]

at the top of the file.

[2014-09-15 11:17] olebole opened #2941 "0.4.1: setup.cfg ah_bootstrap auto_use=False does not work completely"
When I set in setup.cfg

[code]

and then try to build the package with an external astropy_helpers package (version 0.4.2), I get the error

[code]

Which shows that here the internal code is used instead of the external. When I remove the `astropy_helpers` subdirectory from the astropy package, everything works fine.

[2014-09-15 16:59] #2941 closed, assigned to nobody

[2014-09-15 20:42] eteq opened #2943 "Consider adding a test with clang"
A lot of astronomers are using Macs, which normally uses clang instead of gcc as the C compiler. And #2938 demonstrates that there can be critical differences between them.  So this might mean we should add a Travis test that uses clang instead of the default gcc to build the C extensions.  Alternatively, we might change one of the existing tests to use clang (then that test has a dual-purpose, bu

[2014-09-15 20:43] #2938 closed, assigned to nobody

[2014-09-15 20:54] eteq opened #2945 "Add ability to read jsviewer tables"
#2875 added the nice feature of being able to write Tables out as "jsviewer" style html files.  To close the loop, it would be nice if it were possible to _read_ such tables as well.  This would enable neat tricks like sending the table to your collaborators as a link to a server and having them download the data and load it in astropy in one fell swoop just by grabbing the URL.

I might end up ju

[2014-09-15 23:13] #2896 closed, assigned to nobody

[2014-09-16 00:44] #2712 closed, assigned to nobody

[2014-09-16 22:51] embray opened #2952 "New C reader crashes in Windows"
Unfortunately, when I run `test_c_reader.py` on Windows the Python interpreter crashes with no specified error.

I'll update this more once I have more details, but I just wanted to make sure to note it before I forget (this is important though as it basically makes Windows testing impossible until it's resolved (or those tests are skipped)).

[2014-09-18 00:31] agroener opened #2956 "pprint(): terminal output not displaying the entire table"
Hello,

I'm using astropy.table to format some large tables and I'm running into a minor visual problem when printing. Since the number of rows is rather large (in my case the table is approximately 50 rows, but I will be potentially dealing with more), when calling pprint() I'm getting abbreviated output.

Here's a quick example which reproduces what I'm talking about (and sorry for such large ou

[2014-09-18 16:31] #2956 closed, assigned to nobody

[2014-09-18 19:13] #2936 closed, assigned to nobody

[2014-09-18 21:34] #2693 closed, assigned to nobody

[2014-09-18 21:35] #1987 closed, assigned to embray

[2014-09-19 02:36] wkerzendorf opened #2959 "Setting Quantity item inconsistent"
As expected

[code]

but

[code]

@mhvk any ideas?

[2014-09-19 12:51] #2959 closed, assigned to nobody

[2014-09-19 13:06] astrofrog opened #2960 ""underlying buffer is not C-contiguous failure" error with Python 3 and numpy-dev"
Now that the Jenkins instance is back, there is one failure with numpy-dev:

[code]

This only occurs on Python 3.x

cc @embray

[2014-09-19 14:19] astrofrog opened #2961 "astropy.coordinates doctest failure"
I'm seeing this failure on the MacOS X Jenkins instance when doing the remote tests:

[code]

Somehow either the `FLOAT_CMP` isn't working, or the values we give aren't accurate enough.

cc @eteq @embray

[2014-09-19 14:23] embray opened #2962 "Some (coordinates?) test not restoring global settings"
Now when I run the `--remote-data` tests, sometimes the following test fails:

[code]

One of the doctests is also affected by this:
[code]

per #2961.

Okay, so I go and add a few more digits of accuracy to the repr string.  Then I run that test file by itself and...it fails with the opposite diff.

I don't know what controls the number of digits to display, but it seems like some earlier test is

[2014-09-19 23:23] #2961 closed, assigned to nobody

[2014-09-21 12:58] astrofrog opened #2966 "Make data types explicit in jsviewer writer"
In the jsviewer `Table` writer, at the moment the columns are treated as strings if there is for example a `nan` value or `--` (from a masked column) so we should force the data types on each column, as done in this example:

https://gist.github.com/astrofrog/88be84f3de2575ff0dcc

[2014-09-22 02:29] #2609 closed, assigned to nobody

[2014-09-23 20:09] #2884 closed, assigned to nobody

[2014-09-24 13:11] #2083 closed, assigned to nobody

[2014-09-24 13:57] neuronphysics opened #2973 "ImportError: cannot import name lazyproperty"
I have install new astropy version:

[code]

What should I do to solve this issue?

[2014-09-24 16:39] #2973 closed, assigned to nobody

[2014-09-24 17:14] griffin-h opened #2974 "Table.read reads boolean columns as strings"
If an astropy table has a boolean column and is written to an ascii file, it cannot be read back in as the same table.

[code]

It would be good if Table.read could recognize a column filled with only 'True' or 'False' and convert those to booleans instead of strings.

This is similar to #1953/#2226, but probably unrelated since those are for writing to FITS tables.

[2014-09-24 19:13] olebole opened #2976 "[0,4,2] does not compile with wcslib-4.24"
There is an [incompatible API change in wcslib 4.24](http://upstream-tracker.org/compat_reports/wcslib/4.23_to_4.24/abi_compat_report.html#High_Risk_Problems) that causes complilation failure and runtime problems (if compiled with 4.23, but started with 4.24). Unfortunately, wcslib did not increase the SONAME in 4.24 (probably since the change was on functions introduced only in 4.23), but it woul

[2014-09-24 19:28] migueldvb opened #2977 "InvalidTransformError in astropy.wcs due to invalid unit"
When I use the `astropy.wcs.WCS` funciton on a header from an image downloaded from the Herschel archive I get the following error:

[code]

I think this happens because of the presence of a capital D in the non-standard Degrees unit that is not recognized as a valid alias. Should this alias by case independent to avoid this problem?

[2014-09-25 13:14] embray opened #2979 "Add fits.diff convenience function"
A user pointed out to me that the object-oriented interface provided by the `FITSDiff` and related classes is not necessarily the easiest to use for a non-programmer in an interactive analysis interface.  And they're right--it's more an API for building higher level tools.  And as I pointed out we already provide such a higher level tool in the form of the included `fitsdiff` program, which one ca

[2014-09-25 15:41] cdeil opened #2980 "Angle array to_string should return strings"
Currently [Angle.to_string](http://astropy.readthedocs.org/en/latest/api/astropy.coordinates.Angle.html#astropy.coordinates.Angle.to_string) for angle arrays returns a numpy object array.

Wouldn't it be better to return a numpy string array?

[code]

It seems angle arrays are not covered by the [Returns section of Angle.to_string](http://astropy.readthedocs.org/en/latest/api/astropy.coordinates.A

[2014-09-25 19:51] #2704 closed, assigned to nobody

[2014-09-26 14:28] astrofrog opened #2986 "Performance regression in mask creation from table column"
Thanks to the awesomeness that is `asv`, I noticed a performance regression when doing things like

[code]

The time in the benchmark in https://github.com/astropy/astropy-benchmarks/pull/10 went from 10 to almost 200µm, so a factor of 20 more. This is due to https://github.com/astropy/astropy/pull/2963

Now maybe this is an acceptable performance penalty, but I just wanted to report it since it's

[2014-09-28 17:38] astrofrog opened #2988 "Deprecate spherical_to_cartesian and cartesian_to_spherical?"
In `astropy.coordinates.distances` we have `spherical_to_cartesian` and `cartesian_to_spherical` but we only use them in `CartesianPoints` which is a deprecated class. Can we also deprecate these functions since they duplicate the algorithms in the representation classes?

cc @eteq

[2014-09-28 17:59] astrofrog opened #2989 "Cache/pre-compute representation_info"
I was spending a little time profiling parts of astropy.coordinates and I was surprised to see that `get_representation_info` gets called 12 times when doing `FK5(3.2 * u.deg, 2.2 * u.deg)`:

[code]

In fact, this takes up a significant fraction of the time (80% of the time of initializing a new frame!). So a few questions:
- Why does it get called 12 times?
- Can we simply cache this since it is

[2014-09-30 09:18] rbuehler opened #2996 "Lorentz1D seems to be wrong"
I am using astropy 0.4.2 and the lorentzian1d does not seem to give back the correct answers, e.g.:

[code]

returns "0.2", but I think should be 0.5 (as we are at fhwm, or?)
Thanks.

[2014-09-30 10:01] #2996 closed, assigned to nobody

[2014-09-30 12:27] cdeil opened #2997 "Table MaskedColumn updating issues"
@taldcroft Can you please look at example 1 and 3 in this notebook?
http://nbviewer.ipython.org/gist/cdeil/69b79c04b2477dbf611a

Is this a bug in the masked table implementation?

If not, can you point me to or add documentation how one can update missing data in Astropy tables?
I did look through the docs a bit, but couldn't find it.

Naively this is what I tried ... it results in a table where t

[2014-09-30 15:29] cdeil opened #2998 "Add method to summarize table row info"
This is a feature request for Astropy table row.

I often have source catalogs as Astropy tables and there are very many columns.
It's pretty hard to print a nice summary of the info for one row (often an astronomical source).

This is hard to read:

[code]

This is roughly what I want ... but it would be nice to have some extra info printed (namely `dtype` and optionally `mask` and `data` separat

[2014-09-30 15:36] cdeil opened #2999 "Add method to summarize table column info"
This is a feature request for Astropy table (related to, but separate from #2998).

`HDUList` has the `info` method that prints a summary of the HDUs in the list.
How about adding an `info` or `summary` method to `Table` that prints a summary of which columns it contains plus some basic stats for numerical columns plus info on the number of "good" (i.e. non-masked) elements.

As an illustration wh

[2014-09-30 15:45] mhvk opened #3000 "Saving Time to FITS"
The FITS standard has been changed to include ways to store time values and use them in world coordinate systems [1]. This issue is a reminder that we should try to implement it. The storage is particularly relevant once Time values can be stored in tables.

[1] http://arxiv.org/abs/1409.7583  EDIT: published as http://adsabs.harvard.edu/abs/2015A%26A...574A..36R

[2014-09-30 15:53] bsipocz opened #3001 "Table unique function"
I think it would be useful a `unique` function for tables (at least it would have been useful for me a few times).

I looked at it briefly, and a basic version doesn't seem to be very complicate to implement/inherit similarly to `hstack` and `vstack`, however I'm sure there are deep pitfalls.

What do you think @taldcroft? if it's a go ahead, I try to come up with something before v1.0.

[2014-09-30 20:24] #2980 closed, assigned to nobody

[2014-09-30 23:47] bsipocz opened #3005 "Doctest failure for operations.rst"
This doctest fails locally with numpy 1.9.0, but passes with numpy 1.8.2:

[code]

`name` is either not ignored correctly from the aggregation or this is a numpy bug again (or even the same as in #2281?)

EDIT: it passes with numpy 1.10dev...

[2014-10-01 12:12] astrofrog opened #3006 "Add known issue for setuptools-related error"
A user showed me the following error they were getting on Linux:

[code]

This turns out to be the same as https://github.com/astropy/imageutils/issues/14

I suggested they update setuptools with `conda update setuptools` and after updating it worked. So this is a setuptools bug that might affect some users. Should we add a known issue?

[2014-10-01 22:27] #2988 closed, assigned to nobody

[2014-10-02 06:05] astrofrog opened #3008 "Change default tolerance for z_at_value"
As discussed in https://github.com/astropy/astropy/pull/2991, the default tolerance for `z_at_value` in `astropy.cosmology` should be changed (and tests should be updated to check results more accurately).

[2014-10-02 15:32] demitri opened #3009 "Add source information to executable scripts"
I discovered that I have a program called "fitscheck" on my computer ($PATH), but I had no idea where it came from. The help message didn’t say. A `which fitscheck` listed `/usr/local/anaconda/bin/fitscheck`, but that didn’t really help. One Google search later, and I see it's part of the Astropy package (among other similar files).

I’d like to suggest that the source of these programs be listed

[2014-10-02 15:58] wkerzendorf opened #3010 "Problems is `np.isclose` in astropy and numpy-1.9"
[code]

@mhvk any ideas?

[2014-10-02 16:35] taldcroft opened #3012 "Change Table repr to be nicely formatted"
Somewhat driven by #2790, but more inspired by pandas behavior and being annoyed at having to `print()` tables, this issue proposes making the Table repr be essentially the same as the current `str` output from `print()`.  This also makes it more consistent with the IPython notebook behavior.

[code]

This would go hand-in-hand with the new `info()` methods proposed for `Table`, `Row`, `Column`, w

[2014-10-02 21:18] astrofrog opened #3013 "get_readable_fileobj behaves differently for file object input in Python 3"
In Python 2, the following code works, but not in Python 3:

[code]

This is because in Python 3, `get_readable_fileobj` causes the file object cursor to move to the end:

[code]

gives:

[code]

[2014-10-03 13:53] #3005 closed, assigned to nobody

[2014-10-06 07:00] demitri opened #3017 "Lsun unit aliases missing."
According to the documentation (http://astropy.readthedocs.org/en/latest/units/), the defined aliases for `solLum` (`L_sun`, `Lsun`) should be available in both the `astropy.units` and `astropy.units.astrophys` namespaces.

This works:

[code]

This does not:

[code]

These work:

[code]

This does not:

[code]

I’d submit a pull request, but the problem wasn’t obvious to me. I’m sure this is a si

[2014-10-06 11:21] taldcroft opened #3018 "Io.ascii test failures (too many open files) on Mac/Python 3.3 after #2969"
When testing with Python 3.3 / Mac there I'm seeing consistent test failures ending with `OSError: [Errno 24] Too many open files`.  This seems to have been introduced by #2969.  I wasn't able to reproduce in limited testing outside of the test suite (i.e trying to read the same files in the same way).  This doesn't happen in linux (travis) testing.

@amras1
@astrofrog - have you been seeing this?

[2014-10-06 16:21] #3017 closed, assigned to nobody

[2014-10-06 22:46] #2926 closed, assigned to nobody

[2014-10-08 12:44] Cadair opened #3021 "Empty coordinate frames don't fail nicely when accessing data attributes"
[code]

Would be nice if it made a nice error like accessing `.data` does.

[2014-10-08 22:23] astrofrog opened #3022 "Feature request: command-line tool to view binary tables"
As discussed in this Twitter conversation: https://twitter.com/alexavillaume/status/518096636313346049 - the world would be a better place if we all used binary tables instead of ASCII, but the issue is that ASCII tables are so damn convenient to view quickly. But what if we created a simple command-line script that basically uses `Table.read` to read in a binary table, then uses `Table.more()` to

[2014-10-10 21:57] demitri opened #3025 "ASCII file formats."
I was just working with someone who wanted to read an ASCII file and convert to a FITS file. Based on the documentation [here](http://docs.astropy.org/en/v0.4.2/io/unified.html#ascii-formats), he created a file that started with this (more or less):

[code]

The code was basically:

[code]

This was the resulting FITS file

![mail attachment](https://cloud.githubusercontent.com/assets/64314/459951

[2014-10-14 07:11] #3018 closed, assigned to nobody

[2014-10-14 15:21] #2940 closed, assigned to nobody

[2014-10-14 16:08] embray opened #3028 "Allow tuples/iterables as convenience for setting contraints on model parameters"
Currently it is possible to specify constraints on parameters when instantiating a model by providing keyword arguments named after the constraints, and dict that provides settings to that constraint for some (or all) parameters.  For example:

`m = SomeModel(1, 2, 3, fixed={'param_a': True, 'param_b': False})`

The dict-based assignment is definitely nice and explicit, and also good if you only n

[2014-10-14 18:21] #3010 closed, assigned to nobody

[2014-10-15 17:23] embray opened #3029 "Rename Beta1D and Beta2D models"
As discussed [on the mailing list](https://groups.google.com/forum/#!topic/astropy-dev/vizuhH8I3PA) the models `Beta1D` and `Beta2D` are confusingly named, as their names come from a very application-specific usage (originally from Sherpa) but really these functions are more general than that.

The best suggestion offered seems to be something like `Moffat1D` and `Moffat2D` from http://en.wikipedi

[2014-10-16 09:11] astrofrog opened #3030 "New astropy.datasets module for example datasets"
In various affiliated packages (imageutils, photutils, wcsaxes, reproject) we need example datasets to make documentation examples runnable by users without having to download any extra files explicitly. Take a look for example at the WCS example here:

http://wcsaxes.readthedocs.org/en/latest/getting_started.html#initialization

Specifically:

[code]

What this does is actually uses the astropy i

[2014-10-16 10:25] astrofrog opened #3031 "Masked VO table writing failing in Python 3"
The following example:

[code]

produces the following failure with Python 3.4:

[code]

This is not a problem if the table is not masked.

cc @mdboom

[2014-10-16 12:54] #2330 closed, assigned to mdboom

[2014-10-16 13:16] #3031 closed, assigned to mdboom

[2014-10-17 17:28] embray opened #3032 "Add numerical approximate inverse for models"
For models where an exact inverse has not been defined (either defined on the class or provided by the user--see #3024) there should be a fallback method to compute an inverse numerically, which in most cases should do a good enough job.

It's unclear yet exactly what the user-interface for this should be, but the result should be that calling `model.inverse(x)` would fall back on this method if n

[2014-10-17 22:06] bnordgren opened #3035 "Quantities become arrays using np.choose"
I was trying to us np.choose to avoid writing special code to handle the difference between numpy arrays and scalars. I noticed that Quantities go in, but plain numpy arrays come out.
[code]

np.vectorize() has similar issues, but it tends to strip off the units before calling the function on the array elements. Hence, functions written expecting the arguments to be Quantities will fail because th

[2014-10-18 08:25] evertrol opened #3036 "Biweight midvariance: use `n = mask.sum()` or simply `n`?"
I noticed the calculation for the [biweight midvariance](https://github.com/astropy/astropy/blob/master/astropy/stats/funcs.py#L762) has the line
[code]
From eq. 9 in [Beers, Flynn & Gebhard](http://articles.adsabs.harvard.edu//full/1990AJ....100...32B/0000036.000.html), I would think this should just be `n`, the full sample size: the limitation (with `abs(u) < 1`) is within the summation, and `n`

[2014-10-18 23:50] bnordgren opened #3039 "scalar Time + multidimensional Quantity = error"
Adding a Time and Quantity works when the Quantity is a scalar and a 1D vector. If the Quantity array is reshaped to a 2D array, an OperandTypeError is thrown.

[code]

[2014-10-20 22:55] Spiffical opened #3041 "Temporary .fits files not being deleted"
I have a function in my iPython Notebook which opens a .fits file, extracts the image data, and then closes it:

    def getData(URL):
       a = fits.open(URL)
       D_xy = a[0].data
       a.close()
       return D_xy

This creates a temporary .fits file in the /tmp directory on my computer, and doesn't ever remove it. This recently became a problem since I am working with large amounts of data

[2014-10-21 05:44] anntzer opened #3042 "Small improvements to fits.Section"
Small suggestions: add a `shape` attribute (property?) to `astropy.io.fits.Section`, and document its public attributes (`hdu` and, if the first suggestion is accepted, `shape`).

[2014-10-21 07:41] keflavich opened #3043 "Minor inconsistency in coordinate transformations/representations"
If I declare a coordinate from a Cartesian representation, it is not obvious how to convert it to a spherical representation while retaining its `SkyCoord` properties.  Example:

[code]

Using `represent_as` turns the object into a `Representation`, which means it loses the ability to transform to other coordinate systems.

Transforming to another system, or even its own system, works fine, as sho

[2014-10-21 14:21] #3043 closed, assigned to nobody

[2014-10-22 01:45] bnordgren opened #3046 "Cannot use unscaled integer quantities as indices"
I have an output from a calculation which I need to use as an index to an array. I've converted the type to int and made sure the units are "dimensionless_unscaled", but I keep getting a TypeError.

The below code is kind of an exemplar which directly creates a dimensionless_unscaled, integer quantity, and tries to use it as an index. I believe this should work, but it raises the same TypeError.

[2014-10-25 20:52] bnordgren opened #3053 "Feature Request: Array indices which understand units"
This issue spun off from #3046

"array indices" are not always unitless. For instance, it would be cool to be able to do "lookup_table[-177*u.deg]" and get the value for the "bin" that contains -177 deg longitude.

Assume a dataset with samples along a time axis. Assume the sampling function is four samples per day or a sampling interval of 6 hours. A potential solution to this for a 1d array, usi

[2014-10-26 20:24] aphearin opened #3056 "Feature Request: catalog reduction bookkeeping tools"
Astropy currently provides a cache system for keeping track of the URL from which external data was downloaded, as well as its location on the user's local disk. It is not uncommon in astronomy for this external data to be quite large, and to require reduction before it is suitable for day-to-day use. This Issue is a request for astropy to provide bookkeeping tools for managing the data reductions

[2014-10-26 20:45] aphearin opened #3057 "Feature Request: optionally allow py.test to see the outside world"
The py.test framework is set up so that the code base only knows about its own state. The motivation is to have the results of the test suite be entirely independent of the state of any global variables external to the code. This is almost always a good idea, but in some special cases this is too restrictive. This Issue is a request for astropy to provide the option for specially marked methods of

[2014-10-27 09:39] astrofrog opened #3058 "Allow Table.write(..., format='fits') to write to HDU instances"
It would be nice to be able to write tables to HDU instances, which would allow one to write to several HDU instances that can then be combined with e.g. Image HDU instances before writing out the file.

An alternative would be to make ``BinTableHDU(Table(...))`` work (by 'work' I mean that the units will be correctly set in the HDU object).

[2014-10-27 11:58] hamogu opened #3059 "Testing io.ascii with fast and slow readers"
`io.ascii` has a bunch of legacy pure python readers, but also some fast C readers. The C readers are tested separately in `test_c_reader.py`. All those tests are already parameterized to test the readers in parallel and single-process versions. I propose to test the pure python readers here, too.
This would:
- ensure that the API is the same for all cases (I think it currently is and several test

[2014-10-27 12:27] astrofrog opened #3060 "``in`` does not work as expected with HDUList"
In the following example:

[code]

I would expect `'a' in hdulist` to return `True`

cc @embray

[2014-10-27 16:02] astrofrog opened #3061 "Should be able to add empty Table columns"
I think the following should probably work and add an empty column:

[code]

[2014-10-27 21:53] #3061 closed, assigned to nobody

[2014-10-29 23:54] #3059 closed, assigned to nobody

[2014-10-30 13:48] #1977 closed, assigned to nobody

[2014-10-30 17:16] #2295 closed, assigned to nobody

[2014-10-31 21:59] parkus opened #3065 "new table columns not saved with HDUList.flush()"
I've been trying to add columns to a preexisting table extension of a FITS file, but with no success. Here's an MWE:

[code]

The last print statement gives "['test1', 'test2']", showing that the open HDUlist does include the new column.

[code]

Now the print statement just gives "['test1']": the new column was not actually saved.

Is this a bug or am I doing something wrong? (Side note: accordin

[2014-11-03 19:03] #3065 closed, assigned to embray

[2014-11-04 10:09] agb32 opened #3070 "Rotation in Gaussian2D"
Hi,
I think rotation in Gaussian2D isn't working properly.
To reproduce:

[code]

The rotated one has a smaller FWHM.

[2014-11-04 13:16] astrofrog opened #3071 "Variations in results from coordinate name resolution"
I noticed the following failure on https://ci.scipy.org:

[code]

So it seems that the result is not always the same - I wonder whether this could be due to Vizier or Simbad returning different results, or different mirrors being used?

@adrn - since you wrote the original version, any ideas?

[2014-11-04 19:58] #2707 closed, assigned to nobody

[2014-11-05 19:23] ycopin opened #3073 "'FITS_rec.compress' method not properly selection values"
Hi,

I cannot get the `FITS_rec.compress` method to work correctly for selecting rows in a table. Here is an example:

[code]

This will print:

[code]

As you can see, the `compress` method does weird things, at least not expected.

[2014-11-06 05:25] ocehugo opened #3075 "Skycoord broadcast error"
Hello,

It's the second time I faced this error:

[code]

and for the second time, I spent too much time thinking why this have been raised. Since Skycoord expect LON/LAT inputs of the same size, this error is raised instead of a error saying you need to provide lon/lat with same sizes.

Edit: forgot to mention that inputs are numpy arrays.

SkyCoord should check for sizes at input, or should mesh

[2014-11-06 07:40] #3008 closed, assigned to nobody

[2014-11-06 15:56] pllim opened #3077 "Create new module to contain analytic functions, starting with blackbody"
As discussed in #1480 .

Shall I take a stab at this? "I shall name it Squishy and it shall be mine." Just kidding, I'll name it `astropy.analytic_functions` unless someone comes up with something better.

[2014-11-06 17:29] astrofrog opened #3078 "Bug with reading large FITS files on OSX with memory mapping is turned off"
The following example demonstrates the issue:

[code]

I think this happens when the cube is > 2Gb

@embray, any ideas? This is on MacOS X with Python 3.4

[2014-11-06 21:49] astrofrog opened #3080 "Rename Beta1D and Beta2D models to Moffat1D and Moffat2D"
As discussed on astropy-dev: https://groups.google.com/forum/#!topic/astropy-dev/vizuhH8I3PA

[2014-11-07 04:08] nhmc opened #3081 "Add the power spectrum, growth function and virial quantities to astropy.cosmology"
For galaxy formation and cosmological studies it's often necessary to calculate the matter power spectrum in the linear regime, the linear growth rate, and the typical temperature, radius and circular velocity of a virialized dark matter halo. All of these strongly depend on the assumed cosmology (see for example Mo, van den Bosch & White, http://adsabs.harvard.edu/abs/2010gfe..book.....M, section

[2014-11-07 17:28] embray opened #3084 "Backport Signature features from Python 3.3+"
Python 3.3 added some extraordinarily useful function signature handling features to the inspect module: https://docs.python.org/3/library/inspect.html#introspecting-callables-with-the-signature-object

I think using this can simplify argument handling in a number of our functions (_especially_ in the modeling package where I have in mind to use this eventually, but elsewhere as well).

These feat

[2014-11-07 18:00] #3070 closed, assigned to nobody

[2014-11-07 19:13] #3075 closed, assigned to nobody

[2014-11-07 20:04] rickyegeland opened #3087 "Simpler way to display entire Table as HTML in IPython"
`astropy.table.Table` objects implement `_repr_html_()` and are displayed as HTML in IPython notebook.  However, the result is truncated, and I haven't figured out a good way to output the whole table.  The best I came up with is:

[code]

Maybe a better way would be to expose a method similar to `pprint()`, with `max_lines` options, but which returns an `IPython.display.HTML` object.  Call it `ht

[2014-11-07 20:30] astrofrog opened #3088 "Add sphinx build on Travis with Python 3"
Once astropy-helpers is updated to 0.4.4 (once it is out) it will be possible to build the docs in Python 3. At that point, it might be worth adding a build to Travis to avoid any regressions.

[2014-11-07 21:28] #3080 closed, assigned to nobody

[2014-11-07 21:47] #3078 closed, assigned to embray

[2014-11-07 22:24] kslong opened #3089 "Behavior of io.asciii"
In reading files with io.ascii I note the following odd behavior, that looks to me like a bug

If one reads the following file, and tries to print out the first few rows of data

[code]

with this little bit of code:

[code]

One obtains

[code]

So if you want to access the data records in the code you need to start with row 1

But if you delete the first few lines of the input data, so it reads:

[2014-11-10 15:34] kslong opened #3092 "documentaiton of astropy.Table"
I suspect that the line in

http://docs.astropy.org/en/stable/table/index.html#module-astropy.table

that reads

[code]

is incorrect.  As far as I can determine from trying this out, one needs to say

[code]

[2014-11-10 16:29] #3092 closed, assigned to nobody

[2014-11-10 19:32] sargas opened #3093 "Position Angle Frame Transformations"
This is a feature request to convert angles between coordinate systems with SkyCoord. An example by @cdeil in #2311 :

[code]

This example used the `ICRS` object from the old API, so I'd like to propose two alternatives:
1. `BaseCoordinateFrame` carries a class method, perhaps called `transform_angle_to`, that takes a `SkyCoord`, `Angle`, and frame and returns another `Angle` in the new frame.
2.

[2014-11-10 21:07] #3089 closed, assigned to nobody

[2014-11-12 16:42] ChrisBeaumont opened #3098 "Should SummedCompositeModels be fittable?"
Currently, SummedCompositeModels do not inherit from FittableModel. However, a superposition of fittable models _should_ be fittable, since the information for the fit (derivative, constraints, etc) is easily derived from the atomic components.

I've been needing a way to fit superpositions of models, so I came up with an ugly hack (https://github.com/ChrisBeaumont/spectral_sandbox/blob/master/mod

[2014-11-12 21:56] #3098 closed, assigned to nobody

[2014-11-12 23:10] taldcroft opened #3099 "Add io.ascii format to read a basic format input with additional header line"
Starting from the `BasicHeader` class, parse a header that includes a second line which must consist of only `-`, `=`, and possibly whitespace.  Here is a simple pure Python implementation to get started:

[code]

To do:
- [ ] Write the corresponding fast version
- [ ] Write the corresponding writer
- [ ] Add to guess list
- [ ] Tests
- [ ] Docs
- [ ] CHANGES.rst
- [ ] Question: should this format

[2014-11-14 23:33] bnordgren opened #3105 "Times outside of the IERS table shouldn't raise exception."
I have code to calculate the daylength. Integral part of the algorithm is to calculate the sidereal time.

Shiny. Except for computing the daylength for 01-Jan-1901. Or in the future.

Could I propose a "default behavior" of using either a table or some empirical formula to estimate delta_ut1_utc when IERS is not available? Chapter 10 of Meeus' Astronomical Algorithms seems to have some suggestion

[2014-11-16 00:15] #2870 closed, assigned to nobody

[2014-11-16 14:08] #2692 closed, assigned to nobody

[2014-11-17 16:03] mcara opened #3113 "``celestial_pixel_scale()`` could return a "better" estimate of scale for non-square pixels"
@astrofrog [suggested](https://github.com/astropy/pyregion/pull/54) to raise this issue with ``astropy``. I believe that currently ``celestial_pixel_scale()`` returns the **arithmetic mean** of scales for each axis:  ``scale=1/2*(scale_X+scale_Y)``.

However, current definition is not related in any way to other important quantities such as pixel area. If there are no strong reasons to keep this d

[2014-11-17 17:59] embray opened #3114 "Add astropy.cite() function"
Going through some old notes I came across this one:

https://twitter.com/fperez_org/status/525096002831646721?s=09

`astropy.cite()` would simply print a citation for Astropy, possibly with options for different formats (bibtex by default, say).

This could probably in some way make use of the CITATION file in the source, although it would have to be copied into an installation as well.  Alternat

[2014-11-18 00:40] taldcroft opened #3117 "Fix ERFA wrappers to retain same time warnings"
PR #2992 introduces a small API change that is not desired, namely changing a bad day from warning to error.  This issue is a reminder to tidy that up prior to 1.0 release.  From the original discussion:

"Perhaps we can special-case cal2jd in erfa_time.py to re-issue the error as a warning. It looks like this is the only case of a negative status value that is considered a warning."

[2014-11-18 16:51] embray opened #3118 "A few unhandled errors in io.fits.compression module"
A support request led me to track down a possible unhandled memory error in the compression module; specifically there is no MemoryError exception set in case this calloc call fails:

https://github.com/astropy/astropy/blob/master/astropy/io/fits/src/compressionmodule.c#L770

That causes the buffer pointer to return NULL here:

https://github.com/astropy/astropy/blob/master/astropy/io/fits/src/com

[2014-11-18 17:19] #2889 closed, assigned to mdboom

[2014-11-20 01:27] #1846 closed, assigned to eteq

[2014-11-20 01:27] #2876 closed, assigned to eteq

[2014-11-20 13:57] keflavich opened #3122 "FITS reader thinks some filenames are URLs"
I have had trouble opening files with certain names.  In the below example, `blah.fits` and `APEXHET.2014-04-01T15:18:01.000.fits` are the same file (`blah` is a hardlink).

[code]

The problem is that the filename apparently looks like a URL in line 113 of `file.py`:
`len(urllib.parse.urlparse(fileobj).scheme) > 1): # This is an URL`

cc @embray

[2014-11-20 22:16] #3077 closed, assigned to nobody

[2014-11-21 16:05] astrofrog opened #3123 "Consider exposing ERFA as part of public API"
This is non-urgent, but it might be worth considering in future whether the ERFA package with the Python wrapers is part of the public API, and if so, we should add an entry to the documentation about it (and an auto-generated API list). But it makes sense to wait until we've ironed out any issues while making use of it in coordinates.

I know there is interest to provide higher level wrappers wit

[2014-11-21 16:48] #1453 closed, assigned to nobody

[2014-11-22 11:27] #2700 closed, assigned to jehturner

[2014-11-23 07:19] sargas opened #3130 "Test failure with test_deriv_1D"
For awhile now, I've had the following test failure in python2 and python3: (long lines shortened)
[code]
In case it's useful:
[code]

I'm not familiar with this code, so I'm just reporting it without a fix. Both my computer and Travis are using numpy 1.9.1 and scipy 1.14.0, so I don't think there's some kind of incompatibility. The same test fails in astropy-0.4  and latest ( 3933ce24463f376bc848

[2014-11-24 16:15] astrofrog opened #3133 "Singleton behavior for units not consistent"
I may be misunderstanding something, but the following is confusing:

[code]

I thought that all instances of ``u.cm`` were the same object - and ``u1`` and ``u2`` show we do expect a 'singleton'-type behavior, but then ``u1 is u3`` should return ``True`` too, right?

cc @mdboom @Cadair

[2014-11-24 16:16] #3060 closed, assigned to nobody

[2014-11-24 16:28] mdboom opened #3134 "Compile time of erfa.pyx is very large"
Sorry I didn't have enough (mental) bandwidth to follow this thread as it was happening, but it seems the new generated ERFA wrappers pose a surprisingly large burden on the compiler.  On a 2.8GHz machine with 16GB of RAM, running Fedora 21 and gcc 4.9, it takes ~~23~~ 264 seconds.

I may try look into chunking this up into smaller compilation units.

[2014-11-24 17:26] #1716 closed, assigned to nobody

[2014-11-24 19:43] #2125 closed, assigned to nobody

[2014-11-24 20:14] taldcroft opened #3136 "Provide a convenient way to get comment lines from an ASCII table"
Currently to get the comment lines from an ASCII data file you need to use `get_reader`:

[code]

There should be a better way.

[2014-11-24 23:29] eteq opened #3140 "Remove or expand erfa_time aliases"
This came from discussion in #2992.  First some background: Before #2992, the `erfa` bindings used in `time` were custom-written, so they had some names that were not the same as the matched `erfa` functions.  In #2992, the ``erfa_time.pyx`` bindings were replaced by a ``erfa_time.py`` module that just re-maps the old names to the corresponding `erfa` names.

So we should either remove these alias

[2014-11-25 13:41] #3025 closed, assigned to nobody

[2014-11-25 13:41] #3099 closed, assigned to hamogu

[2014-11-25 22:15] anntzer opened #3147 "Core dump when accessing FITS section"
Accessing a (small) FITS section from a large file crashes Python:

[code]

When run with `PYTHONFAULTHANDLER=1`, I get the following traceback:

[code]

Before someone mentions that sections are deprecated: they would still be fairly convenient for me to handle BZERO and BSCALE.

[2014-11-26 12:03] sergiopasra opened #3149 "Consider updating to configobj version 5"
There is a new configobj version 5 with support for python 3, with blessings from the original developers. It's in pypi here: https://pypi.python.org/pypi/configobj and in github here: https://github.com/DiffSK/configobj

This new version uses six, so it covers python 2 and 3 with the same codebase.

[2014-11-26 14:44] #2189 closed, assigned to nobody

[2014-11-26 23:16] bnordgren opened #3154 "Vector of Time objects causes units error"
Applying a basic scale and offset to calculate "samples since an epoch", I find that a scalar time object works, and a 1d array of time objects raises a units error.

[code]

[2014-11-27 08:56] #2703 closed, assigned to nobody

[2014-11-27 10:01] astrofrog opened #3155 "Different approach to remote-data tests?"
At the moment we don't run tests that require remote data unless the remote-data option is passed. This means that we don't usually set remote-data on Travis because we are worried that a single timeout will cause the build to fail.

We could consider a slightly different approach. In the default case we would always try tests that require remote data, but if the part that needs the data fails the

[2014-11-27 14:23] #3154 closed, assigned to nobody

[2014-11-28 18:29] #3134 closed, assigned to mdboom

[2014-11-28 18:37] #3084 closed, assigned to nobody

[2014-11-29 20:08] eteq opened #3159 "Auto-generate erfa.pyx and erfa.py"
Right now the ``erfa.pyx`` (and ``erfa.py`` from #3141) are checked in as source code.  These files are entirely auto-generated using  ``cython_generator.py``, so this seems wasteful of repository bandwidth in the event of future changes to the templates or other aspects of the erfa wrappers (incl. e..g, #3137).

Some discussion of this already has happened in #2992, #3134, and #3141 . Most releva

[2014-11-30 19:36] dkirkby opened #3161 "Docstring typo"
The docstring corresponding to `help(astropy.cosmology.FLRW.Onu)` refers to photons when it should be neutrinos.

[2014-12-01 02:55] bnordgren opened #3162 "Bizzare behavior indexing netcdf variables with Quantity"
Not sure if you guys use netcdf much, but it sees pretty heavy use in the earth science/remote sensing/meterology communities. In essense, the python interface to netCDF exposes variables in the file as numpy array-likes. This is not a perfect analogy, as the data stay on disk instead of in memory. The error message (from netcdf) is not at all helpful and it took a bit of time to sort this out.

I

[2014-12-02 15:33] #3161 closed, assigned to nobody

[2014-12-02 16:48] cdeil opened #3171 "Docs html page layout issues in small browser window"
I noticed that there's a few small docs html page layout issues if you make the browser window small.

Go to http://astropy.readthedocs.org/en/latest/ and make the width of your browser window small ... some elements from the header will start floating into the main section in random places.

Here's a screenshot that illustrates one of the misplaced header elements:
![screen shot 2014-12-02 at 17

[2014-12-02 20:55] demitri opened #3174 "Quantity notation proposal: easier way to not copy data on Quantity creation"
I recently spoke with @eteq about using `Quantity` in a large code base I'm writing. I added `astropy.units` to most of my numerical quantities, and it slowed down my code a fair bit. It wasn't doing any conversions; at this point the units are basically being carried along for the ride.

A lot of my code takes this form:

[code]

Eric suggested that part of the slowdown was that `some_array` was

[2014-12-02 22:48] #3162 closed, assigned to nobody

[2014-12-02 22:57] #2174 closed, assigned to nobody

[2014-12-02 23:30] #2673 closed, assigned to nobody

[2014-12-03 12:34] astrofrog opened #3175 "Gaussian2D theta direction is wrong"
The following script:

[code]

shows (I think) that the angle is not correctly being used. It should be rotating the gaussian counter-clockwise, right?

![gaussian](https://cloud.githubusercontent.com/assets/314716/5280409/12d6dd00-7af1-11e4-8fac-9a4ec7c86832.png)

cc @cdeil @adonath @larrybradley

[2014-12-03 14:09] #3175 closed, assigned to nobody

[2014-12-03 16:12] #2611 closed, assigned to nobody

[2014-12-04 16:41] gmarsden opened #3177 "Unexpected broadcasting in cosmology.FLRW"
When I call cosmology.FLRW.differential_comoving_volume() with an array with shape (n,1), I get back an array with shape (n,n).

[code]

The expected output is along the diagonal of dv.

[2014-12-05 12:04] sergiopasra opened #3180 "Test fails with astropy-0.4.2 in i386; test_grouped_item_access"
The test test_grouped_item_access fails in astropy 0.4.2 fails in i386, but no in x86_64

Full details here: http://guaix.fis.ucm.es/~spr/github/astropy042-f22-i386.txt

============================= test session starts ==============================
platform linux2 -- Python 2.7.8 -- py-1.4.26 -- pytest-2.6.4
Running tests with Astropy version 0.4.2.
Running tests in astropy.
Platform: Linux-3.17

[2014-12-05 23:45] #3149 closed, assigned to nobody

[2014-12-07 10:36] astrofrog opened #3182 "Improve frame comparison"
At the moment, one cannot compare whether frames are equivalent:

[code]

It would be nice to have a way to check that all frame attributes are the same. Now `==` may be ambiguous because for frames with data this is not as well defined (are we comparing the frame attributes or the data? what if the data is a vector?).

Maybe the solution is to disable straight-off comparisons like the ones above

[2014-12-07 14:01] astrofrog opened #3184 "Affiliated packages should be able to run tests in IPython if they wish"
At the moment, running tests in IPython gives:

[code]

even for affiliated packages. We disabled this in Astropy core because of some tests not interacting well with IPython but there's no reason we should prevent affiliated packages from doing this.

[2014-12-08 19:06] steveehlert opened #3187 "Writing a very large astropy table to FITS."
So I was trying to merge many tables taken for the same field (in different filters) together using the astropy table join function, when I ran into an unexpected problem: my tables appear to be too big. Here is the nominal code I am trying to run, a loop over table.join functions:

[code]

Which works just fine. However, when I try to write it to the disk like so...

bigcat.write(bigcatfilename,f

[2014-12-08 22:05] astrofrog opened #3188 "ERFA compile command too long for Windows?"
While doing some tests with AppVeyor, @Cadair saw the following error

[code]

The full build error is here:

https://ci.appveyor.com/project/Cadair/astropy/build/1.0.47/job/09f8kc232qmys8r9#L1866

So the question is, is the new ERFA stuff broken on Windows because of the compile command length? @embray, do you see that on your VM?

[2014-12-08 22:14] #3177 closed, assigned to aconley

[2014-12-09 00:03] #3187 closed, assigned to nobody

[2014-12-09 12:32] #3001 closed, assigned to nobody

[2014-12-09 22:39] astrofrog opened #3190 "Allow WCS object to have relaxed mode for interpreting units"
At the moment, if we create a `Header` containing a `CUNIT3` of `micron` and then parse it with `WCS`, no error happens during the parsing:

[code]

but if I try and access the third item I get:

[code]

Indeed, `micron` is not supported in FITS (should be `um`). But it would be nice if `WCS` could (if the `fits` parsing fails) try parsing the unit with `Unit` with no format specified, and emit a

[2014-12-10 19:51] mwcraig opened #3193 "Compile failure in io.ascii in windows"
On Windows 7 64-bit when compiling with the MSVC compiler the compilation fails on the `static inline` declarations in `io/ascii/src/tokenizer.c` (see [1] for appveyor log demonstrating the failure) because `inline` is only allowed in C++; in C one is supposed to use `__inline` (see [2]).

I can do a PR to fix this tomorrow, but have one question:

@taldcroft @embray -- does astropy have a preferr

[2014-12-11 11:18] #3193 closed, assigned to nobody

[2014-12-11 11:31] #1816 closed, assigned to nobody

[2014-12-11 16:08] mhvk opened #3197 "travis failure due to disk space running out?"
A travis failure I had not seen before: no space left on device.
https://travis-ci.org/astropy/astropy/jobs/43729250

I'm restarting, but thought I would raise it, in case there is a way to avoid it in future.

[2014-12-11 18:06] #3197 closed, assigned to nobody

[2014-12-15 14:27] astrofrog opened #3203 "Issue with ``all_world2pix`` with a Spitzer image"
``all_world2pix`` is failing on the following FITS file:

http://www.mpia.de/~robitaille/astropy/SIRTF_I4_0013367808_0000_0000_03_levbflx.fits

Example:

[code]

@mcara - do you have any idea what might be causing this?

(originally reported to me by @luzuku)

EDIT: fixed log above to reflect latest astropy version

[2014-12-15 19:05] embray opened #3205 "Include LONGSTR keyword in headers using the CONTINUE card convention"
According to the [latest documentation](http://fits.gsfc.nasa.gov/registry/continue_keyword.html) for the CONTINUE convention:

When reading files this keyword currently will not be used for anything, as there is only one "version" of the convention.  Files using the convention without this keyword should continue to work as normally as well, since the CONTINUE convention existed before addition o

[2014-12-16 13:15] AstroMike opened #3212 "Add Supergalactic coordinates to SkyCoord and astropy.coordinates"
Supergalactic coordinates are often used in extragalactic work and  are pretty standard. I believe they already exist in other astropy packages (WCS etc). I could add them myself but am more likely to make an error than someone more familiar with the above packages.

[2014-12-16 17:31] bsipocz opened #3214 "Document how to write Columns"
This would have been useful for me a few times in the past, and I have a half working branch for it, too (reading is not working in the way I though, but I think it should be something trivial I don't see).
The question whether it is desired to have, or the workaround to convert the given Column to a new Table is the preferred approach.

cc: @taldcroft

[2014-12-17 12:31] hamogu opened #3218 "Runtime warning when building current master"
Today I noticed the following runtime warnings when building astropy from source with the current master:

[code]

[2014-12-17 13:23] #3218 closed, assigned to nobody

[2014-12-17 15:05] mhvk opened #3219 "Wishlist: support JPL ephemerides"
As noted in #2244 and #3217, eventually we should support using the JPL ephemerides. A good place to start would be @brandon-rhodes https://github.com/brandon-rhodes/python-jplephem

It needs some mechanism by which a user can opt to download the (large) ephemeris files, as we would not want to include those in `astropy` by default.

[2014-12-17 15:55] jbochanski opened #3221 "ascii.read failing on three column text file"
Hi,

I tweeted about this yesterday, but ascii read is seg faulting on a generic three column file (wavelength, flux and variance).

[code]

will complete, however if I run:

[code]

the code _usually_ seg faults, with the following error:

However, there are times that it does complete.  If I add a third or fourth read, then it always seg faults.

Thanks!

[2014-12-17 21:14] #1997 closed, assigned to nobody

[2014-12-18 00:44] mhvk opened #3226 "Sphinx documentation should include module constants that have docstrings"
This apparently used to work, but seems to have stopped. See https://github.com/astropy/astropy/pull/3208#issuecomment-67406543

[2014-12-18 09:02] Cadair opened #3227 "Table HDF test fails under Windows (AppVeyor) and NumPy 1.7.1"
Tests that are failing, both in `astropy\io\misc\tests\test_hdf5.py`:

[code]

@mwcraig

[2014-12-18 14:37] #3039 closed, assigned to nobody

[2014-12-18 16:12] embray opened #3228 "Better support for py.test --debug"
py.test has a `--debug` option that makes it write a debug log that is sometimes useful when debugging issues with the test runner/test collection.  We can use this fine via our `./setup.py test` command using the `--args` option, so I'm not proposing adding a new command-line argument.

However, it's not apparent that there is any way to control where this debug log is written to.  By default it

[2014-12-18 16:40] #3226 closed, assigned to nobody

[2014-12-18 17:24] mdboom opened #3232 "0e69c4db introduced asv regression"
I'm not saying this an issue to be resolved -- just reporting it FYI.

0e69c4db appears to have introduced a major speed regression in many of the `io.ascii` benchmarks:
- AastexFloat
- AastexInt
- FixedWidthFloat
- FixedWidthInt
- FixedWidthNoHeaderFloat
- FixedWidthNoHeaderInt
- FixedWidthString
- IpacFloat
- IpacInt
- IpacString
- CoreSuite.time_base_splitter
- CoreSuite.time_continuation_input

[2014-12-18 17:42] mdboom opened #3233 "da2bf588 introduced astropy.table asv regression"
Again, I'm not suggesting this _has_ to be resolved...

da2bf588 seems to have introduced a 3-times slow-down in both the masked and non-masked version of the following benchmarks:
- time_hstack
- time_vstack
- time_join_inner
- time_join_outer
- time_item_get_colfirst

It's no surprise that this comes out of that change, and it's probably unavoidable.

[2014-12-19 00:01] #2274 closed, assigned to nobody

[2014-12-19 00:04] astrofrog opened #3236 "Change sig to sigma in ``sigma_clip``"
See https://github.com/astropy/astropy/pull/3201#discussion_r22079481 for more details - this is a small fix that can be done after the 1.0 feature freeze, but needs to emit a deprecation warning.

[2014-12-19 03:32] luojing1211 opened #3237 "astropy time format error"
Dear Astropy developer,
I just updated my astropy to 1.0.dev10836. But I have the error when I creating time object. The message says:

[code]

Can someone help me with this?

[2014-12-19 16:58] adrn opened #3240 "units: warning from numpy operation on Quantity arithmetic"
The following gives a warning:

    from astropy import units as u
    import numpy as np

    a = 15 * u.kpc
    b = 27 * u.pc

    print np.arcsin((b/a))

but doing this does not:

    print np.arcsin((b/a).decompose())

The warning is:

    RuntimeWarning: invalid value encountered in arcsin
      print np.arcsin((b/a))

[2014-12-19 17:30] #3147 closed, assigned to nobody

[2014-12-19 17:40] bsipocz opened #3241 "Build fails in erfa.c"
The build of the current master is failing with this error in erfa. This is on a linux server. I cannot reproduce the error locally as the build doesn't even start to run, due to another issue (https://github.com/astropy/astropy/pull/3206#issuecomment-67590455)

[code]

[2014-12-19 17:51] #2799 closed, assigned to nobody

[2014-12-19 17:58] #3241 closed, assigned to nobody

[2014-12-19 19:50] cdeil opened #3242 "Fix unit test fails on Windows / Appveyor"
When turning on continuous integration for Windows on AppVeyor in #2755 we told it to skip some unit tests that failed.

You can get a full list of these skipped tests in master using this full-text search:
https://github.com/astropy/astropy/search?utf8=%E2%9C%93&q=fails+on+AppVeyor

Here's a list:
- [x] `test_blackbody_scipy` and `test_blackbody_overflow` in `test_blackbody.py`
- [x] `test_setite

[2014-12-19 22:51] #2810 closed, assigned to nobody

[2014-12-20 02:13] #2555 closed, assigned to nobody

[2014-12-20 12:32] astrofrog opened #3244 "Verify accuracy of ICRS <-> AltAz transformation"
Before 1.0 is finally released, this is a reminder that we need to make sure that the ICRS <-> AltAz transformation agrees with other codes.

cc @eteq @cdeil

[2014-12-21 10:24] astrofrog opened #3245 "Default RADESYS not being set"
@mdboom - #3204 included the changes regarding the default RADESYS value in WCS, but the test is missing an `assert`:

[code]

If I add the `assert` the test fails, so it seems like this is not working correctly.

[2014-12-22 01:02] adrn opened #3247 "Support pathlib.Path objects in all file-path-accepting functions"
Is there a reason why `fits.open()` and `ascii.read()` can't use `os.path.expanduser()` on input file paths? It would be nice to be able to pass in, e.g.,

[code]

[2014-12-22 17:43] #2952 closed, assigned to nobody

[2014-12-23 13:20] #3136 closed, assigned to nobody

[2014-12-23 17:29] nden opened #3251 "make model.name settable"
#3231 allows models to have name and it can be set by

[code]

 or by

[code]

which makes a copy of the model.

There are use cases where it would be convenient to be able to set the attribute after the model is created. One  example is setting the name of a compound model (without making a copy).
Another example is setting the name of a submodel in a compound model without disecting and recreati

[2014-12-30 15:34] #3029 closed, assigned to nobody

[2014-12-30 18:45] #2895 closed, assigned to nobody

[2014-12-30 18:58] #2657 closed, assigned to nobody

[2014-12-31 20:53] #3006 closed, assigned to nobody

[2015-01-05 15:26] mdboom commented on #2976
Just seeing this after vacation now -- just wanted to say I agree with the assessment here.  wcslib 4.23 was an unfortunate release, for which I am at least partially to blame.

[2015-01-05 16:11] mdboom commented on #3233
@taldcroft: In your opinion, would it make sense to add the above patch (for hstack and friends)?  It seems like it might, given that the number of columns is generally a small number.

[2015-01-05 19:14] larrybradley opened #3267 "Releasing an affiliated package with Cython-generated .c files"
The instructions for "Releasing an affiliated package" (http://docs.astropy.org/en/latest/development/affiliated-packages.html#releasing-an-affiliated-package) result in a source distribution that does not include any Cython-generated `.c` files (Cython should not be required to build a numbered source package).  This is because of the `git clean -fxd` step(s), which remove any generated files (in

[2015-01-05 21:57] nicoywa opened #3270 "Problems with SkyCoord"
Hi all:

I changed ubuntu 12.04LTS for 14.04LTS  just a few days ago, and i can't import SkyCoord to my scripts,  because my machine drop this message:

name 'SkyCoord' is not defined

The modules of i import are the next ones:

# Modules
import numpy as np
from scipy import stats
from astropy.coordinates import SkyCoord
from astropy import units as u
import pylab as plt
from math import sqrt

And

[2015-01-05 22:04] astrofrog commented on #3270
@nicoywa - could you do:

[code]

? ``SkyCoord`` is only available in Astropy >= 0.4, so it could be related to that.

[2015-01-05 22:11] nicoywa commented on #3270
Thanks!
Now i'm notice that, also im notice im a stupid guy :(
I will close this issue :D

[2015-01-05 22:11] #3270 closed

[2015-01-06 03:37] taldcroft commented on #3233
@mdboom - yeah, that would make sense.

[2015-01-06 11:17] ThemosTsikas opened #3274 "current sidereal_time is broken"
[code]

[2015-01-06 13:55] mhvk commented on #3274
@ThemosTsikas - the problem is that to calculate the sidereal time, one needs `UT1`, which cannot be calculated precisely without having up-to-date earth rotation information: see http://docs.astropy.org/en/latest/time/index.html#transformation-offsets

So, the code is not really broken.  That said, the error message and documentation for sidereal time could be clearer.... Would you have a suggest

[2015-01-06 15:07] astrofrog commented on #3274
@mhvk - the thing is, doing:

[code]

seems simple enough that it should work. It seems like Astropy should auto-download the IERS tables if needed, and if not available, it could assume that there are no leap seconds since the release and emit a warning, right? I think this is the same issue as for the observation planning with ``astropy.coordinates`` (cc @eteq)

[2015-01-06 15:25] mhvk opened #3275 "Automatic download of IERS A table for times not covered by IERS B"
It has turned out to be very confusing to users (and us!) that `Time` cannot calculate the sidereal time for times around now or in the near future. For this purpose, the IERS A table can be used with some handy-work [1], but this could and probably should be automated. One question is the extent to which this should be completely automatic -- the file is not exactly small.  Another question is wh

[2015-01-06 15:27] mhvk commented on #3274
@astrofrog - yes, we need to address this somehow, as clearly right now the behaviour is confusing (see also #3105). That said, you really don't want to point your telescope 15" off just because you missed a warning -- I do think an exception remains appropriate, especially since we do have a mechanism already to override it.
Most important would seem to allow auto-downloading of the IERS table; s

[2015-01-06 15:32] astrofrog commented on #3274
As a side note, I'm curious about how other tools deal with this - I don't remember this ever being an issue with other tools, so do they ignore the leap seconds? Anyone know what e.g. AST and kapteyn do?

[2015-01-06 15:43] ThemosTsikas commented on #3274
I would be happy with an extra argument to sidereal_time to indicate that a low precision result is acceptable. The user could try a protected high precision call first and call the low precision version if there's an exception.

[2015-01-06 17:25] astrofrog opened #3276 "AppVeyor running 32-bit Python?"
On AppVeyor, the header from pytest shows:

[code]

however, in the files to set up the conda environment, etc. there are several mentions of '64'. Should it be running the tests on 64-bit Windows as opposed to ``win32`` as shown above?

cc @Cadair @mwcraig

[2015-01-06 17:57] taldcroft commented on #3274
@mhvk - Did you just pick 15" out as a big number or does that mean something?  I just looked and IERS claims the accuracy of the IERS-A table out to 90 days is 0.0125 seconds.  So that should be just fine in any realistic telescope pointing situation, no?

http://hpiers.obspm.fr/iers/bul/bulb/explanatory.html

[2015-01-06 17:58] taldcroft commented on #3274
So basically I would say to automatically have things work if the IERS-A table covers it.  Issue a warning but not exception.

[2015-01-06 18:32] mhvk commented on #3274
Yes, I'm happy with doing IERS A (even without a warning). I'm much more hesitant with automatically defaulting to UT1-UTC=0 for times further into the future, or if the table is not available/cannot be downloaded. (15" is 1s in time, i.e., without any information and including a possible leap second).

[2015-01-06 18:37] astrofrog commented on #3274
Thinking about this a bit, no-one points a telescope using alt/az these days, mainly ra/dec, right? So that means that computing alt/az is mainly used to determine e.g. visibility, air mass, etc. for which a 15" offset is not likely important?

[2015-01-06 18:41] taldcroft commented on #3274
@astrofrog - I was thinking along the same lines as well.  Maybe outside the IERS-A time range then issue a warning saying there may be significant uncertainties or possible leap seconds.

[2015-01-06 18:46] astrofrog opened #3277 "Rename astropy.erfa to astropy._erfa"
I don't think we had an issue for this, but we need to make sure we rename astropy.erfa to astropy._erfa before 1.0 (as we had previously decided).

[2015-01-06 18:47] mhvk commented on #3274
@astrofrog - It depends on whether you think anybody would use astropy within the telescope control system! But this would be OK if we go with the automatic IERS A option (*and* automatic IERS A updating).

I'm not convinced that a warning is the way to go: I don't know how your scripts work, but mine usually have *tons* of warnings about malformed fits headers and irrelevant crap like that, which

[2015-01-06 20:17] taldcroft commented on #3274
Let's just say you have an RA and Dec and want to calculate an Alt/Az for some location and time two years in the future.  Sub-arcsecond accuracy is not a requirement.  What would be the path for a user to do this in a natural way (i.e. same as for a time in the past or present) without getting an exception?  Somehow the "I'm OK with low-precision" argument needs to get encapsulated in the coordin

[2015-01-06 20:43] mhvk commented on #3274
@taldcroft - hmm, it seems our roles have reversed ! See https://github.com/astropy/astropy/pull/1145#issuecomment-19040298, where you state

It is this that convinced me at the time (https://github.com/astropy/astropy/pull/1145#issuecomment-19861439), and indeed led me to write nearly the same 1.5 years later...

But perhaps it is just that you feel this does not hold for `sidereal_time` (which,

[2015-01-06 21:26] taldcroft commented on #3274
:smile: - at least that was 1.5 years ago and not last month... However in context perhaps it isn't a complete 180 degree switch, since in my mind the issue there was more if IERS data exist for the requested time, but are just not on the user's computer.  (Caveat, I did not re-read the thread carefully).  In that case the reasonable astronomer (knowing that astropy is aware of IERS) could easily

[2015-01-06 21:40] astrofrog commented on #3274
@mhvk - regarding operating a telescope - if you were to do that, then you would be computing times in the present and could then use the downloaded table. I don't see a use case where one needs 15" accuracy in the several month-future badly enough that an exception is necessary (and therefore I think a warning would be fine).

[2015-01-06 23:17] #3245 closed, assigned to nobody

[2015-01-07 06:30] keflavich opened #3278 "Time failure with input 'B1950'"
Some recent change has resulted in a broken WCS initialization, I think.  See https://travis-ci.org/radio-astro-tools/pvextractor/jobs/46076758.

The problem within astropy is in `astropy/coordinates/earth_orientation.py` line 19:

[code]

It looks like perhaps the `byear_str` detection is broken?

[code]

[2015-01-07 10:03] ThemosTsikas commented on #3274
Apologies if I'm stating the obvious but this is reminiscent of the way that the IEEE floating point standard handles exceptions. It's a two-pronged approach: you can choose (at any point in your code) to have exceptions raised (from that point on until you explicitly say otherwise). Whether you do or don't, a "sticky" flag is also maintained. If you choose to run without exceptions raised, you ca

[2015-01-07 11:59] taldcroft commented on #3278
I have seen this and could always resolve it with a `git clean -fxd` to entirely wipe all non-tracked files and recompile.  I don't know the precise culprit.

[2015-01-07 12:43] keflavich commented on #3278
@taldcroft -  thanks, I can confirm that `clean` and re-building fixes the problem.  It doesn't explain the issue I was seeing on travis.  I'll try rebuilding there.

[2015-01-07 12:47] keflavich commented on #3278
I can't reproduce the travis issues locally.  At the very least, the issue I've reported here is solved; there may be another hiding somewhere.

[2015-01-07 12:47] #3278 closed

[2015-01-07 16:12] mwcraig commented on #3276
Let me know if you want me to take a look, @Cadair

[2015-01-07 16:16] Cadair commented on #3276
@mwcraig go on then :P I have sunpy shaped problems today!

[2015-01-07 17:06] mwcraig commented on #3276
@astrofrog -- This can be closed, I think. The platform on which python is running is report in a few places in the py.test output.

This one, at the beginning of test running, comes from `py.test` itself:
[code]
I'm guessing they use `os.sys.platform`, which on my 64bit windows VM running 64bit anaconda, has value `win32`.

Lower down in the test is the platform that astropy inserts from `platfor

[2015-01-07 17:10] astrofrog commented on #3276
@mwcraig - just to check, in 64-bit Python, is it normal for Numpy to default to 32-bit ints? (just to make sure I understand)

[2015-01-07 17:16] mwcraig commented on #3276
@astrofrog -- quick experiment seems to show the answer is "it depends on platform." On my mac, 64-bit, default int is 64-bit. On my windows 64-bit python vm it is 32-bit.

I have no idea if that is supposed to be the "normal" behavior for numpy, though...

[2015-01-07 17:17] astrofrog commented on #3276
Ok, thanks for checking. I'll go ahead and close this since indeed it does seem to be using 64-bit python (I was confused before because there were failures related to int32 vs int64).

[2015-01-07 17:17] #3276 closed

[2015-01-07 23:38] cactaur opened #3279 "Support for Abbreviated Data Types in IPAC Tables"
The IPAC table standard allows for abbreviation of data types to the point where they are unique[[0]](http://irsa.ipac.caltech.edu/applications/DDGEN/Doc/ipac_tbl.html). For example, "double" can be abbreviated as "doubl", "doub", ... all the way down to "do". "d" is not acceptable because then it can conflict with "date"

Astropy appears to currently accept the full form, but not the abbreviated

[2015-01-08 00:03] taldcroft commented on #3279
Can you enumerate the shortest possible abbreviations for each type?  That
would be a good start toward creating a patch.
On Jan 7, 2015 6:38 PM, "Gregory Simonian" <notifications@github.com> wrote:

[2015-01-08 00:08] cactaur commented on #3279
I would assume it's:
i (int)
l (long)
f (float)
do (double)
r (real)
c (char)
da (date)

[2015-01-08 20:29] astronomeralex opened #3280 "reading in two large ascii files causes segfault -- macosx"
When I try to open more than one large-ish (4MB) ascii file in using astropy.io.ascii.read, python segfaults. Both files open fine individually, and only together they have a problem

@demitri @taldcroft

Here's an example

[code]

[2015-01-08 22:02] taldcroft commented on #3280
@astronomeralex - I tried this locally using two 5 Mb ASCII files (100000 rows by 10 cols).  This was on MacOSX and Anaconda with Python 2.7 and astropy 0.4.2.

The `ascii.read` code in question is (for 0.4.2) pure Python until the point of converting into numpy arrays at the end of parsing.  If you run this in a debugger (e.g. pdb or within spyder) can you localize where the segfault occurs?  Tho

[2015-01-08 22:13] astronomeralex commented on #3280
@taldcroft  -- thanks for trying; i assume it works?

I'm in python 3.3.5 in anaconda using astropy 0.4.2. Unfortunately, the debugger doesn't help because its a segfault, not a python error. I can send you the files if that would be helpful?

[2015-01-08 22:52] matteobachetti opened #3281 "Astropy not installing anymore with pip in Python 3.3?"
Hi all,
I'm developing a code that uses astropy for a few things like FITS tables and astronomical units.
I use tox to test the installation with different Python versions (2.6, 2.7, 3.3, 3.4), and to verify that a few crucial unit tests work correctly.
But tox's virtual environment with Python 3.3 is throwing me the following error when it tries to install astropy with pip:

[code]
I work on Mac

[2015-01-08 23:39] taldcroft commented on #3280
I was thinking of doing a line trace prior to the crash.  If you can send the files then I can try.

[2015-01-09 05:43] #2719 closed

[2015-01-09 10:24] hworpel opened #3282 "Ampersand on the end of last substring with CONTINUE keyword"
According to the [latest version](http://fits.gsfc.nasa.gov/registry/continue_keyword.html) of the CONTINUE convention, the ampersand '&' character should NOT be appended to the last substring. Currently astropy.io.fits appends the ampersand to all substrings, including the last one.

[2015-01-09 22:22] embray opened #3283 "Formally deprecate ColDefs.change_ methods"
The old PyFITS `ColDefs` class for representing a set of table columns has three methods, [`change_attrib`](http://docs.astropy.org/en/stable/io/fits/api/tables.html#astropy.io.fits.ColDefs.change_attrib), [`change_name`](http://docs.astropy.org/en/stable/io/fits/api/tables.html#astropy.io.fits.ColDefs.change_name), and [`change_unit`](http://docs.astropy.org/en/stable/io/fits/api/tables.html#astr

[2015-01-11 02:31] profxj commented on #3237
I may be having a similar issue, but with SkyCoord:

from astropy.coordinates import SkyCoord

dumps with:

ValueError: Input values did not match any of the formats where the format keyword is optional [u'astropy_time', u'datetime', u'jyear_str', u'iso', u'isot', u'yday', u'byear_str']

Am running numpy 1.9.0

X

[2015-01-11 02:36] profxj commented on #3237
Ah, a clean and rebuild did the trick:

git clean -fxd

[2015-01-11 21:51] astronomeralex commented on #3280
@taldcroft -- the files should be in your inbox

[2015-01-12 08:44] matteobachetti commented on #3281
Apparently, this went away. Maybe a problem with the pip servers?
Closing.

[2015-01-12 17:48] sunilk747 commented on #2752
Hello,
I am  new to astropy . I go through the documentation and got a brief idea of it.Now I am thinking of working on this issue.Kindly suggest me how to start.

[2015-01-12 17:56] taldcroft commented on #2752
@sunilk747 - sounds great.  Please start by reading http://www.astropy.org/contribute.html.  You'll want to follow and understand the relevant links in the "Contribute code or documentation" section.

[2015-01-12 22:59] embray commented on #3267
I think this is partly related to astropy/astropy-helpers#53.  In the meantime it should work if you make sure to run `setup.py build sdist` (this ensures that the build command is run before the sdist command).  Does that do the trick?  There shouldn't be any reason to do anything manually.

The rest of this just sounds like a documentation update, maybe...

[2015-01-12 23:25] embray commented on #3274
Back to the issue of actually updating the IERS A table, which I think should happen automatically when needed, I don't think it's necessary to redownload the whole table (forgive me if we already have code that does this, but I don't think we do...)

[code]

So the `Last-Modified` header immediately tells us whether or not an update is needed.  Better still, the `ETag` can be used for the same pu

[2015-01-12 23:28] embray commented on #3277
:+1:

[2015-01-13 00:30] mhvk commented on #3274
@embray - I agree we would only need to download the parts that have changed.  I think it is pretty much guaranteed by IERS that the format does not change (but ideally one would have some checksum or other...).

[2015-01-13 09:30] astrofrog commented on #2935
@taldcroft @embray @eteq - just for info you are all marked above as being responsible for writing a section in the what's new for 1.0. If possible, it would be great to have these done by the end of the week since the RC deadline is coming up.

[2015-01-13 09:33] Cadair opened #3289 "Potential Bug in u.quantity_input"
I will test this and write a patch this evening, but I wanted to just raise it here.

Please see sunpy/sunpy#1255.

[2015-01-13 11:32] astrofrog commented on #3244
@cdeil - have you had a chance to work on the coordinates-benchmark code? It would be good to test it this week so we have some confidence ahead of the release.

[2015-01-13 12:40] astrofrog commented on #802
I need to look this up, but is it possible to build wheels for different versions of numpy? (i.e. one for 1.6, 1.7, etc.).

[2015-01-13 12:57] astrofrog commented on #3159
This is addressed by https://github.com/astropy/astropy/pull/3166

[2015-01-13 12:57] #3159 closed

[2015-01-13 14:34] mhvk commented on #1857
Milestone cleared here, as I think this is more of a wish-list feature. I did have a fair start (see https://github.com/mhvk/astropy/compare/util-masked-array, especially the test cases), but lost steam, not helped by not really needing the masked arrays myself...

[2015-01-13 14:35] mhvk commented on #1803
Cleared milestone as I won't be able to do this for 1.0. It should be done for ultimate precision and is not in itself difficult.

[2015-01-13 14:37] mhvk commented on #1697
Removed the milestone, as I know I am not the right person to do this. However, this, and the automatic downloading/updating of IERS A are important; see #3274 and discussion therein.

[2015-01-13 14:44] mhvk commented on #2340
@keflavich - while checking things that had the 1.0 label, I came across this. As a fix is in, I'd tend to close this. Would you want to add something about this to the known issues page, or do you think this is sufficiently obscure that we should not bother? (don't have time myself...)

[2015-01-13 14:45] mhvk commented on #2021
This still seems a good idea, but not critical for 1.0 so removed that label.

[2015-01-13 14:51] mhvk commented on #1687
Removing the milestone per @astrofrog's request to leave only critical issues, but it would be good to address this one! @mdboom - would you have a suggestion? It does seem difficult to generalize the problem such that `Guass**2` becomes equivalent both to a pressure and an energy density; after all, how does the code know whether things have been divided by 4π or 8π? Still we probably should at l

[2015-01-13 14:52] keflavich commented on #2340
@mhvk - I'm OK with closing it without adding a known issue, but it should at least be stated on this page what "latest version of numpy" means, since it is changing over time.  I assume 1.9 is the "solved" version?

[2015-01-13 14:53] mhvk commented on #1273
@astrofrog - removed the milestone. Some of the `xfail`s have in the meantime been solved. I think here the first thing to do would be to enumerate the ones that remain. My guess is that most will fall in the need-to-document category...

[2015-01-13 14:55] mhvk commented on #664
This will be closed by #3011 - leaving the milestone in place.

[2015-01-13 14:56] mhvk commented on #383
Cleared the milestone. Would be good to have an explicit list of what this entails so we can cross off things as they get implemented.

[2015-01-13 14:57] mhvk commented on #2962
Checking for 1.0 issues: Is this still a problem?

[2015-01-13 15:01] mhvk commented on #2134
I cleared the milestone on this as it won't be possible to get this in for 1.0. It would seem very nice to have, and once we have the automatic downloading of IERS A in place (#3275), this would be a logical sequel. Now the only thing is to find time to implement it...

[2015-01-13 15:03] mhvk commented on #1697
Also see #3275 for the download of IERS A; I guess this issue should strictly be for the automatic update of IERS B with astropy releases.

[2015-01-13 15:05] mhvk commented on #352
@taldcroft - I removed the milestone. Still think it is a good idea, though fairly involved...

[2015-01-13 15:05] astrofrog commented on #2962
@mhvk - I'm going to guess yes but would be great if someone could try this out again.

I suspect that this is related to https://github.com/astropy/astropy/issues/3071

[2015-01-13 15:06] astrofrog commented on #2962
It's not critical for 1.0 though. No one should use ``from_name`` for high precision coordinates anyway.

[2015-01-13 15:06] taldcroft commented on #3117
I would still like to see this fixed for 1.0, so keeping it as such for now.

[2015-01-13 15:07] mhvk commented on #350
I cleared the milestone. This could be resolved with the same mechanism, whatever it will be, that we will come up with for automating the IERS A table downloads (#3275).

[2015-01-13 15:09] mhvk commented on #349
@taldcroft - cleared the milestone here. Agree in principle that this could be improved...

[2015-01-13 15:10] mhvk commented on #346
closed by #3138

[2015-01-13 15:10] #346 closed

[2015-01-13 15:14] embray commented on #3276
The value of `sys.platform` has nothing to do with the OS or Python architecture: https://hg.python.org/cpython/file/c16b76c7c8ba/PC/pyconfig.h#l317

[2015-01-13 15:16] taldcroft commented on #2485
With #3011 this will be do-able, but does require some finessing of certain issues.  Clearing the 1.0 milestone now.

[2015-01-13 15:23] mhvk commented on #1620
Looking at unlabelled issues per @astrofrog's request: I think this should be considered together with `erfa` (and perhaps GPS routines; #2134). my sense would be that all of those belong either in an `earth` or `lowlevel` sub-module.
Don't know how to label this. Do we need a new label `Organisation`?

[2015-01-13 15:26] mhvk commented on #611
Removing the milestone for now, and making this a feature request.

[2015-01-13 15:28] taldcroft commented on #1367
OBE.

[2015-01-13 15:28] #1367 closed

[2015-01-13 15:32] taldcroft commented on #1233
Re-scheduling to 1.1 since I think this should be a relatively high priority / low-effort enhancement.

[2015-01-13 15:39] mhvk commented on #2340
@keflavich - I just checked and it seems this has actually been backported to numpy 1.8.2!
[code]

[2015-01-13 15:44] taldcroft commented on #953
Should be possible with #3011.

[2015-01-13 15:49] embray commented on #3282
That is true--the ampersand should not be included on the last CONTINUE card.  Thanks for pointing that out.

[2015-01-13 15:52] embray commented on #3237
It's also an unrelated issue.  The original issue seems to relate to a Numpy compatibility issue, though I have not confirmed this yet.

[2015-01-13 15:53] embray commented on #3280
Whatever the problem is I doubt it has to do with the *size* of the files.

[2015-01-13 15:57] taldcroft commented on #530
Pushing to 1.1 since I would still like to do this, somehow.

[2015-01-13 15:57] embray commented on #3281
I don't think this is anything specifically to do with pip.   Could you please provide the steps you took to produce this issue, if at all possible?  This could be a real issue with astropy-helpers.

[2015-01-13 15:59] taldcroft commented on #386
Rescheduling for 1.1 since there was interest.

[2015-01-13 16:02] mhvk commented on #3053
Looking back at still open issues, I wonder if this is possible to do with straight indexing. I fear this would need separate methods for all astropy objects. Only for images, I think we are anywhere close, as one could use the WCS. Have you considered this?

p.s. more for the record, for the general example where you would like to have `[bla]` to look for `bla.sampling_function`. I wondered wheth

[2015-01-13 16:04] mhvk commented on #2102
standard python3 is now 3.4... Found this after @astrofrog's request to look for label-less issues, but have no idea what to add....

[2015-01-13 16:28] larrybradley commented on #3267
@embray, yes it's the same as astropy/astropy-helpers#53.  `setup.py build sdist` works (packages the `.c` files), but it also packages `.pyc` files.  Is that OK?

[2015-01-13 16:44] johannct commented on #1687
I still think that the Oersted definition is not the most useful one, as far as I can remember

[2015-01-13 17:08] embray commented on #3274
The `ETag` header *may* be interpreted as a checksum.  The problem is there's no one standard for how it should be generated.  We'd have to find out how the maia.usno.navy.mil server is calculating it.  If it is usable as a checksum, and we know how to compute it, then we can download only updates, merge, and then check that the resulting file matches the `ETag` (which if we merge correctly it sho

[2015-01-13 17:10] taldcroft commented on #3280
@astronomeralex - I tried the files you supplied by email and they read in with no problem.  I'm using Python 3.3.5 with numpy 1.9 and astropy 0.4.2, all from Anaconda.

Can you try making a fresh Anaconda?  Go to http://conda.pydata.org/miniconda.html, download the mac miniconda installer for python 3 and do something like below from a fresh terminal shell:
[code]

[2015-01-13 17:12] embray commented on #3274
^ Alas no, it seems like the Apache settings they're using to generate the ETag header do not use the file contents at all.  Oh well, that's okay.

[2015-01-13 17:28] embray commented on #2340
Our minimum required Numpy version is 1.6 though, so this should still be documented as a known issue shouldn't it?

[2015-01-13 17:32] embray commented on #3267
It shouldn't package .pyc files.  You should have a line in your MANIFEST.in like:
[code]

[2015-01-13 17:33] embray commented on #3289
Did you intend to close this?

[2015-01-13 17:34] Cadair commented on #3289
@embray see #3293.

[2015-01-13 17:40] embray commented on #3289
Issues should only be closed if the PR addressing the issue is merged.

[2015-01-13 17:41] larrybradley commented on #3267
That works, thanks.  In `photutils` (and `package-template`), `MANIFEST.in` has `exclude *.pyc *.o`.  I'll change these to `global-exclude`.  I'll also update the "releasing an affiliated package" docs to use `setup.py build dist` instead of `setup.py dist`.

[2015-01-13 17:44] Cadair commented on #3289
fair enough, as this was just a stub, I thought I would replace it with a more detailed issue in #3293.

[2015-01-13 17:52] embray commented on #3267
Thanks, that would be good for now.

[2015-01-13 19:35] mhvk commented on #2340
I thought this felt under the "sufficiently obscure that nobody will notice it" (at least until numpy 1.8 is our minimum required version). But if someone wants to test on which versions it does and does not work, and write the documentation, then that is of course better.

[2015-01-13 19:47] matteobachetti commented on #3281
Hi Erik,
The steps are easy: I just ran `tox` using this tox.ini file and starting from a clean tox environment (I had deleted all previous virtualenvs):
[code]
I didn't have the time to produce a "more minimal" case before the problem went away, sadly. It was weird, because I had already used tox for a couple weeks with no problems also with py33.

[2015-01-13 20:10] mhvk commented on #1706
Closed in favour of #1578, which has an actual example.

[2015-01-13 20:10] #1706 closed

[2015-01-13 20:11] mhvk commented on #1578
This has a duplicate in #1706. I closed the latter since it is later and since this one has an actual example. For the record, #1706 has no text beyond:

[2015-01-13 20:12] embray commented on #3251
After a meeting with @nden I have a better understand of why this is useful.  My preference is still to be able to copy a compound model and update the names of any of its individual components in the process.  But I admit that that *feels* kludgy, and that it would be nice to be able to do something like:

[code]

after which, of course, `model['A']` would no longer work, and that component would

[2015-01-13 20:17] mhvk commented on #3046
@bnordgren - trying to clean up things for 1.0: happy to have a better error message, but what should it be? As is, I think the problem is that you had missed "scalar" in the error message. What might have helped?

[2015-01-13 20:19] embray commented on #3251
Also, for what it's worth, that last use case can be implemented now like (schematically):

[code]

Unfortunately there are two inconveniences to this.  The first is that it's not obvious how to get the names of the models before and after 'C'.  The second is that there is no obvious way to get the operators that combine 'C' with those models on the left and on the right.  I think those issues sho

[2015-01-13 20:19] mhvk commented on #3035
@bnordren - I think this issue was closed by your #3038, so I'm closing this. Feel free to reopen if I'm mistaken.

[2015-01-13 20:19] #3035 closed

[2015-01-13 20:23] mhvk commented on #703
Just for the record: with #2559, the above `(1./(10.*u.Gyr)).decompose((u.Mpc, u.km/u.s))` does not work.

[2015-01-13 20:37] mhvk commented on #1926
Just changed the title to reflect that this is now only about possibly using `UT1` in the TDB calculation (which should have minimal effect).

[2015-01-13 20:51] adrn commented on #703
Sorry this totally fell off of my radar. It's something I deal with all the time, though long ago I just accepted it and adapted all of my code to work in the system (kpc, Myr, Msun). This lets me use `decompose()` everywhere, but it would be kind of cool if we had some kind of specialized support for decomposing into composite units, e.g.

    <Quantity 24.14016 km / s>

Of course, the showstoppe

[2015-01-13 21:00] mhvk commented on #703
But then again, maybe adding too many bells & whistles is not good either...

Funny how this habit of printing many copies of one's thesis influences things. And scary to think I still use optimal extraction code I developed at the time (which, who knows, may at some point enter specutils in a python incarnation...).

[2015-01-13 21:02] adrn commented on #703
@mhvk Totally agree -- oops, I didn't mean to imply that the above belongs in the core, just bringing it up for discussion!

[2015-01-13 21:04] mhvk commented on #703
Understood -- in principle, I think it would be good if the example I gave would work, i.e., one could decompose into any bases with which it is possible to construct the unit given.

[2015-01-14 11:55] cdeil commented on #3244
Related: https://github.com/astropy/coordinates-benchmark/pull/10

[2015-01-14 13:18] cdeil commented on #3244
I'll working on this in #3296

[2015-01-14 15:37] luojing1211 commented on #3237
I tried git clean -fxd. If works if I put the argument "format". It works
fine. But If I did not put "format",  it will break. I think that problem
will course trouble when import astropy. coordinate.
"""

<Time object: scale='utc' format='iso' value=2000-01-01 12:00:00.000>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File
"/Users/jingluo/anaconda/lib/python2.7/site

[2015-01-14 15:53] mhvk commented on #3237
@luojing1211 - this is very weird indeed. Since for numpy <=1.8 there were some issues with scalar vs more dimensions, could you try:
[code]

[2015-01-14 16:00] mhvk commented on #3237
p.s. Sadly, I cannot reproduce the error on my Debian machine, even with numpy 1.8.1 (I'm at astropy 1.0.dev11388).

[2015-01-14 16:20] astrofrog commented on #48
Removing the 1.0 milestone since this is low priority and there has been no work on it recently.

[2015-01-14 16:20] astrofrog commented on #61
Would be nice to do, but not critical for 1.0 so removing milestone.

[2015-01-14 16:22] astrofrog commented on #88
http://data.astropy.org now works but we've not got the infrastructure to do the hash stuff (and not sure we've needed it yet). Not high priority so removing milestone.

@astronomeralex - sorry for not replying sooner! In the end we are using a server at STScI so we should be ok in terms of computational resources.

[2015-01-14 16:22] astrofrog commented on #90
Removing 1.0 milestone since there has been no work on this recently and this is not critical.

[2015-01-14 16:23] astrofrog commented on #199
This won't happen for 1.0 (and is not critical) so removing milestone.

[2015-01-14 16:25] astrofrog commented on #1695
I don't think we will be able to do this for 1.0, so removing milestone. Given the amount of code written with these various methods, I'm not sure if it's worth breaking the API or simply writing guidelines for future.

[2015-01-14 16:32] astronomeralex commented on #88
@astrofrog -- that's fine. this dropped off my radar. glad everything worked out.

[2015-01-14 16:54] astrofrog commented on #1860
Closed by https://github.com/astropy/astropy/pull/3111

[2015-01-14 16:54] #1860 closed

[2015-01-14 17:04] astrofrog commented on #1906
Not critical for 1.0 so removing milestone (but if someone feels like implementing it in the next few days, feel free to!)

[2015-01-14 17:05] astrofrog commented on #2029
Not critical for 1.0 so removing milestone.

[2015-01-14 17:07] astrofrog commented on #542
I've removed the 1.0 milestone since there is no progress on this.

[2015-01-14 17:07] astrofrog commented on #619
+1 to the idea, but removing the 1.0 milestone

[2015-01-14 17:08] astrofrog commented on #873
I'm going to remove the 1.0 milestone from this. @embray feel free to add it back if you think this will be solved (not sure if you are planning to do a merge of the latest pyfits changes?)

[2015-01-14 17:09] astrofrog commented on #979
Removing the 1.0 milestone since I don't think this is critical

[2015-01-14 17:10] astrofrog commented on #1054
@embray - can this be closed now that #3231 has been merged?

[2015-01-14 17:10] astrofrog commented on #1055
Removing the milestone since I think this will not be done for 1.0 (and is not critical)

[2015-01-14 17:11] embray commented on #3281
Thanks for the info.  It's entirely possible that if it was a problem with pip that it was just something transient.  I use tox with a Python 3.3 environment as well and hadn't seen this problem, but I wonder if it might have had something to do with the fact that it was being used in a different project, and not Astropy itself.  So I'll have to try that out.  If I can't reproduce though I'll prob

[2015-01-14 17:11] astrofrog commented on #1056
+1 to the idea, but removing 1.0 milestone

[2015-01-14 17:11] astrofrog commented on #1105
I don't think we'll have time to address this for 1.0. It is not critical though.

[2015-01-14 17:12] luojing1211 commented on #3237
I tried
[code]

It is still show the same error. By the way, I am at the version of 1.0dev111111

[2015-01-14 17:13] astrofrog commented on #1156
It sounds like this will not be fixed by 1.0 so removing the milestone.

[2015-01-14 17:15] astrofrog commented on #1430
This is not going to happen for 1.0 so removing the milestone.

@mtbannister - I'm not sure if you are still interested in helping with this, but if so, do get in touch with @eteq as he will be able to provide information on what needs doing.

[2015-01-14 17:20] astrofrog commented on #1452
This should be done as a mix-in class in NDData given APE7

[2015-01-14 18:44] embray commented on #1695
I don't think it would break that many things, in some cases a slow deprecation would be acceptable.  Guidelines for the future would definitely be good though.

[2015-01-14 18:47] embray commented on #1054
Superseded by #3231.

[2015-01-14 18:47] #1054 closed

[2015-01-14 20:19] astrofrog commented on #1464
I don't think this will get resolved before 1.0, so removing milestone.

[2015-01-14 20:20] astrofrog commented on #1541
Not high priority, so removing the 1.0 milestone.

[2015-01-14 20:21] astrofrog commented on #3028
@embray, since this is marked as low priority, shall we remove the 1.0 milestone?

[2015-01-14 20:23] astrofrog commented on #2607
This is not critical to 1.0, so removing milestone (but if someone wants to work on this in the next few days, we can include it!)

[2015-01-14 21:02] luojing1211 commented on #3237
I updated my astropy version to '1.0.dev11395'. But it still gives the error. Is it possibly a Mac issue?

[2015-01-14 21:39] embray commented on #3237
I can't reproduce it either.  Where did your copy of Numpy come from?

[2015-01-14 21:40] embray commented on #3237
@luojing1211 Also, as it seems you are building Astropy from source, what version of Cython are you using?  It's conceivable your version of Cython has a bug (it would not be the first time that's happened).

[2015-01-14 23:41] mtbannister commented on #1430
Cheers @astrofrog. @eteq, @ijiraq has also mentioned he would be interested in helping with this issue.

[2015-01-15 00:49] adrn opened #3298 "coordinates: repr of SkyCoord for a single coordinate"
tl;dr I think we should change the way a single coordinate is displayed via `repr()` to match the format of the multiple coordinate case.

I often use coordinates to quickly transform a pair or a few pairs of coordinates from ICRS <--> Galactic so I can then copy/paste the pair into some web form that is expecting, e.g., a pair of coordinates specified as `192.13814 11.5142`. For a single coordina

[2015-01-15 01:10] andycasey commented on #3298
:+1: pls

[2015-01-15 01:12] mhvk commented on #3298
Funny, we special-cased the single-coordinate case since we felt it looked nicer the way it is now... (see `coordinates.representation.BaseRepresentation.__repr__`). But no objection to changing it now that we've had some real experience!

[2015-01-15 02:25] taldcroft commented on #3298
:+1:

[2015-01-15 10:14] astrofrog commented on #2658
@keflavich - closing this since we now have the widget version of the progress bar

[2015-01-15 10:14] #2658 closed

[2015-01-15 10:14] astrofrog commented on #2632
This is non-trivial, so removing the milestone since it won't get done for 1.0

[2015-01-15 10:15] astrofrog commented on #2434
Removed milestone since this probably won't get fixed for 1.0

[2015-01-15 10:37] astrofrog commented on #1430
@mtbannister @ijiraq - thanks!

[2015-01-15 14:52] taldcroft commented on #3232
@astrofrog @mhvk - I think the performance regression introduced by #3095 is pretty serious and we should seriously considering backing it out for 1.0 (unless of course we can figure a way to keep that patch functionality without impacting performance).

As I mentioned above, #3095 fixes a bug that it is more in the category of corner case, while performance for integer access of column values is

[2015-01-15 16:08] embray commented on #3298
I do think the single coordinate syntax looks nicer the way it is now.  But I can also see how the proposed change is more useful in practice, so :+1:

[2015-01-15 16:16] embray commented on #3281
Well, I wasn't able to find any obvious way to reproduce this.  And looking closely at the error again it's strange--it's running the astropy setup.py, but then failing to import astropy, as though the source archive didn't fully extract or something (normally astropy imports itself from the source during installation, and this shouldn't be a problem).  So I'll go ahead and close this as some kind

[2015-01-15 16:16] #3281 closed

[2015-01-15 16:22] luojing1211 commented on #3237
My Numpy should come from pip and my Cython version is 0.20.1

[2015-01-15 16:40] hugadams commented on #3053
In the beta scikit-spectra library, I've hacked together a basic solution to this problem, although it might not be general enough to work for all of the desired functionality of the astropy unit library.  It might be a useful place to start if pandas every wants to incorporate this into its core functionality:

http://nbviewer.ipython.org/github/hugadams/scikit-spectra/blob/master/examples/Notebo

[2015-01-15 17:03] embray opened #3301 "pdf/postscript reader for Table"
This is very pie-in-the-sky, but also not outside the realm of possibility.

At the Software Carpentry workshop at AAS somebody asked if it was possible to read/write LaTeX tables with Astropy, and I was very pleased to be able to answer "Yes!" and even provide a demonstration.

That got me thinking though--often times there are tables one might want to use that show up in documents, for which one

[2015-01-15 17:12] astrofrog commented on #3301
Definitely very :cake: in the :stars:, but would be awesome!

[2015-01-15 17:13] Cadair commented on #3301
Cake in the shooting star? :p

[2015-01-15 17:29] mdboom commented on #3301
Cool idea.  This is the kind of thing I used to do in a former life:

http://gamera.informatik.hsnr.de/

Though, there we were using printed/scanned/historical materials, so it was a harder problem than from clean computer-generated PDFs.

[2015-01-15 17:47] embray commented on #3301
Great, then I'll assign you @mdboom :D  (j k)

[2015-01-15 17:54] embray commented on #3237
It looks like you're using Anaconda though.  I suspect there's something wrong with your Numpy installation--maybe try removing all installations of Numpy and Astropy and reinstall Numpy using conda.

[2015-01-15 18:05] luojing1211 commented on #3237
I somehow used both. but I think pip install the package to conda. But I
will try it.

-Luo Jing

On Thu, Jan 15, 2015 at 11:54 AM, Erik Bray <notifications@github.com>
wrote:

[2015-01-15 18:06] mhvk commented on #3232
I think the way to solve it is to have a separate column class for the case where each item is multidimensional, in which the only difference would be that there is a `__getitem__` method. Then, in `Column.__new__`, one can view the `ndarray` appropriately.

Anyway, that as a possible solution. Since it is not trivial, I'm OK with pulling #3095 out for now, and reraising it as an issue.

[2015-01-15 20:31] embray commented on #2201
Fixed in #3299 .

[2015-01-15 20:31] #2201 closed

[2015-01-15 21:37] embray opened #3302 "stable tag or branch?"
The Astropy git repo has a branch called "stable" that we always update at the end of the release to point to the latest stable release (see step 21 [here](http://docs.astropy.org/en/stable/development/releasing.html)).

However, there is an "annoyance" in more recent versions of zest.releaser that when you do a release it automatically does this for you, except it creates (or updates) a _tag_ cal

[2015-01-15 21:51] adrn commented on #3298
@embray I agree it looks nicer, but I lika the easy copy pasta :spaghetti:

[2015-01-16 02:09] mcara commented on #3113
Based on @nden comment above (two scales for each axis) and on the discussion in #3230, I created PR #3304 that replaces `celestial_pixel_scale` with `celestial_pixel_scales` (returns a tuple of pixel scales for each axis). Also #3304 introduces a new `celestial_pixel_area` function that can be used for conversion of fluxes to brightness or for computing a representative pixel scale based as the s

[2015-01-16 05:18] embray opened #3305 "Compound model fitting example not too impressive"
In the intro to the modeling docs there is a new section introducing the compound model feature:

http://docs.astropy.org/en/latest/modeling/index.html#compound-models

It includes an example of fitting a compound model, but the plot of the fit does not demonstrate such a great fit. This is weird, because when I run that example locally (including when building the docs) the fit looks pretty great

[2015-01-16 05:27] luojing1211 commented on #3237
I reinstalled numpy and astropy. It seems working. Thank you.

[2015-01-16 08:42] olebole opened #3306 "Astropy/vo/samp uses ssl.PROTOCOL_SSLv2 and ssl.PROTOCOL_SSLv3"
The samp package seems to use SSL version 2 and 3 which had [serious security flaws discovered](https://www.openssl.org/~bodo/ssl-poodle.pdf) in the last months. On Debian, both protocols are disabled now; therefore the compilation fails, specifically `astropy/tests/tests/test_imports.py:27: test_imports FAILED`.

The errors are like
[code]

[2015-01-16 12:41] hamogu commented on #3301
I used to type in tables from PDFs on the past every now and then, but have not done so for quite a while because almost every paper is either available in HTML or in LaTeX from astro-ph. That not to say that this would not be cool, but it's a not too frequent use case with lots of corners.

[2015-01-16 12:51] cdeil commented on #3305
The build log doesn't contain a warning that the fit failed:
https://readthedocs.org/builds/astropy/2113260/
(I'm not sure if that would show up in the Sphinx log)

The issue might be that readthedocs uses scipy 0.13.
I think we only test with scipy 0.15: https://travis-ci.org/astropy/astropy/jobs/47209647

So it might be possible to reproduce this locally with scipy 0.13 and then change to an exa

[2015-01-16 13:28] astrofrog commented on #3305
@cdeil - well spotted, it is indeed SciPy 0.13. The output is:

[code]

![test](https://cloud.githubusercontent.com/assets/314716/5776710/56704b6e-9d83-11e4-9369-3fbfb085caf2.png)

The 'message' is:

[code]

[2015-01-16 13:30] astrofrog commented on #3305
Interestingly, ``fitter.__call__`` says that I should be able to pass ``maxiter``, but it doesn't work:

[code]

[2015-01-16 13:55] mdboom commented on #3306
@olebole: I'll take a look.  Do you have a reference to the changes Debian has made to the package?

[2015-01-16 14:06] mdboom commented on #3301
pdftotext may get us most of the way there.  I just searched on arXiv for the #1 paper with the word "Table" in it (it's not astro), and was able to get this out fully automatically:

[code]

From this, maybe we just need a custom splitter that splits on more-than-one space?  How hard would that be, @taldcroft?

[2015-01-16 14:26] mdboom commented on #3306
@olebole: Nevermind.  I see how this works.  Python 2.7.9 hides SSLv3 if the underlying openssl doesn't have it (I was looking at an earlier version of Python which doesn't have this check).

[2015-01-16 14:41] hamogu commented on #3301
Such a costum splitter should not be too difficult, but we obviously
need to find a way to deal with non-ASCII characters. In other words, we
might need an astropy.io.unicode and that is much harder.

[2015-01-16 14:45] wkerzendorf commented on #619
@cdeil any news on this for imageutil. If you think it will live there we can close this issue here (for now).

[2015-01-16 14:46] wkerzendorf commented on #789
This is being "done" for Quantities through `UQuantity` for now. Furthermore, NDData is being restructured. Should we close this issue for now @eteq ?

[2015-01-16 14:47] wkerzendorf commented on #1046
@taldcroft @astrofrog This has an `nddata` label. I wonder if we should close this for now. Despite it being interesting nothing has happened for over a year (no criticism intended - just an observation).

[2015-01-16 14:48] astrofrog commented on #619
imageutils is no longer very useful at the moment because a lot of it has been merged into astropy core. So I'm -1 on putting this in imageutils.

[2015-01-16 14:49] wkerzendorf commented on #1314
@embray still want to leave it open?

[2015-01-16 14:50] astrofrog commented on #1046
Some of this is being done in https://github.com/astropy/astropy/pull/3090 - I would vote to keep this issue open for now, and when https://github.com/astropy/astropy/pull/3090 is finished/merged we can consider if any of the issues here are do-able or whether we should close it.

[2015-01-16 14:53] wkerzendorf opened #3307 "Flag collection part of NDData?"
Hi @mwcraig, just a quick question. Should this be gone: https://github.com/astropy/astropy/blob/master/astropy/nddata/flag_collection.py as part of the big NDData restructure you started? If not please close this issue (sorry, I'm not really up-to-date how far that went).

[2015-01-16 15:11] astrofrog commented on #3237
Ok, great! Closing this issue.

[2015-01-16 15:11] #3237 closed

[2015-01-16 15:40] taldcroft commented on #3301
This looks like fixed width, so if possible parsing it that way would be more reliable.  So we probably need some heuristic to guess the column positions or else require those as input up front.

Right now there is a problem with a two-space delimiter in that the Python reader uses the stdlib `csv` module which only accepts single character delimiters.  The fast C reader also has this limitation,

[2015-01-16 15:46] embray commented on #3305
^ Well that's just an outright bug

Thanks @cdeil for investigating the scipy version.  That would at least explain the difference.

[2015-01-16 15:47] embray commented on #3305
Locally, using SciPy 0.15, I get a successful fit with this example after just 36 iterations.

[2015-01-16 15:51] cdeil commented on #3058
@astrofrog - This sounds very similar to #2632 ... should one be closed?

[2015-01-16 15:53] astrofrog commented on #3058
@cdeil - yes, let's reduce duplication.

[2015-01-16 15:53] #3058 closed

[2015-01-16 15:54] astrofrog commented on #2632
Just for anyone looking at this, there are several things we can do here:

* Make it so that ``Table.write(HDU)`` works
* Make it so that e.g. ``Table.write(HDUList, append=True)`` works

[2015-01-16 15:54] embray commented on #3306
Yeah, I don't know why this wouldn't just use TLS.

[2015-01-16 15:55] embray commented on #3306
I'd be willing to make a patch release with this fix as well since this affects the 0.4.x branch as well.

[2015-01-16 15:57] mdboom commented on #3306
We can't just use TLS because TLS 1.1 and 1.2 are only available in Python 2.7.9 and 3.4.x.  So best to just let Python "recommend" what to use by default, and if the user cares, they'll have to install a version of Python that works for their needs anyway...

[2015-01-16 15:58] embray commented on #3306
Makes sense.

[2015-01-16 16:09] hamogu commented on #3301
Maybe that'll be a feature to drive people to adopt python 3...

[2015-01-16 16:19] embray commented on #3305
Interesting.  I just tried this on SciPy 0.13.3 and it worked fine.  Should it be 0.13.0?

[2015-01-16 16:20] embray commented on #3305
Ah, looks like this must have been fixed in 0.13.2: http://docs.scipy.org/doc/scipy-0.14.0/reference/release.0.13.2.html

[2015-01-16 16:24] astrofrog commented on #3305
I wonder what will happen if we simply set the pip requirement for the docs to be ``>=0.13.2`` - as in, I wonder whether it will install successfully. Maybe worth a try?

In the mean time, should we raise an exception if the version of scipy is too old when using this fitter?

[2015-01-16 16:25] #3117 closed

[2015-01-16 16:37] embray commented on #3305
Sorry for the noise--I don't think the SciPy version is the full story after all.  Since I do get a good fit with SciPy 0.13.0 + Numpy 1.9.1, but I am able to reproduce the problem with SciPy 0.13.0 + Numpy 1.8.1.  Which is interesting because there's no difference in the data--I confirmed that the random data generated by Numpy 1.8.1 is the same as the random data generated in 1.9.1.  So there's

[2015-01-16 16:39] cdeil commented on #2632
A related issue I ran into again today is that writing all-ascii string columns to FITS in Python 3 silently encodes the characters with zero-padded 4 bytes, i.e. `abc` is stored as `a\x00\x00\x00b\x00\x00\x00c\x00\x00\x00`.

I still don't understand why, but writing the tables to separate FITS files worked:
[code]
and instead writing the tables to one FITS file didn't work:
[code]

I didn't manag

[2015-01-16 16:46] embray commented on #3305
Yeah, SciPy 0.13.2 by itself doesn't fix the issue when Numpy == 1.8.1 :(

[2015-01-16 16:58] bsipocz commented on #2962
Sometimes I still see this, though not always.

e.g. log of three consecutive runs are here: https://gist.github.com/bsipocz/39381d726a12e764bc37

[2015-01-16 17:03] cdeil commented on #3305
@astrofrog - I've tried pip-installing scipy 0.14 on readthedocs (see https://github.com/rtfd/readthedocs.org/issues/896#issuecomment-52899973) because I need that for one of the plots in the Gammapy docs ... it doest' work ... we'll just have to change the example to a different minimizer or data set so that it works there.

[2015-01-16 17:10] astrofrog commented on #2962
I'm 99% sure this is due to https://github.com/astropy/astropy/issues/3071 which shows that the server used for name resolution changes every time. I think the solution is simply to always use the same server.

[2015-01-16 17:28] embray commented on #3305
So I've tracked the difference down to very slight differences in the results of `np.sum()` in Numpy 1.8.1 vs. 1.9.1.

[2015-01-16 17:46] embray commented on #3305
Well, if I change the random seed to 42 (an arbitrary choice) the fit works fine in both Numpy versions.  So I'll just go with that though.  It's just too bad that it's so sensitive...

[2015-01-16 17:55] embray commented on #3305
For what it's worth, the `np.sum` difference would be due to numpy/numpy#3685 which, in principle, should be providing more accurate results :)

[2015-01-16 17:58] cdeil commented on #3305
@embray - Wouldn't it be better to change to a different minimizer or reduce the noise in the data to get a reliable fit instead of just changing the seed?

[2015-01-16 18:10] embray commented on #1314
Hmm, well, I don't know if the NDData APE mentions this (probably not), but it might be nice if we required that when a slice returns a scalar it returns an actual scalar instead of a zero-dimensional array.

[2015-01-16 18:27] embray commented on #2632
@cdeil Could you open a separate issue for this, since I don't think it's directly related to this.

[2015-01-16 18:34] taldcroft commented on #2632
@cdeil - if you open a new issue you could reference this discussion of a real fix for the unicode problem in numpy.  So far this has generated a couple of long discussion but no agreement or action.  Sigh.

http://mail.scipy.org/pipermail/numpy-discussion/2014-July/070586.html

[2015-01-16 18:37] embray commented on #2632
Although every time that discussion comes up I point out [this solution](https://github.com/embray/PyFITS/blob/c11abd331cff7e177f0fc551188347e529cde92d/lib/pyfits/fitsrec.py#L999) for which I still haven't heard too many downsides.  It's not 100% perfect, but it gets most of the way there for most cases anyone cares about (which is reading and writing some arrays of strings).

[2015-01-16 19:48] sunilk747 commented on #2752
I would like to know what does this statement do:-
`
     descrs = (descr(col) for col in cols
 `
And I go through the `class Row` and `class Table`  .I want to know, are these two classes has something to do with the above issue.If I am wrong please help me a little to get on the right track.

[2015-01-16 20:35] cdeil opened #3311 "Table ascii text FITS I/O in Python 3"
This is an issue which I brought up at https://github.com/astropy/astropy/issues/2632#issuecomment-70281392 but @embray asked me to split this in a separate issue.

I'm not sure how best to phrase it or how to fix it, but I keep running into issues on Python 3 when working with ascii text columns (nothing fancy ... source catalog names) that I write and read to FITS files.

To illustrate the issue

[2015-01-16 20:38] cdeil commented on #2632
@embray OK, I've tried to file a separate issue about the text column to FITS issue: #3311.

[2015-01-16 20:51] embray commented on #2752
@sunilk747 In GitHub you can link to a specific line of code in a file but just opening that file in the source browser in GitHub and clicking directly on the line number to the left of that line. Then you can copy the URL for that.  That's much better than just quoting some line of code without even mentioning what file it's in.

[2015-01-16 21:34] embray commented on #3306
Fixed by #3308.

[2015-01-16 21:34] #3306 closed

[2015-01-16 23:31] mdmueller commented on #3301
Just double-checked and the C reader is basically structured on the assumption that the delimiter is one character only; this could be changed, but it would be nontrivial. I'm not familiar with how `csv` works with unicode, but if fixed_width doesn't use `csv` and could work for this then that sounds good to me.

[2015-01-16 23:34] eteq commented on #3298
I'm with @embray that the old way looks slightly nicer... but I see @adrn's point and this approach is *also* better for the case where there's frame attributes (as this will make sure they're kept separate from the data).  So I'm :+1: to this suggestion.

[2015-01-17 05:48] sunilk747 commented on #2752
@embray Thanks for your suggestion.As I am new to github and opensource ,I don't have much knowledge of it.I am still learning.I will take care of these things in further comments.

[2015-01-17 06:07] rbiswas4 commented on #3280
I have similar issues: (here is the code)

    from astropy.io import ascii
    from astropy.io import registry
    import astropy
    import numpy
    print 'Numpy version:', numpy.__version__
    print 'astropy version:', astropy.__version__
    print astropy.__file__

    g = ascii.read('filters/total_g.dat')
    print 'loaded g'
    r = ascii.read('filters/total_r.dat')
    print 'loaded r'

[2015-01-18 07:56] rbiswas4 commented on #3280
I also tried out the following:
a. installing astropy through virtualenv from scratch on the same machine. In this case the problem disappears. (version 0.4.3)
b. updated anaconda astropy by doing conda update astropy but this does not remove the problem.

[2015-01-18 19:29] mwcraig commented on #3307
@wkerzendorf -- ``FlagCollection``  wasn't discuss explicitly in the APE. My thought was to let it linger for a bit and see if ti goes anywhere. If so, great, if not we'd pull it. Thoughts, @astrofrog?

Relevant discussion in the APE is at https://github.com/astropy/astropy-APEs/pull/8#issuecomment-66697083 and https://github.com/astropy/astropy-APEs/pull/8#issuecomment-67177256

[2015-01-20 12:57] astrofrog opened #3315 "str(SkyCoord) should not return repr-style output"
At the moment ``str(SkyCoord)`` returns a repr-style output:

[code]

On the other hand, ``Time`` returns a nicely formatted time:

[code]

I think the second is correct, and ``str(c)`` should return 'nice' output. I would suggest that ``str`` should return the same output as ``c.to_string()``.

Furthermore, ``to_string`` at the moment could return a better default:

[code]

For equatorial systems

[2015-01-20 13:16] astrofrog commented on #3315
Milestoning as 1.0 since I think this will be critical to have if we merge #3011

[2015-01-20 13:21] taldcroft commented on #3315
I'm good with this, except that I think the default should always be decimal.  This provides a consistent and easily-machine parseable output for any situation.  For me consistency is the key, and having `str(c)` always match `c.to_string()` makes life simple instead of allowing certain special cases.  And of course X-ray astronomers don't hobble themselves by going back-and-forth to sexigesimal.

[2015-01-20 13:23] taldcroft commented on #3315
I think we had this argument about always decimal vs. frame-dependent style before and I managed to convince people to stick with decimal always as the default repr of coordinate values.

[2015-01-20 13:32] astrofrog commented on #3315
@taldcroft - ok I don't *mind* if we keep the current ``to_string`` behavior but it would be good to think about how we could allow the user to control the format when writing to a table. Maybe we could envisage having the default for ``SkyCoord`` be modifiable, e.g.

[code]

This would then allow users to customize the output style used for Table.write if that simply uses ``str(c)``. I'm fine wit

[2015-01-20 13:41] taldcroft commented on #3315
Yes, `str` should connect to `to_string`.

I'm *totally* in favor of having the formatting of `SkyCoord` be controlled by some object attribute(s)!  I basically argued this point until I was blue in the past (without quite getting any traction), in part because I was expecting that table mixins would be a reality.  In this case it becomes obvious that a coordinate object needs an internal and pers

[2015-01-20 13:48] astrofrog commented on #2000
Addressed by #3011 which now introduces ``QTable``

[2015-01-20 13:48] #2000 closed

[2015-01-20 13:49] astrofrog commented on #664
Done! :tada:

[2015-01-20 13:49] #664 closed

[2015-01-20 13:57] astrofrog commented on #3315
One slight hiccup with linking ``str`` to ``to_string`` - ``to_string`` actually does not return a string but a vector of strings for vector coordinates. What would be the best way to deal with this? Join with newlines?

[2015-01-20 14:03] astrofrog commented on #3315
One option is to simply raise an error if ``str()`` is used on a vector ``SkyCoord`` and tell the user to use ``to_string`` instead.

[2015-01-20 14:34] astrofrog commented on #2935
I have added headings for the sections in e59504c819bae2abb1026923ba095f59868895be so that we can all work on this at once without danger of rebasing. Please don't change the order of the sections for now, though you can change the titles for your sections.

[2015-01-20 14:45] adrn commented on #2935
Maybe I should add something on the `Galactocentric` frame?

[2015-01-20 14:46] astrofrog commented on #1115
Closed by https://github.com/astropy/astropy/pull/2920

[2015-01-20 14:50] astrofrog commented on #1115
Sorry, this issue is not completely addressed by #2920 (there was a comment there that said it closed this issue). The strings here are still not parsed, and I'm not sure if we decided we should or not. There was a comment above by @taldcroft that we should support IAU names at least. Removing the 1.0 milestone.

[2015-01-20 14:51] astrofrog commented on #2265
@embray - if this won't be done this week, we should remove the milestone. Do you agree?

[2015-01-20 14:51] astrofrog commented on #1539
@embray - should we remove the 1.0 milestone?

[2015-01-20 14:57] astrofrog commented on #2935
@adrn - indeed, that would be great! I've added a heading in 1377218cf296bd9826a413f34347a6868c87bba9 and a to-do item above. We should have all these sections written this week ideally.

[2015-01-20 15:29] #2861 closed

[2015-01-20 16:10] bsipocz commented on #1115
I've looked at these formats while doing #2920. The first one is easy, one must really need to use the unit as both ``u.deg`` or ``u.hour`` can be valid unit of RA for this format.

Regarding the second, I wasn't sure whether to include them with hard wired fix lenght as HHMMSS.ss+DDMMSS.s and (D)DDMMSS.ss+DDMMSS.s.

The current example is OK, but it can be quite ambiguous when one says ``"000010.

[2015-01-20 16:40] pllim opened #3317 "Update built-in Cone Search services list?"
The 10 sites below have been consistently down for a while now with this error:

*ERROR: SQL Exception: Connection refused. Check that the hostname and port are correct and that the postmaster is accepting TCP/IP connections. Contact saicas[at]sai.msu.ru in case of problems*

It does not affect Cone Search functionality but there is also no point checking them nightly with default `astropy.vo.vali

[2015-01-20 18:35] embray commented on #3283
See also #1539.

[2015-01-20 18:50] embray commented on #3317
Could this have anything to do with why I've hardly ever been able to get the `--remote-data` tests to pass lately?

[2015-01-20 18:53] pllim commented on #3317
I don't think so. I never included the services from `astronet.ru` to my tests due to its unreliability. But if you see error messages from `astropy.vo.client` or `astropy.vo.validator`, please let me know so I can investigate.

[2015-01-20 22:14] aphearin opened #3319 "bug in io.ascii"
I am finding that in certain cases, io.ascii struggles to correctly ignore comment lines, and also the start of the data rows. Here is some particularly simple data that illustrates the problem:

[code]
If I run ascii.read(fname), I get
AttributeError: 'NoneType' object has no attribute 'group'

The workaround seems to be to set guess=False. Based on an email chain with @eteq  the problem seems to

[2015-01-21 05:38] aphearin opened #3320 "hdf5 table writer append functionality is absent from implementation"
When trying to append to an existing hdf5 file using table.write(), the method returns an error:
IOError: Table table already exists
So I tried additionally including a flag for overwrite=True, but this only overwrites the entire existing file, rather than append to it.

[2015-01-21 07:14] astrofrog commented on #3320
@aphearin - can you show the exact call to ``Table.write`` you are using? You should be using the ``append=True`` keyword rather than ``overwrite=True``. Did you try this?

[2015-01-21 10:18] cdeil opened #3321 "Invalid KeyError when adding a column to Table"
@taldcroft - I think #3011 introduced a bug ... I noticed that it broke my code here:
https://travis-ci.org/astropy/coordinates-benchmark/builds/47758457#L4223

Here's a self-contained example ... it fails with the same error on Python 2 and 3:
[code]

I think this should work, no? (it did before #3011)

[2015-01-21 10:20] cdeil commented on #3321
It seems to only be an issue when assigning scalars to string columns ... this works:
[code]

[2015-01-21 10:28] astrofrog commented on #3321
It looks like it tries to use the string as a column name. The following 'works':

[code]

Definitely a bug!

[2015-01-21 10:38] astrofrog commented on #3321
I think the bug is here:

https://github.com/astropy/astropy/blob/master/astropy/table/table.py#L880

I think that it should not call ``is_mixin_column`` if ``value`` is an instance of ``six.string_types``.

[2015-01-21 13:33] aphearin commented on #3320
Yes, I have been using append=True explicitly, although I thought the docs indicated that this is the default setting. Here is a code distillation of the problem.

Npts=1e6
x = np.random.random(Npts)
tx = Table({'x':x})
y = np.random.random(Npts)
ty = Table({'y':y})
tx.write('dummydata.hdf5',path='table',append=True)
ty.write('dummydata.hdf5',path='table',append=True)

[2015-01-21 14:43] mhvk commented on #3320
@aphearin - the problem is that the `path` for the two tables should be different -- this is essentially a name of the file in the hdf5 data container.

Would you have a suggestion for improving the documentation so that this would be clear?

[2015-01-21 14:45] aphearin commented on #3320
Sure, @mhvk , I'll submit a pull request later this morning

[2015-01-21 15:05] aphearin commented on #3320
Actually, @mhvk , I'm a little confused about the functionality. What I want is to be able to load the *entire* table into memory with a call to Table.read(), not just one of the subsets of data that I appended. If I have to specify different paths, then astropy will not read in the concatenated data. How would I accomplish this using astropy?

[2015-01-21 15:16] mhvk commented on #3320
The problem would be that the two tables might well have different lengths, or be incompatible in other ways, so they cannot necessary be assigned to a single table upon reading. I think the only solution would be to merge the tables (hstack or vstack) before writing to the hdf file. (But perhaps I am misunderstanding what you would like to do.)

[2015-01-21 15:21] aphearin commented on #3320
If astropy intends to provide tools to efficiently handle management of very large datasets, I think this is important functionality. Imagine you have a many Gb ASCII data that you want to reduce and store in binary. Well then the natural way to accomplish this would be to read in chunks of ASCII, turn the chunk into a Table, make your cuts, and then append to an hdf5 file storing the reduced data

[2015-01-21 15:29] astrofrog commented on #3320
@aphearin - this is not currently possible but I will need to check if it is even possible with h5py (which we rely on). If you know how to do this with h5py, please share an example. I do agree that we should be aiming to support 'big data' in future but for now, append is just used to append a new dataset to the HDF5 file.

Just out of curiosity, if you have enough memory to read in the table in

[2015-01-21 15:42] aphearin commented on #3320
@astrofrog - I couldn't say whether it is possible with h5py, but I can say that pandas supports this functionality. The following use of pandas works just like you think:
Npts=5
x = np.ones(Npts)
y = np.zeros(Npts)
pdx=pd.DataFrame({'x':x})
pdy=pd.DataFrame({'x':y})
pdx.to_hdf('pandas_hdf_test.hdf5',key='table', format='table', append=True)
pdy.to_hdf('pandas_hdf_test.hdf5',key='table', format='t

[2015-01-21 15:42] mhvk commented on #3320
@aphearin - this sounds like disk-based operations, which we do not support yet. I think the best package for that would be `pytables` -- don't know how well this matches with what astropy does; possibly some functionality could be moved over. @taldcroft?

[2015-01-21 15:43] astrofrog opened #3322 "Bug in SkyCoord.to_string for n-dimensional arrays"
Using ``to_string`` with n-dimensional ``SkyCoord`` gives an error:

[code]

cc @eteq @taldcroft

[2015-01-21 15:46] astrofrog commented on #3320
@aphearin - it might be worth investigating whether pandas would provide a better back-end to the Table read/write than ``h5py``. The HDF5 reader/writer in Astropy are actually very simple:

https://github.com/astropy/astropy/blob/master/astropy/io/misc/hdf5.py

If you can find a way to re-write them using pandas, and support some of these features, then I don't think there would be any objections

[2015-01-21 15:46] aphearin commented on #3320
To answer your question @astrofrog , of course you are correct that there would be no point in storing the hdf5 table in the first place if ram were insufficient to load it. But there is still no need to require that the entire table be loaded into memory. For example, I would like to use concurrency to carry out this task while performing other calculations, and so the memory load here is a bit o

[2015-01-21 15:48] astrofrog commented on #3320
In fact, if you are interested, you can even writer reader/writer functions outside Astropy to start with (for easier development):

http://docs.astropy.org/en/stable/io/registry.html#io-registry

Just to be clear, I'm all in favor of supporting this, but I've been the only that's developed the ``hdf5`` readers/writers and so if you would be interested in helping out, that would be great! :smile:

[2015-01-21 18:28] barentsen opened #3323 "Iterating over a SkyCoord object is very slow"
I was surprised to see how long it takes to iterate over a multi-valued `SkyCoord` object.

For example, it takes 19s to iterate over a SkyCoord object that contains 1000 coordinates:

[code]

In contrast, iterating over a list of 1000 SkyCoord objects is roughly 500,000x faster:

[code]

Might there be room to increase the performance of accessing a `SkyCoord` item?  Iterating over a list of coor

[2015-01-21 18:35] taldcroft commented on #3320
@aphearin - just to be clear ...
[code]

Might be useful to see exactly what pandas is giving for the HDF5 data structure.  The idea of creating an HDF5 table in this way seems problematic, but just "appending" new data nodes seems clean.  From there appending to an existing data node is likewise well-behaved.

I use pytables a lot but I don't know offhand if you can dynamically add columns to a t

[2015-01-21 18:49] mcara commented on #3203
@astrofrog Is @luzuku satisfied with the provided answer?

[2015-01-21 18:50] embray commented on #3319
Probably could catch whatever is resulting in that exception and pass on it when guessing.  Would help to have the full traceback though (though from the looks of it it sounds like something is trying to match to a regular expression, but not bailing if the match fails).

[2015-01-21 20:38] astrofrog opened #3325 "Missing docs for astropy_mpl_styles"
At the moment the API docs don't work for `astropy_mpl_styles` and there is no documentation page so this is not discoverable by users.

cc @hamogu

[2015-01-21 20:43] astrofrog commented on #3323
That does sound quite slow - and we should be able to speed it up since once we have the array skycoord all the parsing etc. is done.

[2015-01-21 20:52] aphearin commented on #3320
@astrofrog , I'll be happy to contribute the solution that I land on, if it ends up being appropriate for astropy. I'll start out by developing it for the needs of halotools and then point you to it, and we can take it from there. Thanks for the consult, it's useful to know I was not just mis-using the astropy repo.

[2015-01-21 21:09] astrofrog commented on #3320
@aphearin - great, thanks!

[2015-01-21 21:25] embray commented on #3323
Heh, I got exactly 19.4s for the first test as well.  This is definitely worth looking into.  It's no surprise that it's slower than `__getitem__` on a list, but I wouldn't be surprised if speedups are possible.

[2015-01-21 21:37] embray commented on #3323
Oh, well it's no wonder.  `SkyCoord.__getitem__` instantiates a new `SkyCoord`.  Nevertheless the second example is still faster even if you include `SkyCoord` object instantiation:
[code]

So I suspect there's room for improvement.

[2015-01-21 21:58] taldcroft commented on #3323
Yes, we could certainly use a back-door way of initializing a `SkyCoord` that just copies what's there and doesn't do any of the heavy validation that normally takes place.  It will still never be *super* fast because there is a lot of generalized machinery under the hood in the full `SkyCoord` object that is the output of `__getitem__`.

One lesson is to not do things like `crd[i]` in performant

[2015-01-21 22:03] astrofrog commented on #3323
Just thinking out loud, but I wonder if we can do a similar trick here to what was done for rows in tables, i.e. when the user accesses ``SkyCoord[0].ra`` access ``SkyCoord.ra[0]``. Just an idea :)

[2015-01-21 22:05] embray commented on #3323
@astrofrog That would be doable, I think but also tricky.  It would require some sort of `SkyCoord` proxy class that can do quick lookups in the ra and dec arrays, but otherwise is not a fully initialized `SkyCoord` object until and unless any other functionality is accessed.

[2015-01-21 22:14] astrofrog commented on #3323
At the very least, even without my idea, it should be fast to initialize a ``SkyCoord`` from an existing one. The overhead should just be accessing the items in the arrays. Frames are immutable, so the existing frame can be used as-is.

[2015-01-21 22:15] embray commented on #3323
A shortcut for instantiating from `self` would definitely make a big difference here.  It looks like most of the time is wasted in `_parse_coordinate_arg`, which presumably shouldn't be necessary for this case.

[2015-01-21 22:39] ehandzo opened #3326 "Import erfa error"
Hi,

I just installed Astropy and am attempting to import the module erfa. After I import astropy (no errors) I try

astropy.erfa and satrapy._erfa

and the error I get is "AttributeError: 'module' object has no attribute '_erfa'". Has anyone else encountered this error before? I have Astropy version 1.0.dev11597. Thanks for any help.

[2015-01-21 22:42] embray commented on #3323
Could somebody with more coordinates expertise explain what the deal is with `FRAME_ATTR_NAMES_SET`?  It seems to me this could just be a a `TransformGraph` property in its own right that could be cached.

Lots of time is spent in the sky_coordinate module calculating this over and over again even though it rarely changes.  What is the purpose of making it look like a module-level constant?

[2015-01-21 23:15] embray commented on #3323
I tried out my above suggestion (I left `FRAME_ATTR_NAMES_SET` as a callable but it just returns `frame_transform_graph.frame_attr_names` which is a lazy property that is cleared when the transform cache is invalidated).

Now I get:
[code]

which is barely worse than the list case.  Could still do even better but this alone made a huge difference, and probably helps in some other places as well be

[2015-01-21 23:16] taldcroft commented on #3323
@embray - IIRC `FRAME_ATTR_NAMES_SET` originally *was* a constant, but it was made dynamic in order to support dynamically-added frames within the transform graph.  Of course you are entirely correct that in practice it very rarely changes and that's kinda why I left it looking like a constant.

In any case we should cache it.  We just need some fast key available from the transform graph object t

[2015-01-21 23:34] taldcroft commented on #3323
About fast-tracking init with `self`, now I'm starting to wonder... Our nice three-layer system of SkyCoord, Frame, Representation probably means that you need to make a fast path all the way down.  Could be tricky.

[2015-01-21 23:47] bsipocz commented on #3326
@ehandzo - Modules are not imported automatically when you do ``import astropy``.
Have you tried importing the them like this?

[code]

[2015-01-21 23:51] embray commented on #3323
Well, I don't know about that--I don't understand the coordinates package well enough to mess with something like that.  Nevertheless, sometime tomorrow I'll post a PR with the speedups I do have (I found a few) which don't seem too intrusive and do help a bit.

[2015-01-21 23:56] astrofrog commented on #3326
Just for info, I renamed ``astropy.erfa`` to ``astropy._erfa`` this evening, so if you are using a fresh developer version, you can import ``_erfa`` as @bsipocz showed

[2015-01-22 09:54] cdeil opened #3332 "Angle array formatting shows up as raw latex in IPython notebook"
With Python 3 and Astropy master I find that Angles are not displayed nicely in the IPython notebook ... it works for scalars, but not arrays:

![screen shot 2015-01-22 at 10 45 04](https://cloud.githubusercontent.com/assets/852409/5853427/c708eec2-a223-11e4-968d-8953988394db.png)

I guess this is a bug?

Actually I don't see why complicated formatting like dms and latex generation should be used

[2015-01-22 10:25] astrofrog commented on #3332
There was an issue for this before with quantities:

https://github.com/astropy/astropy/pull/2271

Maybe it would be worth looking at the solution there to see if it can be applied to Angle.

[2015-01-22 12:58] hamogu opened #3333 "`extract_array` can give results of different size"
[code]
It would be useful for me if we had either:

-    an option to return where the position I put in falls on the new image ((0,0) in the first example and (1,2) in the second example) or
-    an option to always return a (3,4) array, but fill missing values in some way (e.g. nan or return a mask of invalid entries) or
-    both (via a keyword). What do people think?

This was originally https

[2015-01-22 13:19] hamogu commented on #3319
Thanks for the report @aphearin ! In the end, the guessing just tries out data format and see which one works and if a table is very similar to such a a format, there is a chance that it the guessing fails (if you know the format of your table beforehand, it is always better to avoid guessing, because of performance).
However, in this case it looks like reading as a DAOphot tables failed and thus

[2015-01-22 13:53] aphearin commented on #3319
@hamogu - done. Hope this helps track down the bug, let me know if there's anything else I can do. If you'll be working on this in the short term, there's a possibly more serious performance bug in ascii.read() I have found that I will write up and submit shortly and reference in this thread when I do.

[2015-01-22 14:04] hamogu commented on #3319
Thanks, I'll look at that this evening. I think I have a pretty good idea what might be causing this and it's probably a five line fix, so it's unlikely to interfere with anything else.

[2015-01-22 14:07] aphearin opened #3334 "ascii.read stalls out when reading large files"
@hamogu - I am trying to use ascii.read() to reduce a large (~6Gb) ASCII dataset into a processed binary file in which I have applied some cuts. The strategy I have been taking is to the use data_start and data_end keywords in a loop over chunks of the file, so that only ~100Mb chunks are loaded into memory at a time. Then I make cuts on the chunk, append a Table with the rows passing the cuts, an

[2015-01-22 14:08] aphearin commented on #3319
Almost certainly an unrelated problem with ascii.read(), but see also #3334

[2015-01-22 14:10] mhvk commented on #3326
To add to @astrofrog's comment: the reason we are calling it `_erfa` for now is that we do not yet know for sure where this module should live! I.e., its location may still change.
In that respect, out of curiosity, what functionality in `erfa` are you using? I ask because it might be something that we should include in the corresponding astropy objects.

[2015-01-22 14:28] bsipocz commented on #3171
A somewhat related issue is that some of the module names are longer than the width of the sidebar (that is fixed). It doesn't change functionality, but looks rather ugly. E.g.:
![screen shot 2015-01-17 at 17 59 04](https://cloud.githubusercontent.com/assets/6788290/5857333/bf71d1a0-a242-11e4-86c6-1a67fa8c8cb5.png)
.

[2015-01-22 14:55] hamogu commented on #3334
You are right that originally this module was meant to be super-versitile at the cost of performance. Originally, we had those 20-500 line tables in mind that you copy and paste from papers or that may have been compiled by hand from the literature or are written as output by tools like DAOPhot. The main point of the `io.ascii` module is to guess the data format (Can I express column 1 as integer?

[2015-01-22 15:06] astrofrog commented on #3334
@aphearin - if you are using ``ascii.read(fname, data_start=i, data_end=i+chunksize)`` then the issue is that it is trying to guess the format which causes severe slowdown and memory bloating. You should be specifying a format, e.g. ``ascii.read(fname, data_start=i, data_end=i+chunksize, format='basic')`` and that should make things a lot faster. Note also that some of the formats have a c backend

[2015-01-22 15:09] aphearin commented on #3334
@hamogu - thanks for the rundown. I am happy to use pandas for this purpose instead. However, I should point out that my needs for this task are for developing a core feature of an astropy affiliated package. I don't at all mind if pandas becomes my go-to reader, but in that case I guess I'd want to have the "OK" from the astropy team that using pandas as a required dependency would not prohibit m

[2015-01-22 15:11] astrofrog commented on #3334
I think we should look into this more - my understanding was that the new C readers in astropy should approach (and in some cases exceed) the performances in pandas. If turning off guessing doesn't help, can you provide a sample of the table so that we can look into it further?

[2015-01-22 15:11] aphearin commented on #3334
@astrofrog - it would be easy for me to specify a specific format. But will this specification bypass ascii.read() from loading the entire table into memory? That is a deal-breaker feature for my purposes, since I cannot assume that all halotools users will have enough memory on their laptop to load an entire, uncut halo catalog into memory.

[2015-01-22 15:12] aphearin commented on #3334
@astrofrog - the problem is not speed. The problem is loading the entire table into memory.

[2015-01-22 15:15] astrofrog commented on #3334
@aphearin - just to be clear, if you are using guessing, ``io.ascii`` will use 20x more memory than needed by the table (mabye an exageration, but a lot more). So if you try and read in just a chunk it would still look like it needed a large amount of memory. If you have disabled guessing and you can't read in just a section of the table using ``data_start`` and ``data_end``, I would consider that

[2015-01-22 15:18] astrofrog commented on #3334
Well, it *should*, but it might not currently. I'm not familar enough with the code to understand whether io.ascii is first loading the whole file. I'm in agreement it shouldn't be loading the whole table if you are asking for a specific range of lines.

[2015-01-22 15:18] taldcroft commented on #3334
@aphearin - in the short term you may be able to use the following (untested) workaround to get reasonable performance (esp. in master).  [After starting to right this I realized it should be a generator, so imagine a `def read_big(filename):` at the top.]
[code]

[2015-01-22 15:19] astrofrog commented on #3333
cc @adonath @mhvk

[2015-01-22 15:22] astrofrog commented on #3334
![toy-story-aliens](https://cloud.githubusercontent.com/assets/314716/5858359/d75e7dbc-a252-11e4-84d9-a8da5a47c661.gif)

[2015-01-22 15:24] taldcroft commented on #3334
Yes, `io.ascii` always reads the whole file.  There are a few reasons for this, but for instance the top-level API allows specifying a negative value for `data_end`, and allows for comment lines anywhere within the file.  So the fully-flexible version of `io.ascii` really wants the whole file in advance.

Having said that, the summer project by @mdmueller was a great success at speed but there was

[2015-01-22 15:26] astrofrog commented on #3334
@taldcroft - just a thought - it would be worth also including the ``vstack`` call in your generator

[2015-01-22 15:26] taldcroft commented on #3334
@astrofrog - now there is 2 minutes of my life lost forever laughing and watching the animation.

[2015-01-22 15:27] astrofrog commented on #3334
@taldcroft - you're welcome :)

[2015-01-22 15:27] taldcroft commented on #3334
@astrofrog - the assumption is that there isn't enough memory for the full table.

[2015-01-22 15:29] astrofrog commented on #3334
@taldcroft - ah yes of course, ignore me!

[2015-01-22 15:29] taldcroft commented on #3334
It might not be too hard to turn this snippet into some production code for reading big ASCII files in chunks...

[2015-01-22 15:30] taldcroft commented on #3334
Still 30 hours before the code freeze deadline??  :smile:

[2015-01-22 15:31] aphearin commented on #3334
Ha! My sentiments exactly on the animation :-D

So based on the above, I think the necessary functionality is the following. I can supply a single row as input to the reader. The reader uses that row to guess the format, and then it uses that format for the entire file, with no further guessing. Using data_start and data_end should exclusively read in those rows, under that format assumption.

I d

[2015-01-22 15:35] aphearin commented on #3334
Also, @astrofrog , an example of the full data file I am trying to read can be found here:
http://www.slac.stanford.edu/~behroozi/Bolshoi_Catalogs/
I could also provide a version of one of those files that includes the full header and a downsampling of the rows. In the event that that would be helpful, what would be the best way to share? (Feel free to just say that this would not be helpful, of c

[2015-01-22 15:37] Cadair commented on #3289
This was closed by #3293.

[2015-01-22 15:37] mhvk commented on #3333
Cleanest may be to always return a `MaskedArray`, then the user can decide to do what they want to do if any elements are masked. Indeed, if the small array falls completely outside the large array, one could return a fully masked array. If we make this an option, then I'd suggest that for the normal case the code raises an exception if the requested region does not completely fall within the larg

[2015-01-22 15:43] astrofrog commented on #3334
@aphearin - in some cases more than a single row is needed for the guessing. However, in any case I don't really think one should be guessing the format when dealing with big data.

[2015-01-22 15:44] #3289 closed

[2015-01-22 15:49] aphearin commented on #3334
@astrofrog - I'm not sure what you mean. If you mean that for big data files, the reader should assume that the format does not change when reaching the data rows, then I agree. However, if you mean that for big data files that the user should have to supply hard-coded format, then I have to disagree. It would be easy for me to use readline() to supply the reader with any number of data rows to us

[2015-01-22 15:53] taldcroft commented on #3334
@aphearin - the code snippet does not guess the format and initially reads in `n_chunk` lines in order to get the first chunk and column names.  After that it knows the names and continues reading in the file `n_chunk` lines at a time until the end.

As I mentioned it would be possible to use the first chunk to infer the data types.   Inferring the data types separately for each subsequent chunk i

[2015-01-22 15:54] astrofrog commented on #3334
@aphearin - right sorry, I was thinking more in terms of guessing things like whether it's an IPAC or RDB table (which you should really know). But indeed the reader will still have to guess the position of the columns etc. from the first chunk.

[2015-01-22 15:55] taldcroft commented on #3334
Sorry, hit Comment too soon.

The implication is that it is *possible* to end up with different data types for a particular column in different chunks (e.g. for some reason the file has a large section of "0" in the middle while other parts have float-formatted values like "1.2").  But in practice that is unlikely and there are ways to get around that without too much trouble.

[2015-01-22 15:59] aphearin commented on #3334
Ahh, right, good point. In fact, this will probably be a problem I will encounter. There will be very large sections of my data that have "-1" in a column, but some entries such as "1929394950" that will require a Long. Durn, hadn't thought of that.

[2015-01-22 16:08] taldcroft commented on #3334
That's not a problem, "-1" will turn into an `int64` by default.  The issue is mixing float and int.  The worst problem is if you have a lot of "-1" at the beginning and then "12312.2332" later.  That's why `io.ascii` needs to read the whole file in order to be consistently reliable.

[2015-01-22 16:11] taldcroft commented on #3334
Yck, Offhand I don't think there is any way to get the values of the guessed format in order to use later.  Would need to look through the code on this question, but there is always the possibility of manually replicating a limited bit of the format guessing code with an initial chunk of the file.

But in most cases with huge files don't you typically know the delimiter in advance?

`data_start` a

[2015-01-22 16:19] hamogu commented on #3334
format for the entire file, with no further guessing.

The way to get this information is to keep the Reader object. Something like:
[code]
So, what we need is (1) a way to return the reader from the guessing process and then we can use that reader read the other chuncks, too.
Then (2) we need an option to re-use the converters and not to try finding new converters that work again. Of course, that

[2015-01-22 16:24] aphearin commented on #3334
Got it. Now it makes perfect sense why this behavior is default.

Something similar to your snippet would be ideal. At the risk of needless repetition, the idea would be this:
1. Turn off the entire-file-load feature.
2. Provide the delimiter (yes, I think it is perfectly fine to require users to supply the delimiter in this large dataset case, this is nothing to worry about)
3. Provide any possib

[2015-01-22 16:49] taldcroft commented on #3334
@aphearin - this probably isn't going to make it for 1.0 since there are design discussions etc.

The astropy version would be a utility that is mostly outside of the core reading functionality (as illustrated roughly in the code snippet).  Would you be willing to develop an astropy PR to do this (with any help we can provide)?  If written as a standalone utility then you could put this routine in

[2015-01-22 16:53] aphearin commented on #3334
@taldcroft - I'm willing to give it a shot. My timeline for getting to it would be a couple of weeks though.

[2015-01-22 16:54] taldcroft commented on #3334
@aphearin - excellent.  No worries on the timescale.

[2015-01-22 17:13] embray commented on #3326
As already mentioned, #3277 was merged recently which renamed `astropy.erfa` to `astropy._erfa`.

[2015-01-22 17:13] #3326 closed

[2015-01-22 17:15] embray commented on #3171
^ That issue's been around for a while, and affects some other module documentation pages as well.  I'm not sure what the history is to trying to fix it though.

[2015-01-22 18:04] larrybradley commented on #3333
I think `extract_array` should always return an array of the requested shape, so
+1 to @mhvk's suggestion for returning a `MaskedArray` and raising an exception if there is no overlap.

[2015-01-22 18:28] eteq commented on #1430
@mtbannister, @ijiraq - if you want some ideas on how to most easily implement this with the frames added in astropy v1.0, I suggest you check out http://www.iausofa.org/2013_1202_C/sofa/sofa_pn.pdf, particularly the diagram on page 6.  (note that v1.0 uses only the "right side" of that transformation, through CIRS).  Depending on exactly how you're meaning to define ecliptic, a few options presen

[2015-01-22 18:47] eteq opened #3336 "Weaken/remove warning in modeling docs for v1.0?"
I noticed that `modeling`'s docs still have the "astropy.modeling is currently a work-in-progress, and thus it is likely there will still be API changes" warning.  Should this be modified for v1.0 to indicate that we think it's going to be fairly stable going forward, but with enhancements (if that's true...)?

@embray @nden @astrofrog

[2015-01-22 19:19] astrofrog commented on #3333
+1

[2015-01-22 19:22] mhvk commented on #3333
My suggestion was a bit more complicated, allowing one to ask for either masked or regular array, but always returning a masked array and raising an exception if fully outside is probably easier and thus better.

[2015-01-22 19:26] mhvk commented on #3336
I'd think that a warning is still reasonable, given that quantities are not yet supported. That said, the API looks fantastic and I'm looking forward to trying it! Maybe rephrase in terms of "hope this is it, feedback now very much appreciated?"

[2015-01-22 19:32] embray commented on #3323
Another idea might be to implement an `__iter__` that just creates one `SkyCoord(self)` and then use that as a template for all the other returned values.  I'm not sure how well that would work in practice though since it seems like lots of math can happen on the input value between the beginning and end of `SkyCoord.__init__`.  ISTM like a good candidate for some refactoring, though I don't know

[2015-01-22 19:51] embray commented on #3336
I feel like I already weakened it a bit in #3231, but it could probably be weakened further.

@mhvk I don't think Quantity support is too relevant in terms of API stability.  It will be an enhancement, yes, but it won't significantly change how models are worked with in general.  More likely bigger changes include changes to fitters (a process I already started a long time ago but was shelved due

[2015-01-22 20:09] mhvk commented on #3336
@embray - agree that no major changes should be necessary, but given the issues we had with `Column` and the resulting introduction of `QTable`, I prefer avoiding premature claims of API stability.

[2015-01-22 20:28] astrofrog commented on #926
Removing the milestone since I don't have time to work on this and I don't think anyone else does either. There is no bug here, so not critical.

[2015-01-22 20:29] astrofrog commented on #3251
@nden @embray - is this critical for 1.0 or can I remove the milestone?

[2015-01-22 20:29] astrofrog commented on #2979
Not critical for 1.0, so removing milestone

[2015-01-22 20:58] taldcroft commented on #2935
Sorry, a little late here, but I'll try to do this tomorrow.  Assuming it gets merged, will APE-6 and ECSV make the What's New?

[2015-01-22 21:06] nden commented on #3251
Not critical for 1.0 in my view.

[2015-01-22 21:11] embray commented on #3336
I don't think it's premature.  The basic interface hasn't changed since 0.3.  Any changes that do occur will be around the margins, and will retain backwards compatibility.

[2015-01-22 21:14] astrofrog commented on #3336
If @embray feels the API is going to be stable, then I'm all in favor of removing the warning. We can still not claim it's stable in the stability page, but the warning is currently a bit strong.

[2015-01-22 21:15] astrofrog commented on #3251
@nden - thanks for clarifying!

[2015-01-22 21:17] astrofrog commented on #2935
@taldcroft - if APE6 and ECSV get merged, they *should* be included in the 'What's new?'! Unless you want to keep it low-key initially and let more advanced users discover it until the format is stable of course.

[2015-01-22 21:35] taldcroft commented on #2935
@astrofrog - I want to shout about it if anyone will listen.

[2015-01-22 21:48] embray opened #3338 "maxiter argument to SLSQPLSQFitter.__call__ broken"
As pointed out in [this comment](https://github.com/astropy/astropy/pull/3305#issuecomment-70253326), calling an `SLSQPLSQFitter` instances with the optional `maxiter` keyword argument fails, although it is advertised to work in the docs.  This appears to be little more than a simple argument handling bug, and possibly affects other fitter classes as well.

[2015-01-22 22:04] nden commented on #3338
I'll provide a fix for this shortly.

[2015-01-22 22:29] embray commented on #3251
Should still get done sooner rather than later, but I'm a bit stuck on how to go about it.  I suppose there is one "obvious" way, but it will make the code that much more of a sticky mess :(

[2015-01-22 23:33] eteq commented on #3336
:+1: to @astrofrog's suggestion if we are willing to commit to what @embray says here.  I think the warning is only necessary if backwards-incompatible changes are likely.

Another possibility might be to change it to a ``.. note::`` that says something like "backwards compatibility is likely to be maintained, but significant new features may still be coming in future versions." (which is pretty c

[2015-01-23 02:58] hamogu commented on #3319
OK, I have a solution for this problem that I will push to github in a minute that causes the guessing to read this table without error. Note, however, that it will read it as a CommentedHeader table so that the result is:
[code]
with column names `['some', 'header' 'info']`. That is not wrong, although it might not be the expected behaviour in this case. However, there is just no way to algorithm

[2015-01-23 03:06] aphearin commented on #3319
Nice work @hamogu !

[2015-01-23 03:33] taldcroft commented on #3334
@hamogu - agree with your (1) and (2).  How to do (1) in a nice clean way is stumping me at the moment.  The best I can think of is a new `read` keyword like `return_reader`, but I'm not super excited about that.

[2015-01-23 12:53] cdeil opened #3344 "Add extra Galactic coordinate frames in Astropy?"
As discussed in various other issues already (e.g. https://github.com/astropy/coordinates-benchmark/issues/37, https://github.com/astropy/astropy/pull/3107), Galactic coordinates are not well-defined and different codes / catalogs use different definitions.

E.g. @adonath and I are currently producing a source catalog for [HESS](https://www.mpi-hd.mpg.de/hfm/HESS/) using the current Astropy Galact

[2015-01-23 13:28] astrofrog commented on #3344
@cdeil - is the 2" offset with the latest master or 0.4?

[2015-01-23 13:37] astrofrog commented on #3344
Currently, all the different Python codes currently agree to within << 1", and even astrolib agrees within 0.2" with other codes. I think we also agree with ds9. I've never seen a 2" offset so I actually think something may be wrong in the way the Galactic coordinates were computed in the Fermi catalogs? Is there a way to ask them what they used?

[2015-01-23 14:05] #3322 closed

[2015-01-23 14:20] cdeil commented on #3344
The 2 arcsec offset is with the latest Astropy master.
I've written an email to the Fermi catalog contact ... at the moment I don't know what they use.

I still don't understand the details of the various Galactic systems, but if I'm not mistaken Astropy and most other codes do something slightly different from [Reid & Brunthaler 2004](http://adsabs.harvard.edu/abs/2004ApJ...616..872R) or what is

[2015-01-23 14:48] astrofrog commented on #3344
If there are two clear competing definitions then I agree we can consider whether to add additional frames, but I'm going to guess that for every catalog you find you will find a slightly different convention used. However, I'm willing to be proved wrong! But if Fermi aare the only ones to use their convention I don't think it justifies the introduction of a new frame. +1 to checking what Vizier d

[2015-01-23 15:01] astrofrog commented on #3344
This thread is relevant:

http://mail.scipy.org/pipermail/astropy/2014-November/003510.html

Also:

http://mail.scipy.org/pipermail/astropy/2014-November/003523.html

[2015-01-23 15:10] cdeil commented on #3344
So at the very least we have to document what is used in Astropy ... I think I mentioned this already somewhere but now there's an open issue so we don't forget. :-)

[2015-01-23 15:27] astrofrog commented on #3336
Yes, we should at *least* change it to just a note instead of a big red warning

[2015-01-23 16:26] embray commented on #3336
Anything to not scare anyone away.  One of my biggest frustrations with working on this package has simply that it has been underutilized and not tested enough outside a handful of people (granted the feedback of people who have been using it has been invaluable, but it hasn't gone much outside the Astropy developer community...)

[2015-01-23 16:28] mhvk commented on #3336
@embray - fair enough, we should encourage people to use it!  Happy with the `.. note::` approach, just want to ensure we're not stuck if a (minor) API change does turn out to be required.

[2015-01-23 17:17] #3319 closed

[2015-01-23 18:15] taldcroft opened #3346 "Consider catching exceptions in io.ascii readers and raising as InconsistentTableError"
Currently in the guessing process there are four exceptions that are handled in a failed read attempt: `core.InconsistentTableError, ValueError, TypeError, AttributeError`.   The last one was added in #3342 to fix a problem with tables that almost look like DAOphot.

A different way to approach this is to pro-actively catch expected parsing errors in the various readers and re-raise as `Inconsiste

[2015-01-23 18:35] ehandzo commented on #3326
The erfa module is currently being used in the new pulsar timing package, PINT. To utilize this software I need to have erfa module running.

On Jan 22, 2015, at 8:10 AM, Marten van Kerkwijk <notifications@github.com> wrote:

[2015-01-23 18:42] mhvk commented on #3326
@ehandzo - great to hear it is being used in PINT; I was very pleased to hear from @scottransom that `Time` could be used to help time pulsars as accurately as with tempo2 (after debugging based on PINT...). If the functionality you need in PINT is something you think is not ultra-specialised, please do raise a new issue asking for it: this is how astropy gets better! (even if sometimes it takes a

[2015-01-23 19:01] hamogu commented on #3346
In the specific case of #3342 I've actually thought about catching the generic exception and raising an `InconsistentTableError` instead. While we can think about it for any specific case, I think it is better go with a broader approach:
We don't know know what readers we might have in the future and even in the existing readers there might be many edge cases like e.g. #3342 that are not yet disco

[2015-01-23 19:10] hamogu commented on #3346
Looking at the top three pages of open astropy issues (75 issues, of which maybe 50 are bugs, simple feature requests etc that any user cold have and 25 are "make release", "optimize Travis" etc. ), there are <5 issues opened by people who are not developing astropy or an affiliated package. We know that the astropy user base is >> 10, so do the non-developers never run in to issues?

I believe th

[2015-01-23 21:58] scottransom commented on #3326
@mhvk There are only a couple functions used from erfa: xys00a, c2ixys, erfa.sp00, pom00, era00.  These are used (in pint/erfautils.py) to provide positions and velocities of an observatory at a certain Time referenced in ITRF geocentric coordinates and including polar motion, precession, nutation etc.

I certainly don't mind changing how things are imported in PINT, but I really *do* like the ide

[2015-01-23 22:14] eteq commented on #3344
Yeah, it sounds like the one we're using (galactic is defined by poles in FK4 with no E-terms) is the more "official", but it's a bit of a mess in the field so definitely @cdeil is right we should at least document it so that others know without having to dig into the mailing list.

Please let us know what (if anything) you hear from Fermi, ideally within a week so we can add this to the docs in t

[2015-01-23 23:36] mdboom commented on #3326
Not to beat this dead horse, but if the rest of the board likes the idea of the routines being easily available, they need to change the license.  The whole forking and renaming thing is silly and just creates busy work.

I believe the long term plan is to make the Python wrappers for ERFA part of their own project outside of astropy, possibly, though TBD, part of the ERFA repo itself.  astropy wo

[2015-01-23 23:45] eteq commented on #3323
Note that #2989 is potentially relevant here too, because a lot of the time making the frames (which are inside every new `SkyCoord`) is spent doing that.

(Will consider this a bit more soon)

[2015-01-24 00:08] scottransom commented on #3326
@mdboom I completely agree with you about the license.  I am a relatively new member (about 2 yrs) and I fought hard about this to no avail.  There are strong views about keeping things the way they are by some very important members of the board (who have invested a lot of their own time and efforts into the code).  So I'm not optimistic.

I don't really care if the nice ERFA wrappers are directl

[2015-01-24 00:14] bsesar commented on #2847
@astrofrog - what @neuronphysics  probably has in mind is something similar to this function in the STARLINK library

http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?ds2tp.hlp

If there is a function like that in astropy, please let me know :)

Cheers,

Brani

[2015-01-24 10:15] astrofrog opened #3352 "Update astropy.io.ascii docstrings to use Numpydoc format"
This is an easy low priority issue in case anyone wants to learn how to contribute - the astropy.io.ascii module contains functions that still have the following docstring format:

[code]

(example from ``astropy/io/ascii/ui.py``). It would be good to update these to the numpydoc format that we use, e.g.

[code]

[2015-01-24 10:26] astrofrog commented on #1539
Removing the milestone since #3283 was not milestoned as 1.0

[2015-01-24 10:27] astrofrog commented on #2265
Removed milestone since this won't get done in time for 1.0.

[2015-01-24 10:28] astrofrog commented on #3113
Resolved by #3304

[2015-01-24 10:28] #3113 closed

[2015-01-24 11:14] astrofrog commented on #3336
@eteq - will you make this change?

[2015-01-25 17:44] cdeil opened #3356 "WCS.sub fails for unicode string axis specifier in Python 2"
@mdboom Is it possible to make [WCS.sub](http://astropy.readthedocs.org/en/latest/api/astropy.wcs.WCS.html#astropy.wcs.WCS.sub) just work for unicode string axis specifiers in Python 2?

I ran into this error on Python 2 after adding
[code]
at the top of my file:
https://travis-ci.org/gammapy/gammapy/jobs/48255732#L2870

Here's a simple example that shows the issue I get on Python 2:
[code]

[2015-01-25 21:24] mhvk commented on #3326
@scottransom - sounds like additional reasons to get our `Observatory` class off the ground (cc @eteq).
As @mdboom notices, ideally we end up with the wrappers in `liberfa` itself, but since this would be packages with `astropy`, it would only change the import path.  (@mdboom, the disucssion was on astropy-dev: https://groups.google.com/forum/#!topic/astropy-dev/qKrxPtNZs2I).

[2015-01-25 23:13] hamogu commented on #3333
This turns out to be trickier than I thought, but I'm working on it.

[2015-01-26 04:08] migueldvb commented on #2976
I am getting this error when I try to build astropy 0.4.4 with wcslib 4.24:

[code]

[2015-01-26 12:49] mdboom commented on #2976
@migueldvb: That doesn't surprise me.  wcslib 4.24 changed the API of wcscompare.  Therefore, the 0.4.x series must be used with wcslib 4.23 or earlier, and the 1.x series must be used with 4.24 or later.

[2015-01-26 13:11] mdboom commented on #3356
Good catch.  We try so hard to make `unicode_literals` work in our testing but this one was missed.  I should have a fix shortly.

[2015-01-26 14:01] andycasey opened #3358 "Unexpected iterating behaviour from Tables in loops within loops"
Hi,

I am not sure if this is a bug, but it seemed counter-intuitive to me. When I iterate over the rows in an `astropy.table.Table` in a sub-loop, the outer loop breaks after just a single iteration. If I create a copy of the table in the sub-loop, then the outer loop does not break as expected and the code works as expected. I do not observe this behaviour if the same data is in a numpy array.

[2015-01-26 14:31] astrofrog commented on #3358
I think it sounds like a bug, but maybe @taldcroft can confirm?

[2015-01-26 14:35] taldcroft commented on #3358
Yup, this sounds like a bug.  I confirmed that it exists in master also.  Will investigate.

[2015-01-26 14:43] collioud opened #3359 "Example of search_around_sky use?"
Hi,

I am new to Astropy and I am trying to use the search_around_sky function, described [here](http://astropy.readthedocs.org/en/latest/api/astropy.coordinates.SkyCoord.html?highlight=search_around_sky#astropy.coordinates.SkyCoord.search_around_sky)

I tried (unsuccessfully) with this piece of code:
[code]
which finally results in `TypeError: 'Longitude' object with a scalar value does not suppo

[2015-01-26 15:40] taldcroft commented on #3358
The problem is that the `__iter__` function makes an iterator that uses instance attributes unique to the table object `self` but not to the iteration loop.
[code]

So maybe `__next__` should be a generator?  That seems slightly unorthodox based on canonical examples of iterators, but I did come across this idea as a [SO response](http://stackoverflow.com/questions/12948376/python-iter-and-next-fu

[2015-01-26 16:02] migueldvb commented on #2976
OK, the CHANGES.rst in the 0.4.x branch says  `astropy now requires wcslib version 4.23 or later`. Should this sentence be changed for 0.4.5?

[2015-01-26 16:18] mhvk commented on #3358
Hmm, `yield` would seem OK here. But I am a little confused: `Time` manages to iterate fine without any of those definitions. Is it in fact necessary to have them at all? Does one need to have more than a `__len__` and a `__getitem__`?

[2015-01-26 16:47] embray commented on #3323
Oh, I remember that issue.  I thought it had been resolved by now but I guess not?

[2015-01-26 16:50] embray commented on #3352
:+1: I was wondering about that when I saw @hamogu's recent PR.  Thought maybe I was losing my mind or something :)

[2015-01-26 16:52] embray commented on #3336
Assuming it hasn't already been done, I will do it alongside my "what's new" entry for the modeling package.

[2015-01-26 17:03] embray commented on #3326
Definitely :+1: to making SOFA/ERFA routines easily accessible, either through a higher-level interface in Astropy, or more directly through our nice new Numpy-compatible Python wrappers.  I'm definitely in favor of the Python wrappers being technically separate from Astropy, but as @mhvk to the user there's not much difference except for an `import` statement.  (And ostensibly it's one more thing

[2015-01-26 17:08] #3356 closed

[2015-01-26 17:27] embray commented on #3359
I got the same thing.  Sounds like maybe a bug?

[2015-01-26 17:31] astrofrog commented on #3336
@embray - ok, sounds good, the what's new entry still needs doing.

[2015-01-26 17:47] taldcroft commented on #3358
Good point @mhvk.  Now I'm just confused because I modified `Table` to simply get rid of the explicit iterator protocol and rely on `__len__` and  `__getitem__` like `Time`.  But it doesn't seem to know the length and never raises `StopIteration`:
[code]

More explicitly:
[code]

:question:  :question: :question:

[2015-01-26 17:49] taldcroft commented on #3358
Just to see, the generator solution is simple and seems to work:
[code]
Then:
[code]

[2015-01-26 17:50] embray commented on #2976
Unless something major comes up I don't think there will be an 0.4.5.  If @mdboom agrees though that line could still be fixed.

[2015-01-26 17:53] embray commented on #3358
Yes, that's what I would have done in the first place probably.  This means that every time `iter(table)` is called it will return a new generator.

[2015-01-26 18:15] mhvk commented on #3358
Good that the `yield` approach works, though I'm perplexed that the automatic way does not.
...
...
I just checked: I removed `__iter__` and `__next__` and find the same problem as you did. However, if I  `raise IndexError` in `__getitem__` instead of letting it be raised by `self.Row`, it does stop the iterator!
...
...
Hmm, I think the problem is simply that defining a row with an invalid index

[2015-01-26 18:16] mhvk commented on #3358
p.s. The above means that `iter` does not care about `__len__` at all: it just tries feeding `0, 1, ...` to `__getitem__` until it gets an `IndexError`. Pretty neat example of ducktyping!

[2015-01-26 18:21] mdboom commented on #2976
I have no problem with the documentation being updated.  It's unfortunate I said "or later" at the time, because I can't predict the future...

[2015-01-26 18:22] embray commented on #3358
@mhvk That's correct.  I wouldn't use that approach in the first place though since it's typically slower.

[2015-01-26 18:35] mhvk commented on #3358
@embray - not sure speed matters here, since all the overhead will be in creating and accessing the `Row` instance. And having no code to maintain would seem preferable (especially in this case, with it actually uncovering a bug!).

[2015-01-26 18:36] olebole commented on #2976
*If* there is a 0.4.5 (or any other pre-1 release), I would opt for updating the astropy internal wcs to 4.24 or later, and update the docu accordingly. 4.23 was just unfortunate, and should not live long.

[2015-01-26 18:37] taldcroft commented on #3358
PR coming.

It does looking like explicitly defining `__iter__` as a generator is *slightly* faster, as in about 10% faster, at least in Py2.  I'm pretty sure the difference would be negligible in the realistic case of actually doing something with the row.  But anyway I'll just leave in the explicit definition of `__iter__` since it cuts out the middleman of the more-generic `__getitem__` logic.

[2015-01-26 18:38] taldcroft commented on #3358
Good catch @mhvk with the Row issue.  The PR in work also does bounds checking on the index for a Row selection so the exception comes up front instead of being deferred.

[2015-01-26 18:54] #3041 closed

[2015-01-26 18:58] embray commented on #3122
Fixed by #3167--thanks @rashoodkhan

[2015-01-26 18:58] #3122 closed

[2015-01-26 21:47] eteq commented on #3326
I'm actually in favor of them remaining part of astropy, but my thinking was to table a discussion of this until the v1.0 release is out, so that we can actually make whatever changes are necessary right away in the v1.1 development cycle.  So my thinking is that should have a full discussion of this and actually come to a conclusion in maybe a few weeks time.

[2015-01-26 21:55] mhvk commented on #3326
@eteq - though I think the python bindings should live in `liberfa`, I also agree that we don't need to decide for 1.0 (indeed, I thought this is why we moved to `astropy._erfa`, so that we are not committed either way).

[2015-01-26 22:54] embray commented on #3326
@mhvk Exactly so (and anyways this issue wouldn't be the place to discuss it ;)

[2015-01-27 07:48] #3336 closed

[2015-01-27 14:37] cdeil commented on #3323
Just now I ran into this issue where looping in Python over SkyCoords is too slow.

The use case I have is illustrated [here](http://nbviewer.ipython.org/gist/cdeil/2152b7eab2f75de138a6) ... I want to match smallish catalogs (100 to 1000 sources) using my own criteria. (At first I thought the bottleneck is the access of table columns / rows, but now I think this issue has nothing to do with Table.

[2015-01-27 14:44] astrofrog commented on #3323
@cdeil - if you want to iterate over coordinates at the moment, you should iterate over the arrays in skycoord, not skycoord itself. Even with #3337 it will be slow-ish because you are creating a SKyCoord every time. Much better would be:

[code]

I bet this will be faster, even after #3337.

[2015-01-27 15:22] astrofrog commented on #3244
Removing the milestone since I think this is done enough for 1.0, but leaving open in case we want to do more extensive/accurate tests.

[2015-01-27 15:22] taldcroft commented on #3323
Maybe we need some kind of lightweight iterator / index proxy.  The difference between this and what was previously mentioned with table row is that this would *not* be the default iterator so we have the freedom to deviate from the accepted coordinates API.
[code]

[2015-01-27 15:28] astrofrog commented on #3323
Thinking about this more, I think it would be good to first try and provide a fast-track initialization of frames and SkyCoord that bypasses the usual ``__init__`` stuff and sets the attributes directly without any parsing/guessing. Then the iterator can use this. This should be possible, right?

[2015-01-27 15:37] astrofrog commented on #2935
@taldcroft - can you open a PR for the ECSV what's new?

[2015-01-27 15:42] taldcroft commented on #2935
@astrofrog - will do.

[2015-01-27 16:26] taldcroft commented on #3323
@astrofrog - when I started looking at the code I got a bit worried that we could recover really good performance.  Maybe it's possible, but with the three layers of SkyCoord, Frame, and Representation it seems like it might be tricky to really fast-track all the way down.

To support things like iterating over pairs of coordinates you probably want microsec-type initialization while we still at t

[2015-01-27 16:29] taldcroft commented on #3323
The idea from @embray about a template object seems interesting, but I don't know how you handle the issue of being able to have arbitrary numbers of item instances around with a single per-coordinate-object template.  I.e. if you have
[code]
then don't you run into problems?  It seemed like the idea with the template was to have a single pre-made object where you just stuff in the correct low-lev

[2015-01-27 16:35] cdeil opened #3369 "UnboundLocalError from Table repr"
@taldcroft I'm getting this error ... I think this is a recently introduced bug?
[code]

[2015-01-27 16:45] cdeil commented on #3369
I ran into this issue when calling `vstack` in this way and getting a `TypeError`:
[code]
I think I'm passing a sequence of Tables, so I don't understand the `TypeError` ... is this a separate bug?

[2015-01-27 16:51] taldcroft commented on #3369
@cdeil - on the second point, I mean `sequence` to be something list-like that supports indexing.  An iterator doesn't work here.

On the first point, this looks like a new bug.  Will investigate.

[2015-01-27 17:03] cdeil commented on #3369
https://docs.python.org/3/glossary.html says:

Maybe it's possible to support an iterator here or change the error to say "list" instead of "sequence"?
It's not really important, but took me a minute to figure out what went wrong ...

[2015-01-27 17:13] taldcroft commented on #3369
Given that definition then `sequence` is exactly right the right word.  The Py3 `.values()` is not a sequence, but a tuple or anything else that supports indexed access and len() is a sequence and would work as input to vstack.

In theory we could probably wrap the input with `list()` and then it would take a sequence or an iterable.

[2015-01-27 17:20] cdeil commented on #3369
You're right ... I forgot that in Python 3 `.values()` doesn't support `getitem()`:
[code]

[2015-01-27 18:05] cdeil commented on #3359
I think this is a bug, too. The error occurs here ... both coords are indexed into which doesn't work for scalar inputs (in your example `target` is a scalar):
[code]
https://github.com/astropy/astropy/blame/03ffab593bc35af8c7387d66e1c2f82e5960853d/astropy/coordinates/matching.py#L342

@collioud For now you can call `np.atlead_1d` on your inputs before calling `search_around_sky`:
[code]
@eteq Is

[2015-01-27 18:29] mhvk commented on #3323
Coming late to this, and not having iiked @embray's approach to `Angle` too much, it would seem that @astrofrog is right, that a huge gain should be possible by ensuring one just takes views of the internal arrays. Obviously, one can then also handle `reshape`, etc. (as for `Time`, although that has only one layer of indirection...).

Starting at the bottom, at least for the representations, it sh

[2015-01-27 19:13] eteq commented on #3280
@astronomeralex  - were you using a mac when you first encountered this?  And @taldcroft, are you on a mac?

[2015-01-27 19:14] astronomeralex commented on #3280
yep, I was on a mac.

On Tue, Jan 27, 2015 at 2:13 PM, Erik Tollerud <notifications@github.com>
wrote:

--
alex hagen
916.425.3581
https://astronomeralex.github.io/

[2015-01-27 20:01] eteq opened #3372 "fast reader sometimes misorders comments"
A couple times now I've seen an intermittent failure on the `io/ascii/tests/test_c_reader.py` test called `test_store_comments`.  The specific failure mode is that it sometimes mis-orders "comment 3" to come _before_ "comment 2".

Unfortunately, I can't figure out how to reproduce this.  And because of that, I can't tell if it's associated with the "parallel" version of the reader or not.  My hunc

[2015-01-27 20:12] taldcroft commented on #3372
I've seen that failure a number of times but only ever on the first run of tests.  I never got it to happen on the 2nd or 3rd time.  Certainly the parallel stuff is a good place to start looking, but I don't have much further insight.  @mdmueller ?

[2015-01-27 20:13] taldcroft commented on #3280
Yes I was on a mac.

[2015-01-27 20:15] taldcroft commented on #3280
Somehow it feels like it must be a bad interaction with some other library because it goes away for a fresh install (according to @rbiswas4 comment (a)).

[2015-01-27 20:16] mhvk opened #3373 "Update sidereal time documentation to make clear how to get an approximate answer"
On the mailing list, Joe Ninan noted that one could not get a sidereal time even if one gave a time in UT1 [1]. This is because the more recent precession models require both UT1 and TT, but it is possible to get the sidereal time using older IAU1982 and IAU1994 models. This is a reminder to document this, perhaps both in the `Time.sidereal_time` docstring and in the Time documentation. (Of course

[2015-01-27 20:45] mboquien opened #3374 "Compilation failure of wcs/src/wcslib_wrap.c with astropy 0.4.4"
Hello,

Trying to update the Arch Linux package for astropy 0.4.4, I am running into a compilation failure of wcs/src/wcslib_wrap.c with the following output:

[code]

I am building with the following command line: python2 setup.py build --use-system-libraries --offline. Note that I get the exact same issue with Python 3. I am using gcc 4.9.2 and wcslib 4.24. Looking at the changelog of WCSlib, th

[2015-01-27 20:49] embray commented on #3374
I'm going to close this as a duplicate of #2976, but feel free to continue commenting here or in the other issue until your issue is resolved.  Your best bet is to build with the wcslib bundled with Astropy.

[2015-01-27 20:49] #3374 closed

[2015-01-27 20:52] mdboom commented on #3374
Yes.  0.4.4 works with wcslib 4.23 only.  master (and the upcoming 1.0) works with wcslib 4.24 and later.

[2015-01-27 20:52] mboquien commented on #3374
OK, thanks. I searched the open and closed issues and could not find anything. Will search harder next time.

[2015-01-27 20:53] mboquien commented on #3374
Is the release of 1.0 imminent or is it worth that I apply a patch to build the package?

[2015-01-27 20:54] embray commented on #3374
No problem, having more issues should make it easier to find in the future.

1.0 should be out soon but the patch is also simple enough.

[2015-01-27 20:57] embray commented on #3282
This should be fixed by #3328--thanks @sornars and @hworpel for reporting.

[2015-01-27 20:57] #3282 closed

[2015-01-27 22:02] rbiswas4 commented on #3280
@taldcroft it could like a bad interaction with some other library, but this bad interaction seems to be present in anaconda installs. The fresh install install which removed the problem was a fresh astropy install through virtualenv without using anaconda at all.

[2015-01-27 22:16] taldcroft commented on #3280
@rbiswas4 - can you replicate this with a pristine install of Anaconda?  By that I mean download Miniconda-<..>.sh from the continuum downloads site, install into a new directory and then run from the root env of that new installation.  Start with a minimal install, basically just python and astropy.

[2015-01-27 23:30] mcara opened #3375 "Unnecessary loss of precision when writing WCS to FITS header"
WCSlib currently uses ``%20.12G`` format (see e.g., ``.../cextern/wcslib/C/wcshdr.c``) when writing the header values of the WCS (CRPIX, CRVAL, CD, etc.) to the FITS header. This leads to an _unnecessary_ loss of accuracy (of about 4 digits) in the WCS reconstructed from a FITS file.

[2015-01-27 23:42] scottransom opened #3376 "TemplateAssertionError build issue with development version"
Hi All

So for the last couple weeks I've been seeing the following build issue on a Linux Ubnutu 12.04.5 system.  I hadn't updated astropy in a couple months previously, so the issue may have been there previously.  I'm using python 2.7.3 and the various python libraries (including numpy 1.6.1) from Ubuntu.

Googling for similar errors didn't give me much of a clue.

Scott
------------------

[co

[2015-01-28 03:12] mdboom commented on #3375
Just to fill in some details: For the `G` specifier, the number after the `.` indicates the number of significant digits to include.  The number of digits of precision available in a double is about 16.  I can take this issue up with Mark Calabretta (author of wcslib).

[2015-01-28 09:09] mcara commented on #3375
@mdboom Please do so. Even though 12 digits appear to be enough for accurate coordinate computations (e.g., RA & DEC) - definitely within the astrometric accuracy of most measurements, for other computations (such as checking of orthogonality of the CD matrix - see, e.g., #3329, and other computations), we loose some accuracy. There is really no cost (well, except for a few bytes) associated with

[2015-01-28 09:24] olebole opened #3377 "1.0rc1 cannot be built with the current version of astropy-helpers (0.4.4)"
I tried to build the release candidate, but failed with using the current (external) helpers:
If I set
[code]
to use the external helpers, I get
[code]
Could you release an updated astropy-helpers package?

[2015-01-28 09:28] astrofrog commented on #3377
@olebole - the plan was to release astropy-helpers 1.0 just before astropy 1.0. Maybe @eteq or @embray can comment on how we can avoid the situation you describe?

[2015-01-28 09:30] astrofrog commented on #3375
I agree - we should be using 16 digits of precision (if anything, slightly on the larger side than the true precision)

[2015-01-28 09:30] olebole commented on #3377
Could you create an astropy-helpers 1.0rc?

[2015-01-28 09:30] astrofrog commented on #3377
@olebole - I'm not sure if it would help, if it was a hidden release on pypi. Let's see what @embray says.

[2015-01-28 09:31] astrofrog commented on #3376
@scottransom - I wonder if this is a ``jinja2`` version issue. Can you try and upgrade to the latest version of ``jinja2`` to see if it helps?

[2015-01-28 09:34] olebole commented on #3377
I would (need to) create a Debian package for the helper rc, which would not be hidden, but published on Debian experimental, and then use this as build requirement for the astropy rc package (which also would go to Debian experimental). I could also create the experimental helpers package directly from git, but this would require some effort, and it would not make sure that everything finally fit

[2015-01-28 09:43] collioud commented on #3359
Thanks for the quick answer!
Unfortunaltely, this does not seem to solve the issue, since the new objects are considered now as `numpy.ndarray`.

Ex1:
[code]
--> Error raised: `AttributeError: 'numpy.ndarray' object has no attribute 'search_around_sky'`

Ex2:
[code]
--> Error raised: AttributeError: 'numpy.ndarray' object has no attribute 'transform_to'

[2015-01-28 10:00] cdeil commented on #3359
@collioud You're right ... I presumed `np.atleast_1d` would return a `SkyCoord`, but it returns a `numpy.ndarray` object array with individual `SkyCoord` objects inside ... it's not what you want here.

Maybe the simplest would be to change your code to explicitly create array `SkyCoord` until this bug with scalar `SkyCoord` is fixed:
[code]
should give
[code]

[2015-01-28 10:01] cdeil commented on #3359
PS: thanks to this issue I noticed that `search_around_sky` exists and now I'm using it in my own code. :-)

[2015-01-28 10:31] collioud commented on #3359
Thank you Christoph!
It is a really useful function for astronomers who are always trying to find targets inside catalogs.

As far as I understood, results are for the moment ordered by catalog index. Will it be possible (someday) to have a parameter to order by separation and/or distance?

[2015-01-28 10:50] cdeil commented on #3359
Returning indices is the most flexible approach ... it's impossible to cover all the things users might want to do with the match result in Astropy itself.

One option is to store your match results in a [table](http://astropy.readthedocs.org/en/latest/table/index.html) and then to to further operations (like e.g. sort by distance or whatever you like) on the table ... this is what I'm currently d

[2015-01-28 12:17] cdeil opened #3378 "QTable init from list of dict fails for scalar Quantity"
I frequently [create table objects from a list of dicts](http://astropy.readthedocs.org/en/latest/table/construct_table.html#row-data) when computing results one row at a time.

In https://github.com/gammapy/gammapy/pull/235 I've run into this error when I have scalar Quantity objects as values:

[code]

Here's a small example that reproduces the issue:

[code]

Note that these incarnations all se

[2015-01-28 12:57] astrofrog opened #3379 "Rename QTable?"
@taldcroft @eteq @mhvk - just realized that QTable is also the name of a class used in Qt:

http://doc.qt.digia.com/3.3/qtable.html

This could cause confusion in future. Can we consider doing a last-minute rename to ``QuantityTable``? Yes, it's more characters, but it's also a lot more explicit.

[2015-01-28 12:57] astrofrog commented on #3379
(milestoning as 1.0 so we can make sure we discuss it before 1.0 final)

[2015-01-28 13:56] taldcroft commented on #3379
:-1:  I think the namespace overlap here is not a problem because these classes occupy such very different conceptual space.  In other words there would be no question when looking at a bit of code which kind of object was being created.

And of course Python had module namespacing for exactly this kind of situation.  We already have overlapping names like `vstack` and `hstack`, which are probably

[2015-01-28 14:14] taldcroft commented on #3379
Also, the tutorials I've seen for PyQT4 all start with `from PyQt4 import QtGui` as the basic access idiom for all the top-level QT4 widgets.  So then one would use `QtGui.QTable`.

[2015-01-28 14:14] astrofrog commented on #3379
I wouldn't be so sure about the different spaces - imagine that we someday develop a Qt based table viewer in Astropy or an affiliated package, it might start to become confusing because QTable means something specific in Qt. For ``vstack`` and ``hstack``, the ones in astropy and numpy do conceptually the same thing. But here ``Q`` means quantity, which is completely different to Qt. So in that se

[2015-01-28 14:15] astrofrog commented on #3379
At the end of the day, I just wanted to raise this option to also say that ``QTable`` is in itself not a great name because not very explicit, but I won't argue the point more if people are opposed to a change :)

[2015-01-28 14:23] taldcroft commented on #3379
It's just that in this case, `QTable` is something that you are actually going to type and use in code *all the time*, so conciseness is somewhat important.  I already do `QT<tab>` all the time, which turns out to be very easy to type on a QWERTY keyboard.  Instead it would probably become `Qu<tab>T<tab>`, which is actually hard because of the shift key and layout.  I also find `Quantity` a very s

[2015-01-28 14:28] mhvk commented on #3378
@taldcroft - had only the quickest of looks: the problem is that in the last line `data` is a list holding the quantity, rather than the quantity itself. This happens in `_init_from_list_of_dicts`, but I don't quite see why the non-scalar case would work...

[2015-01-28 14:57] pllim commented on #3317
Hmm, those services are up again today...

[2015-01-28 15:29] astrofrog commented on #3379
Ok, I'm fine with leaving things as-is, though maybe we can leave this issue open for another day or so in case anyone else has strong opinions.

[2015-01-28 15:56] collioud commented on #3359
Yes, I tried few things with tables, and it seems I have everything I need...
Thanks again for your help!

[2015-01-28 16:12] pllim commented on #3379
I have seen usage of `from PyQt4.QtGui import *`. In that case, `QTable` might cause confusion and conflict. I am for changing it but it's not critical.

[2015-01-28 16:16] scottransom commented on #3376
Yeah, moving from jinja2 2.6 -> 2.7.3 does fix this.  Although that is strange since from what I've found on the 'net is that "map" has been a jinja2 built-in for ages (since v1.x at least).  Strange...

[2015-01-28 16:17] bsipocz opened #3380 "test failures on 32bit linux"
There are a 11 test failures when I test the master on an old 32bit system.

Some of the fails seem genuine, e.g.
- we don't say in the docs which `scipy` version is required, or check for the version in the test, and obviously 0.10.0 is not enough for the coordinates module
- error of `TypeError: data type "float128" not understood`
- `TypeError: 'buffer' does not have the buffer interface` at se

[2015-01-28 16:34] astrofrog commented on #3376
Very weird - let's leave this open as a reminder to set a minimum version.

[2015-01-28 18:34] sergiopasra opened #3381 "Problems building with use_system_erfa=1 with 1.0.rc1"
When building for Fedora, I pass (among others) the switch use_system_erfa=1

For additional safety, I remove the erfa directory in cextern.
Build worked in astropy < 1.0, use_system_erfa=1 means that the cextern/erfa directory is not ever accessed.

But in 1.0rc1, I get the following error

[code]
It seems to be trying to open a file in cextern, a file that doesn't exist (``cextern/erfa/erfa.h``

[2015-01-28 18:48] embray commented on #3379
I'm in favor of `QuantityTable` (the name, not the class--I never liked the class to begin with).  I don't like "QTable" though.  If I saw that I would think "What on earth is a 'Q'?"

[2015-01-28 18:53] pllim commented on #3379
Q is http://en.wikipedia.org/wiki/Q_%28Star_Trek%29

[2015-01-28 18:59] embray commented on #3377
I had mentioned to @eteq of changing this

[code]

back to

[code]

for now so that there should still be compatibility with the old astropy_helpers.  That will happen before 1.0 final is out.  In the meantime I'm not really sure what to say.

[2015-01-28 18:59] astrofrog commented on #3379
Oh, I thought it was http://en.wikipedia.org/wiki/Q_(James_Bond)

[2015-01-28 19:00] taldcroft commented on #3378
This appears to be a relatively deep issue and we may want to add this to the section on Details and Caveats.  The problem is that for any kind of row-style inputs (either `rows=..` or a list of dicts), the code first assembles each column as a plain list.  It then defers to numpy to coerce this into a numpy array.  This part of the code is basically not mixin-capable because of the general proble

[2015-01-28 19:01] embray commented on #3379
And I don't think 3 keystrokes vs. 2 is a good argument against naming clarity.

[2015-01-28 19:01] taldcroft commented on #3378
Documentation update PR coming shortly.

[2015-01-28 19:06] embray commented on #3381
Not actually necessary, for what it's worth.    But it sounds like the `generate_erfa` script does not play correctly with `use_system_erfa`.

[2015-01-28 19:06] mdboom commented on #3381
The ERFA wrappers are generated directly from the ERFA source code (and not even the headers, but the .c file as well, see https://github.com/liberfa/erfa/issues/24).  Therefore it does need to be available, and it doesn't look for this elsewhere (since this can't be found through pkg-config or other automatic means, as far as I know).  All this needs to happen, even if linking against the system

[2015-01-28 19:09] embray commented on #3380
Hmm.  It's too late to do this for v1.0 I think.  But maybe for v2.0 we should consider dropping support for 32-bit altogether?  Would that even be feasible?  In the meantime these should be fixed or worked around...

[2015-01-28 19:10] mdboom commented on #3381
Correction: But I see it tries to list the `cextern/erfa` directory anyway.  That's not right...

[2015-01-28 19:16] embray commented on #3381
Right--nonetheless the interaction is buggy.

[2015-01-28 19:17] bsipocz commented on #3380
I'm fixing the first one as it's not related to 32bit or 64bit, but how we handle it if only an old version is available from scipy.

However I run into weird stuff with the testing environment which may end up in another issue if I can't figure out how to make it work.

[2015-01-28 19:20] embray commented on #3376
According to the [changelog](http://jinja.pocoo.org/docs/dev/changelog/) the `map` filter was only added in 2.7.  Maybe the map *function* was available as a builtin but not in context as a filter?

[2015-01-28 19:21] astrofrog commented on #3379
As a side note, if we did go with a longer name, there's nothing to stop:

[code]

[2015-01-28 19:21] embray commented on #3376
"I marked this as 'Affects-release' as a reminder that the changelog should also be updated to specify the requirement for Jinja2 >= 2.7 (I think it already mentions Jinja2 but not the version requirement).

[2015-01-28 19:21] taldcroft commented on #3378
#3382 updates the mixin documentation to reflect this known issue.

[2015-01-28 19:22] astrofrog commented on #3376
Although of course, this should only affect the dev version, i.e. the stable version does not require jinja2