[2015-12-10 22:30] embray commented on #4389
Yeah, something along those lines.  I didn't realize it was being automatically fixed though.

[2015-12-10 23:30] #4387 closed

[2015-12-11 02:19] taldcroft commented on #4363
@embray - I have prototyped a locale context-manager implementation inspired by:
 http://stackoverflow.com/questions/18593661/how-do-i-strftime-a-date-object-in-a-different-locale

Questions:
- Do we need to make this thread-safe (thus requiring importing threads)?
- Would this context manager be generally useful so that it should go into utils somewhere?

Some interesting points from https://docs

[2015-12-11 17:25] embray commented on #4385
FWIW I found a few minor test failures when I built and ran the tests on my (somewhat old?) anaconda with Python 2.7.11 32-bit Windows.  I suspect the "32-bit" part is the main reason for the failures, but I haven't checked yet.  I'll update the wiki page with that info.

[2015-12-11 17:29] embray commented on #4171
In Python 2.7.11 32-bit from Anaconda on Windows I got failures in:

* `test_blackbody_overflow`
* `test_blackbody_synphot`

But not in `test_blackbody_scipy`, but apparently only because I didn't have scipy even installed in this environment.  So I'll install that and run the tests again.

[2015-12-11 17:31] pllim commented on #4171
@embray , did you see the latest discussions in #4275 ?

[2015-12-11 21:53] eteq commented on #3519
Release done! https://pypi.python.org/pypi/astropy/1.1

[2015-12-11 21:54] #3519 closed

[2015-12-11 21:55] eteq commented on #4311
stats done as part of the release process

[2015-12-11 21:55] #4311 closed

[2015-12-11 21:55] eteq opened #4395 "Release final v1.2"
[edited by @astrofrog @taldcroft]

There was a list of issues in this issue that had been copied over from the 1.1 issue (#3519) but which also diverged from what we did for 1.2 in the end, so I've moved that to the wiki: https://github.com/astropy/astropy/wiki/Old-to-do-list-for-1.1

Instead, here are some feature pull requests that we might want to exceptionally consider backporting to the 1.2.x

[2015-12-11 23:52] taldcroft commented on #3519
:fireworks:

[2015-12-12 00:00] embray commented on #3519
¯\_(ツ)_/¯

[2015-12-12 00:15] bsipocz commented on #3519
:tada: for 1.1

[2015-12-12 09:06] olebole opened #4396 "1.1 pypi tarball contains `astropy_helpers/build/lib.macosx-10.10-x86_64-2.7/` subdir"
Hi,

the tarball downloaded from pypi contains a leftover from a previous build: `astropy_helpers/build/lib.macosx-10.10-x86_64-2.7/`.

Best

Ole

[2015-12-12 12:48] astrofrog commented on #4396
Sorry about that! @eteq @embray - shall we do a ``post1`` release? Or just ``1.1.1``?

[2015-12-12 12:52] olebole commented on #4396
It is not urgent at all; just to remind to check these things before 1.1.1 :-)

[2015-12-12 22:57] astrofrog commented on #4396
I think that this happened because I included ``build`` before ``sdist`` by reflex (even though it's not needed) as described in step 5 here:

http://docs.astropy.org/en/stable/development/affiliated-packages.html#releasing-an-affiliated-package

for affiliated packages. But I think that ``build`` should be explicitly excluded in the MANIFEST?

[2015-12-13 08:49] royalharsh commented on #4026
https://github.com/astropy/astropy/pull/4397

[2015-12-13 17:04] conor-byrne opened #4398 "fits.open throws up error: 'Could not find appropriate MS Visual C Runtime '"
![image](https://cloud.githubusercontent.com/assets/15220966/11768095/6f58f05e-a1ba-11e5-8c98-4fb9a0ae773c.png)

    Python 3.5.1
    msvc_runtime 1.0.1
    astropy 1.1

Apologies if it's a really simple error on my part. Just can't seem to figure it out.

[2015-12-13 19:44] mwcraig commented on #4398
I'm wondering....how do you really feel about iraf? ;)

Thanks for reporting this. I believe this is the same issue reported in #4342 where the upshot was you can safely ignore the warning for now.

Closing because it looks like a duplicate, but @conor-byrne please reopen if it turns out you can't use the `hdu_list` you created.

@embray, please reopen this if I'm wrong.

[2015-12-13 19:44] #4398 closed

[2015-12-13 22:21] mwcraig commented on #4230
@keflavich -- I wasn't able to reproduce this. Looking at the clip above, is it possible you didn't activate the test environment?

[2015-12-14 06:25] keflavich commented on #4230
I never activate environments, I just use the full path.  I've since resolved the problem by effectively reinstalling everything.  I still don't understand what caused it, but it may have been a conflict between a `python setup.py develop` build that was done before changing numpy versions, or something along those lines.

[2015-12-14 09:14] astrofrog commented on #4230
@keflavich - just to make sure I understand, what is the output of ``which python`` in your above example? Have you set conda to auto-switch to new environments?

[2015-12-14 09:16] astrofrog commented on #4230
Also, if you update the version of Numpy, you need to also re-install all packages built against Python in the same command (e.g. matplotlib, h5py, etc.) - see https://github.com/conda/conda/issues/1841

[2015-12-14 09:19] keflavich commented on #4230
No, I have not set conda to auto switch.   I have a particular env set on my path, and if I want a different one, I explicitly use the full path to that file (i.e., `/path/to/anaconda/bin/python`).

On the second comment - yeah, that is likely to be the source of the problem.  If I understand right, conda will update any installed packages installed through conda, but if I've installed any from so

[2015-12-15 01:06] abhimat opened #4402 "Upgrading to 1.1 via pip fails"
I am getting the following error while upgrading to Astropy 1.1 via pip:

`Command python setup.py egg_info failed with error code 1 in /Users/abhimat/software/Ureka/variants/common/build/astropy`

Any ideas on what’s going on and how I can upgrade?

This is on OS X 10.6.8, and I have Python installed via Ureka 1.5.1.

Thanks!

[2015-12-15 06:50] Kevtron commented on #4339
I think I'd like to take a stab at this, but I'll poke around the the code and read over #4209 tomorrow to make sure I understand.

[2015-12-15 12:26] astrofrog commented on #4402
@abhimat - could you send the full output log?

[2015-12-15 14:19] mhvk commented on #4339
Great! Don't hesitate to ask if things are unclear.

[2015-12-15 15:19] pllim commented on #4402
STScI has been getting a lot of help calls about Ureka and the latest Astropy in the past 24 hours. @jhunkeler submitted a fix in #4401.

[2015-12-15 16:59] eteq commented on #4396
@astrofrog - hmm... I'm pretty sure I did ``python setup.py build sdist`` too when creating the tarball for the core package v1.1, and that did *not* end up with a `build/anything` dir... And the ``MANIFEST.in`` there *does* have a line ``prune build``.  So that's probably it?

[2015-12-15 19:10] abhimat commented on #4402
Here’s the full pip log attached:
[piplog.txt](https://github.com/astropy/astropy/files/63082/piplog.txt)

[2015-12-15 19:14] Kevtron commented on #4339
To clarify the frame, are we looking for essentially a "generalized" galacocentric frame? A la http://docs.astropy.org/en/stable/coordinates/galactocentric.html, but with arbitrary RA and Dec of an object that's not the galactic centre, and without the roll transformation?

[2015-12-15 19:22] zingale opened #4403 "feature request: atomic properties"
A lot of astrophysics deals with atomic or nuclear properties.  Is there any desire to add atomic properties (starting with, for example, element names, atmoic numbers and masses) to astropy?  This would help with computing mean molecular weights and molar fractions, which come up all the time in astro.

[2015-12-15 19:29] pllim commented on #4403
You mean, like https://pypi.python.org/pypi/periodictable ?

[2015-12-15 20:17] eteq commented on #4403
Hmm... I'm not sure we want to have a curated list of all this stuff in astropy itself, but I wonder if we want to consider packaging something like what @pllim pointed to as an `extern` package?  The main reason we might want to add an extra interface is so that it is compatible with `Quantity`/`astropy.units`. it looks like it probably wouldn't be too much work to add a layer over that package a

[2015-12-15 20:30] pllim commented on #4403
Maybe start as an affiliated package that is a wrapper around it? What if its development is stopped? What if its API changes?

[2015-12-16 02:36] zingale commented on #4403
I'll poke around periodictable, which might be something nice to build upon.

On Tue, Dec 15, 2015 at 3:30 PM, P. L. Lim <notifications@github.com> wrote:

--
Michael Zingale
Associate Professor

Dept. of Physics & Astronomy • Stony Brook University • Stony Brook, NY
11794-3800
*phone*:  631-632-8225
*e-mail*: Michael.Zingale@stonybrook.edu
*web*: http://www.astro.sunysb.edu/mzingale
github: http:

[2015-12-16 10:52] crawfordsm commented on #4403
Also check out https://github.com/astropy/astroquery as that has access to atomic databases via querying NIST as well as other libraries

[2015-12-16 14:35] pllim commented on #4403
Thanks, @crawfordsm . I see some promising ones under http://astroquery.readthedocs.org/en/latest/#other but I can't tell if they have all the requested info (like molecular weights) from the examples alone. Worth checking these out, @zingale .

[2015-12-16 14:46] pllim commented on #4402
I think this is the source of the problem. Something is missing...

[code]

[2015-12-16 15:47] astrofrog commented on #4402
@abhimat - can you do ``echo $CC``?

[2015-12-16 18:25] eteq commented on #3275
A relevant mailing list exchange:

    gst = self._erfa_sidereal_time(available_models[model.upper()])
  File "/Users/joshw/anaconda/lib/python2.7/site-packages/astropy/time/core.py", line 539, in _erfa_sidereal_time
    for jd_part in ('jd1', 'jd2')]
  File "/Users/joshw/anaconda/lib/python2.7/site-packages/astropy/time/core.py", line 704, in __getattr__
    tm._set_scale(attr)
  File "/Users/jos

[2015-12-16 21:37] abhimat commented on #4402
It prints out `cc`. Should I set `$CC` to `clang`?

[2015-12-16 21:45] abhimat commented on #4402
Setting `$CC` to `clang` appears to solve the issue. Thanks for all your help!

[2015-12-16 21:54] astrofrog commented on #4402
@abhimat - you could also have unset ``$CC`` I think. I'm not sure why some people have it set to ``cc`` do you have any ideas where that came from?

[2015-12-16 22:30] abhimat commented on #4402
It gets set to `cc` when I run `ur_setup` for Ureka

[2015-12-16 22:39] astrofrog commented on #4402
Huh, that doesn't seem right

@jehturner, can you comment on this?

[2015-12-17 03:06] pllim commented on #4402
Uhhh you mean @jhunkeler?

[2015-12-17 07:04] astrofrog commented on #4402
@pllim - I meant @jehturner because I thought he might know the reason for this (as one of the Ureka authors)

[2015-12-17 08:30] cdeil opened #4405 "Table.read for Path objects and FITS files"
I got this error message (see also #4165):
[code]

The reason is that I used a `pathlib.Path` object, which doesn't work for filenames with Astropy.

I don't know if it would be desirable to make Astropy table and fits work with pathlib.Path objects in addition to filename strings.

But I noticed this, which maybe could be considered a bug?
[code]
[code]
The `overwrite=True` argument to `Table.wri

[2015-12-17 14:09] taldcroft commented on #3275
As mentioned we're looking for volunteers.  But if nobody steps up in the next month or two I will put this on my plate for astropy 1.2 and see if I can put together something that fills this need.

[2015-12-17 16:15] jehturner commented on #4402
I believe it's there for IRAF compilation. It was probably put there by Mark serveral years ago and I'm not certain what happens if it's unset but it wouldn't surprise me if it causes IRAF builds to fail. When we initially did this stuff, there wasn't actually much expectation of users compiling things as a matter of course but then pip came along...

We should probably reconsider these environmen

[2015-12-17 19:53] embray commented on #4396
That shouldn't have been there--you need to make sure to clean your astropy_helpers submodule too--`git clean` does not go into submodules.

I'll release a new tarball with .post1

[2015-12-17 20:31] embray commented on #4396
It occurs to me now that we should also add to the release documentation procedures for making and uploading post-release tarball.  I started out doing this by updating the version in the setup.py and tagging a new release, going through the full procedure again.

But that means that users who install this will see `astropy.__version__` as `v1.1.post1` but I don't want to confuse them with that, s

[2015-12-17 20:55] embray commented on #4396
Okay, here's what I wound up doing:

1. Check out the v1.1 tag-- `$ git co v1.1`
2. Make sure the source is clean-- `$ git fresh; (cd astropy_helpers && git fresh)` (note: `git fresh` is an alias I use that's equivalent to `clean -d -f -x -e .tox` so that it preserves my local tox envs)
3. Temporarily edit `setup.py` to set `VERSION = '1.1.post1'`. DO NOT COMMIT.  Instead, just run `./setup.py bui

[2015-12-17 20:55] embray commented on #4396
Also for posterity the new release is at https://pypi.python.org/pypi/astropy/1.1.post1

[2015-12-17 20:55] #4396 closed

[2015-12-17 21:51] embray commented on #4402
I'm going to go ahead and close this since it's due to a known issue that already has a workaround.  Thanks.

[2015-12-17 21:51] #4402 closed

[2015-12-18 10:14] defjaf opened #4406 "1.1.post1 naming doesn't work with pip"
When I `pip install --upgrade astropy`, it downloads and installs just fine, but `pip` somehow doesn't realise that it's happened, and it shows up again if I do `pip list --outdated`.

I'm on OS X, with python.org python 2.7.11 or 3.5.1

		% pip list --outdated
		astropy (Current: 1.1 Latest: 1.1.post1 [sdist])

		% pip install --upgrade --no-deps astropy
		Collecting astropy
		  Using cached astr

[2015-12-18 10:17] olebole commented on #4406
FYI, this is connected to #4396.

[2015-12-18 13:13] pandasarebest opened #4407 "Error 7 and Error 4 when trying to read a fits file."
Hi there. I have recently had to convert png files to fits, so i did that using the following code:

import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import Image
import pyfits
import os
import aplpy
from astropy.io import fits
from astropy import wcs

dir=raw_input('Enter Directory address here:')
os.chdir(dir)
dirlist=os.listdir(dir)
filelist = sorted([s for s

[2015-12-18 13:27] nden commented on #4407
The value of `CRVAL2` does not look correct. It should be between -90 and 90, right?

[2015-12-18 13:34] pandasarebest commented on #4407
Thanks for pointing that out to me. I can't believe I didnt spot that.

Now I have the problem that when I sun the next piece of code:

import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import Image
import pyfits
import os
import aplpy
from astropy import wcs

dir=('/home/simon/PROJECT/Github/Test/Test1')  #where you saved the fits
os.chdir(dir)
dirlist=os.listdir

[2015-12-18 13:45] #4407 closed

[2015-12-18 13:46] pandasarebest commented on #4407
Successfully rolled back my code, and now everything works fine. Thanks nden for pointing out the stupid mistake i made.

[2015-12-18 14:19] astrofrog commented on #4406
@embray - any ideas why this is happening?

[2015-12-18 16:45] pllim opened #4408 "Unable to fetch submodule path astropy_helpers"
In my `astropy` fork, I can no longer update `astropy_helpers` after I rebase to dev master. What did I do wrong? :frowning:

[code]

[2015-12-18 16:46] eteq commented on #4344
@hamogu - the answer to your question thus far is no.  *But* we really do want that feature, so this is something that would be nice to target for 1.2.

A few thoughts about this, in no particular order:

* It's a *feature* that you can't update coordinates the way you're wanting here - there's a lot of subtleties in deciding how to relate coordinate frames to proper motions - that is, are you *al

[2015-12-18 19:32] danielsf opened #4409 "Time.get_delta_ut1_utc() is not consisent with Time.ut1.value-Time.utc.value during leap seconds"
If I instantiate an astropy.time.Time instance in the middle of a day in which a leap second occurs and then calculate dut1 using get_delta_ut1_utc(), I get different (often by a minus sign) values than if I calculate the dut1 using ut1.value-utc.value.

The script below demonstrates what I mean.

utc_list is a list of JD's selected from the list of leap seconds published at

http://maia.usno.navy

[2015-12-18 20:13] mhvk commented on #4409
@danielsf - the problem here is the comparison between to `value` that you are doing.  Given that you set `format='jd'`, the `value` you get is a julian date. For UTC, this has an odd but well-defined result, which is that, as you in fact use, on days with leap seconds, one day equals 86401 seconds:
[code]
However, this is *not* true in other time scales. A UT1 JD always has 86400 s seconds (becau

[2015-12-18 20:27] danielsf commented on #4409
Thanks.  Sorry for the confusion.

I'm not sure that anything needs to be added to the astropy documentation.  My confusion arises more from the 'documentation' of the various time systems.  For example, I was not aware that the JD was defined to always be 86400 seconds in UT1.  Actually, I haven't managed to find a reference that defines the length of a day in any of the interesting time scales -

[2015-12-18 20:34] mhvk commented on #4409
The second is 1/86400 of a day in all time scales *except* UTC. Which of course happens to be the one we use most...  I don't have a particularly good reference beyond those @taldcroft added to the `Time` documentation: http://docs.astropy.org/en/latest/time/index.html#time-scale

Anyway, I'll close this issue -- feel free to re-open if you have further questions. And please don't hesitate to rais

[2015-12-18 20:34] #4409 closed

[2015-12-20 19:40] adrn commented on #703
FYI: I implemented something like this [in one of my own packages](http://gary.adrian.pw/en/latest/units.html) as a trial implementation / demo of one possible way to do this. In my `UnitSystem` object, you can override base unit combinations by specifying composite units. For example, this unit system would always convert down to combinations of base units:

    <Quantity 0.015340682475805617 kpc

[2015-12-21 17:24] embray commented on #4406
This appears to be an artifact of [how I build the 1.1.post1](https://github.com/astropy/astropy/issues/4396#issuecomment-165579651) source distribution, in such a way that the package version is still just "1.1" and not "1.1.post1".  This was out of a desire to publish a new source tarball release without actually increasing the package version, since there is no actual difference in the package.

[2015-12-21 17:47] embray commented on #4406
Okay, I've pushed astropy 1.1.post2 which fixes this.

I made the new release by the following procedure (which should supersede the one I described in #4396):

1. Check out the original release tag: `$ git co v1.1`
2. Clean the git checkouts: `$ git clean -dfx; (cd astropy_helpers && git clean -dfx)`
3. Manually edit the `VERSION = ` line in setup.py to `VERSION = '1.1.post2'`.  This ensures that

[2015-12-21 17:48] #4406 closed

[2015-12-21 18:06] embray opened #4411 "Improve "building from source" documentation for Linux"
I've had at least a few people trying to install Astropy on Linux not realizing that a missing "Python.h" means they need to install the python development package for their system.  The current documentation simply reads

and then goes on to give lots of OSX-specific instructions.  It does not give any more information for Linux.  In the past I've been hesitant to pile on too much information for

[2015-12-21 21:51] embray commented on #4398
@conor-byrne As @mwcraig wrote it's a known issue.  You can ignore the warning--it's not important unless you're passing in an open file object to `fits.open` (as opposed to just a file name), and even then it's not that important.  Please continue telling IRAF where it can stick it :)

[2015-12-21 21:53] embray commented on #4342
Also, it occurs to me that this warning is coming up in contexts where it's really pretty irrelevant.  It is only relevant when opening the file with `mode='append'`, and passing in an open file handle.  The code here is trying to determine that the raw file handle was opened in append mode (or at least write, in which case we can emulate append).  In the case of just passing in a filename we don'

[2015-12-21 22:52] embray commented on #4403
I could see a good argument for having this.  Agreed with the comments of @pllim and @eteq that it would be a significant new effort and might be best not tackling from scratch, but at the same time should be done in a way that interfaces nicely with the existing Astropy units/constants.  I'd be hesitant at this very early stage to make any prognostications about level of effort since we don't rea

[2015-12-21 23:13] embray commented on #3275
This aspect would be solved for free if someone worked on #3961.  If there are aspects to this *specific* to IERA data that can be worked on separately, or solved easily in the near term that's fine too.  But in general if you want the cache to be updated when it's appropriate to do so #3961 is your answer, not an ad-hoc expiration time.

[2015-12-22 02:06] taldcroft opened #4412 "Path objects not supported in low-level I/O packages"
In at least `io.ascii` and `io.fits` (and perhaps `io.votable`) one gets unexpected exceptions if a Python 3 `Path` object is passed as the file name.  This was first noted in #4405, where a partial fix was put in place in the I/O registry layer to translate a `Path` object to a string.

In general a `Path` object should be accepted anywhere a file object is accepted.  At least that would be the t

[2015-12-22 15:46] pllim commented on #4403
For astronomy, we only really need `H_alpha`, right? Right? :wink:

[2015-12-22 16:35] Kevtron commented on #4339
@eteq said

would it make sense to have

[2015-12-22 17:17] giorgos314 commented on #4411
This sounds a nice issue I can work on for my first contribution. Should I start? Where should I start from?

[2015-12-22 17:46] mhvk commented on #4411
@giorgos314 - that would be great!  I think the main thing is simply write down your own experience in setting up astropy for development (for me, it is too long ago to remember the pitfalls I encountered...). While @embray is right that it will not be easy to have something that works for all linux versions, my sense would be that if we cover Debian/Ubuntu and Redhat/CentOS we've covered most.

S

[2015-12-22 19:56] giorgos314 commented on #4411
Perfect, I have a lot of ideas - will submit a PR when ready.

[2015-12-23 15:45] embray commented on #4411
@mhvk I don't want to add anything to this section on virtualenvs or anything like that.  Just note how to install python-dev packages on deb and rpm based systems (as you suggested) and reorganize the existing test as I indicated in the OP.

[2015-12-23 15:56] embray commented on #4409
Indeed, the `.value` of different times in different scales should not be compared directly--it's akin to dropping units.

[2015-12-23 16:00] embray commented on #4408
I don't know--if it's still a problem I can come have a look, but this isn't an issue for astropy.

When you clone your fork you should delete the 'master' branch in your fork and then `git checkout --track upstream/master` so that you have a 'master' branch that tracks with the upstream repo.

[2015-12-23 16:00] #4408 closed

[2015-12-23 16:03] mhvk commented on #4411
Yes, agreed, if only to not add parts there that are not linux specific anyway.

[2015-12-23 18:01] pllim commented on #4171
Since #4393 is merged, can we close this?

[2015-12-23 18:03] pllim commented on #3242
Blackbody tests are fixed in #4393, so I updated the relevant checkbox above. FYI.

[2015-12-24 00:00] mrobberto commented on #4006
the functionality is present in pandas "to_html" writer. A pandas table "pd" containing html links can be printed to html setting "escape=False"
pd.to_html('fileout.html',escape=False)
Unfortunately, pandas writes vanilla html without sorting headers etc., so it would still be nice to get this added to astropy

[2015-12-24 15:05] pllim commented on #4006
c/c @taldcroft ?

[2015-12-24 15:45] pllim commented on #4408
I couldn't figure it out either. I deleted my local directory tree and recloned the whole thing. Now the error is gone.

[2015-12-24 15:46] pllim commented on #4408
By the way, my fork does not have a `master` branch. I renamed it to something else. The setup has worked for me the past few years, so I don't think that was the problem. Anyway, thanks.

[2015-12-24 18:06] embray commented on #2190
This is partly implemented via bounding boxes in #3909.  The difference is that bounding boxes only give lower and upper bounds on which to evaluate the model--which are obviously points that would be included in the sample set.  But I think it shouldn't be hard, and in fact would be beneficial, to expand the bounding box functionality to allow it to return some arbitrary set of points on which to

[2015-12-24 18:09] pllim commented on #2190
I wouldn't call it "arbitrary". Sampleset should be designed to optimally sample the given model. For example, in a Gaussian, it should tightly sample around the peak; For a box, it samples the edges; For a straight line of constant amplitude, it is not applicable (`None`?).

[2015-12-24 18:11] embray opened #4414 "Compound model expressions not displayed when printing compound model instances"
Currently, if you create a compound model class and then print it out, the display of the class shows the expression that was used to create it:

[code]

Here the expression is shown as `[0] + [1]`, where the numeric indices are used for terseness.  One can then look at the list of components to see what each component of the expression is.  I've long held that this display could be improved, but

[2015-12-24 18:57] embray commented on #4171
Yes, thanks for the reminder @pllim

[2015-12-24 18:57] #4171 closed

[2015-12-24 18:59] embray commented on #3242
Ah, I forgot about this issue yet again.  I'll have to see if I can debug the FITS one at some point.

[2015-12-24 19:00] embray commented on #2190
@pllim For a specific model it wouldn't be arbitrary.  But the general capability would be a property/method similar to bounding_box but that allows an arbitrary number of points in general (as opposed to just bounds).

[2015-12-26 00:41] keflavich opened #4415 "ecsv round trip failure"
I've encountered a round-trip failure using ecsv files:

[code]

resulting error:
[code]

[2015-12-26 12:29] taldcroft commented on #4415
Fundamentally this is due to the column `p` that has all blank values, in conjunction with a behavior of the `csv` module writer that surprises me:
[code]
In other words the csv.writerow() function does not quote a completely empty string.  This is OK if you are literally splitting on a single space character later when reading, but in our case (and in most CSV parsers) you allow for any contiguou

[2015-12-26 13:57] sudheesh001 commented on #4361
After fixing this as @eteq pointed out, When I open the documentation I do not see the `Edit on github` link at the bottom as mentioned and I believe this is right since this page is generated ?
Should this be linked to `astropy.stats.poisson_conf_interval.rst` but that file is a generated file in `api/*` ?

This was the result of building the docs, has something gone wrong ?
[code]
Here's the git

[2015-12-26 16:34] giorgos314 commented on #4411
well, I guess someone else fixed it already.......

[2015-12-26 17:49] sudheesh001 commented on #4411
Sorry about that @giorgos314 I didn't really read through all the comments before starting off, realized it once I finished.

[2015-12-26 18:19] giorgos314 commented on #4411
It's ok :) @sudheesh001

[2015-12-27 17:55] rankinstudio opened #4418 "Compiling Astropy Six Module?"
I have tried cx freeze, py2exe, and pyinstaller. They all return the same error stating the Astropy requires the six module and it should be bundled with it? Is there any way to compile astropy into a distributed windows exe?

Thanks!!

python 3.4.3 pyinstaller 3

Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

    "distribution.".format(_SIX_MIN_VERSION)

[2015-12-27 20:15] taldcroft commented on #4415
Fixed by #4417.

[2015-12-28 00:45] rankinstudio commented on #4418
As a temp solution for those running into this error, you can use Pyfits with pyinstaller to compile an EXE which can read fits files.

[2015-12-28 11:14] ycopin opened #4419 "Issue while subclassing astropy.modeling.core.Fittable1DModel"
In this [gist](https://gist.github.com/ycopin/cd07f3c6fe3b8b024fba), I tried to implement the Gauss-Hermit expansion (e.g. [van der Marel & Franx 1993](http://adsabs.harvard.edu/abs/1993ApJ...407..525V)) from standard `Gaussian1D` and newly implemented polynomial class `Hermite1D`.

Yet, this simple example does not work for some **unknown** reasons: the parameters of the model are just not update

[2015-12-28 16:17] embray commented on #4419
I don't think it's a very simple example, and I provided some feedback in the original gist a long while ago.

Implementing polynomial-like models that take different numbers of parameters depending on some attribute like their degree or order is still tricky business.  I've also had a lot of conversations with @wkerzendorf about this.  You may be interested in evaluating my experimental PR for up

[2015-12-28 16:17] #4419 closed

[2015-12-28 16:27] embray commented on #4418
It's not a trivial thing to do.  It's going to require some changes in Astropy, as well as probably a PyInstaller hook.  I got this working once before for WebbPSF but it required deep knowledge and some tweaking.  See #960 for the existing discussion.  I worked on this a couple years ago but there hasn't been enough demand to see this through as something that will "just work".  If you want to tr

[2015-12-28 16:27] #4418 closed

[2015-12-28 16:30] embray commented on #4418
(As for the specific issue with the `six` module you will find many examples of this in the course of trying to bundle a complex package like Astropy using PyInstaller or its ilk--these programs *attempt* to determine what files and modules will be used by the package *by* your executable, and strips packages down to what it thinks is the bare minimum.  But it's making guesses here and those guess

[2015-12-28 17:21] rankinstudio commented on #4418
Thanks for the reply Embray. I was able to accomplish what I needed by including pyfits instead of astropy. Cheers!

[2015-12-28 18:17] embray commented on #4418
@rankinstudio Okay, but you should be aware that support for pyfits as a standalone package is effectively ended.

[2015-12-28 22:10] ycopin commented on #4419
I take your point that this issue is not specific enough, but I still wonder how I should proceed on this specific issue which, as you mentioned, is rather old. Any hope with `astropy.modeling.custom_model`? (but the number/name of parameters have to be known a priori)

[2015-12-28 22:24] embray commented on #4419
I'll see if I can implement your example myself.  I think that what's really needed here is better support for subclassing polynomial models.  #4049 made some progress on that but I haven't fully tested.

[2015-12-28 22:36] embray opened #4420 "Add Windows specific build instructions"
Over in #4411 I recommended improving the "Build from source" instructions to break it up into per-platform subsections, including a section for Windows.

However, as I noted in https://github.com/astropy/astropy/pull/4416#issuecomment-167670065 there are not currently _any_ build instructions for Windows.  Only a handful of us, perhaps myself and maybe @mwcraig have direct experience with this an

[2015-12-28 22:39] embray commented on #4411
@sudheesh001 @giorgos314 If one of you wants to work on this issue please see the update to the description which added checkboxes for what should be included in a fix to this.

[2015-12-28 22:42] embray commented on #4361
Where did the edit_on_github sphinx extension come from?  Did you write that @eteq?  It looks like the `edit_on_github_skip_regex` option doesn't actually work properly.

[2015-12-28 22:49] embray commented on #4361
Or actually, more importantly, what it looks like is this extension always fails on documents that match the default regex of `_.*`, but more by accident by anything else.  We skip those on Astropy because in the Astropy docs there are some generated pages that happen to start with `_`.  But there's no reason that needs to be the case for some arbitrary project's docs either.

I think instead `htm

[2015-12-28 23:35] embray commented on #4415
Why does the table returned from astroquery contain bytes strings?  Does it not up-convert string columns to unicode strings?

[2015-12-29 15:36] nden commented on #4419
@ycopin @embray Perhaps the easiest way to do this model (may not be the most efficient) is to use a combined model. I left an example of this in the gist. Let me know what you think.

[2015-12-29 21:33] #4361 closed

[2015-12-29 21:57] taldcroft commented on #4006
Definitely :+1: on the idea.  I've wanted this myself a few times, so a PR would definitely be welcome.

[2015-12-29 22:04] mwcraig commented on #4420
I can help on the Windows/anaconda/MSVC side. Compiler setup for MSVC is easy two cases these days: python 2.7, and 3.5+. I'd prefer skipping python 3 lower than 3.5 (or maybe just refer people to the setup instructions from the cython wiki) because setup is so convoluted...

[2015-12-30 01:50] taldcroft commented on #4006
See #4423 for code.

[2015-12-30 16:03] embray commented on #4420
For Python 3 lower than 3.5 I don't think it's so bad--you just need Visual Studio 2010 Express if I recall correctly (I might not though).
I continue to this day to kick myself for not taking copious notes last time I set up my Windows build environment.  In any case I agree that focusing on Python 3.5+ is best, and linking to the Cython docs for others sounds fine.

[2015-12-30 17:16] embray commented on #4420
@mwcraig It occurs me to now you must be talking about this: https://github.com/astropy/ci-helpers/blob/master/appveyor/windows_sdk.cmd  I guess I didn't think of it as "so bad" since I set this up a while ago.

[2015-12-30 17:41] mwcraig commented on #4420
@embray -- it isn't the build environment setup so much -- that is necessary in python2 for 64bit builds too. It is more the installation instructions here: http://blog.ionelmc.ro/2014/12/21/compiling-python-extensions-on-windows/#for-python-3-4

I think you can just install the SDK, which isn't as bad. I made the mistake of installing MSVC 2010, then had to follow (microsoft's!) instructions to u

[2015-12-30 23:02] mhvk commented on #4293
Looking over old issues/PRs: I checked the suggestion of @eteq that perhaps the changes introduced by treating k as radians while it was meant to be in degrees were too small to be noticed. Unfortunately, this is not true: `test_fk4_no_e_fk4.py` and `test_galactic_fk4.py` fail if I convert `k` to radians (independent of whether I normalise `r` properly; curiously, `test_fk4_no_e_fk5.py` works with

[2015-12-30 23:02] embray commented on #4420
Same. Incidentally I also got errors when trying to uninstall the the old runtimes too, sending me deeper into a MS knowledge base hole, but eventually worked it out.

[2015-12-30 23:05] mhvk commented on #4293
See https://github.com/astropy/astropy/compare/master...mhvk:abberation-e-terms?expand=1 for my trials

[2015-12-31 15:01] taldcroft commented on #3275
@mhvk - I'm having a look at this.  I do not have the time or inclination to do #3961, but I think that our problem is much simpler because we have prior knowledge of update cycle for the bulletins.

My first question is more basic: can we just use IERS-A always?  I don't have a full understanding of everything in the A and B bulletins, but it appears that A is a superset of B (at least for how it

[2015-12-31 15:04] taldcroft commented on #3275
OK, I do now see that the B values start in 1962 vs the A values in 1973.  That could be easily handled in a way that is transparent to users.

[2015-12-31 18:01] mwcraig commented on #3242
Thanks for the reminder, the flag collection test is no longer skipped.

[2016-01-01 14:02] taldcroft opened #4426 "Download cache shelve file is same on Python 2.7 and 3.5 => crash"
When downloading a file with caching, first on Python 2.7 and then subsequently on Python 3.5, it generates an exception.  This is apparently related to https://github.com/astropy/astropy/commit/2f1a83e97aff21a3b474b41c1e625b1e8a18ee86, which adds the suffix `'.db'` to the file name for Python 3 only, whereas is appears the shelve backend I happen to be using does the same on Python 2.
[code]

[2016-01-01 14:25] taldcroft opened #4427 "clear_download_cache() does not work in Python 2.7"
In Python 2.7, clearing the download cache runs into two problems, related to #4426.  First:
[code]
This is because the shelve file name *without* the `.db` extension is removed if it exists (which it doesn't, but that is not caught in the code).  This relates to a fundamental issue with shelve on Python 2, which is that you don't know (and cannot determine in general) the name of the backing data

[2016-01-02 19:26] Kevtron commented on #4339
Hold on, looking at this again after the break, do we even need the distance?

[2016-01-02 20:48] bsipocz opened #4429 "Remove AstropyDeprecationWarning from astropy.fits.header"
I would leave this low hanging fruit for a newcomer: the warning in L231 in ``astropy/fits/header.py`` is around for a very long time so the next version (which is also an LTS) seems to be a good place to get rid of it finally.

What do you think @embray?
(I run into this when testing an affiliated package where deprecations are raised as exceptions during tests, and making the code deal with KeyE

[2016-01-03 16:10] Pratik151 commented on #4429
@bsipocz  Hello, I am new to Astropy community and would like to contribute. I think this small task is perfect for me.

So I should remove the warning and raise KeyError?

[2016-01-03 16:15] bsipocz commented on #4429
@Pratik151 - The KeyError is already there, so you only have to remove the warning and make sure the error is always raised.
However I would wait for @embray's thoughts about this whole issue before doing any work.

[2016-01-03 16:23] Pratik151 commented on #4429
@bsipocz  Ok got it and I will wait for him before making pull request.

[2016-01-03 16:47] mhvk commented on #4339
@Kevtron - yes, in principle, the distance could be useful too, though for most applications the coordinates will just be `UnitSpherical`.

[2016-01-03 18:19] bsipocz opened #4430 "Disable raising deprecations as exceptions in runtime dependencies"
It would be great to have a way to only enable raising the deprecations as exceptions in the tested packages and not in upstream dependencies (affiliates use `astropy.tests.pytest_plugins.enable_deprecations_as_exceptions` to do this, thus I open the issue here).

I got an exception when testing numpy 1.10 with gammapy and it's dependency (sherpa) triggered a numpy `DeprecationWarning` that made t

[2016-01-04 00:49] jobovy commented on #703
I'm looking into using the Units framework for [galpy](https://github.com/jobovy/galpy) and stumbled on this issue; obviously having a ``galactic`` unit system would make that support much easier!

I only glanced through the thread, but wouldn't many of the issues raised her be resolved by *not* having time as a fundamental unit (i.e., just have length and velocity; similar t WD_units in NEMO)? If

[2016-01-04 13:13] astrofrog opened #4431 "Remove default cosmology functionality?"
Since we now no longer have a functional interface in astropy.cosmology, is there still any sense in keeping the `default_cosmology` configuration parameter?

cc @aconley @nhmc

[2016-01-04 15:02] embray commented on #4430
I have mixed feelings about this.  On one hand I want to know about warnings coming from my dependencies too, because users are probably going to see those warnings, which means it becomes my job (unfortunately) to report them to the upstream dependencies.  I'm less likely to notice.

On the other hand I've been annoyed by this too and it would be good to have an option for this.  In fact I'd be i

[2016-01-04 15:59] embray commented on #4429
I agree the warning should be removed and that `del header['MISSING']` should always raise a `KeyError`.

However, I have had some complaints about this change in the past--there was a lot of legacy code that deleted keywords and didn't care if the keyword was there or not.  That code has had to be wrapped in `try/excepts` everywhere.  While I stand by the logic of the change, I can appreciate the

[2016-01-04 16:12] Pratik151 commented on #4429
@embray I would like to work on this. So what i understood is : we should remove the warning and always raise KeyError and change the Header.remove such that it includes two new optional arguments as you described. Do we need to change any other things also?

[2016-01-04 16:17] embray commented on #4429
@Pratik151 I think that's it for now.  Maybe there's also something in the docs that needs updating but I'm not sure.

[2016-01-04 16:20] embray commented on #4427
The subdirectory idea sounds viable.

[2016-01-04 16:26] Pratik151 commented on #4429
Ok. Will look into docs also and send PR for review.

[2016-01-04 16:32] Kevtron commented on #4339
I believe I've got it working, I'll make a PR once I've written up some tests

[2016-01-04 16:37] taldcroft commented on #4427
Yes, and maybe having something like `download_db/py2/` and `download_db/py3/` directories would work for #4426.  Unfortunately this means that files can get downloaded twice (as previously mentioned in discussions of using a different persistence method for the cache names / data).

[2016-01-04 16:46] embray commented on #4427
I think that for now the double download problem will only be an issue for a minority of users though.  It's mostly just those of us doing heavy development that are using multiple Python versions on a regular basis, I imagine...

[2016-01-04 16:46] embray commented on #4429
Thanks @Pratik151

[2016-01-04 16:49] larrybradley opened #4433 ""al" unit conflict"
The `astropy.units.cds` module (https://astropy.readthedocs.org/en/stable/units/index.html#module-astropy.units.cds) tries to define an `al` unit as a lightyear (apparently from http://vizier.u-strasbg.fr/cgi-bin/Unit).

However, `u.al` actually returns atto-liters.

I've never used either of these units, but it came up during today's tutorial at the AAS.

cc: @taldcroft, @adrn, @eteq

[2016-01-04 16:55] embray commented on #4433
I'm not sure, but I believe it cases like this it's necessary to use `cds.al`, not `u.al` directly.

[2016-01-04 17:02] embray commented on #4433
And to be clear, `astropy.units.__init__` doesn't even import the `cds` units into the main `astropy.units` namespace.  So I think this is as intended.

[2016-01-04 17:06] larrybradley commented on #4433
Yes, one has to:

[code]

I think the user (and then me) just saw the unit in the table and tried to use it as `u.al`.

[2016-01-04 17:06] #4433 closed

[2016-01-04 17:08] mhvk commented on #3275
@taldcroft - I think using IERS B values from the IERS A bulletins should be fine (although, annoyingly, I don't think they have the same number of significant digits; I recall finding that, therefore, entries were not strictly identical). The main reason I stuck to IERS B is that I wanted to ensure that by default, one either got a reproducible result or none at all, i.e., I wanted to avoid using

[2016-01-04 17:17] embray commented on #4433
I wonder if the documentation could use clarification as to which units are in the `astropy.units` namespace.  I can see how that would be confusing since each submodule has a separate units table, but there isn't a "main" table listing all the units defined by default in the main namespace.

[2016-01-04 18:22] embray opened #4434 "Change release documentation to use twine instead of setup.py upload"
It seems that at least part of the "right" solution to [my post-release woes](https://github.com/astropy/astropy/issues/4406#issuecomment-166372262) is to prefer using [twine](https://pypi.python.org/pypi/twine) to upload distributions to PyPI, rather than using `setup.py upload`.

Twine can and should also be used to register distributions (as an alternative to `setup.py register`) though the doc

[2016-01-04 18:41] sirpercival opened #4435 "feature request: robust model fitting"
In the dev version of scipy.optimize, [least_squares](http://scipy.github.io/devdocs/generated/scipy.optimize.least_squares.html) allows for outlier-resistant nonlinear least-squares regression through the "loss" keyword, as per [this tutorial](http://scipy-cookbook.readthedocs.org/items/robust_regression.html). Can the astropy.modeling fitters please make use of this functionality?

[2016-01-04 19:17] embray commented on #4435
Two of my plans for the astropy.modeling fitter refactoring have long been:

1. Make it straightforward to wrap arbitrary optimizers in `scipy.optimize`, and include out of the box implementations for all or most of them.

2. Include in the standard interface for all fitters the ability to pass additional arbitrary arguments (as keyword arguments) to the underlying implementation.

That would cove

[2016-01-04 19:20] embray commented on #4435
I've changed the name of this issue to reflect the fact that this can already be done in the existing framework by writing one's own `Optimizer`, and creating a `Fitter` that uses it.

However I agree that the requested functionality should be in the core package, but any implementation that implements in the core should strive to completely eliminate the boilerplate for wrapping scipy.optimize fu

[2016-01-04 21:32] royalharsh commented on #3505
Changes should be column.py and test_column.py ?

[2016-01-04 22:57] embray commented on #4429
I was pretty sure there was already an issue about this, but I couldn't find it before.  Here it is: #2594

[2016-01-04 22:59] embray commented on #2594
Apparently I never did fix this.  But per #4429 I would like to remove the deprecated old functionality once and for all, which would make this issue moot.

[2016-01-04 23:05] embray commented on #2564
Went to see if this is still an issue.  On Python 3.4+ it doesn't seem to be a problem.  On Python 2.7 however I just get:

[code]
So that's a problem....

[2016-01-04 23:10] embray commented on #2564
And the problem seems to be caused, in this case, by the same issue.  Which is that `os.path.join` blows up when mixing unicode and non-unicode paths.  So we have to be careful about that.  I will fix the issue on the Astropy end, and then we'll see if it still blows up Cython too...

[2016-01-04 23:12] embray commented on #2564
Yeah, still a problem in Cython too.  Though I need to double check whether it's because of something we're passing in to Cython, or just a problem internal to Cython.

[2016-01-05 14:53] taldcroft opened #4437 "io.ascii CDS reader requires at least 2 description characters"
In the ReadMe, the Explanations column must have at least two characters to get properly recognized by the regex.  A column descriptor with no characters at all after the name is skipped entirely.  The example below will not read correctly:
[code]
Here is the regex:
[code]
It isn't clear if this explanation column is required, but we should make it optional just in case.

[2016-01-05 15:41] sirpercival commented on #4435
What about (for the moment) implementing a custom_fitter along the lines of custom_model? Fitters in general seem to be much simpler than FittableModels, so such a wrapper would probably be pretty straightforward, right?

[2016-01-05 16:07] nden commented on #4435
The `__call__` method of most fitters already takes `**kwargs` and passes them to the optimizer. For some reason this is not true for `LevMarLSQFitter`. Adding `**kwargs` to `LevMarLSQFitter.__call__` and passing them to `optimize.leastsq` should solve this issue, I think.
Note that in the `LevMarLSQFitter` the optimizer and the statistics are not separate as it uses `scipy.optimize.leastsq`.

Thi

[2016-01-05 19:37] sirpercival opened #4438 "Sometimes creating compound models doesn't preserve parameter.fixed"
Look what I found. This one is ok:

[code]

This one is not:

[code]

Since it works in the first case, the intent is to have the constraints be preserved, correct? My guess is that there's something about making a compound model out of another compound model that loses the fixed attribute setting...

[2016-01-05 20:43] nden commented on #4438
I don't know if this is in the documentation but constraints are supposed to be set on the compound model parameters, not the sub_models. I can see why this is the case for `tied` constraints. I guess `fixed` and `bounds` could propagate but this is not how it works.

[2016-01-06 00:03] sirpercival commented on #4438
Then I suppose the error here is that fixed does propagate in the first case. And also this should be noted in the documentation.

I'm wondering if there's an argument to be made to allow passing along of such constraints - maybe when constructing a compound model from "submodels" which are fit separately?

[2016-01-06 01:41] aconley commented on #4431
I suppose not... we'd probably need to pull it out of cosmology/core.py, but as far as I can tell there's no way to use it anyways.

[2016-01-06 01:43] #4309 closed

[2016-01-06 06:33] mvnnn commented on #4438
Doing this type :

True

True

True

[2016-01-06 08:04] keflavich opened #4440 "WCS: Allow `sub` when celestial axes are unmatched"
If you attempt to `.sub` a WCS object that has unmatched celestial axes, it fails.  Example:
[code]

I think this is a wcslib issue, but I wanted to raise it here as well in case there's any chance I'm wrong.

Related: https://github.com/radio-astro-tools/spectral-cube/issues/260

[2016-01-06 11:06] astrofrog opened #4441 "Memory leak in WCS.to_header()"
If I run the following example:

[code]

I get the following RAM usage:

![memleak](https://cloud.githubusercontent.com/assets/314716/12141213/898fe9a6-b465-11e5-83e4-2f276f82a50d.png)

I'll try and investigate.

There is also a memory leak in ``WCS()`` itself:

[code]

gives:

![memleak](https://cloud.githubusercontent.com/assets/314716/12141274/01dc796a-b466-11e5-994d-f92f66068fd0.png)

(note th

[2016-01-06 11:37] nhmc commented on #4431
It's used in astropy.coordinates, and potentially could be used elsewhere. I would say it's worth keeping. It's nice to have an 'official' way to set the cosmology via a configuration file, rather than in code.

[2016-01-06 11:48] astrofrog commented on #4431
@nhmc - can you clarify where exactly it's used? I tried searching for ``default_cosmology`` and it doesn't appear to be used anywhere?

[2016-01-06 11:54] nhmc commented on #4431
It seems to be used here:

https://github.com/astropy/astropy/blob/master/astropy/coordinates/distances.py#L102

On Wed, Jan 6, 2016 at 10:48 PM, Thomas Robitaille <notifications@github.com

[2016-01-06 12:51] astrofrog commented on #4441
cc @embray @mdboom

[2016-01-06 13:40] astrofrog commented on #4441
The memory leak during the initialization of ``WCS`` appears to happen in ``PyWcsprm_fix``

[2016-01-06 14:04] astrofrog commented on #4441
I don't have any more time to investigate this for now, so anyone should feel free to take over :)

[2016-01-06 14:52] pllim commented on #4441
@astrofrog , did you use Valgrind to detect it? If so, would be helpful to post the output here.

[2016-01-06 15:16] astrofrog commented on #4441
@pllim - I didn't use valgrind before, but have now tried:

[code]

and get the following output:

https://gist.githubusercontent.com/astrofrog/18b1953ea12d9c348f92/raw/a364932beb31a3a9efef7a2d3fc7b6129acffe9b/valgrind.log

I think the relevant lines are the last ones:

[code]

[2016-01-06 15:18] astrofrog commented on #4441
That was a result of running it for:

[code]

It seems like there are 3 memory leaks per iteration (since there are ~3000 lost blocks)

[2016-01-06 15:20] bsipocz commented on #2701
@mhvk  - I think this can be closed as the original issue is already fixed with the latest numpy. However the masking issue may deserve a new separate issue?

[2016-01-06 15:36] astrofrog commented on #4441
I wonder if it could be a bug in flex - I re-ran flex (using ``flex 2.5.35 Apple(flex-31)``) on ``wcsutrn.l`` and put the resulting C file in ``cextern/wcslib/C/flexed``, re-installed Astropy, and there is no more memory leak. However, it looks like my version may be older because it causes

[code]

to be changed to

[code]

in the generated file. I'll try using a more recent version of flex to se

[2016-01-06 15:37] mhvk commented on #2701
@bsipocz - I agree this particular issue can be closed -- what remains is the general problem that we do not have masked quantities, which is already raised in #1852.

[2016-01-06 15:37] #2701 closed

[2016-01-06 15:57] embray commented on #4441
@astrofrog Because I'm too lazy to try running different versions of flex, could you post the source code for `wcsutrn.c` you got from flex 35, so I can compare?

[2016-01-06 16:00] astrofrog commented on #4441
@embray - here goes: https://gist.github.com/astrofrog/19284027d98e3b79e919

[2016-01-06 16:19] astrofrog commented on #4441
I'm bisecting the flex repo to find when it broke.

[2016-01-06 16:48] embray commented on #4441
I'll avoid spending any more time investigating this for now, then.  But just to add another data point, I can confirm that I see the same memory leak, and when I replaced wcsutrn.c with the copy you gave me the leak went away.

[2016-01-06 16:50] astrofrog commented on #4441
I found the problematic commit in flex: https://github.com/westes/flex/commit/ec2fdb85e0bac6e8aeca405094506e4cf8bfc0b6

[2016-01-06 16:51] astrofrog commented on #4441
However, I'm not familiar enough with flex to figure out what the right fix should be, so if you would like to take over, please do :)

[2016-01-06 16:57] embray commented on #4441
@astrofrog Okay, that makes sense, since that change is the major difference I noticed between the two versions of wcsutrn.c I looked at.  It's not clear to me why that made a difference though.

[2016-01-06 17:01] mhvk commented on #1273
Review old issues: ones that we have `xfail` tests for and still go wrong are:
1. `np.ptp(q1, out=q2)` -- see #4442
1. `np.dot`
2. `np.trace` -- needs to be made subclass aware in `fromnumeric.py` by changing `asarray` into `asanyarray` following `diagonal`; see https://github.com/numpy/numpy/pull/6950
3. `np.outer` -- needs to be made subclass aware in `numeric.py` by changing `asarray` into `asa

[2016-01-06 17:03] embray commented on #4441
FWIW the relevant issue for this change is here: http://sourceforge.net/p/flex/bugs/52/  If you want to raise the issue there you might get useful feedback.

[2016-01-06 17:13] astrofrog commented on #4441
I tried moving the user block of code to intermediate places, and it seems that what makes a difference is whether:

[code]

is above (no memory leak) or below (memory leak) the user code.

[2016-01-06 17:21] embray commented on #4441
Yeah. I think I understand the issue now.

[2016-01-06 17:28] astrofrog commented on #4441
@embray - ok, great :) I'll let you take over from here then. Note that if you need to open an issue with flex then it seems they use the GitHub tracker now: https://github.com/westes/flex/issues (even though there are no currently open issues)

[2016-01-06 17:34] embray commented on #4441
Okay. This can be fixed in wcsutrn.l by adding `wcsutrn_delete_buffer(YY_CURRENT_BUFFER)` before the line you called out--`inbuff = wcsutrn_scan_string(unitstr);`.

`YY_CURRENT_BUFFER` points to a global variable, which is the top of a stack of buffers.  The boilerplate init code creates a buffer from stdin in `YY_CURRENT_BUFFER` doesn't exist.  However `scan_string` creates a *new* buffer (and se

[2016-01-06 17:38] astrofrog commented on #4441
@embray - thanks for clearing this up! I think we do want a fix in Astropy for now since it's a reasonably bad bug (so feel free to open a PR). Would you like to contact Mark C. or shall I do it? (if you want I can contact Mark if you want to open the issue for flex?)

[2016-01-06 17:39] embray commented on #4441
Sounds like a plan.

[2016-01-06 17:45] astrofrog commented on #4441
Just to confirm, doing the fix @embray suggests resolves the memory leak seen in both examples reported in this issue.

[2016-01-06 18:05] astrofrog commented on #4441
It turns out the more complex example (from which I constructed the minimal examples above) still shows a memory leak. I've boiled it down to:

[code]

which shows the following memory increase:

![testing](https://cloud.githubusercontent.com/assets/314716/12150137/ea843bec-b49f-11e5-8d05-dc4f7baf0c03.png)

I haven't had a chance to investigate further, but if I comment out the unit line then the

[2016-01-06 18:11] astrofrog commented on #4441
From ``valgrind``:

[code]

Offline for a few hours, but does seem like a similar bug.

[2016-01-06 18:54] embray commented on #4441
@astrofrog Yes, this is the exact same issue, but occurring in wcsulex.l.  I was able to fix it in the same way.

[2016-01-06 18:54] embray commented on #4441
I didn't see this problem in any of the other lexers though.  Just wcsulex.l and wcsutrn.l

[2016-01-06 19:04] embray commented on #4438
Yeah, this *should* work the way @sirpercival is expecting, I think.  This came up before in #3481.  When adding together two basic models the constraints are preserved.  But it seems that when adding a basic model with a compound model (or maybe two compound models?) the constraints are *not* being preserved.

[2016-01-06 19:08] embray commented on #4438
Ah, I think I see the issue, actually.  @sirpercival's example sets the constraints on a compound model.  If the constraints had been set first on the gaussians, the the compound model was created, this would work.  This has to do with the underlying model tree, and the fact that a compound model instance's constraints are not going to be reflected in the tree.  That's tricky--may have to change h

[2016-01-06 19:21] embray commented on #4435
@sirpercival That's basically what I'm talking about doing, but with a different interface.  Although something like `custom_fitter` may be tricky since it can sometimes require a lot more work to adapt some fitter to the correct interface.  It's easy enough for the scipy ones though since they have a lot of similarities.

[2016-01-06 19:22] embray commented on #4435
@nden I don't think anything needs to be changed right now.  They're not removing the existing `scipy.optimize.leastsq` (though is it being deprecated?)

[2016-01-06 23:43] astrofrog commented on #4441
@embray - yes, that fixes this leak, and I don't see any more memory leaks with the package I was testing. Thanks! I'll report this to Mark C. tomorrow.

[2016-01-07 11:16] mvnnn commented on #4438
As i explain above you must need to initially declare mean.fixed = True . if you want to do this after CompoundModel but in CompoundModel you have not mean but only mean_1 and mean_2.etc and if you doing this((for x in a: x.mean.fixed = True)) then it's make only mean_1 and mean_2 = True but it can't make  CompoundModel mean value=True and after doing models((Const1D(2.)+CompoundModel))
so that we

[2016-01-07 14:08] mvnnn commented on #4438
Example code...as i explain above
[code]
i doing mean value false here
[code]
but still i get True value of mean in b CompoundModel
[code]

[2016-01-07 14:30] astrofrog opened #4444 "Test failures in astropy.coordinates and astropy.utils when running tests twice"
When running tests using `astropy.test()` twice in a row, the following errors appear the second time around:

[code]

I'm investigating this as part of https://github.com/astropy/astropy/pull/4349 but opened this issue in case I run out of time to work on these.

The second test will be removed in https://github.com/astropy/astropy/pull/4446.

[2016-01-07 15:42] embray commented on #4438
@mvnnn You're correct that your example is a workaround that can be used.  But as I explained, this is an artifact of how compound models are stored internally.  It should work both ways.  In particular, parameter constraints should probably be explicitly propagated somehow when two compound model instances are added.

[2016-01-07 16:54] astrofrog opened #4449 "validate_power support_tuples argument is deprecated, but used by other parts of astropy.units"
It looks like the ``support_tuples`` option in ``validate_power`` is deprecated: https://github.com/astropy/astropy/blob/master/astropy/units/utils.py#L171

However, we actually make use of this in non-deprecated places:

https://github.com/astropy/astropy/blob/master/astropy/units/core.py#L1981

https://github.com/astropy/astropy/blob/master/astropy/units/core.py#L2080

Should the calls to ``vali

[2016-01-07 17:06] sirpercival commented on #4438
The reason that I was working with the parameters of the individual models is that in my code, the number of submodels is dynamically determined.

[2016-01-07 17:20] astrofrog opened #4451 "Remove deprecated code in astropy.modeling"
Some of the code in astropy.modeling is present for backward-compatibility with the old `eval` method, and says ``TODO: Remove sometime after Astropy 1.0 release". Now that 1.1 is out, it might be time to remove this code?

cc @embray @nden

[2016-01-07 17:24] embray opened #4452 "FITS string columns can't be updated inplace on Python 3"
Warren Hack pointed this bug out to me.  It can be reproduced fairly simply:

[code]

This is a pretty critical bug since it can result in data loss, so I would like to get some patch releases out as soon as it's fixed.  I'm just mystified that none of the copious table tests caught it.

Incidentally, I believe I was previously aware of this issue.  It comes from the new [`_ascii_encode`](https://

[2016-01-07 17:52] cdeil opened #4453 "fits2bitmap errors"
I wanted to use the [fits2bitmap](http://astropy.readthedocs.org/en/latest/visualization/index.html?highlight=fits2bitmap#scripts) command line tool you wrote and ran into the following errors.

[code]

It's not clear from the help page what the default `vmin` should be:
[code]

But given that it's an option, there should be default and not `None`, no?

The docs also suggest that `--ext` can take

[2016-01-07 17:53] mhvk commented on #4452
@embray - `flatten` makes a copy, while `ravel` returns a view, at least if that's possible.

[2016-01-07 17:54] cdeil commented on #4453
I forgot to say ... the image I'm using is here:
[code]
But I don't think it matters for these issues ... you can use any image.

[2016-01-07 18:01] embray commented on #4453
I set "priority low" since these are mostly UI bugs, but feel free to change if anyone disagrees.  Definitely should be fixed, and should be easy enough to fix too.

[2016-01-07 18:06] embray commented on #4451
It can be removed for v1.2.

[2016-01-07 18:51] embray opened #4454 "Deprecate and eventually remove Python 2 support"
Python 2 is legacy.  Python 3 is the present and future of Python.  I don't need to repeat the arguments here.

I'm not currently suggesting a timeline for this.  Just that we need to continue doing what we can to push the community away from Python 2 through documentation, tutorials, articles, and social pressure (and technical pressure in less critical areas, such as offering Python-3-only featu

[2016-01-07 20:01] hcferguson opened #4455 "table join fails due to shape mismatch for metadata"
I tried to join two tables. It failed when trying to merge the metadata.

One table started out in ascii, the other in hdf5. When I wrote  the ascii table out as hdf5 and read it back in, the table join worked.

It failed with:

[code]

Looking at the metadata for the two tables, I see a mismatch in the internal formats:

[code]

So I wrote the first table out to an hdf5 file and read it in again

[2016-01-07 20:05] hcferguson commented on #4455
Correction....it still fails when I try to join the two hdf5 tables, even though their metadata has the same format.

[2016-01-07 20:07] #4378 closed

[2016-01-07 20:13] hcferguson commented on #4455
Succeeds if I just set the comments in the metadata to None:
[code]

[2016-01-07 20:44] mhvk commented on #4455
Ai, this is because the comments are arrays, and `array1 != array2` returns an array with bools, which cannot be used in an if-statement. I think this will need some rewrite in that comparison in terms of try/except; cc @taldcroft

[2016-01-07 23:09] mhvk commented on #4240
The random VO table tests are still a problem -- e.g., https://travis-ci.org/astropy/astropy/jobs/100906365

[2016-01-08 03:22] larrybradley commented on #4453
Thanks, @cdeil.  I'll look at this on Monday.

[2016-01-08 11:30] saimn opened #4457 "Doctest failures"
When running `python setup.py test -R -V` I get these failures :

[code]

Though I can't reproduce if I run only the tests for the files failing above with `python setup.py test -V -t docs/io/ascii/read.rst` or `python setup.py test -V -t docs/table/operations.rst`

[2016-01-08 11:31] saimn commented on #4457
Forgot to put some environment details:
[code]

[2016-01-08 12:10] taldcroft commented on #4455
In addition to what @mhvk said, there are a few things that need attention:

- Why are there so many blank comments to begin with?  Are those really in the original files?
- It doesn't seem like the HDF5 reader should be returning an np.array of comments.  Metadata should in general use pure Python structures for compatibility.  In this case if you turned the HDF5 comments back into a Python list

[2016-01-08 12:10] saimn commented on #4457
The failure in `docs/io/ascii/read.rst` is probably the same as #4363. If I get into a pdb and print the table:
[code]
`precip` is str column whereas it should be float.

[2016-01-08 12:14] saimn commented on #4457
And the same for `docs/table/operations.rst`:
[code]

[2016-01-08 15:23] sirpercival commented on #3670
This would be an incredibly useful feature for me to have (even more so than the other issues I've opened in the last couple days). Would you be willing to share the work you've done already and I can see if I can make progress on it?

[2016-01-08 17:38] embray commented on #4240
Yeah I've seen it on occasion too.  I've never seen this happen locally so I remain baffled.

[2016-01-08 17:41] embray commented on #4455
I am also confused by the presence of arrays in the metadata...

[2016-01-08 17:42] embray commented on #4455
Agreed that *arbitrary* exceptions that occur in metadata comparison (assume anything can happen...) should be handled.

[2016-01-08 20:04] taldcroft commented on #4455
See #4459 for a possible fix to this.

[2016-01-08 22:31] astrofrog commented on #4342
* [ ] Once the issue is fixed, Python 3.5 should be un-marked as an allowed failure in appveyor.yml

[2016-01-08 22:40] taldcroft commented on #4455
@hcferguson - would it be possible to make one or both of your original files available somehow?  I'm just curious about what's going on with all the blank comments.  Or alternately, do you know why they both have all these empty comment lines?

[2016-01-09 10:12] olebole opened #4460 "1.1.1: Testing astropy.wcs fails with Python-3.5 and wcslib-5.12"
On Debian, the `astropy.wcs` tests fails reproducible with some corrupted memory:
[code]
I wonder whether this is connected with #4441. wcslib is compiled here with flex-2.5.39 (the current version in Debian).

Version 1.1 compiles without this problem, so this is a regression.

[2016-01-11 01:51] mhvk opened #4465 "Sphinx on python3 does not appear to be able to link to SyntaxWarning"
In the context of #4456, I was trying to move the documentation build on travis to python 3.5, but found that sphinx raised a couple of warnings that do not appear on python 2 (see https://travis-ci.org/astropy/astropy/builds/101435099). I confirmed locally that one gets
[code]
This seems to be in the context of creating the description for the classes [1] where the links to those warnings cannot

[2016-01-11 09:13] astrofrog commented on #4454
The next LTS release will happen in 2017 according to our calendar, and should be supported until the end of 2019. If we exceptionally increase support for that to 3 years instead of 2, we could make the next LTS release the last major release supporting Python 2.x. That means 3 more releases fully supporting Python 2.x (To some extent, there's really no reason why we couldn't stop developing feat

[2016-01-11 13:45] astroleo opened #4467 "1.1.1: ImportError on importing wcs and failure of astropy.test()"
`from astropy import wcs` fails with the following error on my fresh installation of astropy 1.1.1 on Mac OS X 10.11.2:
[code]

I ran into this issue because I executed `astropy.test()` which failed because of this issue (and then apparently got stuck in reporting the error, too):
[code]

[2016-01-11 13:46] astroleo commented on #4467
I don't think this is connected to other recent wcs-related reports (#4460, #4441)

[2016-01-11 13:52] astroleo commented on #4467
When exiting from the Python session with the failed `astropy.test()` run, there is a warning: `sys:1: ResourceWarning: unclosed file <_io.TextIOWrapper name='/dev/null' mode='w' encoding='UTF-8'>`

[2016-01-11 20:36] larrybradley commented on #4453
@cdeil, I've fixed these issue in #4468.

You were getting the first error because the `fits2bitmap` default extension is `0` and your FITS file (`emin_0030_emax_0100.fits.gz`) does not have any data in the primary extension.  The default `min_cut` is set to the image minimum, which then failed.  The PR (#4468) fixes this by using `fits.getdata()`, which will find the first extension with data if

[2016-01-11 20:37] MSeifert04 opened #4469 "Change NDData meta property to astropy.utils.metadata.MetaData"
As already mentioned in #4270  the ``NDData`` currently uses a ``meta`` property and setter rules that are almost identical to the ``astropy.utils.metadata.MetaData`` descriptor (https://github.com/astropy/astropy/blob/master/astropy/utils/metadata.py#L115)

@mwcraig suggested opening a seperate issue so that it isn't forgotten (https://github.com/astropy/astropy/pull/4270#issuecomment-170655689)

[2016-01-11 20:41] cdeil commented on #4453
@larrybradley  - Thank you!

[2016-01-12 00:19] MSeifert04 opened #4471 "lazyproperty: Documentation misleading"
I tried the ``lazyproperty`` from the utils.decorators today and it is works as expected but one thing is very strange. The documentation states that

If a setter for this property is defined, it will still be possible to manually update the value of the property, if that capability is desired.

Well but at least with python 3.5 the setter/deleter are always created. To stay with the example in th

[2016-01-12 02:46] mirca commented on #1055
Is anyone tackling this problem?

[2016-01-12 03:51] mhvk commented on #4471
I agree the documentation should be updated; indeed, as we just specifically used the fact that there are default setters and deleters (in #4422), I think we better don't change the behaviour (I now realise we implemented this after noticing there were default setters and deleters by looking at the code -- I never even read the documentation...).

[2016-01-12 07:20] keflavich opened #4475 "pytest pastebin: py3 incompatible before v2.8.3"
I've tried using the `--pastebin='failed'` functionality running tests in astroquery, and I get the following traceback/dump:
[code]

It turns out this is a bug that was fixed only a few months ago: https://github.com/pytest-dev/pytest/issues/1198.  The first release that includes this fix is 2.8.3.  So we could include a warning in astropy about this, or this issue can just serve as a 'heads up'

[2016-01-12 07:20] keflavich commented on #4475
I'm just closing this because I found the solution immediately after writing the problem, but I think it's worth having the information available for search.

[2016-01-12 07:20] #4475 closed

[2016-01-12 10:33] anchitjain1234 commented on #4414
I would like to work on this bug.
I am able to replicate it but not able to figure out where code of compound modeling is present. [This](https://github.com/astropy/astropy/blob/master/astropy/modeling/_compound_deprecated.py)  file is related to compound modeling but it is deprecated.

[2016-01-12 12:05] crawfordsm commented on #3708
Closing as jackknife has been added.   If other things should be added, please open a new issue mentioning those things specifically.

[2016-01-12 12:05] #3708 closed

[2016-01-12 13:05] astroleo commented on #4467
`from astropy import modeling` also fails due to the same issue.

[2016-01-12 13:47] astroleo commented on #4467
Re-installed astropy 1.1.1 using pip, the problems disappear. Will notify Mac ports package maintainer @astrofrog .

[2016-01-12 14:17] pllim commented on #4471
@embray might be able to comment on this?

[2016-01-12 14:43] astrofrog commented on #4467
Ah yes I need to update the wcslib package in MacPorts

[2016-01-12 14:45] astrofrog opened #4477 "Some Astropy code is definitely not Python 4-compatible"
Without even knowing what Python 4 will look like, some parts of Astropy are guaranteed to be incompatible, e.g.

[code]

in ``table.py``. On Python 4, no code will get executed.

We should instead use:

[code]

I wrote a short blog post about this: http://astrofrog.github.io/blog/2016/01/12/stop-writing-python-4-incompatible-code/ :)

[2016-01-12 15:25] astrofrog commented on #4467
@astroleo - I upgraded wcslib in MacPorts, but it will take an hour to take effect. So in an hour or so, run:

[code]

It should automatically update wcslib. If you still see the error after this, let me know.

[2016-01-12 15:36] astrofrog opened #4480 "Remove compatibility layer for astropy.utils.compat.subprocess"
I think ``astropy.utils.compat.subprocess`` can be deprecated in the same way as some of the other compat modules now that we don't support Python 2.6 anymore. If anyone wants to do this, please feel free to! Be sure to add a deprecation warning and a test as done in https://github.com/astropy/astropy/pull/4464 for example.

[2016-01-12 16:37] Pratik151 commented on #4480
@astrofrog  I would like to work on this. I will remove it and add deprecation warning and also add test as you did for others modules like gzip and argparse.

[2016-01-12 17:45] embray commented on #4477
:+1: and thanks also for the blog post.   We should start making these changes ASAP as a prerequisite to #4454.

[2016-01-12 17:49] embray commented on #4477
Also, I don't know when Python 4 will even come out. But I don't think future proofing for Python 4 should be the only argument for this.

In the past we've written code primarily for Python 2 and forward ported to Python 3.  Although there are some people still developing primarily on Python 2 (and in some cases for good reasons, such as the still not satisfactorily resolved issue of pure-ascii s

[2016-01-12 18:50] embray commented on #4471
I wrote `lazyproperty` years ago, so I don't remember exactly what my thinking was on this.  Part of me feels like it would have been better if it were more isomorphic with the `property` built-in, in that setting/deleting of properties is disallowed by default.

Just to guess at my own thinking--the original use cases that I wrote `lazyproperty` for *did* require being able to set the attribute a

[2016-01-12 19:11] mhvk commented on #4471
@embray - the documentation is, fortunately, quite clear that the value is stored in `__dict__`!

[2016-01-12 20:14] astroleo commented on #4467
Apparently the update has not yet been registered at macports (https://trac.macports.org/browser/trunk/dports/science/wcslib/Portfile). I'll try again tomorrow night.

[2016-01-12 20:51] embray commented on #4467
FWIW pip always uninstalls a previous version of a package before installing the new one.  I can't speak for anything else.  Since this isn't an issue with the original astropy source distribution I'm closing this.

[2016-01-12 21:36] mhvk commented on #4465
This seems an issue with `astropy-helpers`; see https://github.com/astropy/astropy-helpers/issues/214

[2016-01-12 21:56] embray commented on #4465
See also https://github.com/astropy/astropy/blob/master/docs/conf.py#L200 and #1221 and https://bugs.python.org/issue11975

[2016-01-12 22:11] embray commented on #4414
I think I maybe miscategorized this bug.  It's a low-effort fix because it can mostly reuse code that already exists.  However, it requires some understanding of how to utilize the existing code.  You are of course welcome to still try to figure it out.

[`_CompoundModel`](https://github.com/astropy/astropy/blob/v1.1.1/astropy/modeling/core.py#L2431) should implement its own `__str__` by reusing c

[2016-01-12 22:35] bsipocz commented on #4465
also somewhat related: https://github.com/astropy/astropy-helpers/pull/25

[2016-01-12 23:49] astrofrog commented on #2767
Closed by #4446

[2016-01-12 23:49] #2767 closed

[2016-01-13 03:02] mhvk opened #4481 "Move sphinx build to python3 and latest numpy"
As we're moving to python3, the sphinx build should also be on python3 and some care should be taken to ensure that all the references actually go to the python3 documentation. As of this writing, just using an intersphinx link to `docs.python.org/3/objects.inv` has problems. See https://github.com/astropy/astropy-helpers/pull/214

[2016-01-13 08:59] anchitjain1234 commented on #4414
So when ``print(gg)`` is typed it should print all the information present currently also with expression and individual components?
[code]

[2016-01-13 13:48] mirca commented on #3707
Hi @astronomeralex @eteq @embray

besides robust Wilk's lambda test, is there any other statistics that you would like to see implemented?

[2016-01-13 14:29] mhvk commented on #4481
There also is an issue with the latest numpy a warning is raised even on python2

[2016-01-13 14:34] bsipocz commented on #4481
@mhvk - If this issue is not urgent, you can assign it to me and I'll try to come up with a fix this week (most probably by providing two local complementary inventory, one for each version).

[2016-01-13 14:46] mhvk commented on #4481
@bsipocz - that would be great!

[2016-01-13 14:48] bsipocz commented on #3707
@crawfordsm @eteq @embray - I wonder what's the advantage of having these generic stats functions in astropy, rather than in a more generic package/module like scipy.stats or statsmodels?

I wasn't at the unconference session so can't recall the details of the discussion, but all of these issues sounds very general and non astro specific for me, so maintaining it in astropy may be unideal.

[2016-01-13 15:04] crawfordsm commented on #3707
@bsipocz I think that is one of the issues with the astropy.stats package right now is that balance between what is useful for astronomers or what should go into more generalized packages like scipy.stats.

As it does make it tricky to maintain astropy.stats as I feel different people have different ideas, I am hoping to put an APE together to set up a place to discuss it further.

[2016-01-13 15:04] astronomeralex commented on #3707
@mirca robust and rank order Wilk's lambda seem like a good start.

@bsipocz -- you make a very good point about generic stats functions. This is true for many functions in astropy.stats and I'm not sure where we draw that line.

[2016-01-13 15:08] pllim commented on #3707
@larrybradley , do you think https://github.com/spacetelescope/astroimtools is a good place for things like these?

[2016-01-13 15:34] larrybradley commented on #3707
@pllim  I think these general statistical tests should go in either `astropy.stats` or upstream somewhere like `scipy.stats`.  I'd like to see some things in `astroimtools` move elsewhere too.

[2016-01-13 16:50] embray opened #4484 "Write better documentation for PR screwups"
I've written comments [like this](https://github.com/astropy/astropy/pull/4483#issuecomment-171358998) more times than I can count now.

We should find places to better emphasize (both in [CONTRIBUTING.md](https://github.com/astropy/astropy/blob/master/CONTRIBUTING.md) and in the developer docs) that short of deleting your fork, almost all git mistakes can be fixed.  And more to the point, if you

[2016-01-13 17:11] embray commented on #4481
Just now seeing this issue.  Sounds like a good idea.

I've mostly had success building the docs on Python 3, modulo a few warnings that I'm sure we can find workarounds for.

[2016-01-13 17:14] embray commented on #4481
And of course this should be another prerequisite to #4454

[2016-01-13 17:15] mhvk commented on #4481
Agreed, it mostly works as-is.  Just wanted to split it off from #4456, since there's a bit more needed than just changing `.travis.yml`.

[2016-01-13 17:25] embray commented on #4454
Although much is being done to encourage users at all levels to get off Python 2.7 before the 2020 end-of-life, I wouldn't be surprised if there are still users out there who are on it, and maybe also planning (unfortunately) for continued paid support for Python 2.7.

I suppose we could say "We'll put out new Python 2.7-compatible patch releases if someone is paid to do the work"?

[2016-01-13 18:19] embray commented on #4460
Probably related to #4441.  I doubt this is particular to v1.1.1, which did not contain any significant changes to WCS code at the C level.  That is, it probably is not a regression compared to v1.1, just to be clear.

[2016-01-13 18:44] lupinix commented on #4460
I can confirm the issue with Fedora. We are working on wcslib update there. Builds with wcslib 4.25.1 don't show this issue.
[code]

Full build log at https://copr-be.cloud.fedoraproject.org/results/lupinix/wcslib5-test/fedora-rawhide-x86_64/00153269-python-astropy/build.log.gz

[2016-01-13 18:45] embray commented on #4457
Yes, this is the same as  #4363.  The timeout error is probably ephemeral.

[2016-01-13 18:45] #4457 closed

[2016-01-13 18:46] embray commented on #4457
(Thanks for the report though--it occurs to me #4363 doesn't specify which tests failures were associated with it, so it's good to have that documented)

[2016-01-14 07:44] olebole commented on #4460
@embray I testedboth versions 1.1 and 1.1.1 in an identical environment (including wcslib 5.12) astropy-1.1 does not have this issue, but astropy-1.1.1 has.

[2016-01-14 09:37] olebole commented on #4460
I could track this down to commit 6d4552e450129a003842af9fafd7184b2c788fe8: After reverting this patch, all tests succeed (on x86_64). I agree that this is strange; however I doublechecked it.

[2016-01-14 10:50] astrofrog opened #4487 "Sphinx issues in astropy.units docs"
There are issues on this page: http://docs.astropy.org/en/stable/units/quantity.html#plotting-quantities

<img width="786" alt="screen shot 2016-01-14 at 10 49 37 am" src="https://cloud.githubusercontent.com/assets/314716/12322510/97e1cd10-baac-11e5-9e94-138c2f7801f2.png">

Specifically the fact that ``doctest-requires: matplotlib`` is not interpreted, and the plots are missing.

[2016-01-14 15:09] #4414 closed

[2016-01-14 15:44] embray commented on #4460
How strange.  Have you managed to get a stack trace for the error?  I almost wonder if something is awry with the `re` module in Python 3.5.

[2016-01-14 15:45] embray commented on #4460
Though I'll also need to go through that commit with a fine-toothed comb and make sure it's not doing anything materially different from the previous code.  It looked right to me before but maybe there's a subtle mistake in it somewhere.

[2016-01-14 15:46] astrofrog commented on #4460
@olebole - could you also try and simplify the regular expression to see if the error goes away?

[2016-01-14 16:04] embray commented on #4460
Yeah looking at it again I see several areas where it could be simplified (not that it's that complex in the first place).

[2016-01-14 16:05] embray commented on #4460
Here's a simpler equivalent regexp:
[code]

[2016-01-14 16:12] embray commented on #4460
See also this note: https://github.com/astropy/astropy/commit/6d4552e450129a003842af9fafd7184b2c788fe8#commitcomment-15453711

That might also be related--I'm not sure if it's properly deleting all the SIP keywords because of this.

[2016-01-14 16:46] embray commented on #4460
@olebole @lupinix Could one or both of you confirm whether the patch in #4492 fixes the issue?  Thanks.

[2016-01-14 16:50] olebole commented on #4460
I just made a test build with both the simplified regexp and the `list()` wrapping, which was successful; they fix the issue. Do you need to have them tested separately as well?

[2016-01-14 16:52] embray commented on #4460
@olebole I'd be curious, yeah.  At this point I think the fix in #4492 is more likely the culprit than anything in the regexp (though I'll probably commit the simplified regexp separately too).

[2016-01-14 17:11] astrofrog opened #4493 "Allow WCS class to take Image HDU"
Since the WCS class can take a filename of a FITS file or a header, it makes sense we could also allow it to be initialized from a ``PrimaryHDU`` or ``ImageHDU`` (should be unambiguous).

[2016-01-14 17:18] lupinix commented on #4460
I can confirm: Builds fine now: https://copr.fedoraproject.org/coprs/lupinix/wcslib5-test/build/153475/

[2016-01-14 17:19] #4471 closed

[2016-01-14 17:30] embray commented on #4493
Should be straightforward.

[2016-01-14 17:32] mcara commented on #4493
Do you mean that you do not want to have to write `.header` after and HDU name?

[2016-01-14 17:33] embray commented on #4493
If I understand correctly that's all this is.

[2016-01-14 17:39] mcara commented on #4493
What about the fact that when `header` is a string (file name), then `WCS` tries to get WCS from the _primary_ header _only_. Currently there is no way to tell it to load the WCS from a different extension. If WCS constructor had an `ext` parameter to specify the extension, then this would be really useful.

[2016-01-14 17:51] nden commented on #4493
I agree with @mcara. A useful interface would be

`WCS(f, ext)`, where `f` is a file name or an `HDUList`. This also supports distortions in FITS extensions, so one doesn't have to pass additionally `fobj` to get the distortions as the current interface requires.

[2016-01-14 18:29] astrofrog commented on #4493
I agree that it would also be nice to be able to specify the HDU, but indeed the original issue here was just to avoid typing ``.header`` on HDU objects.

[2016-01-14 19:29] olebole commented on #4460
I can confirm that the `list()` wrapping in #4492 solved the problem.

[2016-01-14 20:32] anchitjain1234 commented on #4493
If anyone else is not working on this bug, I would like to work on it.

[2016-01-15 02:21] elinor-lev opened #4495 "support complex type in convolve"
Currently astropy.convolution.convolve (and convolve_fft) only support real array for the input array/kernel, not complex arrays:

astropy-1.1.dev14145-py2.7-macosx-10.5-x86_64.egg/astropy/convolution/convolve.py:129: ComplexWarning: Casting complex values to real discards the imaginary part
  array_internal = array.astype(float, copy=False)
astropy-1.1.dev14145-py2.7-macosx-10.5-x86_64.egg/astrop

[2016-01-15 08:11] cdeil commented on #4467
I'm also running into this issue with Macports  `wcslib @4.25.1_0` and `py35-astropy @1.1.1_0`

@astrofrog Looks like your WCSlib update in Macports wasn't committed!?
https://trac.macports.org/log/trunk/dports/science/wcslib/Portfile

[2016-01-15 09:51] astrofrog commented on #4467
@cdeil @astroleo - should be updated now: https://trac.macports.org/changeset/144684/trunk/dports/science/wcslib/Portfile

[2016-01-15 09:51] astrofrog commented on #4467
(you'll need to wait an hour before the update takes effect)

[2016-01-15 10:58] olebole opened #4496 "1.1+: `TestFittable1DModels::test_input1D` often crash on MIPS architecture"
On MIPS, I often get the following output while testing with Python-2.7:
[code]
([`debian/rules`](https://sources.debian.net/src/python-astropy/1.1.1-2/debian/rules/) is actually the Debian Makefile that called the test.) The numbers in `model_class5-test_parameters5` where the crash appears vary, I also already had a [successfull compilation of astropy 1.1](https://buildd.debian.org/status/fetch.

[2016-01-15 12:22] astrofrog commented on #1055
@mirca - I'm not aware of anyone working on this at the moment, but your best bet is to ask on the astropy-dev mailing list.

[2016-01-15 13:26] eteq opened #4497 "QTable not always converting to Quantity?"
I've noticed some odd behavior with QTable that seems counter-intuitive, but I'm not sure whether it's a bug or a feature.  Consider the following snippet:
[code]

I would have thought that top2 would then be a Quantity with units Mpc, but instead it ends up as a *dimensionless* Quantity.

Similary, I would have thought this would also do the same:
[code]
But this also yields a dimensionless resul

[2016-01-15 13:39] AnthonyHorton opened #4498 "wcs.WCS.slice() does not modify NAXISj values"
The current implementation of WCS slicing appropriately modifies the CRPIX and CDELT values but does not modify the NAXIS values.  Consequently the sliced WCS is not valid for the correspondingly sliced data array; the NAXIS values do not match the dimensions of the data.  Example:

[code]

This is a problem for code that attempts to use slicing to trim an image with WCS, e.g. astropy/ccdproc#281

[2016-01-15 13:43] astrofrog commented on #4498
I think ``NAXIS`` was removed for a while then added back, so maybe we forgot to include it in the slicing.

@nden - do you have any thoughts on this?

[2016-01-15 15:16] AnthonyHorton opened #4499 "NDArithmeticMixin arithmetic fails when wcs.WCS present even if identical"
The `wcs.WCS` class does not implement the equivalence test functions `__eq__()` and `__ne__()`. Consequently an attempt to test the equivalence of two `WCS` instances reduces to checking identity.  Example:

    In [19]: w = ccd.wcs

    In [20]: w2 = copy.deepcopy(w)

    In [21]: w == w
    Out[21]: True

    In [22]: w == w2
    Out[22]: False

This causes issues with, for example, `nddata.NDA

[2016-01-15 15:22] astrofrog commented on #4499
I think that strict equality is hard to define, but there is now a ``compare`` method on ``w.wcs`` that can help compare two WCS objects to different degrees of accuracy (added in https://github.com/astropy/astropy/pull/2468). Note that this is a method on ``w.wcs``, not on ``w``.

[2016-01-15 15:45] AnthonyHorton commented on #4499
Thanks @astrofrog, looks like `nddata.NDArithmeticMixin._arithmetic` should be using `compare` instead of doing `if self.wcs != operand.wcs: raise ValueError("WCS properties do not match")`  Would you agree, @MSeifert04?

[2016-01-15 15:55] astroleo commented on #4467
Thanks. It works now.

[2016-01-15 16:01] mhvk commented on #4497
@eteq - yes, this seems wrong, but before anything else, what is`type(v['X'])`? Are you sure it is a `Quantity`? (Also, to understand your snippet, what is `elvii_pairs`? How does it relate to `tab`?)

[2016-01-15 18:26] anchitjain1234 commented on #4493
Here do we just have to check if ``header`` passed to WCS is of type ``PrimaryHDU`` or ``ImageHDU`` and if it is than change ``header = header.header`` and make ``header_string`` from it?

[2016-01-15 18:50] cdeil commented on #4467
Works for me as well. Thanks!

[2016-01-15 19:32] taldcroft commented on #4497
@eteq - this is intended in the current design.  If you initialize a QTable with something that does not have units, it is a `Column`.  (This answers the question from @mhvk).  You can provide a unit and that does get carried through a slice.  I don't quite understand in your example why you are not getting `u.Mpc` out as the unit.
[code]
When you iterate over a `Column` object then the unit is lo

[2016-01-15 19:50] souravsingh commented on #2733
I think the issue is fixed.

[2016-01-15 19:58] souravsingh commented on #3373
Is the issue still open? If so, I would like to work on it.

[2016-01-15 20:36] mhvk commented on #3373
Definitely still open, but see #4436 for some progress on the implementation side. It may be wise to hold off until that has settled down...

[2016-01-15 20:48] mhvk commented on #4497
This may not be a bad idea.

Certainly would have to exclude strings. Also, '`Quantity` by default turns all numbers into `float`, which may or may not be a problem. Finally, if the reader did immediately create a `Quantity`, one could not set the unit any more (though it may be possible within `Quantity` to allow one to set a unit if the unit has not yet been defined; I think that would make some

[2016-01-15 20:53] mhvk commented on #4497
p.s. I thought the following might be a nice work-around for @eteq, but it doesn't work:
[code]
This is because internally the code does `self.columns[item][:] = value`, and `ndarray` and subclasses happily ignore the unit.  What does work is:
[code]

[2016-01-15 21:03] mhvk commented on #4497
Thinking just a little more, I think my preference for defaults would be that `QTable` read returns dimensionless `Quantity` at least for any float columns; for integer, `Column` may be better, since often those types of columns contain flags. But this just goes to show it is not so obvious. It may be easiest to just provide a simple method to change the column type (like setting the unit).

[2016-01-15 21:44] MSeifert04 commented on #4499
@astrofrog - Do you mean ``astropy._wcs.Wcsprm.compare``? I'm not quite sure what you mean by ``w.wcs``.

[2016-01-15 21:55] embray commented on #2733
This issue might just be particular to some Sphinx version.  I haven't confirmed either way.

[2016-01-15 22:51] taldcroft commented on #4497
I think that it's important to keep the behavior as simple and consistent as possible (since the whole concept is confusing to start with).  So I would state the rule for `QTable` as: *"If a numeric column has a defined unit then it is converted to a Quantity"*.  That applies to both creation and if the unit is assigned.

This is not strictly back-compatible (different behavior when unit is *assig

[2016-01-16 00:05] astrofrog commented on #4499
@MSeifert04 - every ``WCS`` instance has a ``wcs`` attribute:

[code]

[2016-01-16 01:40] MSeifert04 commented on #4499
@astrofrog - Thanks!

[2016-01-18 04:01] sunilk747 commented on #3744
If this has not been solved, I would like to work on it.

[2016-01-18 04:17] hamogu commented on #3744
@sunilk747 the issue is still open, please go ahead and let us know if you need help at any point!

[2016-01-18 04:22] mcara commented on #4498
Technically, `NAXIS` (`WCS.naxis`) stays the same (as it should). What changes are `WCS._naxis1` and `WCS._naxis2`. What you see as NAXIS when you print WCS are the values of `WCS._naxis1` and `WCS._naxis2`. My understanding is that while NAXIS and NAXISj are parts of the FITS standard, they are not part of FITS WCS standard and thus maybe NAXISj should not even be part of the `astropy.WCS` object

[2016-01-18 04:26] mcara commented on #4498
I also wonder why there are so many functions that do the same thing in astropy... For example, WCS.slice() functionality seems to be replicated in the `astropy.nddata.Cutout2D` (see #3594). Now I see that the same thing is being implemented in `astropy.ccdproc.trim_image()`. It seems that it makes the code hard to maintain and confusing to use.

[2016-01-18 04:35] AnthonyHorton commented on #4498
@mcara I can't speak about `nddata.Cutout2d()` but `ccdproc.trim_image()` doesn't duplicate anything from `WCS.slice()`, it makes use of it.  `ccdproc.trim_image()` is a convenience function for extracting a slice of an image (in the form of a `ccdproc.CCDData` object, a subclass of `ndddata.NDDataArray`) along with all associated metadata (including WCS, if present).  The actually slicing is hand

[2016-01-18 08:43] cdeil opened #4500 "ValueError from observing-example-2"
Locally I'm getting this error from the docs build for observing-example-2:

[code]

Downloading [observing-example-2.py](http://astropy.readthedocs.org/en/latest/coordinates/observing-example-2.py) and running it reveals the line that causes the error:

[code]

It's here: https://github.com/astropy/astropy/blame/master/docs/coordinates/observing-example.rst#L133

This is with matplotlib 1.5.1 and

[2016-01-18 11:28] olebole commented on #4496
I investigated this a bit and it seems that it is a [problem with the scipy package on Debian](https://bugs.debian.org/811368).

[2016-01-18 11:29] bsipocz commented on #4500
@cdeil - you don't see it in travis as it uses mpl <=1.5.0 for the docs builds as 1.5.1 caused docs build failures in several packages (at least photutils and glue) due to https://github.com/matplotlib/matplotlib/issues/5836.

[2016-01-18 13:31] #4437 closed

[2016-01-18 13:38] aplavin opened #4501 "Simplify access to FITS regular axes"
FITS files often contain something like this:

    CTYPE6  = 'RA      '                     /Axis name
    CRPIX6  =      1.0000000000000           /Reference pixel
    CRVAL6  =      54.125448370833           /Reference value in right ascens. (deg)
    CDELT6  =      1.0000000000000           /Pixel increment
    CROTA6  =      0.0000000000000           /Axis rotation

in the primary HDU header.

[2016-01-18 14:21] nden commented on #4498
The WCS._naxisj values have been discussed several times on this list. Yes, they are not part of the FITS WCS standard but the consesnus was that they should be included for practical purposes. As @astrofrog said not modifying them in WCS.slice() is just an oversight.
@mcara A WCS without an image attached to it has the values set to 0.

Similarly, the GWCS object has an attribute `domain` which d

[2016-01-18 16:36] aplavin opened #4502 "Get scaled data from FITS GroupData"
After reading a data table (`GroupData`) from a FITS file there is no straightforward way to convert it to a plain `numpy` array with scaling applied. Currently I use code like this everywhere:

    np.rec.fromarrays([data[k] for k in data.dtype.names], dtype=data.dtype)

where `data` is the `GroupData` object.

I think something simple like a property implemented similar to the above would be nic

[2016-01-19 07:24] AnthonyHorton commented on #4499
OK, the problem isn't in `wcs` as it does implement a proper equivalence test, it's just in `astropy._wcs.Wcsprm.compare` instead of `__eq__`, I'll edit the issue title to be less misleading.

Meanwhile I've make a minimal change to `NDArithmeticMixin` so that it uses `astropy._wcs.Wcsprm.compare` instead of `__eq__` when `wcs.WCS` objects are present. This fixes the issue I had.

[2016-01-19 08:53] astrofrog commented on #4499
@AnthonyHorton - the issue with overloading ``__eq__`` is that it wouldn't allow any options to be passed. However, we *could* overload ``__eq__`` and just raise an exception that points users to ``compare``.

[2016-01-19 11:51] anchitjain1234 commented on #4167
@embray in https://github.com/astropy/astropy/blob/master/astropy/io/fits/convenience.py#L772 if we also pass header to ``ImageHDU`` like ``hdu = ImageHDU(data=data,header=header)`` than ``fx[1].header`` works.
Same is true for Tables.
Would this resolve the issue?

[2016-01-19 13:31] AnthonyHorton commented on #4499
@astrofrog Now that I know about `wcs.Wcsprm.compare` I agree there is no reason to overload `__eq__` in `wcs.WCS` in order to modify its functionality.  Overloading it purely to point naive users such at myself at `compare` is a nice idea though.

[2016-01-19 16:08] embray commented on #4167
@anchitjain1234 I think that would be sufficient for at least basic cases like the one @sbailey reported in the original issue.  I think there are still unresolved problems with this interface, simply insofar as how it's a little implicit.  But your suggestion would be a good place to start nonetheless.

[2016-01-19 16:11] embray commented on #4502
I'm not exactly sure what you mean.  What do you mean by "scaling applied"?  Is this related to  #2751?

[2016-01-19 16:21] embray commented on #4501
This FITS header interface just gives you direct access to keywords in a FITS header, somewhat as though it were an ordered dictionary.  `hdu.header['RA']` would presume that there's a keyword called "RA".  It has no knowledge of FITS WCS or how to interpret that.

That's what the WCS module is for: http://docs.astropy.org/en/stable/wcs/index.html  You can pass in a FITS header to instantiate a WC

[2016-01-19 16:36] embray commented on #4467
I didn't realize, or forgot, that we have a Macports package for astropy.
On one hand, that's an "upstream package".  But on the other hand, if there are people relying on it, and we (by which I mean @astrofrog) are the ones maintaining it, then should this be written up as part of the release procedure?  Or at least a separate section from the main release procedure for upstream packaging system

[2016-01-19 16:37] embray commented on #4493
That's basically it if I understand correctly.

[2016-01-19 16:38] embray commented on #3670
@sirpercval: Sorry I didn't get back on this sooner.  I'm going to do what I can to post a prototype for what I'm talking about soon.  Just can't make any guarantees right now.

[2016-01-19 17:04] embray commented on #1055
I think that what *should* be done before this would be to standardize the fit statistics info interface for fitters.  This issue has come up many times before and a couple people have started to look into it but never made solid progress.

The idea here is that currently most of the fitters have a `.fit_info` attribute that references a dictionary: https://github.com/astropy/astropy/blob/master/a

[2016-01-19 17:05] aplavin commented on #4501
I think this shouldn't be related to `wcs` as such axes may be not coordinate at all (my example just happened to be so). Another example:

    CTYPE4  = 'FREQ    '                     /Axis name
    CRPIX4  =      1.0000000000000           /Reference pixel
    CRVAL4  =      2229974375.0000           /Reference value
    CDELT4  =      8000000.0000000           /Pixel increment
    CROTA4  =

[2016-01-19 17:12] aplavin commented on #4502
Well, I see that the issue description is a bit unclear :) So, example may show it better:

I have a data table in a fits file, and one of its columns is defined as so:

    name = 'DATE'; format = 'E'; bscale = 1.0; bzero = 2451910.0

Note the `bzero` (offset). When I get this column as `data['DATE']`, it returns correct values, with `bzero` added:

    2452095

And the returned array `data['DATE

[2016-01-19 17:25] embray commented on #4501
This is still a WCS, just with spectral coordinates as defined in http://www.atnf.csiro.au/people/mcalabre/WCS/scs.pdf, as opposed to purely celestial coordinates.

It is correct.  Trailing spaces in string values for FITS keywords are ignored according to the FITS standard.  Some software writes additional right-padding in string values for compatibility reasons (or just because of sloppy coding

[2016-01-19 17:37] embray commented on #4502
I see. The issue you're having with `np.asarray` is the same as #3919.  What are are you actually trying to do?  There might be a simpler way.

[2016-01-19 17:47] hcferguson commented on #4455
@taldcroft -- sorry for the delay. I pared them down to a few rows and put them at http://www.stsci.edu/~ferguson/outgoing/  files barro_subset.txt and gds_subset.hdf5.

[code]

[2016-01-19 17:58] embray commented on #4495
I'm tempted to call this a bug, but I don't know if it was originally intentional for some reason...

[2016-01-19 18:06] embray commented on #4495
In part it may be that the Cython code does not explicit support complex values, but it should.  It appears that `convolve_fft` does allow complex inputs and kernels though.

[2016-01-19 18:10] aplavin commented on #4502
I just need the data as a plain numpy array to use its features like selecting several columns (`data[['A', 'B']]` doesn't work with `GroupData` but works with numpy arrays), having the data stored sequentially (for interoperability with other code) and others.

[2016-01-19 18:15] aplavin commented on #4501
Well, I see it's also considered a WCS...
However I still can't get how to access this data easy, so may be this should be implemented in `astropy.wcs`, or documented if it's already there.

[2016-01-19 19:17] sunilk747 commented on #3744
@hamogu I have read the above comment's from which what I understand is the task here is to add a method to read excel sheet and create table from that. Correct me if I am wrong.

[2016-01-19 19:20] astrofrog commented on #3744
@sunilk747 - that's correct, and as we discussed above, you can do this very easy by using pandas which already does the hard work of calling ``xlrd``

[2016-01-19 19:21] embray commented on #4501
What are you actually trying to do with it?  There may already be a tutorial, or even an affiliated package that already does the same thing.

[2016-01-19 19:26] astrofrog opened #4507 "Add option to ``vstack`` to cast to string when types are incompatible"
I have a scenario where I am reading multiple tables, and one of the columns can be a value or string but it just happens that in one of the tables, all the rows are numbers, so the type gets cast to int or float. I then want to stack these tables. Example:

* ``data1.csv``:

[code]

* ``data2.csv``:

[code]

This gives:

[code]

In this kind of situation it would be nice to have the option to say

[2016-01-19 19:49] josePhoenix opened #4508 "User API feedback: ascii.write(... formats=...) appears to ignore formats when name mismatched"
Passing on a piece of user feedback:

For a novice Python user, this code behaves unexpectedly:

[code]

The source of the confusion is that the keys in the `formats` dictionary need to match the names in `names`. The docstring is not specific about the form that the dictionary needs to have, and I think this is a mistake that might be easy enough to make. The problem is that unmatched format spec

[2016-01-19 20:12] aplavin commented on #4501
First I need the values itself - I have many files with observations of many objects and need to see what parameter values (frequency, polarization, coordinates and other) they have. The files are in UV FITS format and I didn't find ready to use code for this.

Of course, this issue doesn't impede the implementation much, but I think it's a rather general case, useful and convenient.

[2016-01-19 21:07] embray commented on #4501
You might try asking on the [AstroPy](https://mail.scipy.org/mailman/listinfo/astropy) mailing list.  I know there are other people on there with experience working with UV FITS data.

[2016-01-19 22:18] embray commented on #4502
Got it, that makes sense.  Your current workaround should work fine--a more comprehensive workaround isn't likely to come any time soon though.  There's a long history behind this issue.  As it is I'm going to close as a duplicate of #3919 since (although not obvious) it's the part and parcel of the same issue.

[2016-01-19 22:18] #4502 closed

[2016-01-19 22:21] embray commented on #4499
Is there some reason not to implement `__eq__`?  Seems fine to use it as the same as `compare` with the default arguments, which requires the strictest equivalence.  That could still be useful for some cases.

[2016-01-19 22:29] MSeifert04 commented on #4499
I think an easy way to directly access and document a comparison function would be best. I haven't found it myself and even after @astrofrog named the methodname it was quite hard to find.
Since ``__eq__`` isn't included in the documentation I would prefer a ``WCS`` method or (even better if I look at #4272) a convienience function in the ``astropy.wcs`` package that takes two ``WCS`` objects.

[2016-01-19 22:54] taldcroft commented on #4507
I would be game for a parameter that essentially disables the [check that the input types are similar](https://github.com/astropy/astropy/blob/9210e3904b111a71e49e88449c3515534e2d0ab7/astropy/table/operations.py#L500).

Unfortunately I tried this out and discovered an unexpected behavior in numpy:
[code]
The string lengths are not what I would expect.  The `common_dtype` function just uses numpy t

[2016-01-19 22:57] taldcroft commented on #4507
But getting back to the original idea, we need a parameter name.  Ideas:
- `allow_dissimilar_types=False`
- `strict_type_matching=True`
- ???

[2016-01-19 23:02] taldcroft commented on #4507
OTOH, maybe the right answer is to just make your table column have the correct type to begin with.  See http://astropy.readthedocs.org/en/latest/io/ascii/read.html#converters.
[code]

[2016-01-19 23:11] taldcroft commented on #4507
And now that we have `replace_column` it's straightforward to fix a column dtype post-facto.

[2016-01-20 03:30] evertrol opened #4510 "numpycompat causes an error with Python 3 and a numpy library < 1.7"
There is a fix for a numpy bug in `utils.compat.numpycompat._register_patched_dtype_reduce()`
Since that fix involves importing `copy_reg`, this fix only works on Python 2: on Python 3 the module is named `copyreg`, and causes an `ImportError`.

I assume that most (or all) tests just install astropy with the most recent numpy version, hence this bug would not be discovered by Travis.

Admittedly,

[2016-01-20 14:05] embray commented on #4510
Right, I think our CI configuration only tests older Numpys on Python 2, and assumes Python 3 users are more likely to be using newer Numpys as well.

[2016-01-20 14:12] embray commented on #4510
Incidentally Astropy doesn't support Python 3.2, and hasn't since I'm not sure...at least v1.0 I think.  Maybe 1.1.  Have to check the changelog.

This should still be fixed though for clarity's sake if nothing else.

[2016-01-20 14:16] bsipocz commented on #4510
@embray - I've just checked and ``- Prior to Astropy v1.0 Python 3.1 and 3.2 are also supported.`` in the install docs. However it seems to be a np <1.7 bugfix, and we are still supposed to require numpy 1.6+.
So +1 to fix it even though it's very unlikely that anyone with python 3.3+ uses numpy 1.6.

[2016-01-20 15:30] #4453 closed

[2016-01-20 15:32] embray commented on #4496
Thanks for investigating!

[2016-01-20 16:02] #4411 closed

[2016-01-20 17:28] taldcroft opened #4513 "Allow access to parent table in table aggregation function"
Currently the table aggregation function is passed only the slice of the single column being aggregated.  A column slice loses the reference to the parent table.  It can be useful to have access to the other table columns in some situations.

One way to accomplish this would be to allow the aggregation function to define three keyword parameters: `parent_table`, `i0`, `i1`.  The `ColumnGroups.aggr

[2016-01-21 20:33] AMAN3003 commented on #328
@taldcroft  I have solved this issue and tested it. Do I need to submit the patches and test run or only the patches.This was my first so apoloize if I had not follow any protocol.

[2016-01-21 21:48] AMAN3003 commented on #328
I was unable to commit and pull  so i have the link of the script please review it and pull it .

https://gist.github.com/AMAN3003/181c8760c65f5f3a8336

[2016-01-22 16:39] gbrammer opened #4520 "Slow initialization of astropy.wcs.WCS() from a FITS header"
I've noticed recently that initializing the astropy.wcs.WCS() object from FITS headers is *extremely* slow and am wondering if there is an obvious explanation based on recent updates.  Here's an example:

[code]

This is the case whether or not the header has SIP keywords, in the timed case above the header did not have them.

Here's the same test with "pyfits" and "pywcs", which is 2400 times fas

[2016-01-22 16:42] astrofrog commented on #4520
@gbrammer - do you see the same issue if you add ``fix=False`` to the ``WCS()`` instantiation?

[2016-01-22 16:48] gbrammer commented on #4520
@astrofrog - Yes, it looks the same:

[code]

[2016-01-22 16:55] MSeifert04 commented on #4520
Wasn't this a part of the 1.1.1 bugfix release?

[2016-01-22 17:11] gbrammer commented on #4520
Thanks for the tip, @MSeifert04, and to others for the bugfix.  I just upgraded to 1.1.1 and I see a similar improvement, though still a factor of 10 slower than the old `pyfits`/`pywcs`.

[code]

[2016-01-22 17:17] mvnnn commented on #4438
@embray thanks for clarify me. i will fix that.

[2016-01-23 10:55] AMAN3003 commented on #4429
@embray I would like work on this issue

[2016-01-23 10:56] AMAN3003 commented on #4429
@bsipocz  @embray  I am new to Astropy community and would like to contribute

[2016-01-23 12:46] Pratik151 commented on #4429
@AMAN3003  I have already worked on this and it is almost completed I guess.
@embray  can you check #4445  when you have time :) Build will pass once it is restarted I think.

[2016-01-23 18:21] shwetamore1295 commented on #3739
I would like to work on this issue. Has this been fixed in [4065]?

[2016-01-23 21:07] elinor-lev commented on #4495
Both fft_convolve and convolve2d allow complex, so it's what I'm using for
now. It appears in the code of astropy's version that there are several
places where both the array and kernel are cast into float, so it might be
a feature.
e.g.:

line 120:        array_internal = np.array(array, dtype=np.float)

I tried removing those but with no success. I suspect it doesn't support
complex because of t

[2016-01-24 01:27] bsipocz commented on #4429
@AMAN3003 - Great to hear that you're interested in contributing to astropy. The place to start is the contributing page http://www.astropy.org/contribute.html. It has links to the most relevant informations, such as the workflow docs, guidlines, and links to the package novice issues. Please read those docs and then you can use the ``package-novice`` label to look for issues to work on. In most o

[2016-01-24 04:26] shwetamore1295 commented on #3775
@embray @astrofrog If this issue is still open, I would like to work on this issue.

[2016-01-24 11:11] shwetamore1295 commented on #3205
@embray If this issue is still open, I would like to fix this.

[2016-01-24 17:12] kgullikson88 opened #4521 "Ordering of covariance matrix with tied parameters"
I am trying to use the modeling/fitting framework with astropy v1.1. I have a compound model (constant + 2 2D Moffat functions), where I am tying the shape parameters for the 2 moffat functions to be the same. The resulting fit works and looks good, but I am having trouble figuring out the ordering on the covariance matrix returned in the 'fit_info' dictionary. The documentation says that it has t

[2016-01-24 17:16] kgullikson88 commented on #4521
It turns out that I figured this out almost as soon as I submitted the issue. Here is the answer I got in case others have the same problem. Basically, it is still in roughly the same order but skips the tied parameters. I have tied the following parameters:

 - `x_gamma_1`
 - `y_gamma_1`
 - `alpha_1`

So to get the standard error (ignoring covariances here...)

[code]

with result:

[code]

[2016-01-24 21:43] sirpercival opened #4523 "Why are the Scale and Shift models not Fittable?"
There's no real reason I can see for this... I guess you could fit `y - x` with a `Const1D` for `Shift`, and `y / x` with a `Const1D` for `Scale`, but it seems counter-intuitive.

[2016-01-25 08:53] cdeil commented on #1055
Just FYI: we're using [Sherpa](https://github.com/sherpa/sherpa) now, which has this functionality and last year moved to open development on Github.

So I'm withdrawing this as a feature request for `astropy.modeling` and closing this issue.
Of course, if you feel this functionality should be implemented in `astropy.modeling` and this discussion is useful, feel free to re-open.

[2016-01-25 08:53] #1055 closed

[2016-01-25 10:15] saimn commented on #1233
`Table.write` appears to have an overwrite keyword for FITS files, so this is cool but not documented (or I didn't find where). So if I understand correctly this is currently specific to FITS, and it should be handled more generally for all table formats ? (and #1298 was an attempt to do this ?)

[2016-01-25 13:32] AMAN3003 commented on #4165
@embray is this issue solved if not can i work on this issue

[2016-01-25 14:08] astrofrog opened #4528 "test_metadata_too_large should be skipped if yaml is not installed"
Currently, ``test_metadata_too_large`` fails if h5py is installed but not yaml, so the ``skipif`` directive needs to be updated to also include a check of yaml.

[2016-01-25 14:45] astrofrog opened #4529 "Bug in WCS slicing with negative step"
In the following example, I should get the same world coordinates for the velocity axis regardless of whether I reverse the order of the WCS or not:

[code]

cc @nden @keflavich

[2016-01-25 15:00] mirca commented on #4528
So, my understanding is to add a ``skipif('not HAS_YAML')`` to ``test_metadata_too_large``. Is that correct?

[2016-01-25 15:13] astrofrog commented on #4528
you need to keep ``not HAS_H5PY`` so I think you'll need ``not HAS_H5PY or not HAS_YAML``

[2016-01-25 18:04] AMAN3003 commented on #4429
Dear Mam,
Thank you for providing me head start. I want to contribute under you. I
have already read the document. But want some newbie bugs to solve and
contribute under your mentorship.
Thanking you
Aman
On Jan 24, 2016 6:57 AM, "Brigitta Sipocz" <notifications@github.com> wrote:

[2016-01-25 19:23] embray commented on #4165
@AMAN3003 On GitHub, issues / pull requests that are related to each other show up as cross-references when one references the other.  For example, just above your comment you should be able to see two pull requests that reference this issue.  One of this PRs is already merged, and references this issue in passing.  The other, you can see, is already an attempt to work on this issue (which still n

[2016-01-25 19:25] embray commented on #1233
In the case of FITS files this is simply because Table.write can pass through options to the underlying writer (if it is a wrapper around another library), in this case being `HDUList.writeto` which has a "clobber" option.  No reason that couldn't be made to apply more generally though.

[2016-01-25 19:26] embray commented on #1233
#1298 does look like an abandoned attempt at this issue.

[2016-01-25 22:21] saimn commented on #1233
@embray : actually it doesn't use the clobber option ;)
https://github.com/astropy/astropy/blob/master/astropy/io/fits/connect.py#L221
It is the same for VOTable and HDF5, but `io.ascii` always overwrite the output file:
https://github.com/astropy/astropy/blob/master/astropy/io/ascii/ui.py#L683

[2016-01-26 01:01] taldcroft commented on #1233
This is still a good idea.  :smile:  One thing that I don't think came up earlier is whether we need a compatibility release for `io.ascii`, during which it will issue a warning when overwriting an existing file but not error out.  Or if the current behavior is considered egregiously wrong and people who are relying on overwriting files (like myself) just have to change.

[2016-01-26 06:35] shwetamore1295 commented on #3888
If this issue isn't fixed, can I work on this issue?

[2016-01-26 06:36] shwetamore1295 commented on #3858
@astrofrog If this issue is still open, can I work on it?

[2016-01-26 16:38] taldcroft commented on #3888
@shwetamore1295 - go for it!

[2016-01-26 18:14] anchitjain1234 commented on #3742
@taldcroft @embray What implementation has to be followed finally, add new method ``zero_length_copy`` or add new argument ``max_rows`` to ``copy()`` method?

[2016-01-26 19:58] taldcroft commented on #3742
I like `max_rows`, so why don't you do that.

[2016-01-26 19:59] taldcroft commented on #3858
@shwetamore1295 - yes!

[2016-01-26 20:00] anchitjain1234 commented on #3742
Thanks @taldcroft.

[2016-01-26 21:17] hamogu commented on #3826
When are we going to drop 2.7 support?  ;-)

[2016-01-26 21:33] mhvk commented on #3742
I'm slightly confused about why one wouldn't just do `table[:0].copy()`?

[2016-01-26 22:14] taldcroft commented on #3742
The idea is to find a solution that will be more obvious (or guessable) to users.  I am not completely sure that `max_rows` fits the bill, but maybe better than nothing??

[2016-01-26 22:28] taldcroft commented on #3826
There was talk of allowing Py3-only features in astropy, in part to encourage use of Py3.  I would say that reading unicode tables counts as such a feature.  At some level that might be a reasonable argument for simply closing this issue as a `wontfix`.  @embray?

[2016-01-26 22:35] astrofrog commented on #3826
+1 to @taldcroft but I would at least add a notes to the docs to advertise that this works on Python 3

[2016-01-26 22:46] pllim commented on #4523
Why would one need `modeling` to fit these? You can just find the answer by using the math operators, no?

[2016-01-27 00:25] hamogu commented on #3826
:+1: (to closing as wontfix and adding and issue to the docs)

[2016-01-27 01:26] embray commented on #4523
I don't think there's any real reason.  Those models don't really quite fit with the others in that module and were originally conceived of in a different context (for use in WCSs).

[2016-01-27 01:30] embray commented on #4495
Right, the Cython code which handles the interpolation was not written to support complex types.  It could be though.  Would take a little elbow grease but nothing hugely complicated that I can think of...

[2016-01-27 01:32] embray commented on #3739
#4065 is almost done. Its author just started school and never had time to put on the finishing touches (as I can well relate to :)  I or someone else will just need to add those finishing touches and merge the PR manually.

[2016-01-27 01:52] embray commented on #4520
I suppose there could be a flag to just ignore SIP entirely--assuming it's also possible to pass this through to WCSLIB so that it ignores the SIP keywords too.

[2016-01-27 01:55] mhvk commented on #3742
Hmm, yes, looking back at the original thread, I can see the confusion, and the thought of passing in a table dtype in the initializer is something I might have guessed as an option myself.  But I think in that case `max_rows` in the `copy` method is not much better. Could we not just add something to the `Table` docstring and the documentation?

[2016-01-27 02:08] embray commented on #328
@AMAN3003 I think the open issue here was to change @taldcroft's script to edit the files passed as arguments to it, so that they all use mutually consistent section ordering (what's not clear is which ordering the should use?  The one from the first file?  The most common one?  One specified on the command-line?  Maybe all of those could be options...)

I admit I'm a bit puzzled by what your revi

[2016-01-27 02:49] taldcroft commented on #3742
@mhvk - agreed, perhaps just a new example would do the trick.

I think one way to go is to change the section heading of http://docs.astropy.org/en/stable/table/construct_table.html#table-columns from `Table columns` to `From existing table` and then add the example of creating a copy of an existing table that is empty (has no rows) to the end.

I think this is too specific for the `Table` docstr

[2016-01-27 02:54] taldcroft commented on #328
I never am able to find a reference in our developer docs on what the ordering is supposed to be.  Am I being blind or is does that not exist?

[2016-01-27 04:24] ShiftyMate commented on #4467
I'm seeing a similar error, this is after attempting to update things to python 3.5 while maintaining a version of python 2.7. On Mac OSX 10.9.5, astropy used to work on python 2.7. Currently have py27-astropy @1.1.1_1, py35-astropy @1.1.1_1 and py-astropy @0.3_0 (seems to have been installed when I installed py35-gobject3). Also have wcslib @5.12_0 installed.

        from astropy.convolution imp

[2016-01-27 06:29] keflavich commented on #3826
If this is really unfixable in py2.7 - and I trust @taldcroft that it is - then marking it as such in the docs is acceptable.  It would be helpful to have an appropriate error message when reading ascii files in py2.7, e.g.: "A non-ascii character has been detected in the file.  Sometimes, text tables containing unicode can be read using astropy in python3; please see [this section of the docs] fo

[2016-01-27 07:54] Juanlu001 commented on #4454
Paraphrasing Nick Coghlan, "Stop Supporting Python 2 (for free) (in 2020)"

http://www.curiousefficiency.org/posts/2015/04/stop-supporting-python26.html

[2016-01-27 08:35] olebole opened #4535 "1.1.1: test_wcs.py fails with wcslib-5.13"
Hi,

with the new wcslib version 5.13, `test_validate` fails with
[code]
This happens for both Python 2 and 3. Full test log is [here](https://ci.debian.net/data/packages/unstable/amd64/p/python-astropy/20160127_061935.autopkgtest.log.gz).

[2016-01-27 13:33] mhvk commented on #3742
Agreed that the `dtype` could not work (unless it starts to carry units, which is apparently being thought off, as many numpy developers feel it should be the place for information on what the bytes in the array mean; but that will be quite a while...). I only mentioned I thought it was not illogical to think it would work, since, given subsequent failure, it would then be logical to do `Table?` i

[2016-01-27 15:50] sirpercival commented on #4523
@pllim Looking for a best-fit scale factor between two spectra, for example? Hopefully in a way that handles outliers nicely?

[2016-01-27 15:54] pllim commented on #4523
@sirpercival , feel free to submit a PR if you wish to tackle this.

[2016-01-27 16:02] Cadair commented on #4523
I would agree these would be useful, mainly to make it easier to create composite fittable models.

[2016-01-27 16:02] nden commented on #4523
It may be useful to have them be `fittable` for the case when they are a part of a compound models.

[2016-01-27 16:21] sirpercival commented on #4523
@embray is there a reason to keep the non-fittable versions of Scale and Shift for WCS, or could I just replace them with fittable versions?

[2016-01-27 16:43] embray commented on #4523
@sirpercival There's no reason.  They could just be changed to subclasses of Fittable1DModel.

[2016-01-27 16:45] embray commented on #4467
Your best bet is to uninstall all old versions first.

[2016-01-27 16:50] embray commented on #3826
@keflavich I'm sure it's not *really* "unfixable".  I think it's just a matter of priorities and effort.  If someone wanted to try to fix it I'm sure they'd be welcome.

See #4454.

[2016-01-27 16:53] embray commented on #3826
For someone interested in implementing this feature on Python 2, the `csv` module documentation contains an example for implementing a unicode-based reader/writer for CSV:

https://docs.python.org/2/library/csv.html#examples

I've used this example myself in some projects.  I see no reason it couldn't be adapted in to `astropy.io.ascii` where needed.  Perhaps an "encoding" option could be added to

[2016-01-27 17:03] embray commented on #328
@taldcroft I could swear I documented a recommended ordering once.  But now I can't find it either.  Maybe I just mentioned it in some issue somewhere, but it never went into the docs on [writing documentation](http://docs.astropy.org/en/stable/development/docguide.html#documentation-guidelines).  Ultimately it doesn't matter much as long as it's consistent within a file, but it would be nice to h

[2016-01-27 18:55] #4499 closed

[2016-01-27 19:02] mwcraig opened #4538 "Better document limited handling of correlated errors in NDData"
I'm hoping @MSeifert04 can take care of this one...

There is now limited support for correlated errors in NDData thanks to #4272 but an explanation has not been added to nddata documentation.

[2016-01-27 22:35] paulray commented on #4467
I'm having this problem as well.  I'm using MacPorts and have the following installed:
  py27-astropy @1.1.1_1 (active)
  wcslib @5.12_0 (active)

But, I get this error:
[code]
I tried uninstalling all previous versions of wcslib and astropy and re-installing, but no joy.
Anyone have a suggestion for how to get back to working again?

[2016-01-28 00:16] taldcroft commented on #3826
I had said `won't fix` not `can't fix`.  But I may have been hasty in saying that this issue should be closed, since as @embray notes it may not be terribly difficult.

[2016-01-28 05:10] AMAN3003 commented on #328
@taldcroft  in your script https://gist.github.com/3208992.
i edited the files passed as arguments to it, so that they all use mutually consistent section ordering
(both the command line and the file should be consistent)
line no 87 "header_chars_list[:-1], header_chars_list[1:] " hc0 and hc1 are not giving the reverse in case of alphanumeric character.both ,header_chars_list[:-1] and header_chars

[2016-01-28 06:53] cdeil commented on #4467
@paulray - That's weird. I have the exact same versions with Macports and it works for me. No idea why your `_wcs.so` doesn't contain the `_wcslib_version` symbol as it should.

[code]
Maybe the `port install py27-astropy` log reveals an issue?
(you could paste it in a https://gist.github.com/ if you want us to have a look).

[2016-01-28 12:10] paulray commented on #4467
@cdeil Thanks for the reply.  I tried rebuilding astropy with -v, but there is no log kept, since the build does not fail.  How does one get port install to not delete the build log after a successful build?

Anyway, here is what I currently get from the same commands you used.
[code]

One thing I notice is that although I rebuilt astropy after uninstalling, the _wcs.so does not have today's date

[2016-01-28 13:36] #4528 closed

[2016-01-28 13:36] astrofrog commented on #4528
Closed by #4530

[2016-01-28 14:04] astrofrog commented on #4480
Closed in #4483 (merged manually)

[2016-01-28 14:04] #4480 closed

[2016-01-28 14:34] taldcroft commented on #328
@AMAN3003 - I don't see any code in https://gist.github.com/AMAN3003/181c8760c65f5f3a8336 that is fixing the input .rst files to use a common ordering.  I would say that the code should determine the most frequent ordering that is in the existing files in astropy and then use that as the standard.

About the ordering and reversal issue you mention, your description is not very clear.  Can you give

[2016-01-28 14:40] paulray commented on #4467
@cdeil Well, for now I fixed the problem by copying _wcs.so from the build directory of my development repo of astropy into /opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/astropy/wcs

[2016-01-28 19:31] AMAN3003 commented on #328
okk i understand the issue and i am working on this issue

[2016-01-28 20:19] AMAN3003 commented on #328
@taldcroft  do you want me to update the rst file with the ordering -=* to * = - ^ "(standard ordering )

[2016-01-29 00:59] weaverba137 opened #4541 "Can't import astropy.coordinates in 1.1.1."
I can't import astropy.coordinates with astropy/1.1.1.  Here are two different ways I tried:

[code]

[code]

[2016-01-29 11:52] MSeifert04 opened #4542 "Ipython Notebook and EarthLocation representation warning/error"
I tried to get the ``EarthLocation`` and print the representation of it and it works (it returns the correct representation) but it also raises an Error:

[code]

I'm using astropy 1.1.1, numpy 1.10.1.

[2016-01-29 12:15] mirca commented on #4541
Could you print the error log, if any, after trying ``import astropy.wcs``?

[2016-01-29 12:31] astrofrog commented on #4541
@weaverba137 - there was an issue in the MacPorts port for Astropy. Can you do:

[code]

? If it doesn't work, can you send the output of:

[code]

?

[2016-01-29 13:21] hamogu commented on #4061
Since #4062 is merged, should this be closed?

[2016-01-29 13:22] hamogu commented on #3973
@neuronphysics Is this still an issue or can we close this?

[2016-01-29 13:29] hamogu commented on #3908
Since @astrofrog found that there is some but "not a ridiculous" overhead, and @eteq is opposed to adding another method, can we close this?

(I agree with @eteq but for another reason: Feature creep. Even for me as a significant contributor it's hard enough to keep up with what astropy offers. I find new things every day and about 50% of all conversations with astropy users where I ask "What feat

[2016-01-29 13:33] astrofrog commented on #3908
@hamogu - I agree with you - in fact, I wonder whether the same reasoning should apply to https://github.com/astropy/astropy/pull/3800

[2016-01-29 13:37] hamogu commented on #3780
@astrofrog: I think you have opened new PRs to remove this stuff, right?
So, is this issue still needed?

[2016-01-29 13:47] astrofrog commented on #3780
@hamogu - I think it's all done :) (of course, I'm sure I've missed a couple of small things which we'll find in future)

[2016-01-29 13:47] #3780 closed

[2016-01-29 13:50] astrofrog commented on #1523
It looks like this was resolved since this issue was opened

[2016-01-29 13:50] #1523 closed

[2016-01-29 13:51] hamogu commented on #3379
Since `QTable` was released and we generally want API stability and there where no further comments on this in ~1 year, I suggest to close it.
If we kept an open issue for anything that somebody suggested to rename in the past we we decided to not rename it,we'd probably overflow the possible number of open issues!

[2016-01-29 13:52] astrofrog commented on #2204
I think this was implemented in the mean time:

http://docs.astropy.org/en/stable/table/indexing.html

@taldcroft - please re-open if you feel that this is not resolved.

[2016-01-29 13:52] #2204 closed

[2016-01-29 13:54] hamogu commented on #3307
Since there was no further input for ~1 year (I guess that's "let it linger a bit"), can we just close this issue? Given that we have > 500 open issues, it's very unlikely that somebody even finds this one to continue the discussion - more likely, they would open a new issue.
(That's not to say that should be no flags, I just don't think that keeping this issue open will help the decision.)

[2016-01-29 13:57] hamogu commented on #3088
So, should we add a Python 3 sphinx build on Travis?

[2016-01-29 14:01] astrofrog opened #4543 "numpy.linspace broken with Quantities"
Numpy.linspace used to work nicely with quantities:

**Numpy 1.9.3**

[code]

**Numpy 1.10**

[code]

@mhvk - is this a bug in Astropy, or a bug introduced in Numpy?

A lot of user code might rely on this, so we should get a workaround out soon unless it has to be fixed in Numpy.

[2016-01-29 14:04] taldcroft commented on #3379
@hamogu - I agree.  I'm closing this now.

@astrofrog @eteq @mhvk - feel free to re-open if you feel it necessary.

[2016-01-29 14:04] #3379 closed

[2016-01-29 14:04] astrofrog commented on #2378
This was addressed in #2427

[2016-01-29 14:04] #2378 closed

[2016-01-29 14:05] bsipocz commented on #3088
@hamogu - In theory I'm on it (didn't have time in the past week to work on it, but will pick this thread up soon), but there are still some warnings. However I think this issue can be closed as https://github.com/astropy/astropy/issues/4481 supersedes it.

[2016-01-29 14:06] astrofrog commented on #1024
@chanley @wkerzendorf - do you have any updates on this format? I've marked this issue as a candidate for closing. If there are no more updates or requests for support, I'll close it.

[2016-01-29 14:08] astrofrog commented on #681
Moved to https://github.com/astropy/astropy-tools/issues/10

[2016-01-29 14:08] #681 closed

[2016-01-29 14:14] mwcraig commented on #3307
Agreed, @hamogu, thanks for catching this.

[2016-01-29 14:14] #3307 closed

[2016-01-29 14:14] astrofrog commented on #2628
We now have wheels on PyPI and are green on pythonwheels, so closing

[2016-01-29 14:14] #2628 closed

[2016-01-29 14:16] astrofrog commented on #2765
@olebole - is this still an issue?

[2016-01-29 14:18] astrofrog commented on #905
@taldcroft - I'd forgotten about this - how do we want to proceed given that we've now removed the ``OrderedDict`` sub-class? My suggestion would be to close this and submit a patch to Python itself if we think it's important enough (incidentally, Python will be developed on GitHub soon, so that should be easy)

[2016-01-29 14:21] astrofrog commented on #2943
We accidentally resolved this issue by adding a MacOS X build to Travis. It uses clang:

https://s3.amazonaws.com/archive.travis-ci.org/jobs/105622311/log.txt

[2016-01-29 14:21] #2943 closed

[2016-01-29 14:24] astrofrog commented on #2977
I'm going to close this, because this was an issue with the FITS files. If someone still feels strongly about that, they can report it to the WCSLIB developer.

[2016-01-29 14:24] #2977 closed

[2016-01-29 14:25] olebole commented on #2765
It seems to work now; at least I didn't get this anymore since I reported here. We could probably close it as "unreproducible".

[2016-01-29 14:27] #2765 closed

[2016-01-29 14:30] taldcroft commented on #3908
There is in fact a significant overhead in both methods relative to an optimal implementation without units.  The routine below runs about 17 times faster than `angular_separation` for a scalar input and 7 times faster for an 10000 element array input.  Units are really powerful, but they are also slow.  From that perspective I think that it is worthwhile to expose a low-level routine that accepts

[2016-01-29 14:37] taldcroft commented on #3908
And if we force users to do something like `ICRS(3 * u.deg, 4 * u.deg).separation(ICRS(5. * u.deg, 6 * u.deg))` then there is nearly a factor of around 70 slowdown relative to `sphere_dist(3, 4, 5, 6)`.

[2016-01-29 14:51] embray commented on #1024
If nobody can give useful information on what these files are, how they're formatted, and what they're used for then there's nothing to be done...

Nobody else has asked for this either, though as @chanley pointed out there are probably lots of them floating around, and the dependence on IRAF in reading them is not going to be so great for future purposes...

[2016-01-29 15:05] taldcroft commented on #905
I think a patch to Python would be a great idea but likely to be a very steep hill to climb.  I was thinking just now about monkey-patching the `__repr__` for relevant *instances* (e.g. meta objects in particular).  For some reason it does not work as expected.  Ideas?
[code]

[2016-01-29 15:06] taldcroft commented on #905
So I still think this is a worthwhile thing to do if we can define a technically simple solution.

[2016-01-29 15:11] mhvk commented on #4543
It is a numpy regression: see https://github.com/numpy/numpy/issues/7142

[2016-01-29 15:12] #4061 closed

[2016-01-29 15:16] weaverba137 commented on #4541
Thanx, I'll answer both questions at the same time.

## import astropy.wcs

Before doing any upgrades, as suggested by the other question:
[code]

## Existing version and upgrade.

Before trying to upgrade, here were the versions I had:

* wcslib @5.12_0 (active)
* py27-astropy @1.1.1_1 (active)

After upgrade:

* wcslib did not change.
* py27-astropy did not change.

So it looks like I'm already

[2016-01-29 15:29] astrofrog commented on #3853
@taldcroft - do you know if this is a problem on Python 2.7 too?

[2016-01-29 15:32] astrofrog commented on #3830
See information here about how the weight is calculated: http://stackoverflow.com/questions/28685680/what-does-weight-on-search-results-in-pypi-help-in-choosing-a-package

[2016-01-29 15:32] embray commented on #4541
This is effectively a duplicate of #4467.

Since it's not an issue with astropy itself I'm closing, but feel free to continue discussion in the comments until the issue is resolved for you.

[2016-01-29 15:32] #4541 closed

[2016-01-29 15:34] embray commented on #3853
This wouldn't be an issue on Python 2.7.  However, before closing this the tests that @taldcroft marked skip in 2cfaf55 can be re-enabled.

[2016-01-29 15:52] astroleo commented on #4467
Hi everyone (Servus @cdeil!), is it really necessary to support astropy for Macports? Wouldn't it be acceptable to ask people using Macports to install pip (using Macports) and then do a `pip install astropy`?

[2016-01-29 15:58] paulray commented on #4467
I've preferred to stick with an all-MacPorts solution.  I don't really know how dependencies interact if you mix installing packages with pip and MacPorts (e.g. say I install astropy with pip, then what happens when I try to install aplpy (which depends on astropy) with port?) .  Normally MacPorts works really well for me, so I hope @astrofrog  will keep maintaining it!

[2016-01-29 16:08] weaverba137 commented on #4467
Sorry, but on close reading, I can't determine what the actual solution to this problem was.

[2016-01-29 16:09] bsipocz commented on #4467
@paulray - Does it mean that you've found macports versions for all the python packages you want to use?

I was less lucky with fink (and my obsolete OS at the time), and thus now have the solution to use fink for everything but python packages, and use pip for all the python packages.

[2016-01-29 16:20] paulray commented on #4467
@bsipocz Mostly I've found what I need in MacPorts (I'm much happier since switching from fink a year or two ago).  For the few I don't find, I just build myself with "python setup.py install --user so they don't pollute the MacPort distro. This seems to work well.

[2016-01-29 16:24] paulray commented on #4467
@weaverba137 I never found the real solution.  In the end, I copied a good copy of _wcs.so into the MacPorts repo, and now it works fine.  What will happen when either wcslib or astropy is updated and rebuilt by MacPorts, I have no idea...

[2016-01-29 16:25] weaverba137 commented on #4467
Thanx @paulray.

[2016-01-29 16:39] weaverba137 commented on #4467
@paulray's suggestion worked for me as well.  For reference what I did was:

1. Download astropy-1.1.1.tar.gz from PyPI.
2. untar and run python setup.py build (using my MacPorts version of Python).
3. copy build/lib.macosx-10.11-x86_64-2.7/astropy/wcs/_wcs.so to  /opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/astropy/wcs.

[2016-01-29 16:40] bsipocz commented on #4467
@paulray - You can also say ``pip install --user``, so no need to download the source manually, etc.

[2016-01-29 16:42] astrofrog commented on #4467
Copying files into the MacPorts tree is a bad idea - it would be best to uninstall astropy from MacPorts until the issue is resolved, and do what @bsipocz suggested instead.

[2016-01-29 18:49] cdeil commented on #4467
I've also been using Macports for years. It usually works very well, install and update just works. For Python packages that aren't available in Macports I use `pip install --user` or `python setup.py install --user`. Macports handles all the hard-to-build C / C++ / Fortran libraries and provides update functionality much better than just using pip.

Packages installed with `pip install --user` wi

[2016-01-29 19:17] bdilday opened #4545 "Resource.__repr__ throws an AttributeError no attribute _element_name"
Example:

[code]

This has been reported on astroquery also
https://github.com/astropy/astroquery/issues/610

The example shown here,
https://astroquery.readthedocs.org/en/latest/vizier/vizier.html

shows Resource as having no `__repr__` method. I have a fix for the AttributeError issue, but I do not know what behavior is desired. Can somebody clarify?

[2016-01-30 03:48] MSeifert04 commented on #4538
I have updated my notebook for the tests and uploaded it: https://github.com/MSeifert04/nddatadocs/blob/master/NDData.ipynb . Unfortunatly the visual size of quantities is really small.
I could convert this to a ``.rst`` but I think it's not as easy as just converting the notebook?

[2016-01-30 09:52] astrofrog commented on #4256
I fixed this in https://github.com/astropy/astropy/pull/4349, which still needs to be merged.

[2016-01-31 06:23] sunilk747 commented on #3744
@astrofrog the `from_pandas()` method is not present in the master branch. Do I need to write this method also? what I found is, it's already there in Astropy version 1.1.

[2016-01-31 10:31] astrofrog commented on #3744
@sunilk747 - ``from_pandas`` does exist in master: https://github.com/astropy/astropy/blob/master/astropy/table/table.py#L2470 - is your local git repository up-to-date?

[2016-01-31 19:19] MSeifert04 commented on #4152
closed since this is solved for 1.2 with PR #4272

[2016-01-31 19:19] #4152 closed

[2016-02-01 08:53] olebole opened #4548 "1.1.1: TestPhysicsSphericalRepresentation failure with numpy 1.11.0 beta 2"
There are two failures in `TestPhysicsSphericalRepresentation` with the new numy beta release:
[code]
This code worked well with numpy-1.10. wcslib version for both (just in case that it matters) is 5.13.
Full test log [here](https://ci.debian.net/data/packages/unstable/amd64/p/python-astropy/20160131_061934.autopkgtest.log.gz)

[2016-02-01 09:05] olebole opened #4549 "1.1.1: test_table_aggregate expects no warning from external packages (and now fails with numpy)"
After upgrading to numpy 1.11.0 beta 2, I got the following test failures:

[code]

This happens four times (twice with `False`, and twice with `True`). The `FutureWarning` is probably one of numpy's warnings that the behaviour of slices will change in future. Full test log [here](https://ci.debian.net/data/packages/unstable/amd64/p/python-astropy/20160131_061934.autopkgtest.log.gz).

[2016-02-01 09:08] olebole commented on #4548
There is another failure (from the [same log](https://ci.debian.net/data/packages/unstable/amd64/p/python-astropy/20160131_061934.autopkgtest.log.gz) that may have the same cause:
[code]

[2016-02-01 12:19] astrofrog opened #4550 "Explicitly set BeautifulSoup parser to html.parser to avoid warning"
I'm now seeing the following warning when reading a table with Astropy (using BeautifulSoup in ``astropy.io.ascii.html``:

[code]

This means that ``html.parser`` should be specified in the default case.

Should be easy to fix (leaving as a beginner issue)

[2016-02-01 12:22] anchitjain1234 commented on #4550
@astrofrog I would like to work on this issue.

[2016-02-01 12:41] astrofrog commented on #4550
@anchitjain1234 - thanks! Please open a pull request with your changes once you have them ready.

[2016-02-01 16:42] mhvk commented on #4548
Hmm, similar failures in recent travis tests against master. Looks like rounding issues, but unclear why those did not turn up before.

[2016-02-01 17:38] astrofrog commented on #4441
Just for the record, I've emailed Mark with this patch: https://gist.github.com/astrofrog/996d8bb4479888d475d0

[2016-02-01 19:34] njsmith commented on #4548
Filed numpy/numpy#7161 to track -- please do report these things upstream! We want to know! :-)

Nothing comes to mind as an obvious cause, but it seems eminently bisectable if someone wants to try. (Basically: write a little script that exits successfully if the test passes and exits with an error code if the test fails, then clone numpy and do `git bisect start; git bisect bad master; git bisect

[2016-02-02 08:25] AMAN3003 commented on #4550
@astrofrog  and @anchitjain1234  can I also work on this issue

[2016-02-02 09:32] yeganer opened #4552 "astropy not future proof( Python 4 )"
While having a look at the pytest_plugins i noticed several occassions where
[code]
was used.
For future proof applications that won't need a complete code review(like what happened when python3 was released), checking for `six.PY3` should be avoided. Instead write `if six.PY2` and put the python3 code into `else` instead of `elif six.PY3`. By treating python2 as the special case python3 and pytho

[2016-02-02 09:55] astrofrog commented on #4552
@yeganer - thanks for opening this! It's a duplicate of https://github.com/astropy/astropy/issues/4477 so I'm going to close this, but feel free to continue the discussion then! If you're happy to work on fixing this, that would be great!

[2016-02-02 09:55] #4552 closed

[2016-02-02 12:50] vlas-sokolov opened #4555 "wcs.to_header() method breaks CDELT"
I get strange behavior in astropy when converting wcs to header - CDELT values are set to zero after I call wcs.to_header(). Please see the code attached to reproduce the error:

[code]

I get this behavior for astropy versions 1.1.dev14278 and 1.1.1 - the issue apparently wasn't there on 1.0.4;

[2016-02-02 13:11] astrofrog commented on #4555
@vlas-sokolov - the values are not set to zero in the new header for me, but there is a small (unsurprising) floating point difference:

[code]

gives:

[code]

Can you check that you also see this? Don't you see:

[code]

in the new header?

[2016-02-02 13:21] vlas-sokolov commented on #4555
Sorry for the assert confusion - I'm really getting a pair of (-0.0, 0.0)
for the new CDELT values in head_out, so it isn't a floating point
precision issue. Any ideas how to pinpoint the issue further?
On 2 Feb 2016 14:11, "Thomas Robitaille" <notifications@github.com> wrote:

[2016-02-02 13:43] astrofrog commented on #4555
Can you paste the full output of the header in a comment here?

[2016-02-02 14:23] nden commented on #4555
The output I get from `to_header` is the same as @astrofrog. However, the header of the file I downloaded has `CDELT3 = -0.1`. That's strange!

[2016-02-02 14:27] nden commented on #4555
Also
[code]
@astrofrog Can you confirm this? You printed only `CDELT1` and `CDELT2` differences above.

[2016-02-02 14:34] nden commented on #4555
Oh, never mind. It's reading the header correctly. It changed `cunit3`, hence the new `cdelt3` value.
So , I can't reproduce the problem.

[2016-02-02 17:22] vlas-sokolov commented on #4555
Here is the output header, head_out:
[code]

[2016-02-02 17:30] vlas-sokolov commented on #4555
I have found why it couldn't be reproduced earlier - it appears my local version of "foo.fits" was different.
Here is one that gives zero CDELT values: https://www.dropbox.com/s/pn4ypm3pxmtptgx/bar.fits?dl=0

[2016-02-02 20:50] bsipocz commented on #4481
See #4556 and astropy/astropy-helpers#216 as a solution for this.

[2016-02-03 05:43] AMAN3003 commented on #4542
@MSeifert04  I am a newbie contributor can i handle this issue.and could you guide me  to
fix this out

[2016-02-03 08:03] AMAN3003 opened #4559 "astropy installation problem"
error: [Errno 13] Permission denied: 'astropy.egg-info/dependency_links.txt'
 this is error which is appearing when i tried to install astropy in ubuntu 12.04
![screenshot from 2016-02-03 13 29 14](https://cloud.githubusercontent.com/assets/16108341/12776259/7b9f0cfc-ca7a-11e5-96cd-6da2bb052438.png)

I tried all the stackoverflow and other method but could not install astropy

[2016-02-03 08:41] mirca commented on #4559
I think you need to install ``jijnja2`` module. After, try ``sudo python setup.py develop``, as well.

[2016-02-03 09:19] AMAN3003 commented on #4559
i have installed jinja2 but still facing the issues

On Wed, Feb 3, 2016 at 2:12 PM, Zè Vinícius <notifications@github.com>
wrote:

[2016-02-03 09:54] AMAN3003 commented on #4542
@MSeifert04 i am not getting any warning could you .Could you ellaborate where you get this warning.
do you want the warning to be removed.
EarthLocation (1946618.261025452, -5467645.090548764, -2642488.447714588) m>

[2016-02-03 11:34] MSeifert04 commented on #4542
@AMAN3003 - I'm not sure how to fix this. But the problem is only visible when using the ``latex``-formatter, so this is probably only the case for ipython notebooks.

On the other hand The Error message indicates that the formatter gets a whole array instead of a single value but the ``EarthLocation`` directly subclasses ``Quantity``: which displays nicely and without error. The only difference I

[2016-02-03 12:46] mvnnn commented on #4559
@AMAN3003 try this ```python3 setup.py install```

[2016-02-03 12:58] toddrme2178 commented on #4535
I can confirm this.

[2016-02-03 14:43] vlas-sokolov commented on #4555
I have pinpointed the issue - below is the minimal working example to reproduce it. It looks like passing a short float value cdelt causes the error - very strange, isn't it? Also, the issue doesn't happen for naxis=2. Please check if you can reproduce this:

[code]

This is the output I get:

[code]

[2016-02-03 14:58] nden commented on #4555
I can reproduce the problem now with the second file and this example. I think it's a wcslib problem.
The header is parsed correctly and the wcs structure has the correct values. However, `wcsobj.wcs.to_header()` (which is a wcslib call) does not write the correct value out. Would you like to report this to Calabretta or would you like me to do this?

[2016-02-03 15:09] nden commented on #4535
It looks like the number of spaces in the warning message has changed.
I'll package 5.13 with a fix later today.

[2016-02-03 15:22] olebole commented on #4535
@nden I am using wcslib as an external dependency (Debian packaging), therefore I'd ask not to fix it in wcslib, but the test.

[2016-02-03 15:29] nden commented on #4535
@olebole That's right. I am going to fix the test. And package 5.13 with astropy.

[2016-02-03 15:32] nden commented on #4535
Although the fix for the test should go also in 1.0.9 so may be separate PRs is better.

[2016-02-03 16:48] mhvk commented on #4542
It seems most likely this is related to `EarthLocation` using a structured array (somewhat of a mistake, in hindsight), and that the iterator over values for `latex` sends the x,y,z groups to the latex formatter, rather than format them one by one.

@AMAN3003 - do go ahead and have a look, but be forewarned that it might be trickier than it seems.  I won't have time this week, but can likely help

[2016-02-03 18:18] AMAN3003 commented on #4542
@mhvk  as I am newbie will I able to fix it? if not then help me to fix it in next week as per comfortable schedules.If you could guide i will definitely  try it. But I did n't receive the value warning in my Ipython notebook instead I get the warning
  https://github.com/AMAN3003/astropy/pull/1
which i already fixed

[2016-02-03 18:25] vlas-sokolov commented on #4555
wcslib isn't on github, right? If that's the case, could you please report the issue then?

[2016-02-03 21:12] AMAN3003 commented on #4542
@mhvk  sorry I was eager to fix this issue and didn't waited for your guide and help.But will need indeed in future as i am just a newbie

[2016-02-03 21:12] AMAN3003 commented on #4542
@MSeifert04  please tell whether to use np.any([true,false])----> true
or np.all([true,false])--->false

[2016-02-03 23:11] MSeifert04 commented on #4542
@AMAN3003 - You need to make a pull request for astropy itself not for your repository. Then the tests are run and it is easy to review it.

[2016-02-04 04:20] AMAN3003 commented on #4542
@MSeifert04 If i was not able make the proper PR request please guide me I am newbie

[2016-02-04 04:29] AMAN3003 commented on #4500
@cdeil @bsipocz @embray Can I give a Try to this solve if the issue has n't yet solved.

[2016-02-04 06:46] cdeil commented on #4500
@AMAN3003 - Go for it!

If you're new to Astropy development, check out the [developer documentation](http://astropy.readthedocs.org/en/latest/#developer-documentation).

[2016-02-04 11:35] AMAN3003 commented on #4500
@cdeil  Thanks  I am working on this issue.

[2016-02-04 12:17] MSeifert04 commented on #4542
@AMAN3003 - The relevant information to make a PR should be in http://docs.astropy.org/en/latest/development/workflow/development_workflow.html#ask-for-your-changes-to-be-reviewed.

[2016-02-04 14:26] astrofrog opened #4567 "Improve error message when trying to assign data to a new column in empty table"
At the moment, in the case of an empty table, setting an existing column to a scalar produces no error:

[code]

but setting a non-existing column to a scalar produces an error:

[code]

The error message is not very clear. In the case of tables with rows, setting a new column to a scalar value does work. If one imagines a scenario where one is looping over tables, some empty, and some not, and do

[2016-02-04 15:43] mvnnn commented on #4567
#4511

[2016-02-04 17:33] mvnnn commented on #4567
i will fix empty table names issue.

[2016-02-04 19:53] anchitjain1234 commented on #3888
Please check #4561.

[2016-02-04 20:12] eteq commented on #3171
(Reopening because this isn't actually in the astropy core yet.)

[2016-02-04 22:15] Juanlu001 commented on #4344
Subscribing to this issue as @mhvk pointed me here after raising up the need of having velocity transformations also for bodies in the Solar System (see https://groups.google.com/d/msg/astropy-dev/UZJ5764jGec/WEaPjaRIAwAJ).

[2016-02-05 09:21] embray commented on #4559
@mirca There is never a good reason to `sudo` anything during development of Astropy, or most Python packages.  They should be using a conda env or a virtualenv, or just run out of the source tree directly--these development styles are described in the astropy docs...somewhere.

@mvnnn Those two commands do completely different things that are largely at odds with each other.

@AMAN3003 It looks l

[2016-02-05 09:21] #4559 closed

[2016-02-05 14:38] hamogu commented on #2516
Is this still an issue with the 1.0 or 1.1 series?
We are not issuing bug fixes for the 0.4 series any longer, so we could close this if it's fixed in 1.0.9 and 1.1.1.

[2016-02-05 14:44] AMAN3003 commented on #4559
@embray  You were right but first I have to give chmod +x setup.py then run ./setup.py and it work fine thank you.

[2016-02-05 14:47] hamogu opened #4572 "Add a way to specify how to evaluate models on a grid"
Currently models are evaluated at a set of x values. However, in many situations we really need to integrate a model in the range [lower bin edge, upper bin edge]. For example, when fitting a PSF to an image, we want the total flux that the PSF predicts in a certain pixel (integrated over the pixel), not just the flux in the pixel center position.

@larrybradley raised this here: https://github.co

[2016-02-05 14:48] Punyaslok commented on #3428
Hi! I would like to work on this issue. I'm a newbie, so can you please tell me where to look to get started, i.e. where do the files handling ASCII writes reside?

[2016-02-05 15:00] #3742 closed

[2016-02-05 15:13] olebole commented on #2976
I don't see a reason to keep this open anymore, so I am closing; if you feel it is still important, please re-open it.

[2016-02-05 15:13] #2976 closed

[2016-02-05 16:46] Punyaslok commented on #3428
@embray  Also could you elaborate this line : "the default were to insert one space between each field to improve readability".

Do you want to have a flag attribute which the users can set to True/False depending on whether they want spacing or not?
 Or do you want to append a space to each value of a column automatically so that readability improves ? For example : ['abc', 'def'] becomes ['abc<s

[2016-02-05 16:49] eteq commented on #4572
I wonder if this should be integrated with the `render` functionality new in 1.1 (http://docs.astropy.org/en/stable/api/astropy.modeling.Model.html#astropy.modeling.Model.render and http://docs.astropy.org/en/stable/modeling/bounding-boxes.html#bounding-boxes)?

Also, I think this requires a "pre-step" that might also be useful: defining an interface to integrate a model over given bounds.  Ideall

[2016-02-05 16:50] eteq commented on #4572
Oh, and there's another way this might work: design a set of "container" models that wrap existing models to do the discretization/integration.  Not sure if that's better/worse, but a thought.

[2016-02-05 16:51] pllim commented on #4572
Like I mentioned in a previous meeting, some thoughts need to go into how flux is going to be supported as `Quantity`, when it comes time to support `Quantity` in `modeling`.

[2016-02-05 18:38] eteq commented on #4572
Definitely, @pllim.  Hopefully that's mostly orthogonal to these items, though, as that will have to wait on full `Quantity` support...

[2016-02-06 09:12] AMAN3003 commented on #4500
@cdeil I have solved the issue of this error setting an array element with a sequence. but i don't have edit right how should I commmit  my new script could you help

[2016-02-06 09:30] AMAN3003 commented on #4500
@cdeil X[0]=start in _axes.py was generating the error because
start contains the xlice[0],y2slice[0] which returns in this case (-12 h,0 ) (sequence)which cannnot be assigned to a array element as xslice[0] has a two elements with space so we should remove the h i.e u*hours

[2016-02-06 09:32] AMAN3003 commented on #4500
but removing u*hours result in time manipulation error in  times = midnight + (delta_midnight) since
delta_midnight should be time so i multiplied it with u*hours and the warning was resolved

[2016-02-06 09:34] cdeil commented on #4500
@AMAN3003 - The way to contribute to Astropy is through a Github pull request. Please read the [Astropy developer documentation](http://astropy.readthedocs.org/en/latest/#developer-documentation)!

Looks like you did figure that out and made a pull request here: #4573.
I'll have a look and comment over there ... it's better if you explain there what that pull request does and maybe how it fixes th

[2016-02-06 09:34] AMAN3003 commented on #4500
@cdeil please review my commit and merge it .it was very hard to fix the bug but I enjoyed .if any mistake was done by me please mention.

[2016-02-06 09:38] AMAN3003 commented on #4500
@cdeil definately s Sir  I have given the explanation please consider it

[2016-02-06 16:45] anchitjain1234 commented on #3028
Please check #4574.

[2016-02-06 19:20] AMAN3003 commented on #4521
@kgullikson88 If this issue is still not solve i would like to work on this

[2016-02-06 19:25] AMAN3003 commented on #4496
@olbole if the issue is not resolve i would like to work on this

[2016-02-06 20:07] kgullikson88 commented on #4521
This is largely a documentation issue because it isn't clear what happens. I wouldn't consider there to be any issue/bug in the code itself, but you could certainly update the docs to describe how to treat the covariance matrix with tied parameters. You would also probably want to make sure and describe what it does with fixed parameters (I assume the same thing).

[2016-02-06 20:08] olebole commented on #4496
@AMAN3003 please check out [Debian#811368](https://bugs.debian.org/811368) for this problem: I opened it agains scipy since this was crashing. However, it seems that it is a linux kernel problem -- something with the (missing) floating point emulation on some MIPS CPUs.
So, if you still want to work on this, you should probably get in contact with the Debian developer who changed the bug to the Li

[2016-02-06 21:44] AMAN3003 commented on #4496
@olebole  I don't have debian developer in contact

[2016-02-06 22:49] AMAN3003 opened #4575 "ValueError: Attempted relative import in non-package"
any python file in pycharm results in this error when tried to run as individual file.is any fix available to run the scripts in pycharm to happen relative import in pycharm for future refrence and debug in pycharm.

[2016-02-06 22:50] AMAN3003 commented on #4575
![screenshot from 2016-02-07 04 16 05](https://cloud.githubusercontent.com/assets/16108341/12869880/02fd3762-cd52-11e5-8c76-e27c4e05991c.png)

[2016-02-07 05:46] AMAN3003 commented on #4345
@embray for table operation this would be the fix with pyfits to mergre table
hdulist1 = pyfits.open(table1)
hdulist2 = pyfits.open(table2)
t1 = hdulist1[1].columns
t2 = hdulist2[1].columns
new_columns = t1 + t2
hdu = pyfits.BinTableHDU.from_columns(new_columns)
hdu.writeto(outtable)
# explicitly close the HDUs; might free up memory
hdulist1.close()
hdulist2.close()

[2016-02-07 05:51] AMAN3003 commented on #4345
@embray but when  I tried to use any table operation in astropy it result in the following error

from astropy.table import Table, hstack

In [33]: t1 = Table.read(table1)

NameError                                 Traceback (most recent call last)
<ipython-input-33-6da6ae862d85> in <module>()
----> 1 t1 = Table.read(table1)

NameError: name 'table1' is not defined

@embray do  I Need to create ta

[2016-02-07 06:00] AMAN3003 commented on #4318
@eteq could I work on this

[2016-02-07 06:01] AMAN3003 commented on #4318
@eteq @embray please guide me what should i do to write the dev ply docs

[2016-02-07 08:00] AMAN3003 opened #4576 "InconsistentTableError: Lines in LaTeX table have to end with \\"
In refrence solve the previous issue when i tried to run latex file it result in the following issue
 Latex reader should accept tables without \begin/\end #4295

 from astropy.table import Table
## In [41]: dat = Table.read('sample.tex', format='latex')

InconsistentTableError                    Traceback (most recent call last)
<ipython-input-41-3598203e703f> in <module>()
----> 1 dat = Table.re

[2016-02-07 09:38] astrofrog commented on #4318
@AMAN3003 - this issue is labelled as ``package-expert``, which means that it requires a lot of knowledge about how we've set up the package, etc. So this issue is more intended as an issue for a core developer. I would suggest sticking to ``package-novice`` issues for now while you familiarize yourself with the project.

[2016-02-07 10:39] AMAN3003 commented on #4318
@astrofrog thank you for you advice.But could you give me a favour ..please include me in development team by assigning little task .I would do me best .I want to develop.little function of the project will also be a golden chance for me

[2016-02-07 13:08] olebole commented on #4535
As there is not wcslib-5.14 out with a fix of the flex memory leak, it would be worth to use that instead.

[2016-02-07 15:48] astrofrog commented on #4535
@nden - just to check, will you open a PR to update WCSLIB to 5.14? (once we do upgrade we can close https://github.com/astropy/astropy/issues/4441)

[2016-02-07 18:13] nden commented on #4535
@astrofrog See #4579.

[2016-02-07 19:20] profxj opened #4580 "FITS I/O bug"
Am pretty sure the following represent a bug in the FITS I/O,
but am not certain.  The failing code is below.  The write statement
works and the read fails with an:

IOError
: Header missing END card.

======
dum = np.empty((5,100), dtype=[('w','>f8'),('f','>f4')])
prihdu = fits.PrimaryHDU()
tblhdu = fits.BinTableHDU(dum, name='DATA’)
hdulist = fits.HDUList([prihdu, tblhdu])

hdulist.writeto(‘file

[2016-02-08 07:11] AMAN3003 commented on #4580
@profxj  i am working on this

[2016-02-08 08:51] AMAN3003 commented on #4580
@cdeil @profxj  @astrofrog please review this

[2016-02-08 08:52] AMAN3003 commented on #4580
@astrofrog  i usually got travis error but could n't find any help how to correct it

[2016-02-08 10:44] MartynBrake commented on #4467
Hello,
I have installed/uninstalled astropy (2.7 and 3.5) and wcslib several times using MacPorts and pip, but I'm still getting the following error when I import astropy.wcs:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/astropy/wcs/__init__.py", line 30, in <module>
    from

[2016-02-08 10:48] embray commented on #4345
@AMAN3003 Those examples assume `table1` and `table` are just filenames for some FITS files containing binary tables--as the first argument to `fits.open` is a filename or file-like object.

Please don't take this the wrong way, but if you weren't able to understand the meaning of the above Traceback this issue is far too advanced to be worth your time.

[2016-02-08 10:50] cdeil commented on #4467
@MartynBrake - I gave some suggestions in https://github.com/astropy/astropy/issues/4467#issuecomment-176907726 on how progress in identifying  the issue could be made. @astrofrog  and I can't reproduce the issue, so someone that is seeing the issue will have to do the grunt work and track this down.

[2016-02-08 10:50] embray commented on #4559
@AMAN3003 That's strange, because `setup.py` is already marked executable in the git repository.

[2016-02-08 10:59] astrofrog commented on #4467
Huh, weird, I managed to reproduce it once and then the error now no longer appears.

[2016-02-08 11:02] astrofrog commented on #4467
I think it happens because the latest astropy binary port must have still been compiled against an older WCSLIB. The error would not happen if the port was installed from source.

[2016-02-08 11:06] cdeil commented on #4467
How can one check if the installed port was from binary or source?

Maybe just bump Astropy in Macports so that a re-build is forced on the buildbot?

[2016-02-08 11:15] astrofrog commented on #4467
I just bumped the revision. The new port will be available in 1 hour. Since there will not be a binary build yet (takes longer), anyone installing then will not have any issues because it will have to build from source, but we'll have to check again once the binary build is available.

To force a build from source:

[code]

@cdeil - I don't know if one can find out retroactively whether a binary b

[2016-02-08 11:31] MartynBrake commented on #4467
Hi,
Many thanks for checking this. I will install from source in an hour.

Martyn

[2016-02-08 12:03] #3888 closed

[2016-02-08 13:05] MartynBrake commented on #4467
Hi astrofrog,

Great job, installed from source no problem. importing astropy.wcs not reporting any errors.

Thanks very much,
Martyn

[2016-02-08 15:02] embray commented on #4467
Unless the Astropy project itself is committed to maintaining a MacPorts release I don't think problems with the MacPorts release belong on the Astropy issue tracker itself (unless there's specifically a problem in Astropy that affects upstream releases).

[2016-02-08 15:10] pllim commented on #4580
Just use

[code]

Also see #4351 and related issues.

[2016-02-08 15:20] barun511 opened #4584 "conftest.py fails on my system."
This is probably just a minor, completely system-specific bug, but I figured I ought to raise it anyway.

While running the full test suite, my system failed on astropy/conftest.py, with the following error message:
[code]

 Please feel free to ignore if its not worth mention! I'm still relatively new, and getting started on working and contributing to the astropy codebase.

[2016-02-08 15:46] embray commented on #4545
It looks like `Resource.__repr__` was first added in #3639.  But this is indeed a bug--nothing that I can see ever sets `_element_name` in the `Resource` class.  It would have to depend on whether it was initialized from a `RESOURCE` tag or a `TABLE` tag since that class appears to represent both.

[2016-02-08 15:50] pllim commented on #4575
I would say that this is not something that is currently supported. Can you please try to run the tests in one of the ways listed here -- http://docs.astropy.org/en/latest/development/testguide.html ?

[2016-02-08 15:52] embray commented on #3973
Probable environment error.

[2016-02-08 15:52] #3973 closed

[2016-02-08 16:11] anchitjain1234 commented on #4584
check this http://stackoverflow.com/questions/19961239/pelican-3-3-pelican-quickstart-error-valueerror-unknown-locale-utf-8

[2016-02-08 16:12] pllim commented on #4584
This looks like a `matplotlib` problem, see matplotlib/matplotlib#5481

[2016-02-08 17:32] AMAN3003 commented on #4345
@embray I did understand the meaning of the above but could you provide sample table fits file  to fix this issue

[2016-02-08 17:33] AMAN3003 commented on #4580
@plim i have already mentioned it in the commit.with relevant code

[2016-02-08 17:37] AMAN3003 commented on #4575
@plim of course i would like to work on it

[2016-02-08 17:39] AMAN3003 commented on #4575
@plim do you want me to write test for the failure of relative import?

[2016-02-08 17:57] astrofrog commented on #4584
I think this may actually be the following known issue: http://docs.astropy.org/en/stable/known_issues.html#locale-errors-in-macos-x-and-linux

@barun511 - can you try the instructions there to fix it?

[2016-02-08 17:58] astrofrog commented on #4467
Indeed - there's a MacPorts issue tracker for that. I'll close this and if people run into the issue again, please open an issue at https://trac.macports.org/wiki/Tickets

[2016-02-08 17:58] #4467 closed

[2016-02-08 18:04] weaverba137 commented on #4580
[code]
Sorry, but how many rows is the table supposed to have?  5? 100? 500?

[2016-02-08 18:08] bsipocz commented on #4467
I'm just trying to understand the nomenclature, so I'm either wrong or nitpicking: Isn't it downstream rather than upstream? I always thought that upstream is out dependencies, and down where we're a dependency.

[2016-02-08 18:23] astrofrog commented on #4467
Good point :) I think this is indeed downstream.

[2016-02-08 20:02] pllim commented on #4575
I never use pycharm, so I don't have motivation to have Astropy support this. This decision depends on its core maintainers.

[2016-02-08 20:13] paulray commented on #4467
Just for completeness, I'll report that the fix @astrofrog pushed fixed my problem as well, so I no longer have the undesirable situation of a modified library in /opt/local. Thanks!

[2016-02-08 20:47] mcara opened #4586 "A possible bug when creating a wrapper for setter in astropy.modeling.Parameter"
I wanted to create a setter with two parameters: value and model. However, initialization of my example model class fails (note: my model is really for testing purposes and is not intended to do anything logical) :

[code]
Then
[code]

@embray Is this a bug or am I doing something wrong?

[2016-02-08 21:55] pllim commented on #4586
@mcara, what you wrote above does not quite look like http://docs.astropy.org/en/latest/modeling/new.html#defining-new-fitter-classes .

[2016-02-08 21:57] pllim commented on #4586
Oh, please ignore my previous comment. I thought you were trying to implement a fitter.

For a model, try this example: http://docs.astropy.org/en/latest/modeling/new.html#full-example

[2016-02-08 23:17] eteq commented on #4575
This is definitely not supported behavior.  Relative imports by design require that the whole structure of the package will be visible.  So this is not something that's special to astropy.

It's possible that pycharm can implement some sort of machinery to go look for the root of the package.  But this is really up to the pycharm devs.

[2016-02-08 23:17] #4575 closed

[2016-02-08 23:22] eteq commented on #4543
@mhvk - is this now fixed post- numpy/numpy#7156 ?  If so, how should we proceed on this issue - should we mention this as a "known issue" in numpy 1.10.x<1.10.5 ?  (do you know how far back it goes?)

[2016-02-08 23:26] eteq commented on #3171
Looks like this is now fixed, so closing!

 See the latest from http://docs.astropy.org/en/latest/visualization/index.html
![image](https://cloud.githubusercontent.com/assets/346587/12902807/6f0633ec-ce91-11e5-870d-249779568635.png)

[2016-02-08 23:26] #3171 closed

[2016-02-08 23:51] mcara commented on #4586
@pllim Your last link does not show how to define or use a parameter setter when I need this setter to get the model too (not just the value).

[2016-02-09 04:16] rsiverd opened #4587 "writeto() method produces invalid CHECKSUM with CompImageHDU"
I am looking into how to mimic the operation of the CFITSIO "fpack" utility with astropy.io.fits and am worried about invalid checksum values written to the compressed files. Specifically, I want to do lossless Rice compression on unsigned short images (BITPIX=16).

For reference, I see the same behavior in astropy 1.0.3 and 1.1.1 (both with anaconda from Continuum Analytics). The Python version i

[2016-02-09 05:03] njsmith commented on #4548
The two `TestPhysicsSphericalRepresentation` failures are due to a change to make divmod rounding more consistent: https://github.com/numpy/numpy/commit/34c236939116c5ad75b79b1ccfbecb9c9157a165
My guess is that for those the change is OK, and these are just over-picky tests?

The `test_longitude` test also bisects to that same commit. This test I'm a little more nervous about, because of the line

[2016-02-09 06:54] rsiverd opened #4588 "getdata() method no longer works with tile-compressed uint images"
Recently (by v 1.1.1), the getdata() convenience method has started failing on tile-compressed USHORT images (BITPIX 16). Floating-point images appear to still work fine. As recently as astropy v 1.0.3, the getdata() method worked just fine with compressed and uncompressed images regardless of data type.

The error I get is:

[code]

For reference, I'm running Python 2.7.11 with numpy 1.10.2 [MKL

[2016-02-09 07:51] cdeil commented on #4580
This bug report started on the astropy-dev mailing list.

Here's the comment by @embray that suggests some extra check should be added on BinTableHDU construction:

any sense for a table.

BinTableHDU.  I'm not sure what exactly it *would* do with something
like that passed in.  But it probably should not have accepted it in
the first place.  I'm surprised something didn't crash sooner.

[2016-02-09 08:02] MartynBrake commented on #4467
To be fair, this was not clearly a macports problem. No error was reported when the port was installed. The only error occurred when wcs was imported. I had assumed it was a fault with astropy, not the port. Thanks for the fix though - great work.

[2016-02-09 08:15] astrofrog commented on #1849
@olebole - are you still seeing these failures?

[2016-02-09 08:15] astrofrog commented on #1882
@olebole - have you seed this issue since? If not, I'm tempted to suggest we close this until the error appears in a more systematic way.

[2016-02-09 08:16] astrofrog commented on #1898
@olebole - are you still seeing this error?

[2016-02-09 08:42] souravsingh commented on #4244
If possible, Can anyone check the PR I have submitted for the issue ? Cc @crawfordsm

[2016-02-09 12:09] olebole commented on #1849
That does not appear anymore, and can be closed. @sergiopasra what about Fedora?

[2016-02-09 12:10] olebole commented on #1882
Looks fine now. Closing it...

[2016-02-09 12:10] #1882 closed

[2016-02-09 12:13] olebole commented on #1898
No; it builds fine on Alpha now. Closing.

[2016-02-09 12:13] #1898 closed

[2016-02-09 12:50] juliantaylor opened #4589 "io.fits add ability to efficiently load single extension header"
Currently io.fits/pyfits always loads all extension headers regardless whether one wants them all or not.
At least the obvious api function `getheader` has this behaviour.

This slows down simple tasks like just checking the primary extension headers keys considerably when the number of extensions is large as it needs to seek through the full file.
Obviously seeking the file is required to load th

[2016-02-09 13:08] astrofrog commented on #4460
@olebole - so just to be clear, we can close this?

[2016-02-09 13:09] olebole commented on #4460
Yep.

[2016-02-09 13:09] #4460 closed

[2016-02-09 14:34] pllim commented on #4589
What version of Astropy/PyFITS are you using? When I use `getheader()` (Astropy 1.1.1), I don't see the behavior you reported. It loads only the extension header that I asked for. See below.

First, I create a simple FITS file for testing:
[code]

Now, I try to read each extension header back in:
[code]

[2016-02-09 14:36] juliantaylor commented on #4589
I'm using git head, check the seems astropy actually performs, it reads every header in the file, regardless of what is asked.

[2016-02-09 14:44] pllim commented on #4589
Maybe @embray can clarify when he gets the chance...

[2016-02-09 14:50] juliantaylor commented on #4589
see https://github.com/astropy/astropy/blob/master/astropy/io/fits/convenience.py#L102
the `getheader` function it simply loads the full hdulist via the same code as `open` uses and throws everything else away.
Maybe I'm using the wrong function, but getheader is probably the first thing you will find when only interested in the header.

[2016-02-09 15:05] pllim commented on #4586
Perhaps @eteq or @nden can clarify? But I don't need it is a bug.

[2016-02-09 15:20] mhvk commented on #4543
@eteq - yes, it would be a known issue in numpy 1.10, up to 1.10.5. If anywhere, it would probably be part of http://docs.astropy.org/en/latest/known_issues.html#quantity-issues

[2016-02-09 15:28] eteq commented on #3244
I'm going to close this on the basis that it was mostly a "changes we want for 1.0" issue, and a fair amount of accuracy testing is in there. If we still think we want more it might be better in an external benchmark, I think?

[2016-02-09 15:28] #3244 closed

[2016-02-09 16:05] hamogu commented on #4576
Can you post you "sample.tex" files somewhere (maybe in a gist) so that I can try to reproduce the problem?

The LaTeX reader currently has some limitations, see also #1525 most importantly it expects each table row to be on one and only one line, but it also cannot deal with `\multicolumn` or `\multirow` commands, etc.
While I agree that it would be great to be a little more flexible in reading,

[2016-02-09 16:07] mhvk commented on #4548
@njsmith - thanks very much for investigating! I'm still overwhelmed with graduate admission, but will try to have a look. The type change is fine in this case -- the intent is just to test the values, not the class -- though the test should probably be changed just so there is no confusion.

[2016-02-09 18:00] AMAN3003 commented on #4575
@eteq you are right sir.but could you tell which IDE are you and other astropy developers are using.

[2016-02-09 18:02] jpinedaf commented on #3826
Hi, I'm trying to read into a CSV file from a Google Spreadsheet and I got the same issue. From the error message it was really hard to track it down to this issue.

BTW, we are using python2.7.

[2016-02-09 18:09] AMAN3003 commented on #4580
@weaverba137  its has 5 rows and 10 column
which can bee seen by dum.shape

[2016-02-09 19:20] weaverba137 commented on #4580
Uh,

[code]

How does a 5x100 object fit into a FITS binary table with *two* columns?  The columns are named 'w' and 'f'.

[2016-02-09 19:21] AMAN3003 commented on #4580
@weaverba137 Sorry it has 100 columns

[2016-02-09 20:28] AMAN3003 commented on #4412
@taldcroft  Has this issue solved if not can i work on this

[2016-02-09 20:41] kgabor opened #4590 "Sphinx compatible ascii table output"
Hello,

I could not find a way to print a Table in a sphinx compatible ascii format. The docstring of [FixedWidthTwoLine](http://docs.astropy.org/en/stable/api/astropy.io.ascii.FixedWidthTwoLine.html#astropy.io.ascii.FixedWidthTwoLine) says:

[code]

but apparently cannot produce this style of output and none of the other formats are understood by sphinx as a [table](http://docutils.sourceforge.ne

[2016-02-09 20:52] charris commented on #4548
The type error is probably because scalar math remainder is now done using c operators instead of calling the ufunc fmod. This could be a problem with other scalar functions that don't use ufuncs...

[2016-02-09 21:29] profxj commented on #4580
As I seem to have confused the crowd with the concept
of a Table of arrays, I’ve generated a Notebook to explain:

https://dl.dropboxusercontent.com/u/6285549/Python/Notebooks/dum_table.ipynb
http://nbviewer.jupyter.org/urls/dl.dropboxusercontent.com/u/6285549/Python/Notebooks/dum_table.ipynb <http://nbviewer.jupyter.org/urls/dl.dropboxusercontent.com/u/6285549/Python/Notebooks/dum_table.ipynb>

L

[2016-02-09 22:14] astrofrog commented on #4529
Here is a simpler example that illustrates the issue:

[code]

The issue is that ``crpix`` should be updated to ``NAXIS1 - 1 - CRPIX1`` in this case. However, WCS objects don't properly contain a reference to the dataset they apply to, so ``NAXIS1`` isn't known (I know we *actually* keep the naxis values internally but these are not necessarily guaranteed to be defined.

One solution would be that

[2016-02-09 22:18] astrofrog commented on #4529
Hmm, but actually in Numpy notation, the start/end are very confusing when using slicing with a negative step:

[code]

so maybe not an ideal solution.

[2016-02-09 22:19] astrofrog commented on #4529
Maybe a better solution is to add an optional ``shape=`` to ``WCS.slice`` and if someone does ``[::-1]`` we tell them to use ``.slice`` instead.

[2016-02-09 22:41] njsmith commented on #4548
I just installed numpy 1.9.3 + astropy 1.1.1, and that configuration shows the same funny types as are reported above -- so unless someone tells me otherwise, I'm going to assume that the only change in numpy 1.11 is that the division rounding is slightly different (and more consistent, see numpy/numpy@34c2369 for details), and that the only issue here is that astropy has some tests that are a bit

[2016-02-09 22:43] eteq commented on #4454
:+1: to this in principal.

It's hard to tell, but there is a bit of a catch in that a fair number of the user-contributors may want to write *new* code in py2.x .  That is, astronomers are notoriously unlikely to keep things up-to-date even if the "dev community" has switched entirely to py 3.  I have no good solution for this and maybe we just have to bite the bullet... but it's something to con

[2016-02-09 22:45] nden commented on #4529
@astrofrog I am a bit confused about this, correct me if I'm wrong. The slicing of a WCS works by changing the WCS, not by slicing the result. Is this correct?
If so, should a negative slice change the order of the axes as well?

[2016-02-09 23:03] taldcroft commented on #4590
It would be pretty easy to implement this, at least as an output writer.  In the meantime here is a code workaround that should let you generate a table that will parse as a table in Sphinx / ReST:
[code]

[2016-02-09 23:34] mvnnn commented on #4590
@taldcroft i want to work on this issue.

[2016-02-10 00:25] astrofrog commented on #4529
@nden - if you have a 2D WCS associated with a 2D image ``array``, then doing e.g. ``wcs[slice]`` will adjust the WCS so that it would be correct on the sliced array ``array[slice]``. So doing e.g. ``wcs[::-1,::-1]`` would invert the order of each individual axes but not swap the axes. However, the issue is that if you want to change the order of the axis, then if CRPIX1 was 1, it should be change

[2016-02-10 00:26] astrofrog commented on #4529
@nden - and indeed it changes the WCS itself, it doesn't adjust the result.

[2016-02-10 01:04] mhvk commented on #4548
@njsmith - Agreed with your analysis, and funny that it an issue I raised myself that has returned to bite us (though, as you said, in a way that just exposes that our tests were to strict; am still a bit surprised about that, as I thought I wrote them on purpose in integer degrees, so rounding errors should not be a problem; but anyway, that would be on our side too).

[2016-02-10 01:41] njsmith commented on #4548
I haven't looked at the actual change in detail -- so it's possible that
the old rounding was better :-) not intended that way obviously, but
software is tricky. If you look into it and decide that you really do think
that the exact tests ought to work then please let us know and we can talk
about it. I'm tentatively not worrying about following up on that as a
potential release critical bug thoug

[2016-02-10 03:51] Samreay opened #4591 "fits.open does not load extensions beginning with an underscore"
I am unsure if this is intended or not, but a review of the documentation for [fits.open](http://docs.astropy.org/en/stable/io/fits/api/files.html#open) does not show any method for accessing extensions that have been given a name beginning with an underscore.

Consider fv:

![image](https://cloud.githubusercontent.com/assets/6748505/12938267/2bcc2078-cf90-11e5-96b4-31b58570623c.png)

And then ast

[2016-02-10 03:58] Samreay commented on #4591
In my attempt to create a code snippet example:

[code]

[2016-02-10 03:58] #4591 closed

[2016-02-10 05:21] AMAN3003 commented on #4484
@embray i would like to work on this .could you guide what contents should be added

[2016-02-10 06:11] AMAN3003 commented on #4295
@taldcroft do you want to make latex reader more flexible by treating a single table with '&' delimiter and each line of the table ends with \\
remove the check for the \begin/end{tabular} is this so which you want to fix

[2016-02-10 06:47] keflavich commented on #4529
@astrofrog agreed that the end value specification is confusing for this.  I am in favor of disallowing `[::-1]` and raising an error message saying `Use this.slice(slice(None, None, -1), shape=(naxis1,naxis2)) to invert an axis.  Inverting a FITS axis requires specifying a new CRPIX referenced to the other end of the image.  See issue 4592`, or something similarly extensive & detailed.

[2016-02-10 09:59] AMAN3003 commented on #4295
@taldcroft  i have fix the nonetype error. but i need a help .if you want a flexible reading of table then it goes right with one table but what if we had two table .how should i identify that new table has started.should we use a delimeter for new table start.

[2016-02-10 10:35] mvnnn commented on #4590
i will add ```def PrettyPrint()``` method in ```astropy/astropy/table/table.py``` for print Table as @kgabor mention. i want to make ```def PrettyPrint()``` method for all size of Table. @taldcroft that's right approach ?

[2016-02-10 11:02] samverstocken opened #4592 "WCS.to_header issue"
Hi,

I believe I have encountered an issue with the to_header() function of the WCS class in Astropy.
I experience the problem when converting the header of the attached FITS file to a WCS object and then converting this object back a header, essentially performing the following steps:

from astropy.io import fits
from astropy.wcs import WCS
header = fits.getheader("GALEX_NUV_unbinned.fits")
wcs =

[2016-02-10 11:44] taldcroft commented on #4590
@mvnnn - making a new pretty print method is not the right approach.  It should be a new `io.ascii` reader class `FixedWidthRestructuredText` that can read and write any reStructuredText tables.  This will be moderately difficult to get right.

[2016-02-10 13:53] nden commented on #4592
According to the FITS WCS standard, if the `CD` keywords are present, `CDELT` keywords have values of 1. It appears the original header is wrong, as CDELTs have values different from 1, which is only allowed if you have a `PC` matrix. In this case wcslib sees there is a `CD` matrix and correctly sets all CDELTs to 1.

[2016-02-10 13:53] #4592 closed

[2016-02-10 13:57] samverstocken commented on #4592
Thanks for the clarification!

[2016-02-10 13:58] saimn commented on #4592
This is related to #1084: `to_header` always use `PC`, with `CDELT=1`. Your original header has both `CDELT` and `CD`, but in this case `CDELT` are ignored. Also ds9 has no issue with this new header, maybe there were a bug before ?

[2016-02-10 14:03] taldcroft commented on #3853
@embray @astrofrog - #4594 will test whether this is now working in our current test suite.

[2016-02-10 14:11] samverstocken commented on #4592
Oh, I upgraded Ds9 from version 7.3 to version 7.4 and the images are matched perfectly now :)
Thanks for the responses!

[2016-02-10 14:19] taldcroft commented on #4295
@hamogu - do you have an opinion on whether the latex reader could (or should) be updated to use only `\tabular` tags to find the table instead of `\table`?  Does it parse required information from the `\table` definition?

[2016-02-10 14:53] hamogu commented on #4295
Use the tabular tag?
-----------------------------
The current LaTeX reader **already** uses the `\tabular` tag, you can read a table without a `\table` tag perfectly fine:
[code]

The bug that turned up for the @eteq example is due to something else: There is a `if line` in the code where it should be `if line is None`. If `line` (the line with the `\begin{tabular}`) is `0` then that comparison d

[2016-02-10 15:45] barun511 commented on #4584
Allright, so I uninstalled matplotlib, and that led to all the tests passing but one, and that one was the ValueError raised, that astrofrog's fix worked on. All tests pass now, thank you very much!

[2016-02-10 16:05] dkirkby opened #4596 "Auto-detect ECSV files"
Currently, the format must always be specified when reading an ECSV file, e.g.

[code]

This issue is a suggestion to auto-detect the ECSV format for files with the .ecsv extension.

[2016-02-10 16:17] taldcroft commented on #4295
@hamogu - thanks for the explanation and the fix in #4595, that makes sense.

My understanding is that a table is not a latex table without the `\tabular` tag.  In other words you cannot find tabular data embedded within a well-formed latex file (which runs through latex without errors) that does *not* have the surrounding `\tabular`.  If so then I don't see any real reason to support the use case

[2016-02-10 16:18] AMAN3003 commented on #4295
@hamogu  do you want me to make a seperate pr for the issue and add test for it to solve the fix of nonetype

[2016-02-10 16:22] taldcroft commented on #4295
@AMAN3003 - I think that the solution from @hamogu is good enough, so there is no strong need to make an alternate PR here.

[2016-02-10 16:24] AMAN3003 commented on #4295
@taldcroft but we can implement as @eteq need as i did it for one table .if you could help .. but i only need to add some function to check if the new table latex have started

[2016-02-10 16:25] AMAN3003 commented on #4295
@eteq https://github.com/hamogu/astropy/commit/9f7a5b9b8a0d52891aad25bcd61ce505b2af0237

[2016-02-10 16:30] taldcroft commented on #4295
@AMAN3003 - I would prefer to handle this with a documentation update (the `Latex` class docstring) that documents the basic requirements for a latex table to parse.  Latex tables are already complex to parse, so I do not want to make the code even more complicated.

[2016-02-10 16:35] AMAN3003 commented on #4295
![screenshot from 2016-02-10 22 03 58](https://cloud.githubusercontent.com/assets/16108341/12953878/4e1d3132-d042-11e5-91d2-fd02a3c16cd4.png)

see sir both the code are working fine for me

[2016-02-10 16:41] taldcroft commented on #4295
@AMAN3003 - can you make a commit that doesn't have a `latex_new.py` file?  I cannot see what you diffs are.

[2016-02-10 16:42] AMAN3003 commented on #4295
@taldcroft okk sir i am recommiting it

[2016-02-10 16:57] hamogu commented on #4576
Do you want to work on this?
It's not clear to me how to solve this best, but if you have an idea that would be great.

(Note: In general it is the best to provide an example table outside of the astropy repro. We dont' want large files in there like your example that are not needed for astropy itself.) If we ever merge anything from your branch the nthis file will be part of the git history, maki

[2016-02-10 17:02] hamogu commented on #4295
@AMAN3003 Looking at this and your #4576 it seems to me that you do all your work in the git master branch. That's a bad idea!
Instead, start a new branch for every new feature you are working on. Then you can make changes to existing files there (and don't need a "XXX_new.py" file) and know that the original sits save in the master branch.
See e.g. https://git-scm.com/book/en/v2/Git-Branching-Bra

[2016-02-10 17:08] AMAN3003 commented on #4295
@taldcroft  it seem that i have already edited the latex.py so changes are not showing respective of my branch
https://github.com/AMAN3003/astropy/commit/4e85f5950b9c8cfd28e28cb65a9ea941064ec254
please ignore latex_new and latex_original file change are only in latex.py

[2016-02-10 17:09] AMAN3003 commented on #4295
@hamogu  It will not e repeated by me next time

[2016-02-10 17:35] AMAN3003 commented on #4295
@taldcroft  @eteq  https://github.com/AMAN3003/astropy/commit/53e5a65c389d40d94ce3018fdad2d4102addc2fa

here is the final changes in the code wich made read the table without begin and end
sorry for my previous typos

[2016-02-10 18:02] weaverba137 commented on #4580
It appears you are trying to create a Table with 5 rows and two columns named 'w' and 'f', each of which is an array of 100 values.

[code]

That will create a perfectly valid FITS file.  If that's *not* what you're trying to do, could you please add some explanatory text to your notebook?  It might also be useful to see the FITS header cards that you are *expecting* but not seeing.

[2016-02-10 18:19] taldcroft commented on #4295
@AMAN3003 - the commit you referenced does not appear to have any code changes.  We cannot review isolated commits, so you need to follow the documented development procedure and create a pull request from a new branch.

[2016-02-10 18:37] AMAN3003 commented on #4295
@taldcroft I am creating a pull request from new branch
also as you refernce in the comment i will like to work on latex documentation
https://github.com/astropy/astropy/issues/4295#issuecomment-182463331
but could you tell where is it located and what should i add in latex documentation

[2016-02-10 18:42] hamogu commented on #4295
@AMAN3003 : No! We do not have to tell you "l where is it located and what should i add in latex documentation" because if we pick out the file to edit and write the text that should go in there, then we might as well do the pull request ourselves - that would be easier and quicker.

So, I suggest that you read the documentation for astropy and sphinx. Then you find out how it works and which file

[2016-02-10 21:04] AMAN3003 commented on #4295
@taldcroft Sorry for the delay
https://github.com/AMAN3003/astropy/commit/1b5267e0f9a4c6ab902619e06df984620b0d018a
this time changes are clearly visible

[2016-02-10 21:10] hamogu commented on #4295
@AMAN3003 : Different projects have different ways to do things. However, in astropy, we don't comment on individual commits, we comment on pull requests.
Do you know how to open a pull request from your code?
When you are on the github astropy website and you click on the "code" tab on the top left of the github website, there should be a yellow field that says "compare and pull request".
Alterna

[2016-02-11 03:43] AMAN3003 commented on #4576
@hamogu I would like to work on this

[2016-02-11 05:03] AMAN3003 commented on #3228
@embray i am creating the scripts to add log  messages to file

[2016-02-11 10:57] hamogu commented on #4576
Great! Looking forward to see what you can come up with.

A word of advice: I suggest that you start with a small step and when that works you wrote tests for it and push it here, so we can see if you are on the right track.

[2016-02-11 13:10] MSeifert04 opened #4598 "importing astropy takes very long"
I'm using astropy 1.1.1 and Windows10 with python 3.5 (Anaconda installation). I always dismissed it in the past but everything that imports astropy takes very long on my computer:

[code]

I'm not sure what is causing this and I don't know how one would profile something like this.

[2016-02-11 13:58] taldcroft opened #4599 "Support vstack of Quantity columns"
Prompted by email on astropy-dev, this is a reminder to provide support for vstack of Quantity columns in a QTable.